﻿@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@(Html.DevExtreme().Popup()
        .ID("popup-request-supplies-detail")
        .Width("auto")
        .Height("600")
        .FullScreen(false)
        .Position(PositionAlignment.Center)
        .Container(".dx-viewport")
        .ShowTitle(true)
        .Title("Chi tiết đề xuất")
        .DragEnabled(false)
        .ShowCloseButton(false)
        .ContentTemplate(new TemplateName("popup-request-supplies-detail-template"))
        .DeferRendering(true)
        .ToolbarItems(barItems => {
            barItems.Add()
                .Toolbar(Toolbar.Bottom)
                .Location(ToolbarItemLocation.After)
                .Widget(widget => widget.Button()
                    .Text("Thoát")
                    .Type(ButtonType.Danger)
                    .StylingMode(ButtonStylingMode.Outlined)
                    .OnClick(@<text>
                                function hideInfo(data) {
                                    const popup = $("#popup-request-supplies-detail").dxPopup("instance");
                                    popup.hide();
                                }
                            </text>)
                );
            barItems.Add()
              .Toolbar(Toolbar.Bottom)
              .Location(ToolbarItemLocation.After)
              .Widget(widget => widget.Button()
                  .Icon("print")
                  .Type(ButtonType.Default)
                  .StylingMode(ButtonStylingMode.Outlined)
                  .OnClick("DevAV.requestDetails.openPrintPopup")
              );
        })
    )


@using (Html.DevExtreme().NamedTemplate("popup-request-supplies-detail-template"))
{
    @(Html.DevExtreme().ScrollView()
        .Width("100%")
        .Height("100%")
        .Content(@<text>

    @using (Html.BeginForm())
    {

        using (Html.DevExtreme().ValidationGroup())
        {

            @Html.AntiForgeryToken()

            @(Html.DevExtreme().Form()
            .ID("request-form")
            .ShowColonAfterLabel(true)
            .Height("auto")
            .ShowValidationSummary(false)
            .ScrollingEnabled(true)
            .Items(items => {


                items.AddGroup()
                        .Items(groupItems => {

                            groupItems.AddSimple().DataField("RequestID").Label(l => l.Text("Mã đề xuất"))
                               .Editor(e => e
                                   .TextBox()
                                   .ID("request-id")
                                   .ReadOnly(true)
                               );

                            groupItems.AddSimple().DataField("RequestTitle").Label(l => l.Text("Tiêu đề đề xuất"))
                                .Editor(e => e
                                    .TextBox()
                                    .ID("request-title")
                                    .ReadOnly(true)
                                );
                            groupItems.AddSimple().DataField("RequestType").Label(l => l.Text("Nhóm đề xuất"))
                                .Editor(e => e
                                    .SelectBox()
                                    .ID("request-type")
                                    .DataSource(new JS("request_type"))
                                    .ValueExpr("text")
                                    .DisplayExpr("text")
                                    .Value("Đề xuất vật tư")
                                    .ReadOnly(true)
                                );
                            groupItems.AddSimple().DataField("Status").Label(l => l.Text("Trạng thái"))
                              .Editor(e => e
                                  .TextBox()
                                  .ID("status")
                                  .ReadOnly(true)
                              );
                            groupItems.AddSimple().DataField("CreateDate").Label(l => l.Text("Ngày trình"))
                             .Editor(e => e
                                 .DateBox()
                                 .ID("create-date")
                                 .Type(DateBoxType.Date)
                                 .DisplayFormat("yyyy/MM/dd")
                                 .Value(DateTime.Now)
                                 .ReadOnly(true)
                             );
                            groupItems.AddSimple().DataField("CreateName").Label(l => l.Text("Người trình"))
                                .Editor(e => e
                                    .TextBox()
                                    .ID("create-name")
                                    .Value(HttpContextAccessor.HttpContext.Session.GetString("Username"))
                                    .Visible(true)
                                    .ReadOnly(true)
                                );
                            groupItems.AddSimple().DataField("CreateEmail").Label(l => l.Text("Email"))
                              .Editor(e => e
                                  .TextBox()
                                  .ID("create-email")
                                  .Value(HttpContextAccessor.HttpContext.Session.GetString("Email"))
                                  .ReadOnly(true)
                              );

                            groupItems.AddSimple().DataField("CreateDepartment").Label(l => l.Text("Bộ phận"))
                             .Editor(e => e
                                 .TextBox()
                                 .ID("create-department")
                                 .Value(HttpContextAccessor.HttpContext.Session.GetString("Department"))
                                 .ReadOnly(true)
                             );
                            groupItems.AddSimple().DataField("Approvers").Label(l => l.Text("Người duyệt"))
                             .Editor(e => e
                                 .SelectBox()
                                 .ID("approvers")
                                 .DataSourceOptions(o => o.Group("Department"))
                                .Grouped(true)
                                 .DataSource(d => d
                                   .Mvc()
                                   .Controller("UserNewApi")
                                   .LoadAction("GetApprovers")
                                   .LoadMode(DataSourceLoadMode.Raw)
                                   .Key("UserID")
                               )
                               .DisplayExpr(new JS("displayExpr"))
                               .ValueExpr("UserName")
                               .SearchEnabled(true)
                               .ReadOnly(true)
                             );
                            groupItems.AddSimple().DataField("Followers").Label(l => l.Text("Người theo dõi"))
                              .Editor(e => e
                                  .TagBox()
                                  .ShowMultiTagOnly(false)
                                  .ID("followers")
                                  .DataSourceOptions(o => o.Group("Department"))
                                  .Grouped(true)
                                  .HideSelectedItems(true)
                                  .DataSource(d => d
                                    .Mvc()
                                    .Controller("UserNewApi")
                                    .LoadAction("GetFollowers")
                                    .LoadMode(DataSourceLoadMode.Raw)
                                    .Key("UserID")
                                )
                                .DisplayExpr(new JS("displayExpr"))
                                .ValueExpr("UserName")
                                .SearchEnabled(true)
                                .ReadOnly(true)
                              );
                            groupItems.AddSimple().DataField("ProcessingTime").Label(l => l.Text("Thời hạn xử lý"))
                              .Editor(e => e
                                  .DateBox()
                                  .ID("processing-time")
                                  .Type(DateBoxType.DateTime)
                                  .ReadOnly(true)
                              );


                            groupItems.AddSimple().Template(new TemplateName("request-supplies-detail-template"));

                            groupItems.AddSimple().DataField("RequestContent").Label(l => l.Text("Nội dung"))
                            .Editor(e => e
                                .TextBox()
                                .ID("request-content")
                                .ReadOnly(true)
                            );

                            groupItems.AddSimple().DataField("Reason").Label(l => l.Text("Lý do"))
                             .Editor(e => e
                                 .TextBox()
                                 .ID("reason")
                                 .ReadOnly(true)
                             );

                        });

            })
        )
        }
    }

</text>)
    )

}

@using (Html.DevExtreme().NamedTemplate("request-supplies-detail-template"))
{
    <table id="supplies-table" class="display nowrap" style="width:100%">
        <thead>
            <tr>
                <th>Hàng hóa</th>
                <th>Quy cách</th>
                <th>Số lượng</th>
                <th>Ghi chú</th>
                <th></th>
            </tr>
        </thead>
    </table>
}

<script>
    function displayExpr(item) {
        return item && item.UserName + '(' + item.FullName + ')';
    }

</script>

<script src="~/js/reportapprove/request-type.js"></script>
<script src="~/js/reportapprove/request-payment.js"></script>
<script src="~/js/reportapprove/request-detail.js"></script>