﻿@using DeliveryHaPhan.Models
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Đổi mật khẩu";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.3.2/dist/sweetalert2.all.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.3.2/dist/sweetalert2.min.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
<style>
    .container-fluid {
        background: #fff;
        padding: 10px;
    }
</style>
<div class="container-fluid">
    @using (Html.BeginForm("ChangePasswordUser", "User", FormMethod.Post, new { id = "changepassword" }))
    {

        using (Html.DevExtreme().ValidationGroup())
        {

            @Html.AntiForgeryToken()

            @(Html.DevExtreme().Form<ChangePassword>()
            .ID("change-password")
            .ShowValidationSummary(true)
            .Items(items => {

                items.AddGroup()
                    .Caption("Đổi mật khẩu")
                    .Items(groupItems => {
                        groupItems.AddSimpleFor(m => m.UserID).Label(l => l.Text("Mã người dùng")).Visible(false);
                        groupItems.AddSimpleFor(m => m.NewPassword).Label(l => l.Text("Mật khẩu mới"))
                            .Editor(e => e.TextBox().Mode(TextBoxMode.Password));
                        groupItems.AddSimpleFor(m => m.ConfirmPassword).Label(l => l.Text("Nhập lại mật khẩu"))
                            .Editor(e => e.TextBox().Mode(TextBoxMode.Password));
                    });

                items.AddButton()
                    .HorizontalAlignment(HorizontalAlignment.Left)

                    .ButtonOptions(b => b.Text("Lưu")
                        .Type(ButtonType.Success)
                        .UseSubmitBehavior(true)
                        .ID("changepassword")
                );

            })
            .FormData(Model)
        )
        }
    }
    </div>



    @if (ViewBag.Status != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                Swal.fire({ title: 'OK', text: 'Đổi mật khẩu thành công', icon: 'success', timer: 1500 });
            };
        </script>

    }

<script>
    $(document).ready(function () {
        $("#title-img").attr("src", "../image/change-password.png");
    })
</script>
