﻿@using DeliveryHaPhan.Entites
@using DeliveryHaPhan.Models
@model DeliveryHaPhan.Entites.User
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Quản lý người dùng";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script>
    DevAV.employees = DevAV.employees || {};
</script>
<style>
    * {
        font-size: 14px !important;
    }

    @@media only screen and (max-width: 200px) {
        * {
            font-size: 10px !important;
        }
    }

    #form {
        max-width: 1500px;
        margin: 10px;
    }


    #fileuploader-container {
        border: 1px solid #d3d3d3;
        margin: 20px 20px 0 20px;
    }




    .dx-popup-content p {
        margin-bottom: 10px;
        margin-top: 0;
        padding: 10px;
        overflow: auto;
    }

    .dx-popup-content {
        padding: 0;
    }

    #exportContainer {
        text-align: right;
    }

    #gridContainer {
        margin-top: 10px;
    }

   /* .container-fluid {
        height: 100%;
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        
    }*/

    .data-grid-demo {
        background: #fff;
        padding: 10px;
    }

    
    .hid {
        display: none;
    }


    .info {
        position: relative;
        
    }

        .info .about {
            float: left;
            
            
            /*width: 450px;*/
        }

            .info .about .name {
                color: #bf4e6a;
                font-size: 24px;
                display: inline-block;
            }

            .info .about .icon-edit {
                display: inline-block;
                width: 14px;
                height: 14px;
                -webkit-background-size: auto;
                -moz-background-size: auto;
                -o-background-size: auto;
                background-size: auto;
                background-image: url(../images/sprite.png);
                background-repeat: no-repeat;
                background-position: -83px -184px;
                margin-left: 10px;
                cursor: pointer;
            }

            .info .about .title {
                color: #828282;
                line-height: 14px;
            }

            .info .about .photo {
                margin: 10px 0;
                height: 150px;
                width: 400px;
            }

                .info .about .photo > div:not(.image) {
                    text-transform: uppercase;
                    margin: 12px 0px 0px 18px;
                    float: left;
                    color: #828282;
                    font-size: 12px;
                    min-width: 90px;
                    max-width: 190px;
                }

                    .info .about .photo > div:not(.image) > span {
                        text-transform: none;
                        color: #000;
                        font-size: 14px;
                        line-height: 16px;
                    }

                .info .about .photo .image {
                    width: 120px;
                    height: 150px;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 120px 150px;
                    border: 1px solid #cccccc;
                    float: left;
                    padding: 4px;
                }

    .grid-row-block:not(:hover) .task-actions > div {
        visibility: hidden;
    }

    .grid-row-block:hover {
        background-color: #F7F8FA;
    }

    .task-actions .dx-button {
        background-image: none;
        background-color: #5E6D9D;
        width: 50px;
        height: 23px;
        text-align: center;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        border-radius: 2px;
        border: 0;
    }

        .task-actions .dx-button:first-child {
            margin-left: 8px;
        }

        .task-actions .dx-button .dx-button-content {
            padding: 0;
        }

            .task-actions .dx-button .dx-button-content .dx-button-text {
                font-size: 12px;
                color: white;
            }
    /*
    .dx-rtl .dx-datagrid-rowsview .dx-selection.dx-row > td:not(.dx-focused).dx-datagrid-group-space,
    .dx-rtl .dx-datagrid-rowsview .dx-selection.dx-row:hover > td:not(.dx-focused).dx-datagrid-group-space {
        border-left-color: #bf4e6a;
    }

    .dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-lines) > td,
    .dx-datagrid-rowsview .dx-selection.dx-row:hover:not(.dx-row-lines) > td {
        border-bottom: 1px solid #bf4e6a;
        border-top: 1px solid #bf4e6a;
    }

    .dx-datagrid-rowsview .dx-selection.dx-row > td.dx-datagrid-group-space,
    .dx-datagrid-rowsview .dx-selection.dx-row:hover > td.dx-datagrid-group-space {
        border-right-color: #bf4e6a;
    }

    .dx-datagrid-rowsview .dx-selection.dx-row > td,
    .dx-datagrid-rowsview .dx-selection.dx-row:hover > td {
        background-color: #bf4e6a;
        color: #232323;
    }

    .dx-datagrid-table .dx-data-row.dx-state-hover:not(.dx-selection):not(.dx-row-inserted):not(.dx-row-removed):not(.dx-edit-row) > td:not(.dx-focused) {
        background-color: #bf4e6a;
        color: #333;
    }  */

    .dx-datagrid-rowsview .dx-row-focus.dx-data-row:not(.dx-edit-row) > td:not(.dx-focused) {
        background-color: rgba(191, 78, 106, 0.5) !important;
        color: #fff;
    }

    .image-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .image-form #user-image {
        width: 150px;
        height: 150px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 120px 150px;
        border: 1px solid #cccccc;
        border-radius: 75px;
        /*float: left;*/
        padding: 4px;
    }
</style>

@await Html.PartialAsync("~/Views/Order/_OrderPopup.cshtml")


<div class="data-grid-demo">
    @(Html.DevExtreme().DataGrid<User>()
        .ID("gridContainer")
        .OnSelectionChanged("DevAV.employees.selectRow")
        .OnContentReady("DevAV.employees.selectFirstRow")
        .RowAlternationEnabled(true)
        .HoverStateEnabled(true)
        .ShowBorders(true)
        .Selection(s => s.Mode(SelectionMode.Single))
        .Export(e => e.Enabled(true).AllowExportSelectedData(false))
        .SearchPanel(searchPanel => searchPanel
            .Visible(true)
            .Width(240)
            .Placeholder("Search...")
        )
        .OnExporting("DevAV.employees.exporting")
        .Scrolling(scrolling => scrolling.RowRenderingMode(GridRowRenderingMode.Virtual))
        .ColumnAutoWidth(true)
        .ShowRowLines(true)
        .LoadPanel(p => p.Enabled(true))
        .Paging(p => p.Enabled(false))
        .Editing(e => e.Mode(GridEditMode.Popup)
            .AllowAdding(true)
            .AllowUpdating(true)
            .AllowDeleting(true)
            .UseIcons(true)
            .Popup(p => p
                .ID("details-form-popup")
                .Title("User Info")
                .ShowTitle(true)
                .Width(700)
                .Height(525)
                .FullScreen(true)
                .OnContentReady("DevAV.employees.editEmployee")
            )
            .Form(f => f.ID("#details-form").Items(items => {

                items.AddGroup()
                .CssClass("image-form")
                .ColCount(2)
                .ColSpan(2)
                .Template(
                        @<text>
                            <div>
                                <div id="user-image"></div>
                            </div>
                        </text>
                    );

                items.AddGroup()
                .ColCount(2)
                .ColSpan(2)
                .Caption("Phân quyền")
                   .Items(groupItems =>
                   {

                       groupItems.AddSimpleFor(m => m.Role).Label(l => l.Text("Quyền")).Editor(e => e.SelectBox().ID("Role").DataSource(new[] {
                            "Admin",
                            "User",
                        })).IsRequired(true);
                   });

                items.AddGroup()
                   .ColCount(2)
                   .ColSpan(2)
                   .Items(groupItems =>
                   {
                       groupItems.AddSimpleFor(m => m.UserID).Label(l => l.Text("Mã người dùng")).Editor(e => e.TextBox().ID("UserID").ReadOnly(true));
                       groupItems.AddSimpleFor(m => m.UserName).Label(l => l.Text("Tên tài khoản")).Editor(e => e.TextBox().ID("UserName")).IsRequired(true);
                       groupItems.AddSimpleFor(m => m.Password).Label(l => l.Text("Mật khẩu")).Editor(e => e.TextBox().ID("Password").Mode(TextBoxMode.Password)).IsRequired(true);
                       groupItems.AddSimpleFor(m => m.PasswordSalt).Editor(e => e.TextBox().ID("PasswordSalt").Mode(TextBoxMode.Password)).Visible(false);
                       groupItems.AddSimpleFor(m => m.LastLogin).Editor(e => e.TextBox().ID("LastLogin").ReadOnly(true));
                   });

                items.AddGroup()
                .Caption("Thông tin cơ bản")
                    .ColCount(2)
                    .ColSpan(2)
                    .Items(groupItems => {
                        groupItems.AddSimpleFor(m => m.FullName).Label(l => l.Text("Tên đầy đủ")).Editor(e => e.TextBox().ID("FullName")).IsRequired(true);
                        groupItems.AddSimpleFor(m => m.Phone).Label(l => l.Text("Số điện thoại")).Editor(e => e.TextBox().ID("Phone"));
                        groupItems.AddSimpleFor(m => m.Email).Label(l => l.Text("Email")).Editor(e => e.TextBox().ID("Email"));
                        groupItems.AddSimpleFor(m => m.Adress).Label(l => l.Text("Địa chỉ liên lạc")).Editor(e => e.TextBox().ID("Adress"));
                        groupItems.AddSimpleFor(m => m.LicensePlates).Label(l => l.Text("Biển số xe")).Editor(e => e.TextBox().ID("LicensePlates")).IsRequired(true);
                    });

                items.AddGroup()
                    .Caption("Trạng thái tài khoản")
                    .ColCount(2)
                    .ColSpan(2)
                    .Items(groupItems => {
                        groupItems.AddSimpleFor(m => m.Active).Label(l => l.Text("Đã kích hoạt")).Editor(e=>e.CheckBox().ID("Active"));
                        groupItems.AddSimpleFor(m => m.Blocked).Label(l => l.Text("Đã khóa")).Editor(e => e.CheckBox().ID("Blocked"));
                        groupItems.AddSimpleFor(m => m.Avatar).Label(l => l.Text("Ảnh đại diện")).Editor(e => e.TextBox().ID("Avatar").Visible(false));
                    });
                items.AddGroup()
                    .Caption("Hidden")
                    .Visible(false)
                    .ColCount(2)
                    .ColSpan(2)
                    .Items(groupItems =>
                    {
                        groupItems.AddSimpleFor(m => m.CreatedUserID).Label(l => l.Text("Mã người tạo")).Editor(e => e.TextBox().ID("CreatedUserID"));
                        groupItems.AddSimpleFor(m => m.UpdatedUserID).Label(l => l.Text("Mã người cập nhật")).Editor(e => e.TextBox().ID("UpdatedUserID"));
                        groupItems.AddSimpleFor(m => m.CreatedDate).Label(l => l.Text("Ngày tạo")).Editor(e => e.DateBox().ID("CreatedDate").Type(DateBoxType.Date));
                        groupItems.AddSimpleFor(m => m.UpdatedDate).Label(l => l.Text("Ngày cập nhật")).Editor(e => e.DateBox().ID("UpdatedDate").Type(DateBoxType.Date));


                    });

            }))
        )


        .Columns(columns => {
            columns.AddFor(m => m.UserID).Caption("Mã người dùng");
            columns.AddFor(m => m.Avatar).Visible(false);
                   @*.Width(100)
                .CellTemplate(@<text>
                <div>
                    <img src="./avatar/<%- value %>" alt="" style="height:50px;width:50px;display: block;"/>
                </div>
            </text>);*@
            columns.AddFor(m => m.UserName).Caption("Tên tài khoản");
            columns.AddFor(m => m.Role).Caption("Quyền");

            columns.Add().Caption("Thông tin cơ bản").Alignment(HorizontalAlignment.Center).Columns(a =>
            {
                a.AddFor(m => m.FullName).Caption("Tên đầy đủ").HidingPriority(0);
                a.AddFor(m => m.Email).Caption("Email").HidingPriority(1);
                a.AddFor(m => m.Phone).Caption("Số điện thoại").HidingPriority(2);
                a.AddFor(m => m.Adress).Caption("Địa chỉ liên lạc").HidingPriority(3);
                a.AddFor(m => m.LicensePlates).Caption("Biển số xe").HidingPriority(4);
            });

            columns.Add().Caption("Trạng thái").Alignment(HorizontalAlignment.Center).Columns(a =>
            {
                a.AddFor(m => m.Active).Caption("Đã kích hoạt").HidingPriority(5);
                a.AddFor(m => m.Blocked).Caption("Đã khóa").HidingPriority(6);
                a.AddFor(m => m.LastLogin).Caption("Lần đăng nhập cuối cùng").HidingPriority(7).Format("yyyy-MM-dd, HH:mm:ss");
            });


            columns.AddFor(m => m.Password).Visible(false);
            columns.AddFor(m => m.PasswordSalt).Visible(false);
            columns.AddFor(m => m.CreatedUserID).Visible(false);
            columns.AddFor(m => m.CreatedDate).Visible(false);
            columns.AddFor(m => m.UpdatedUserID).Visible(false);
            columns.AddFor(m => m.UpdatedDate).Visible(false);



            columns.Add()
                .Caption("Action").Alignment(HorizontalAlignment.Center)
               .Type(GridCommandColumnType.Buttons)
               .Buttons(b =>
               {
                   b.Add().Name(GridColumnButtonName.Edit);
                   b.Add().Name(GridColumnButtonName.Delete);
                   b.Add()
                    .Icon("fas fa-key")
                    .OnClick("DevAV.employees.popupChangePassword");

               });
        })





        .DataSource(d => d.Mvc()
            .Controller("User")
            .LoadAction("Get")
            .InsertAction("Post")
            .UpdateAction("Put")
            .DeleteAction("Delete")
            .Key("UserID")
            .OnUpdated(@<text>
                         function (e) {
                            DevExpress.ui.notify("Cập nhật người dùng thành công","success", 600);
                        }
                    </text>)
            .OnInserted(@<text>
                        function (e) {
                            DevExpress.ui.notify("Thêm người dùng thành công+","success", 600);
                        }
                    </text>)
            .OnRemoved(@<text>
                        function (e) {
                            DevExpress.ui.notify("Xóa người dùng thành công","success", 600);
                        }
                    </text>)
        )

    )
</div>

    <div class="row info" style="margin-top:10px;">
        <div class="col-md-4 about">
            <div class="name" id="employee-name"></div>
            <div class="icon-edit" id="edit-employee-icon"></div>
            <div class="title" id="employee-title"></div>
            <div class="photo">
                <div class="image" id="employee-image"></div>
                <div class="address">Address<br><span id="employee-adress">&nbsp;</span></div>
                <div class="phone">Phone<br><span id="employee-phone">&nbsp;</span></div>
                <div class="mail">Email<br><span id="employee-mail">&nbsp;</span></div>
            </div>
        </div>
        <div class="col-md-8 sections">
            @using (Html.DevExtreme().NamedTemplate("OrderRowTemplate"))
            {
                <tr class="dx-row dx-data-row grid-row-block">
                    <td><%= data.RequiredDate %></td>
                    <td><%= data.Employee1 %></td>
                    <td class="task-actions">
                        @(Html.DevExtreme().Button()
                                .Text("Sửa")
                                .OnClick("function() { DevAV.orderPopup.editOrder(data);}")
                            )
                        @(Html.DevExtreme().Button()
                                .Text("Xóa")
                                .OnClick("function() {DevAV.orderPopup.deleteOrder(data);}")
                            )
                    </td>
                </tr>
            }

            @(Html.DevExtreme().TabPanel()
                    .ID("employees-sections")
                    .Height(330)
                    .Items(i => {
                        i.Add()
                            .Title("Đơn hàng")
                            .Template(@<text>

                                @(Html.DevExtreme().DataGrid()
                                    .ID("order-grid")
                                    .Paging(paging => paging.Enabled(false))
                                    .LoadPanel(panel => panel.Enabled(false))
                                    .ShowColumnLines(false)
                                    .RowTemplate(new TemplateName("OrderRowTemplate"))
                                    .Columns(columns => {
                                        columns.Add()
                                            .DataField("RequiredDate")
                                            .Caption("Ngày phát sinh vận đơn")
                                            .Width(90);

                                        columns.Add()
                                            .DataField("Employee1")
                                            .Caption("Người phân công");

                                        columns.Add()
                                            .DataField("Order_Actions")
                                            .Caption("")
                                            .Width(150);
                                    })
                                )

                            </text>);
                    })
                    .SelectedIndex(0)
                    .Loop(false)
                    .AnimationEnabled(false)
                    .SwipeEnabled(true)
                    .ItemTitleTemplate(@<text><span><%= title %></span></text>)
                    .OnItemRendered("DevAV.employees.tabItemRendered")
                )
        </div>
    </div>

<script src="~/js/order-popup.js"></script>
<script>
    $(document).ready(function () {
        $("#title-img").attr("src", "image/users-manager.png");
    })
</script>
