﻿@using DeliveryHaPhan.Entites
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Thông tin người dùng";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.3.2/dist/sweetalert2.all.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.3.2/dist/sweetalert2.min.css">

<style>

    #dropzone-external {
        width: 150px;
        height: 150px;
        background-color: rgba(183, 183, 183, 0.1);
        border-width: 2px;
        border-style: dashed;
        padding: 10px;
    }

        #dropzone-external > * {
            pointer-events: none;
        }


    #dropzone-image {
        max-width: 100%;
        max-height: 100%;
    }

    .FileUploader {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .flex-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .container-fluid {
        background: #fff;
        height: 100%;
        width: 100%;
        padding: 10px;
        overflow-y: auto;
        overflow-x: hidden;
        box-sizing: border-box;
        border: 10px solid transparent;
        background-clip: border-box;
        padding: 5px;
    }

    .block {
        /* background: #9bd7f6;
        box-sizing: border-box;
        border: 10px solid transparent;
        background-clip: border-box;
        padding: 5px;*/
    }
</style>



<div class="container-fluid">
    <div class="widget-container flex-box">
        <div id="dropzone-external" class="flex-box dx-theme-border-color">
            <img id="dropzone-image" src="@Url.Content(ViewBag.Avatar)" alt="" />
        </div>
    </div>

    @using (Html.BeginForm("Upload", "User", FormMethod.Post, new { id = "change", enctype = "multipart/form-data" }))
    {

        @(Html.DevExtreme().FileUploader()
                .Name("Photo")
                .ElementAttr("class", "FileUploader")
                .SelectButtonText("Select photo")
                .LabelText("Ảnh đại diện")
                .Accept("*")
                .AllowedFileExtensions(new[] { ".jpg", ".jpeg", ".gif", ".png" })
                .UploadMode(FileUploadMode.Instantly)
                .OnUploaded("fileUploader_uploaded")
            )

        using (Html.DevExtreme().ValidationGroup())
        {

            @Html.AntiForgeryToken()


            @(Html.DevExtreme().Form<User>()
        .ShowValidationSummary(true)
        .ColCount(2)
        .ScrollingEnabled(true)

        .Items(items => {

            items.AddGroup()
            .CssClass("block")
                    .Items(groupItems => {
                        groupItems.AddSimpleFor(m => m.UserID).Label(l => l.Text("Mã người dùng")).Editor(e => e.TextBox().ReadOnly(true));
                        groupItems.AddSimpleFor(m => m.UserName).Label(l => l.Text("Tên tài khoản")).Editor(e => e.TextBox().ReadOnly(true)).IsRequired(false);
                        groupItems.AddSimpleFor(m => m.FullName).Label(l => l.Text("Tên đầy đủ")).Editor(e => e.TextBox().ReadOnly(true));
                        groupItems.AddSimpleFor(m => m.Adress).Label(l => l.Text("Địa chỉ")).Editor(e => e.TextBox());
                        groupItems.AddSimpleFor(m => m.Role).Label(l => l.Text("Quyền")).Editor(e => e.TextBox());
                    });
            items.AddGroup()
             .CssClass("block")
                   .Items(groupItems =>
                   {
                       groupItems.AddSimpleFor(m => m.Phone).Label(l => l.Text("Số điện thoại")).Editor(e => e.TextBox());
                       groupItems.AddSimpleFor(m => m.LicensePlates).Label(l => l.Text("Biển số xe")).Editor(e => e.TextBox());
                       groupItems.AddSimpleFor(m => m.Email).Label(l => l.Text("Email")).Editor(e => e.TextBox());
                       groupItems.AddSimpleFor(m => m.Active).Label(l => l.Text("Đã kích hoạt")).Editor(e => e.CheckBox().ReadOnly(true));
                       groupItems.AddSimpleFor(m => m.Blocked).Label(l => l.Text("Đã khóa")).Editor(e => e.CheckBox().ReadOnly(true));


                   });
            items.AddGroup().Visible(false)
                  .Items(groupItems =>
                  {
                      groupItems.AddSimpleFor(m => m.Password)
                           .Editor(e => e.TextBox().Mode(TextBoxMode.Password).ReadOnly(true)).Visible(false);
                      groupItems.AddSimpleFor(m => m.PasswordSalt)
                          .Editor(e => e.TextBox().Mode(TextBoxMode.Password).ReadOnly(true)).Visible(false);
                      groupItems.AddSimpleFor(m => m.CreatedUserID).Editor(e => e.TextBox().ReadOnly(true)).Visible(false);
                      groupItems.AddSimpleFor(m => m.UpdatedUserID).Editor(e => e.TextBox().ReadOnly(true)).Visible(false);
                      groupItems.AddSimpleFor(m => m.CreatedDate).Editor(e => e.DateBox().ReadOnly(true)).Visible(false);
                      groupItems.AddSimpleFor(m => m.UpdatedDate).Editor(e => e.DateBox().ReadOnly(true)).Visible(false);
                      groupItems.AddSimpleFor(m => m.LastLogin).Editor (e=> e.TextBox().ReadOnly(true)).Visible(false);
                  });
            items.AddGroup()
                  .ColSpan(2)
                  .Items(groupItems =>
                  {
                      items.AddButton().ColSpan(2)
                     .HorizontalAlignment(HorizontalAlignment.Center)
                     .ButtonOptions(b => b.Text("Lưu")
                     .ID("change")
                     .Type(ButtonType.Success)
                     .UseSubmitBehavior(true)
                     .OnClick("updated")
                     );
                  });
        })
                .FormData(Model)
            )
        }
    }
</div>

<script>
    $(document).ready(function () {
        $("#title-img").attr("src", "../image/user-infomation.png");
    })
</script>

<script>
    function fileUploader_uploaded(e) {
        const file = e.file;
        const fileReader = new FileReader();
        fileReader.onload = function () {
            $("#dropzone-image")[0].src = fileReader.result;
        }
        fileReader.readAsDataURL(file);
    }

    function updated() {

        Swal.fire({
            icon: 'success',
            title: 'Success...',
            text: 'Thay đổi thông tin người dùng thành công!',
            timer: 1000,
        })

    }
</script>

