@using DeliveryHaPhan.Models
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Home</h2>


    @*@(Html.DevExtreme().DataGrid<SampleOrder>()
            .ShowBorders(true)
            .DataSource(d => d.Mvc().Controller("SampleData").LoadAction("Get").Key("OrderID"))
            .Columns(columns => {
                columns.AddFor(m => m.OrderID);
                columns.AddFor(m => m.OrderDate);
                columns.AddFor(m => m.CustomerName);
                columns.AddFor(m => m.ShipCountry);
                columns.AddFor(m => m.ShipCity);
            })
            .Paging(p => p.PageSize(10))
            .FilterRow(f => f.Visible(true))
            .HeaderFilter(f => f.Visible(true))
            .GroupPanel(p => p.Visible(true))
            .Grouping(g => g.AutoExpandAll(false))
            .RemoteOperations(true)
            .Summary(s => s
                .TotalItems(totalItems => {
                    totalItems.AddFor(m => m.ShipCity).SummaryType(SummaryType.Count);
                })
                .GroupItems(groupItems => {
                    groupItems.Add().SummaryType(SummaryType.Count);
                })
            )
        )*@