﻿@using DeliveryHaPhan.Models
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@model OrderModel

@{
    ViewData["Title"] = "Admin Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/js/palette.js"></script>

<style>
    .card-counter {
        box-shadow: 2px 2px 10px #DADADA;
        margin: 5px;
        padding: 20px 10px;
        background-color: #fff;
        height: 100px;
        border-radius: 5px;
        transition: .3s linear all;
    }

        .card-counter:hover {
            box-shadow: 4px 4px 20px #DADADA;
            transition: .3s linear all;
        }

        .card-counter.primary {
            background-color: #007bff;
            color: #FFF;
        }

        .card-counter.danger {
            background-color: #ef5350;
            color: #FFF;
        }

        .card-counter.success {
            background-color: #66bb6a;
            color: #FFF;
        }

        .card-counter.info {
            background-color: #26c6da;
            color: #FFF;
        }

        .card-counter i {
            font-size: 5em;
            opacity: 0.2;
        }

        .card-counter .count-numbers {
            position: absolute;
            right: 35px;
            top: 20px;
            font-size: 32px;
            display: block;
        }

        .card-counter .count-name {
            position: absolute;
            right: 35px;
            top: 65px;
            font-style: italic;
            text-transform: capitalize;
            opacity: 0.5;
            display: block;
            font-size: 18px;
        }

    #priceDataGrid, #ratingDataGrid {
        /*padding: 10px;*/
    }

    #exportContainer {
        text-align: right;
    }

    #tabPanel {
        /*padding-top: 10px;*/
    }

    .block {
        background: #fff;
        box-sizing: border-box;
        border: 10px solid transparent;
        background-clip: padding-box;
    }
</style>

<div class="container-fluid">
    <div class="row block">
        <div class="col-md-3">
            @*<a href="@Url.Action("Index", "Order")">*@
            <a id="approved-click">
                <div class="card-counter primary">
                    <i class="fas fa-user-check"></i>
                    <span class="count-numbers" id="orders-approved"></span>
                    <span class="count-name">Đơn hàng đã duyệt</span>
                </div>
            </a>
        </div>


        <div class="col-md-3">
            <div class="card-counter danger">
                <i class="fas fa-running"></i>
                <span class="count-numbers" id="orders-active"></span>
                <span class="count-name">Đơn hàng đang vận chuyển</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card-counter success">
                <i class="far fa-file-alt"></i>
                <span class="count-numbers" id="orders-new"></span>
                <span class="count-name">Đơn hàng mới</span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card-counter info">
                <i class="fas  fa-car"></i>
                <span class="count-numbers" id="month-kilometers"></span>
                <span class="count-name">Số km đã đi trong tháng</span>
            </div>
        </div>
    </div>


    <div class=" row block">
        <div class="col-md-12">
            <h6>Danh sách đơn hàng trong tháng</h6>
            <div id="exportContainer">
                @(Html.DevExtreme().Button()
        .Text("Export multiple grids")
        .Icon("xlsxfile")
        .OnClick("exportGrids"))
            </div>
            @(Html.DevExtreme().TabPanel()
        .ID("tabPanel")
        .SwipeEnabled(true)
        .DataSource(new[] {
            new { text = "Đơn hàng mới"},
            new { text = "Đơn hàng đã duyệt" },
            new { text = "Đơn hàng đang vận chuyển" },
            new { text = "Đơn hàng đã hoàn thành" },
            new { text = "Đơn hàng bị hủy" }
        })
        .ItemTemplate(new JS("tabPanelTemplate"))
        .ItemTitleTemplate(@<text><span class="dx-tab-text"><%- text %></span></text>)
        .DeferRendering(false))
        </div>
    </div>


    <div class="row">
        <div class="col-md-6 block">
            @(Html.DevExtreme().Chart()
                .ID("chart1")
                .DataSource(d => d
                    .StaticJson()
                    .Url(Url.Action("GetCurrentYearKilometers"))

                )
                .DataSourceOptions(dso => dso.Filter("['Month', '=',1]"))
                .Series(s => s.Add()
                    .ArgumentField("Day")
                    .ValueField("Kilometers")
                    .Type(SeriesType.Spline)
                )
                .CustomizePoint(@<text>
                    function() {
                        var color = palette[paletteIndex];
                        paletteIndex = paletteIndex === 2 ? 0 : paletteIndex + 1;
                        return {
                            color: color
                        };
                    }
                </text>)
                .Tooltip(t => t
                    .Enabled(true)
                    .CustomizeTooltip(@<text>
                            function(arg) {
                                return {
                                    text: arg.valueText + "km"
                                };
                            }
                    </text>)
                )
                .ValueAxis(a => a
                    .Add()
                    .Label(l => l
                        .CustomizeText(@<text>
                            function() {
                                return this.valueText + "km";
                            }
                        </text>)
                    )
                )
                .ArgumentAxis(a => a.ArgumentType(ChartDataType.String))
                .Size(s => s.Height(420))
                .Legend(l => l.Visible(false))
                .LoadingIndicator(l => l.Enabled(true))
                .Export(e => e.Enabled(true))
            )

            <div class="action">
                <div class="monthlabel">Choose a month:</div>

                @(Html.DevExtreme().SelectBox()
                    .ID("selectbox")
                    .Width(150)
                    .DataSource(d=>d.Mvc().LoadAction("GetYearsData"))
                    .Value(1)
                    .ValueExpr("Name")
                    .DisplayExpr("Name")
                    .OnValueChanged(@<text>
                        function(data) {
                            var dataSource = $("#chart1").dxChart("getDataSource");
                            dataSource.filter(["Month", "=", data.value]);
                            dataSource.load();
                        }
                    </text>)
                )
            </div>
        </div>
        <div class="col-md-6 block">
            @(Html.DevExtreme().PieChart()
                .ID("pie")
                .Palette(VizPalette.SoftPastel)
                .Type(PieChartType.Doughnut)
                .Title("Thống kê vận đơn năm 2022")
                .Tooltip(t => t
                    .Enabled(true)
                    .CustomizeTooltip(@<text>
                        function(arg) {
                            return {
                                text: arg.valueText + " - " + (arg.percent * 100).toFixed(2) + "%"
                            };
                        }
                    </text>)
                )
                .Legend(l => l
                    .HorizontalAlignment(HorizontalAlignment.Right)
                    .VerticalAlignment(VerticalEdge.Top)
                    .Margin(0)
                )
                .Export(e => e.Enabled(true))
                .Series(s => s
                    .Add()
                    .ArgumentField("Status")
                    .ValueField("Count")
                    .Label(l => l
                        .Visible(true)
                        .Connector(c => c.Visible(true))
                    )
                )
                .DataSource(d => d
                    .StaticJson()
                    .Url(Url.Action("GetCurrentYearStatusStatistic"))

                )
            )

        </div>
    </div>


    <div class="row block">
        <div class="col-md-6">
            @(Html.DevExtreme().DataGrid()
            .ID("gridContainer2")
            .Export(e => e.Enabled(true).AllowExportSelectedData(false))
            .OnExporting("exportingEmployeeKilometers")
            .RowAlternationEnabled(true)
            .ShowBorders(true)
            .DataSource(d => d
                    .StaticJson()
                    .Url(Url.Action("GetCurrentYearKilometersWithEmployee"))

                )
            .Columns(c => {
                c.Add().DataField("Year").Caption("Năm");
                c.Add().DataField("Month").Caption("Tháng");
                c.Add().DataField("Employee1").Caption("Nhân viên phụ trách");
                c.Add().DataField("LicensePlates").Caption("Phương tiện");
                c.Add().DataField("Kilometers").Caption("Số km");
            })
            .Summary(s => s.TotalItems(items => {
                items.Add().Name("Employee1").ShowInColumn("Employee1").DisplayFormat("Σ Nhân viên: {0}")
                    .SummaryType(SummaryType.Count);
                items.Add().Name("Kilometers").ShowInColumn("Kilometers").Column("Kilometers").DisplayFormat("Σ Kilometers: {0}")
                     .SummaryType(SummaryType.Sum);
            })
            )
        )
        </div>
        <div class="col-md-6">
            @(Html.DevExtreme().Chart()
                .ID("chart2")
                .DataSource(d => d
                    .StaticJson()
                    .Url(Url.Action("GetCurrentYearKilometersWithEmployee"))

                )
                .DataSourceOptions(dso => dso.Filter("['Month', '=',1]"))
                .Series(s => s.Add()
                    .ArgumentField("Employee1")
                    .ValueField("Kilometers")
                    .Type(SeriesType.Bar)
                )
                .CustomizePoint(@<text>
                    function() {
                        var color = palette[paletteIndex];
                        paletteIndex = paletteIndex === 2 ? 0 : paletteIndex + 1;
                        return {
                            color: color
                        };
                    }
                </text>)
                .Tooltip(t => t
                    .Enabled(true)
                    .CustomizeTooltip(@<text>
                            function(arg) {
                                return {
                                    text: arg.valueText + "km"
                                };
                            }
                    </text>)
                )
                .ValueAxis(a => a
                    .Add()
                    .Label(l => l
                        .CustomizeText(@<text>
                            function() {
                                return this.valueText + "km";
                            }
                        </text>)
                    )
                )
                .ArgumentAxis(a => a.ArgumentType(ChartDataType.String))
                .Size(s => s.Height(420))
                .Legend(l => l.Visible(false))
                .LoadingIndicator(l => l.Enabled(true))
                .Export(e => e.Enabled(true))
            )

            <div class="action">
                <div class="monthlabel">Choose a month:</div>

                @(Html.DevExtreme().SelectBox()
                    .ID("selectbox2")
                    .Width(150)
                    .DataSource(d=>d.Mvc().LoadAction("GetMonthsData"))
                    .Value(1)
                    .ValueExpr("Id")
                    .DisplayExpr("Name")
                    .OnValueChanged(@<text>
                        function(data) {
                            var dataSource = $("#chart2").dxChart("getDataSource");
                            dataSource.filter(["Month", "=", data.value]);
                            dataSource.load();

                            var dataGrid = $("#gridContainer2").dxDataGrid("instance");
                            dataGrid.filter(["Month", "=", data.value]);
                        }
                    </text>)
                )
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#title-img").attr("src", "image/dashboard-admin.png");
    })
</script>


<script>
    var newCaption = "Đơn hàng mới";
    var approvedCaption = "Đơn hàng đã duyệt";
    var activeCaption = "Đơn hàng đang vận chuyển";
    var endedCaption = "Đơn hàng đã hoàn thành";
    var cancelCaption = "Đơn hàng bị hủy";
    const url = 'AdminHome/GetActiveOrders';
    var gridDataActiveSource = new DevExpress.data.CustomStore({
        key: "OrderID",
        load: function () {
            return $.getJSON("AdminHome/GetActiveOrdersByThisMonth?status=Started,Continue,Pause");
        }
    });
    var gridDataNewSource = new DevExpress.data.CustomStore({
        key: "OrderID",
        load: function () {
            return $.getJSON("AdminHome/GetNewOrdersByThisMonth?status=New");
        }
    });
    var gridDataApprovedSource = new DevExpress.data.CustomStore({
        key: "OrderID",
        load: function () {
            return $.getJSON("AdminHome/GetActiveOrdersByThisMonth?status=Approved");
        }
    });
    var gridDataEndedSource = new DevExpress.data.CustomStore({
        key: "OrderID",
        load: function () {
            return $.getJSON("AdminHome/GetActiveOrdersByThisMonth?status=Ended");
        }
    });
    var gridDataCancelSource = new DevExpress.data.CustomStore({
        key: "OrderID",
        load: function () {
            return $.getJSON("AdminHome/GetActiveOrdersByThisMonth?status=Cancel");
        }
    });

    //var gridDataActiveSource = new DevExpress.data.AspNet.createStore({
    //    loadUrl: `${url}`,
    //    loadParams: { status: 'Started,Continue' },
    //});
    //var gridDataNewSource = new DevExpress.data.AspNet.createStore({
    //    loadUrl: `${url}`,
    //    loadParams: { status: 'New' },
    //});
    //var gridDataEndedSource = new DevExpress.data.AspNet.createStore({
    //    loadUrl: `${url}`,
    //    loadParams: { status: 'Ended' },
    //});
    //var gridDataCancelSource = new DevExpress.data.AspNet.createStore({
    //    loadUrl: `${url}`,
    //    loadParams: { status: 'Cancel' },
    //});

    function tabPanelTemplate(itemData, itemIndex, itemElement) {
        if (itemData.text === activeCaption) {


            var $gridContainer = $("<div id='activeDataGrid'>");

            itemElement.append($gridContainer);

            $gridContainer.dxDataGrid({
                width: "100%",
                height: 200,
                columns: [
                    { dataField: "OrderID", caption: "Mã hàng", width: 150 },
                    { dataField: "Employee1", caption: "Nhân viên phụ trách" },
                    { dataField: "StartTime", caption: "Thời gian bắt đầu" },
                    { dataField: "Kilometers", caption: "Số km đã đi" },
                    { dataField: "Status", caption: "Trạng thái" },
                ],
                showBorders: true,
                paging: {
                    pageSize: 5,
                },
                rowAlternationEnabled: true,
                dataSource: gridDataActiveSource,
                summary: {
                    totalItems: [{
                        name: "OrderID",
                        summaryType: "count",
                        showInColumn: "OrderID",
                        displayFormat: "Σ Đơn hàng: {0}",
                    },
                    {
                        name: "Kilometers",
                        summaryType: "sum",
                        column: "Kilometers",
                        showInColumn: "Kilometers",
                        displayFormat: "Σ Km: {0}",
                    }],
                }

            });
        }

        if (itemData.text === newCaption) {
            var $gridContainer = $("<div id='newDataGrid'>");

            itemElement.append($gridContainer);

            $gridContainer.dxDataGrid({
                width: "100%",
                height: 200,
                columns: [
                    { dataField: "OrderID", caption: "Mã hàng", width: 150 },
                    { dataField: "Ngày phát sinh vận đơn", caption: "RequiredDate" },
                ],
                showBorders: true,
                paging: {
                    pageSize: 5,
                },
                rowAlternationEnabled: true,
                dataSource: gridDataNewSource,
                summary: {
                    totalItems: [{
                        name: "OrderID",
                        summaryType: "count",
                        showInColumn: "OrderID",
                        displayFormat: "Σ Đơn hàng: {0}",
                    }]
                }
            });
        }
        if (itemData.text === approvedCaption) {
            var $gridContainer = $("<div id='approvedDataGrid'>");

            itemElement.append($gridContainer);

            $gridContainer.dxDataGrid({
                width: "100%",
                height: 200,
                columns: [
                    { dataField: "OrderID", caption: "Mã hàng", width: 150 },
                    { dataField: "Employee1", caption: "Nhân viên phụ trách" },
                    { dataField: "Employee2", caption: "Nhân viên phụ xe" },
                    { dataField: "Vehice", caption: "Phương tiện" },
                ],
                showBorders: true,
                paging: {
                    pageSize: 5,
                },
                rowAlternationEnabled: true,
                dataSource: gridDataApprovedSource,
                summary: {
                    totalItems: [{
                        name: "OrderID",
                        summaryType: "count",
                        showInColumn: "OrderID",
                        displayFormat: "Σ Đơn hàng: {0}",
                    }]
                }
            });
        }
        if (itemData.text === endedCaption) {
            var $gridContainer = $("<div id='endedDataGrid'>");

            itemElement.append($gridContainer);

            $gridContainer.dxDataGrid({
                width: "100%",
                height: 200,
                columns: [
                    { dataField: "OrderID", caption: "Mã hàng", width: 150 },
                    { dataField: "Employee1", caption: "Nhân viên phụ trách" },
                    { dataField: "KilometersOrg", caption: "Số km dự tính" },
                    { dataField: "Kilometers", caption: "Số km đã đi" },
                    { dataField: "StartTime", caption: "Thời gian bắt đầu" },
                    { dataField: "StopTime", caption: "Thời gian kết thúc" },
                ],
                showBorders: true,
                paging: {
                    pageSize: 5,
                },
                rowAlternationEnabled: true,
                dataSource: gridDataEndedSource,
                summary: {
                    totalItems: [{
                        name: "OrderID",
                        summaryType: "count",
                        showInColumn: "OrderID",
                        displayFormat: "Σ Đơn hàng: {0}",
                    },
                    {
                        name: "KilometersOrg",
                        summaryType: "sum",
                        column: "KilometersOrg",
                        showInColumn: "KilometersOrd",
                        displayFormat: "Σ Km Org: {0}",
                    },
                    {
                        name: "Kilometers",
                        summaryType: "sum",
                        column: "Kilometers",
                        showInColumn: "Kilometers",
                        displayFormat: "Σ Km: {0}",
                    }],
                }
            });
        }
        if (itemData.text === cancelCaption) {
            var $gridContainer = $("<div id='cancelDataGrid'>");

            itemElement.append($gridContainer);

            $gridContainer.dxDataGrid({
                width: "100%",
                height: 200,
                columns: [
                    { dataField: "OrderID", caption: "Mã hàng", width: 150 },
                    { dataField: "Employee1", caption: "Nhân viên phụ trách" },
                    { dataField: "Reason", caption: "Lý do" },
                ],
                showBorders: true,
                paging: {
                    pageSize: 5,
                },
                rowAlternationEnabled: true,
                dataSource: gridDataCancelSource,
                summary: {
                    totalItems: [{
                        name: "OrderID",
                        summaryType: "count",
                        showInColumn: "OrderID",
                        displayFormat: "Σ Đơn hàng: {0}",
                    }]
                }
            });
        }
    }

    function exportGrids() {
        var dataGrid1 = $("#activeDataGrid").dxDataGrid("instance");
        var dataGrid2 = $("#newDataGrid").dxDataGrid("instance");
        var dataGrid3 = $("#endedDataGrid").dxDataGrid("instance");
        var dataGrid4 = $("#cancelDataGrid").dxDataGrid("instance");
        var dataGrid5 = $("#approvedDataGrid").dxDataGrid("instance");

        var workbook = new ExcelJS.Workbook();
        var activeSheet = workbook.addWorksheet(activeCaption);
        var newSheet = workbook.addWorksheet(newCaption);
        var endedSheet = workbook.addWorksheet(endedCaption);
        var cancelSheet = workbook.addWorksheet(cancelCaption);
        var approvedSheet = workbook.addWorksheet(approvedCaption);

        activeSheet.getRow(2).getCell(2).value = "Active";
        activeSheet.getRow(2).getCell(2).font = { bold: true, size: 16, underline: "double" };

        newSheet.getRow(2).getCell(2).value = "New";
        newSheet.getRow(2).getCell(2).font = { bold: true, size: 16, underline: "double" };

        endedSheet.getRow(2).getCell(2).value = "Ended";
        endedSheet.getRow(2).getCell(2).font = { bold: true, size: 16, underline: "double" };

        cancelSheet.getRow(2).getCell(2).value = "Cancel";
        cancelSheet.getRow(2).getCell(2).font = { bold: true, size: 16, underline: "double" };

        approvedSheet.getRow(2).getCell(2).value = "Cancel";
        approvedSheet.getRow(2).getCell(2).font = { bold: true, size: 16, underline: "double" };

        function setAlternatingRowsBackground(gridCell, excelCell) {
            if (gridCell.rowType === "header" || gridCell.rowType === "data") {
                if (excelCell.fullAddress.row % 2 === 0) {
                    excelCell.fill = { type: "pattern", pattern: "solid", fgColor: { argb: "D3D3D3" }, bgColor: { argb: "D3D3D3" } };
                }
            }
        }

        DevExpress.excelExporter.exportDataGrid({
            worksheet: activeSheet,
            component: dataGrid1,
            topLeftCell: { row: 4, column: 2 },
            customizeCell: function (options) {
                setAlternatingRowsBackground(options.gridCell, options.excelCell)
            }
        }).then(function () {
            return DevExpress.excelExporter.exportDataGrid({
                worksheet: newSheet,
                component: dataGrid2,
                topLeftCell: { row: 4, column: 2 },
                customizeCell: function (options) {
                    setAlternatingRowsBackground(options.gridCell, options.excelCell)
                }
            });
        }).then(function () {
            return DevExpress.excelExporter.exportDataGrid({
                worksheet: approvedSheet,
                component: dataGrid5,
                topLeftCell: { row: 4, column: 2 },
                customizeCell: function (options) {
                    setAlternatingRowsBackground(options.gridCell, options.excelCell)
                }
            });
        }).then(function () {
            return DevExpress.excelExporter.exportDataGrid({
                worksheet: endedSheet,
                component: dataGrid3,
                topLeftCell: { row: 4, column: 2 },
                customizeCell: function (options) {
                    setAlternatingRowsBackground(options.gridCell, options.excelCell)
                }
            });
        }).then(function () {
            return DevExpress.excelExporter.exportDataGrid({
                worksheet: cancelSheet,
                component: dataGrid4,
                topLeftCell: { row: 4, column: 2 },
                customizeCell: function (options) {
                    setAlternatingRowsBackground(options.gridCell, options.excelCell)
                }
            });
        }).then(function () {
            workbook.xlsx.writeBuffer().then(function (buffer) {
                saveAs(new Blob([buffer], { type: "application/octet-stream" }), "MultipleGrids.xlsx");
            });
        });
    }

    function exportingEmployeeKilometers(e) {
        var workbook = new ExcelJS.Workbook();
        var worksheet = workbook.addWorksheet('Employees-Kilometers');
        worksheet.getRow(2).getCell(2).value = "SỐ KM TỪNG NHÂN VIÊN";
        worksheet.getRow(2).getCell(2).font = { bold: true, size: 16, underline: "double" };
        function setAlternatingRowsBackground(gridCell, excelCell) {
            if (gridCell.rowType === "header" || gridCell.rowType === "data") {
                if (excelCell.fullAddress.row % 2 === 0) {
                    excelCell.fill = { type: "pattern", pattern: "solid", fgColor: { argb: "D3D3D3" }, bgColor: { argb: "D3D3D3" } };
                }
            }
        }


        DevExpress.excelExporter.exportDataGrid({
            component: e.component,
            topLeftCell: { row: 4, column: 2 },
            worksheet: worksheet,
            autoFilterEnabled: true,
            customizeCell: function (options) {
                setAlternatingRowsBackground(options.gridCell, options.excelCell)
            }
        }).then(function () {
            workbook.xlsx.writeBuffer().then(function (buffer) {
                saveAs(new Blob([buffer], { type: 'application/octet-stream' }), 'Employees-Kilometers.xlsx');
            });
        });
        e.cancel = true;
    }
</script>


<script>
    //đơn hàng đã duyệt
    $.getJSON("AdminHome/CountOrdersUnderStatus/Approved",
        function (data) {
            $("#orders-approved").text(data);
        });

    //đơn hàng đang giao
    $.getJSON("AdminHome/CountOrdersUnderStatus/Started,Continue,Pause",
        function (data) {
            $("#orders-active").text(data);
        });

    //đơn hàng mới
    $.getJSON("AdminHome/CountOrdersUnderStatus/New",
        function (data) {
            $("#orders-new").text(data);
        });

    //sum km in curent month
    $.getJSON("AdminHome/GetSumKilometersByCurrentMonth",
        function (data) {
            $("#month-kilometers").text(data);
        });

    //click
    @*$('#approved-click').click(function () {
        window.location.href='@Url.Action("RedirectToApprovedOrder", "AdminHome")';
    });*@

    $(function () {
        $('#chart1').dxChart('instance').option('title', "Số km đã đi trong năm " + @ViewBag.CurrentYear);
        $('#chart2').dxChart('instance').option('title', "Số km đã đi từng nhân viên trong năm " + @ViewBag.CurrentYear);
    });

</script>
