﻿@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    string viewName = this.ViewContext.ActionDescriptor.DisplayName.Substring(1).ToLower();
    string title = Char.ToUpper(viewName[0]) + viewName.Substring(1);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewData["Title"]</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="~/css/vendor.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Site.css" />
    <script src="~/js/vendor.js" asp-append-version="true"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://js.pusher.com/7.0/pusher.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.3.1/dist/sweetalert2.all.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.3.1/dist/sweetalert2.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://cdn.jsdelivr.net/gh/linhpn96/VNnum2words/src/index.js"></script>
    <link href="~/css/jquery.dataTables.min.css" rel="stylesheet">
    <script src="~/js/jquery.dataTables.min.js"></script>

    <script>
        var DevAV = DevAV || {};
    </script>
    <style>
        #myBtn {
            display: none;
            position: fixed;
            bottom: 20px;
            right: 30px;
            z-index: 99;
            font-size: 18px;
            border: none;
            outline: none;
            background-color: red;
            color: white;
            cursor: pointer;
            padding: 15px;
            border-radius: 4px;
        }

            #myBtn:hover {
                background-color: #555;
            }

        #layout-drawer {
            position: relative;
            min-height: 812px;
            overflow: auto
        }




        body {
            /* Margin bottom by footer height */
            width: 100%;
            background: #e7e9ed;
            /*margin-bottom: 60px;*/
        }

        #content {
            background: #e7e9ed;
            padding: 10px 20px;
            position: relative;
            min-height: 752px;
            /*margin: 34px 20px 20px 0;*/
            background-color: transparent;
            margin-bottom: 10px;
        }

        #logout {
            color: red;
        }

        dx-theme-accent-as-text-color {
            color: white !important;
        }

        .dx-theme-accent-as-background-color {
            background-color: #f05b41 !important;
            fill: #f05b41 !important;
            opacity: 0.9;
        }

        #layout-toolbar {
            background: #fff;
        }

        .dx-toolbar {
            /*background-color: rgb(191 191 191 / 0.15);*/
            padding: 5px 10px;
        }

        .dx-list-item-icon-container, .dx-toolbar-before {
            /* width: 36px;
            padding-right: 0px !important;
            text-align: center;*/
        }

        .dx-list-item-content {
            padding-left: 10px !important;
        }

        .dx-button {
            background-color: rgba(191, 191, 191, -0.15);
            border: none;
        }

        .panel-list {
            /*height: 400px;*/
        }


            .panel-list .dx-list-item {
                /*color: #fff;*/
                border-top: 1px solid rgba(221, 221, 221, .2);
            }

                .panel-list .dx-list-item .dx-icon {
                    color: #fff !important;
                }

        .logo {
            line-height: 48px;
        }

            .logo img {
                vertical-align: middle;
                margin: 0 1px;
            }


        .footer {
            width: 100%;
            height: auto;
            color: #96989a;
            margin: 0 0 10px;
            padding: 0;
            position: relative;
        }

            .footer .logo {
                position: absolute;
                bottom: 10px;
                left: 30px;
                width: 50px;
                height: 50px;
                background-image: url(../image/logo.jpg);
                background-repeat: no-repeat;
                background-size: 50px 50px;
            }

            .footer .copy,
            .footer .social {
                display: inline-block;
            }

            .footer .copy {
                margin-left: 210px;
                padding: 6px 20px 4px;
                border-left: 1px solid #bebfc3;
            }

            .footer .social {
                float: right;
                padding: 11px 20px 10px 0;
            }

                .footer .social a {
                    background-size: auto;
                    background-image: url(../image/sprite.png);
                    background-repeat: no-repeat;
                    height: 26px;
                    width: 24px;
                    display: inline-block;
                }

                    .footer .social a.facebook {
                        background-position: -24px -92px;
                    }

                    .footer .social a.twitter {
                        background-position: -72px -92px;
                    }

                    .footer .social a.google-plus {
                        background-position: -48px -92px;
                    }

                    .footer .social a.youtube {
                        background-position: -96px -92px;
                    }

                    .footer .social a.blogs {
                        background-position: 0 -92px;
                    }

        .colored-toast.swal2-icon-success {
            background-color: #a5dc86 !important;
        }

        .colored-toast.swal2-icon-error {
            background-color: #f27474 !important;
        }

        .colored-toast.swal2-icon-warning {
            background-color: #f8bb86 !important;
        }

        .colored-toast.swal2-icon-info {
            background-color: #3fc3ee !important;
        }

        .colored-toast.swal2-icon-question {
            background-color: #87adbd !important;
        }

        .colored-toast .swal2-title {
            color: white;
        }

        .colored-toast .swal2-close {
            color: white;
        }

        .colored-toast .swal2-html-container {
            color: white;
        }
    </style>

</head>

<body>
    @(Html.DevExtreme().Toolbar()
        .ID("layout-toolbar")
        .Items(items =>
        {
             items.Add().Template(@<text>
                                            <div class="logo" style="margin-left:12px;">
                                                <img id="title-img" src="~/logo/title_logo.png"/>
                                            </div>

                                     </text>).Location(ToolbarItemLocation.After);

            items.Add().Widget(w => w.Button()
                .ID("btn-menu")
                .Icon("menu")
                .OnClick("button_clickHandler")
            ).Location(ToolbarItemLocation.Before);

        })
    )
    @(Html.DevExtreme().Drawer()
        .ID("layout-drawer")
        //.MinSize(37)
        .Height("auto")
        .Position(DrawerPosition.Left)
        .Opened(new JS("JSON.parse(sessionStorage.getItem('isDrawerOpen'))"))
        .RevealMode(DrawerRevealMode.Slide)
        .OpenedStateMode(DrawerOpenedStateMode.Overlap)
        .Template(@<text>

            <div class="dx-theme-accent-as-background-color" style="width:200px;">
                 <div class="row p-1" style="pointer-events: none;cursor: default;text-decoration: none;color: black">
                    <div class="col-sm-3">
                        <div class="row">
                            <div class="col-12">
                                <img src="~/avatar/@HttpContextAccessor.HttpContext.Session.GetString("Avatar")" width="30" height="30" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7 ml-0">
                        <div class="row">
                            <div class="col-12" style="color:white;">
                                @HttpContextAccessor.HttpContext.Session.GetString("Username")
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12" style="color:white;">
                                @HttpContextAccessor.HttpContext.Session.GetString("Position")
                            </div>
                        </div>
                    </div>
                </div>

                @(Html.DevExtreme().List()
                    .OnInitialized("list_onInitialized")
                    .ElementAttr("class", "panel-list")
                    .HoverStateEnabled(true)
                    .FocusStateEnabled(true)
                    .ActiveStateEnabled(true)
                    .Items(items => {
                        items.Add().Text("Phê duyệt và theo dõi").Option("path",@Url.Action("Index2", "ReportApprove"));
                        items.Add().Text("Đề xuất của tôi").Option("path", @Url.Action("MyReport", "ReportApprove"));
                        items.Add().Text("File System").Option("path", @Url.Action("FileSystem", "FileSystem"));
                        if (@HttpContextAccessor.HttpContext.Session.GetString("Role") == "Admin")
                        {
                            items.Add().Text("Quản lý đề xuất").Option("path", @Url.Action("ReportManager", "ReportApprove"));
                            items.Add().Text("Quản lý người dùng").Option("path", @Url.Action("UserManager", "UserReportApprove"));
                        }
                        items.Add().Text("Đăng xuất").Option("path", @Url.Action("Logout", "UserReportApprove"));

                    })
                    .KeyExpr("path")
                    .SelectionMode(ListSelectionMode.Single)
                    .OnSelectionChanged("list_onSelectionChanged")
                )
            </div>
        </text>)
        .Content(@<text><div id="content">@RenderBody()</div></text>)
    )


    <button icon="" onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-arrow-up"></i></button>

    <script>
        //Get the button
        var mybutton = document.getElementById("myBtn");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>

    <script type="text/javascript">
        var menuItems = [{
            icon: '../avatar/@HttpContextAccessor.HttpContext.Session.GetString("Avatar")',
            //icon: '../avatar/noimage.png',
            items: [
                { name: 'Đổi mật khẩu'},
                { name: 'Đăng xuất'}
            ]
        }];

        $(function () {
            $("#menu-right").dxMenu({
                items: menuItems,
                displayExpr: "name"
            });
        });




        function menuItem_click(data) {
            var item = data.itemData;
            if (item.name == 'Đổi mật khẩu') {
                location.href = "@Url.Action("ChangePasswordUser", "User")";
            }
            if (item.name == 'Đăng xuất') {
                location.href = "@Url.Action("Logout", "User")";
            }
    }

    function button_clickHandler() {
        const drawer = $("#layout-drawer").dxDrawer("instance");
        if (drawer.option("opened") == true) {
            $("#btn-menu").dxButton("instance").option("icon", "menu");
        }
        else {
            $("#btn-menu").dxButton("instance").option("icon", "close");
        }
        drawer.toggle();
        sessionStorage.setItem("isDrawerOpen", JSON.stringify(drawer.option("opened")));
    }

        function list_onSelectionChanged(e) {
            const drawer = $("#layout-drawer").dxDrawer("instance");
            drawer.hide();
            sessionStorage.setItem("isDrawerOpen", JSON.stringify(drawer.option("opened")));
            document.location.pathname = e.addedItems[0].path;
        }
        function list_onInitialized(e) {
            const t = "@Url.Action()";
            e.component.option("selectedItemKeys", [ "@Url.Action()" ])
        }
    </script>


    <footer class="footer">
        <div class="logo"></div>
        <div class="copy">
            Powered by HaPhan JSC&copy;<br />
            <a href="https://erp.haphan.com" target="_blank">ERP HAPHAN</a>
        </div>
    </footer>

    <script src="~/js/reportapprove/create-report-cv-popup.js"></script>
    <script src="~/js/reportapprove/create-report-ct-popup.js"></script>
    <script src="~/js/reportapprove/report-approve.js"></script>
    <script src="~/js/reportapprove/my-report.js"></script>
    <script src="~/js/reportapprove/request-manager.js"></script>
    <script src="~/js/reportapprove/user-manager.js"></script>
    <script src="~/js/script.js"></script>

</body>

</html>


