﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewData["Title"]</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.10.1/polyfill.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/3.8.0/exceljs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="~/css/vendor.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Site.css" />
    <script src="~/js/vendor.js" asp-append-version="true"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.3.1/dist/sweetalert2.all.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.3.1/dist/sweetalert2.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>


    <style>

        a.navbar-brand {
            white-space: normal;
            text-align: center;
            word-break: break-all;
        }

        /* Provide sufficient contrasqlst against white background */
        a {
            color: #0366d6;
        }

        .btn-primary {
            color: #fff;
            background-color: #1b6ec2;
            border-color: #1861ac;
        }

        .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
            color: #fff;
            background-color: #1b6ec2;
            border-color: #1861ac;
        }

        /* Sticky footer styles
        -------------------------------------------------- */
        html {
            font-size: 14px;
        }

        @@media (min-width: 768px) {
            html {
                font-size: 16px;
            }
        }

        .border-top {
            border-top: 1px solid #e5e5e5;
        }

        .border-bottom {
            border-bottom: 1px solid #e5e5e5;
        }


        .box-shadow {
            box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
        }

        button.accept-policy {
            font-size: 1rem;
            line-height: inherit;
        }

        /* Sticky footer styles
        -------------------------------------------------- */
        html {
            position: relative;
            min-height: 100%;
        }

        body {
            /* Margin bottom by footer height */
            margin-bottom: 60px;
        }

        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            white-space: nowrap;
            line-height: 60px; /* Vertically center the text there */
        }

        .top-page {
            position: absolute;
            top: 0;
            width: 100%;
            white-space: nowrap;
            line-height: 30px;
            padding-top: 0.3rem;
            padding-bottom: 0.3rem;
            border-bottom: 1px solid #333;
        }

        .navbar-brand {
            line-height: 48px;
        }

            .navbar-brand img {
                vertical-align: middle;
                margin: 0 1px;
                width: 200px;
            }

        .top-left {
            left: 30px;
            display: inline-block;
        }

            .top-left p {
                float: left;
                margin-left: 10px;
                display: inline-block;
            }

        .top-right {
            float: right;
            right: 20px;
            display: inline-block;
        }

            .top-right .btn-login {
                display: inline-block;
                border: none;
                background: none;
            }

        .active {
            color: #ff0000;
        }
    </style>

</head>

<body style="padding-top: 5rem;">
    @*<div class="top-page fixed-top">
            <div class="container">
                <div class="top-left">
                    <p>Hotline: (+84)907124038</p>
                    <p>Email: info@alphatrace.vn</p>
                </div>
                <div class="top-right">
                    <button class="btn-login">Đăng nhập</button>
                </div>
            </div>
        </div>*@
    <nav class="navbar navbar-light bg-light navbar-expand-md fixed-top">

        <div class="navbar-brand">
            <img id="image" src="~/alpha_trace/logo.png" />
        </div>

        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navbar" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="active nav-item"><a asp-controller="AlphaTraceHome" asp-action="Index" class="nav-link">Home</a></li>
                <li class="nav-item"><a asp-controller="AlphaTraceAdmin" asp-action="Index" class="nav-link">Product Manager</a></li>
                <li class="nav-item"><a asp-controller="AlphaTraceUser" asp-action="Index1" class="nav-link">Find Product</a></li>
            </ul>
        </div>
    </nav>

    <main role="main">
        @RenderBody()
    </main>

    <footer class="border-top footer text-muted">
        <div class="container">
            @@2021- HaPhan JSC - <a asp-area="" asp-controller="App" asp-action="About">About</a>
        </div>
    </footer>

    <script>
        // Add active class to the current button (highlight it)
        var header = document.getElementById("navbar");
        var btns = header.getElementsByClassName("nav-link");
        for (var i = 0; i < btns.length; i++) {
            btns[i].addEventListener("click", function () {
                var current = document.getElementsByClassName("active");
                current[0].className = current[0].className.replace(" active", "");
                this.className += " active";
            });
        }
    </script>
</body>

</html>

