﻿@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Mvc;
@{
    string viewName = this.ViewContext.ActionDescriptor.DisplayName.Substring(1).ToLower();
    string title = Char.ToUpper(viewName[0]) + viewName.Substring(1);
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewData["Title"]</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    @* Uncomment to use the HtmlEditor control *@
    @* <script src="https://cdnjs.cloudflare.com/ajax/libs/quill/1.3.6/quill.min.js"></script> *@

    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.10.1/polyfill.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/3.8.0/exceljs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>

    <link rel="stylesheet" href="~/css/vendor.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Site.css" />
    <script src="~/js/vendor.js" asp-append-version="true"></script>



    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/@@goongmaps/goong-js@1.0.9/dist/goong-js.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/@@goongmaps/goong-js@1.0.9/dist/goong-js.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/@@mapbox/polyline/src/polyline.js"></script>
    <script src="https://unpkg.com/@@goongmaps/goong-sdk/umd/goong-sdk.min.js"></script>
    <!-- Load the `goong-geocoder` plugin. -->
    <script src="https://cdn.jsdelivr.net/npm/@@goongmaps/goong-geocoder@1.1.1/dist/goong-geocoder.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/@@goongmaps/goong-geocoder@1.1.1/dist/goong-geocoder.css"
          rel="stylesheet"
          type="text/css" />
    <!-- Promise polyfill script is required -->
    <!-- to use Goong Geocoder in IE 11. -->
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.3.1/dist/sweetalert2.all.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.3.1/dist/sweetalert2.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

    <!-- Diagram and Gantt -->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/devexpress-diagram/2.1.45/dx-diagram.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/devexpress-gantt/4.0.3/dx-gantt.min.js"></script>-->
    <!-- DevExtreme Quill (required by the HtmlEditor UI component) -->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/devextreme-quill/1.5.10/dx-quill.min.js"></script>-->
    <!-- DevExtreme library -->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/devextreme/21.2.5/js/dx.all.js"></script>-->
    <!-- DevExpress.AspNet.Data -->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/devextreme-aspnet-data/2.8.6/dx.aspnet.data.min.js"></script>-->


    <script>
        var DevAV = DevAV || {};
    </script>
    <style>
        #myBtn {
            display: none;
            position: fixed;
            bottom: 0px;
            right: 0px;
            z-index: 99;
            font-size: 18px;
            border: none;
            outline: none;
            background-color: red;
            color: white;
            cursor: pointer;
            padding: 15px;
            border-radius: 4px;
        }

            #myBtn:hover {
                background-color: #555;
            }

        #layout-toolbar {
            /*background-color:#00ffff;*/
            /*position: fixed;
            top: 0;
            overflow: hidden;
            z-index: 30000;
            background-color:aqua;
            opacity:0.9;*/
        }

        #layout-drawer {
            /* position: fixed;
            top: 0;*/
            min-height: 812px;
            overflow: auto;
            /*padding-top: 40px;*/
        }



        body {
            width: 100%;
            background: #e7e9ed;
        }

        #content {
            padding: 10px 20px;
        }

        #logout {
            color: red;
        }

        .dx-theme-accent-as-text-color {
            color: #ff6a00 !important;
        }

        .dx-theme-accent-as-background-color {
            background-color: #337ab7 !important;
            fill: #337ab7 !important;
            opacity: 0.9;
        }

        #layout-toolbar {
            background: #fff;
            /*position: fixed;
            top: 0;
            z-index: 999999;*/
        }

        .logo {
            line-height: 48px;
        }

            .logo img {
                vertical-align: middle;
                margin: 0 1px;
            }

        .footer {
            width: 100%;
            height: auto;
            color: #96989a;
            margin: 0 0 10px;
            padding: 0;
            position: relative;
        }

        .footer .logo {
            position: absolute;
            bottom: 10px;
            left: 67px;
            width: 50px;
            height: 50px;
            background-image: url(../image/logo.jpg);
            background-repeat: no-repeat;
            background-size: 50px 50px;
        }

        .footer .copy,
        .footer .social {
            display: inline-block;
        }

        .footer .copy {
            margin-left: 210px;
            padding: 6px 20px 4px;
            border-left: 1px solid #bebfc3;
        }

        .footer .social {
            float: right;
            padding: 11px 20px 10px 0;
        }

        .footer .social a {
            background-size: auto;
            background-image: url(../image/sprite.png);
            background-repeat: no-repeat;
            height: 26px;
            width: 24px;
            display: inline-block;
        }

        .footer .social a.facebook {
            background-position: -24px -92px;
        }

        .footer .social a.twitter {
            background-position: -72px -92px;
        }

        .footer .social a.google-plus {
            background-position: -48px -92px;
        }

        .footer .social a.youtube {
            background-position: -96px -92px;
        }

        .footer .social a.blogs {
            background-position: 0 -92px;
        }
    </style>

</head>

<body>
    @(Html.DevExtreme().Toolbar()
        .ID("layout-toolbar")
        .Items(items =>
        {
            items.Add().Widget(w => w.Button()
               .ID("btn-menu")
               .Icon("menu")
               .OnClick("button_clickHandler")
           ).Location(ToolbarItemLocation.Before);

                items.Add().Template(@<text>
                                                 @if( @HttpContextAccessor.HttpContext.Session.GetString("Username")!=null){
                                                      <div id="username" style="color:darkblue">
                                                            @HttpContextAccessor.HttpContext.Session.GetString("Username")
                                                      </div>
                                                  }
                                         </text>).Location(ToolbarItemLocation.After);

                @*items.Add().Widget(w => w.Button()
                        .Icon("fas fa-sign-in-alt")
                        .ElementAttr("class", "dx-theme-accent-as-text-color")
                        .ID("logout")
                         .OnClick(@<text>
                                    function(e){ location.href = "@Url.Action("Logout", "User")"; }
                                </text>)
                                ).Location(ToolbarItemLocation.After);*@

            //   items.Add().Widget(w => w.Menu()
            //   .ID("menu")
            //   .ShowSubmenuMode(s=>s.Name(ShowSubmenuMode.OnHover).Delay(d=>d.Show(0).Hide(500)))
            //   .ShowFirstSubmenuMode(s=>s.Name(ShowSubmenuMode.OnHover))
            //   .HideSubmenuOnMouseLeave(true)
            //   .DataSource(d => d.Mvc().Controller("ReceiptRequisition").LoadAction("GetMenu"))
            //   .HideSubmenuOnMouseLeave(false)
            //   .OnItemClick("menuItem_click2")
            //  )
            ////.LocateInMenu(ToolbarItemLocateInMenuMode.Always)
            //.Location(ToolbarItemLocation.Before);


        })
                )
    @(Html.DevExtreme().Drawer()
        .ID("layout-drawer")
        .MinSize(37)
        .Opened(new JS("JSON.parse(sessionStorage.getItem('isDrawerOpen'))"))
        //.Opened(true)
        .RevealMode(DrawerRevealMode.Expand)
        .OpenedStateMode(DrawerOpenedStateMode.Shrink)
        .Template(@<text>
            @(Html.DevExtreme().List()
                .ID("drawer-list")
                .ElementAttr("class", "panel-list dx-theme-accent-as-background-color")
                .Width(200)
                .OnInitialized("list_onInitialized")
                .Items(items => {
                    items.Add().Text("Yêu cầu nhập").Icon("box").Option("path", @Url.Action("Index", "ReceiptRequisition"));
                    items.Add().Text("Dữ liệu nhập").Icon("box").Option("path", @Url.Action("Index", "ReceiptData"));
                    items.Add().Text("Dữ liệu hàng hóa").Icon("box").Option("path", @Url.Action("Index", "GoodsData"));
                    //items.Add().Template(new TemplateName("menu-template"));
                })
                .KeyExpr("path")
                .SelectionMode(ListSelectionMode.Single)
                .OnSelectionChanged("list_onSelectionChanged")
            )
        </text>)
        .Content(@<text>
                     <div id="content">@RenderBody()</div>
                    @*<div class="row">
                        <div class="col-sm-1">
                            @(Html.DevExtreme().Menu()
                                .ID("menu8")
                                    .ShowSubmenuMode(s => s.Name(ShowSubmenuMode.OnHover).Delay(d => d.Show(0).Hide(500)))
                                    .DataSource(d => d.Mvc().Controller("ReceiptRequisition").LoadAction("GetMenu"))
                                    .HideSubmenuOnMouseLeave(false)
                                    .OnItemClick("menuItem_click2")
                            )
                            @(Html.DevExtreme().TreeView()
                                .ID("simple-treeview")
                                .DataSource(d => d.Mvc().Controller("ReceiptRequisition").LoadAction("GetMenu"))
                                .DisplayExpr("text")
                                .ItemsExpr("items")
                                .ExpandedExpr("true")
                                .Width(300)

                            )
                        </div>

                    </div>*@
                </text>)
    )

    @using (Html.DevExtreme().NamedTemplate("menu-template"))
    {
        @(Html.DevExtreme().Menu()
            .ID("menu")
            .Orientation(Orientation.Vertical)
            .ShowSubmenuMode(s=>s.Name(ShowSubmenuMode.OnHover).Delay(d=>d.Show(0).Hide(500)))
            .ShowFirstSubmenuMode(s=>s.Name(ShowSubmenuMode.OnHover))
            .HideSubmenuOnMouseLeave(true)
            .DataSource(d => d.Mvc().Controller("ReceiptRequisition").LoadAction("GetMenu"))
            .HideSubmenuOnMouseLeave(false)
            .OnItemClick("menuItem_click2")
        )

    }


    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

    <script>
        //Get the button
        var mybutton = document.getElementById("myBtn");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>

    <script type="text/javascript">
        var menuItems = [{
            icon: '../avatar/@HttpContextAccessor.HttpContext.Session.GetString("Avatar")',
             //icon: '../avatar/noimage.png',
            items: [
                { name: 'Đổi mật khẩu'},
                { name: 'Đăng xuất'}
            ]
        }];

        $(function () {
            $("#menu-right").dxMenu({
                items: menuItems,
                displayExpr: "name"
            });
        });




        function menuItem_click(data) {
            var item = data.itemData;
            if (item.name == 'Đổi mật khẩu') {
                location.href = "@Url.Action("ChangePasswordAdmin", "User")";
            }
            if (item.name == 'Đăng xuất') {
                location.href = "@Url.Action("Logout", "User")";
            }
        }

        function menuItem_click2(data) {
            var item = data.itemData;
            if (item.controller != null) {

                location.href = item.controller;
            }

        }



        function button_clickHandler() {
            const drawer = $("#layout-drawer").dxDrawer("instance");
            if (drawer.option("opened") == true) {
                $("#btn-menu").dxButton("instance").option("icon", "menu");
            }
            else {
                $("#btn-menu").dxButton("instance").option("icon", "close");
            }
            drawer.toggle();
            sessionStorage.setItem("isDrawerOpen", JSON.stringify(drawer.option("opened")));
        }
        function list_onSelectionChanged(e) {
            const drawer = $("#layout-drawer").dxDrawer("instance");
            drawer.hide();
            sessionStorage.setItem("isDrawerOpen", JSON.stringify(drawer.option("opened")));
            document.location.pathname = e.addedItems[0].path;
        }
        function list_onInitialized(e) {
            const t = "@Url.Action()";
            e.component.option("selectedItemKeys", [ "@Url.Action()" ])
        }
    </script>

    <footer class="footer">
        <div class="logo"></div>
        <div class="copy">
            Powered by HaPhan JSC&copy;<br />
            <a href="https://erp.haphan.com" target="_blank">ERP HAPHAN</a>
        </div>
    </footer>

    <script src="~/js/wms/receipt-requisition.js"></script>
    <script src="~/js/wms/receipt-data.js"></script>
    <script src="~/js/wms/goods-data.js"></script>

</body>

</html>



