﻿@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    string viewName = this.ViewContext.ActionDescriptor.DisplayName.Substring(1).ToLower();
    string title = Char.ToUpper(viewName[0]) + viewName.Substring(1);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewData["Title"]</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    @* Uncomment to use the HtmlEditor control *@
    @* <script src="https://cdnjs.cloudflare.com/ajax/libs/quill/1.3.6/quill.min.js"></script> *@

    <link rel="stylesheet" href="~/css/vendor.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Site.css" />
    <script src="~/js/vendor.js" asp-append-version="true"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/@@goongmaps/goong-js@1.0.9/dist/goong-js.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/@@goongmaps/goong-js@1.0.9/dist/goong-js.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/@@mapbox/polyline/src/polyline.js"></script>
    <script src="https://unpkg.com/@@goongmaps/goong-sdk/umd/goong-sdk.min.js"></script>
    <!-- Load the `goong-geocoder` plugin. -->
    <script src="https://cdn.jsdelivr.net/npm/@@goongmaps/goong-geocoder@1.1.1/dist/goong-geocoder.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/@@goongmaps/goong-geocoder@1.1.1/dist/goong-geocoder.css"
          rel="stylesheet"
          type="text/css" />
    <!-- Promise polyfill script is required -->
    <!-- to use Goong Geocoder in IE 11. -->
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <script src="https://js.pusher.com/7.0/pusher.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/dx.generic.custom-scheme.css">

    <script>
        var DevAV = DevAV || {};
    </script>
    <style>
                #myBtn {
                    display: none;
                    position: fixed;
                    bottom: 20px;
                    right: 30px;
                    z-index: 99;
                    font-size: 18px;
                    border: none;
                    outline: none;
                    background-color: red;
                    color: white;
                    cursor: pointer;
                    padding: 15px;
                    border-radius: 4px;
                }

                    #myBtn:hover {
                        background-color: #555;
                    }

                #layout-drawer {
                    position: relative;
                    min-height: 812px;
                    overflow: auto
                }




                body {
                    /* Margin bottom by footer height */
                    width: 100%;
                    background: #e7e9ed;
                    /*margin-bottom: 60px;*/
                }

                #content {
                    padding: 5px 5px;
                    position: relative;
                    min-height: 752px;
                    /*margin: 34px 20px 20px 0;*/
                    background-color: transparent;
                }

                #logout {
                    color: red;
                }
                /**/
                dx-theme-accent-as-text-color {
                    color: #ff6a00 !important;
                }

                .dx-theme-accent-as-background-color {
                    background-color: #337ab7 !important;
                    fill: #337ab7 !important;
                    opacity: 0.9;
                }

                /*  #layout-toolbar {
                    background: #fff;
                }*/

                .dx-toolbar {
                    /*background-color: rgb(191 191 191 / 0.15);*/
                    padding: 5px 10px;
                }

                /*.dx-list-item-icon-container, .dx-toolbar-before {*/
                /* width: 36px;
                    padding-right: 0px !important;
                    text-align: center;*/
                /*}

                .dx-list-item-content {
                    padding-left: 10px !important;
                }*/

                /* .dx-button {
                    background-color: rgba(191, 191, 191, -0.15);
                    border: none;
                }*/

                /*.panel-list {
                    height: 400px;
                }
        */

                /* .panel-list .dx-list-item {
                        color: #fff;
                        border-top: 1px solid rgba(221, 221, 221, .2);
                    }

                        .panel-list .dx-list-item .dx-icon {
                            color: #fff !important;
                        }*/

                .logo {
                    line-height: 48px;
                }

                    .logo img {
                        vertical-align: middle;
                        margin: 0 1px;
                    }


                .footer {
                    width: 100%;
                    height: auto;
                    color: #96989a;
                    margin: 0 0 10px;
                    padding: 0;
                    position: relative;
                }

                    .footer .logo {
                        position: absolute;
                        bottom: 10px;
                        left: 15px;
                        width: 50px;
                        height: 50px;
                        background-image: url(../image/logo.jpg);
                        background-repeat: no-repeat;
                        background-size: 50px 50px;
                    }

                    .footer .copy,
                    .footer .social {
                        display: inline-block;
                    }

                    .footer .copy {
                        margin-left: 210px;
                        padding: 6px 20px 4px;
                        border-left: 1px solid #bebfc3;
                    }

                    .footer .social {
                        float: right;
                        padding: 11px 20px 10px 0;
                    }

                        .footer .social a {
                            background-size: auto;
                            background-image: url(../image/sprite.png);
                            background-repeat: no-repeat;
                            height: 26px;
                            width: 24px;
                            display: inline-block;
                        }

                            .footer .social a.facebook {
                                background-position: -24px -92px;
                            }

                            .footer .social a.twitter {
                                background-position: -72px -92px;
                            }

                            .footer .social a.google-plus {
                                background-position: -48px -92px;
                            }

                            .footer .social a.youtube {
                                background-position: -96px -92px;
                            }

                            .footer .social a.blogs {
                                background-position: 0 -92px;
                            }
    </style>

</head>

<body>
    @(Html.DevExtreme().Toolbar()
        .ID("layout-toolbar")
        .Items(items =>
        {
            items.Add().Widget(w => w.Button()
                .ID("btn-menu")
                .Icon("menu")
                .OnClick("button_clickHandler")
            ).Location(ToolbarItemLocation.Before);
             items.Add().Template(@<text>
                                            <div class="logo">
                                                <img id="title-img" src="~/image/dashboard-user.png" />
                                            </div>

                                     </text>).Location(ToolbarItemLocation.Before);

            items.Add().Template(@<text>

                                         @if( @HttpContextAccessor.HttpContext.Session.GetString("Username")!=null){
                                             <div style="color:darkblue">
                                                @HttpContextAccessor.HttpContext.Session.GetString("Username")
                                             </div>
                                          }
                                 </text>).Location(ToolbarItemLocation.After);

            @*items.Add().Widget(w => w.Button()
                .Icon("fas fa-sign-in-alt")
                .ID("logout")
                 .OnClick(@<text>
                    function(e){ location.href = "@Url.Action("Logout", "User")"; }
                </text>)
            ).Location(ToolbarItemLocation.After);*@
            items.Add().Widget(w => w.Menu()
               .ID("menu-right")
               .OnItemClick("menuItem_click")
           )
            //.LocateInMenu(ToolbarItemLocateInMenuMode.Always)
            .Location(ToolbarItemLocation.After);
        })
    )
    @(Html.DevExtreme().Drawer()
        .ID("layout-drawer")
        //.MinSize(37)
        .Position(DrawerPosition.Left)
        .Opened(new JS("JSON.parse(sessionStorage.getItem('isDrawerOpen2'))"))
        .RevealMode(DrawerRevealMode.Slide)
        .OpenedStateMode(DrawerOpenedStateMode.Shrink)
        .Template(@<text>
            @(Html.DevExtreme().List()
                .Width(200)
                .OnInitialized("list_onInitialized")
                .ElementAttr("class", "panel-list")
                .HoverStateEnabled(true)
                .FocusStateEnabled(true)
                .ActiveStateEnabled(true)
                .Items(items => {
                    items.Add().Text("Home").Icon("home").Option("path",@Url.Action("Index","UserHome"));
                    items.Add().Text("Đơn hàng").Icon("cart").Option("path", @Url.Action("Index","UserOrder"));
                    items.Add().Text("Thông tin cá nhân").Icon("user").Option("path", @Url.Action("UserDetail", "User"));
                    //items.Add().Text("Đổi mật khẩu").Icon("key").Option("path", @Url.Action("ChangePasswordUser", "User"));
                    items.Add().Text("Logout").Icon("runner").Option("path", @Url.Action("Logout","User"));
                })
                .KeyExpr("path")
                .SelectionMode(ListSelectionMode.Single)
                .OnSelectionChanged("list_onSelectionChanged")
            )
        </text>)
        .Content(@<text><div id="content">@RenderBody()</div></text>)
    )

    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

    <script>
        //Get the button
        var mybutton = document.getElementById("myBtn");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>

    <script type="text/javascript">
        var menuItems = [{
            icon: '../avatar/@HttpContextAccessor.HttpContext.Session.GetString("Avatar")',
            //icon: '../avatar/noimage.png',
            items: [
                { name: 'Đổi mật khẩu'},
                { name: 'Đăng xuất'}
            ]
        }];

        $(function () {
            $("#menu-right").dxMenu({
                items: menuItems,
                displayExpr: "name"
            });
        });




        function menuItem_click(data) {
            var item = data.itemData;
            if (item.name == 'Đổi mật khẩu') {
                location.href = "@Url.Action("ChangePasswordUser", "User")";
            }
            if (item.name == 'Đăng xuất') {
                location.href = "@Url.Action("Logout", "User")";
            }
    }

    function button_clickHandler() {
        const drawer = $("#layout-drawer").dxDrawer("instance");
        if (drawer.option("opened") == true) {
            $("#btn-menu").dxButton("instance").option("icon", "menu");
        }
        else {
            $("#btn-menu").dxButton("instance").option("icon", "close");
        }
        drawer.toggle();
        sessionStorage.setItem("isDrawerOpen2", JSON.stringify(drawer.option("opened")));
    }

        function list_onSelectionChanged(e) {
            const drawer = $("#layout-drawer").dxDrawer("instance");
            drawer.hide();
            sessionStorage.setItem("isDrawerOpen2", JSON.stringify(drawer.option("opened")));
            document.location.pathname = e.addedItems[0].path;
        }
        function list_onInitialized(e) {
            const t = "@Url.Action()";
            e.component.option("selectedItemKeys", [ "@Url.Action()" ])
        }
    </script>


    <footer class="footer">
        <div class="logo"></div>
        <div class="copy">
            Powered by HaPhan JSC&copy;<br />
            <a href="https://erp.haphan.com" target="_blank">ERP HAPHAN</a>
        </div>
    </footer>


    <script src="~/js/order-map-popup-user.js"></script>
    <script src="~/js/user-order.js"></script>
    <script src="~/js/script.js"></script>


    <script>

        // Enable pusher logging - don't include this in production
        @*Pusher.logToConsole = true;

        var pusher = new Pusher('ec1c83173397d553f3e1', {
            cluster: 'ap1'
        });

        var channel = pusher.subscribe('my-channel-@HttpContextAccessor.HttpContext.Session.GetString("Username")');
        channel.bind('my-event-@HttpContextAccessor.HttpContext.Session.GetString("Username")', function (data) {
            alert(JSON.stringify(data));
        });*@
    </script>



</body>

</html>


