﻿@{
    ViewData["Title"] = "Danh sách nghiệp vụ";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<style>
    .btn{
        width:300px;
        height:150px;
        border:solid;
        border-width:2px;
        border-color:palevioletred;
        margin:10px;
    }

    .ic {
        margin: auto;
    }
</style>
<div class="ic">
    <button class="btn btn-default" onclick="location.href='@Url.Action("Login", "User")'">
        <img src="~/logo/delivery-logo.jpg" width="160" />
    </button>
    <button class="btn btn-default" onclick="location.href='http://bill.haphan.com'">
        <img src="~/logo/receiver-logo.jpg" width="140" />
    </button>
    <button class="btn btn-default" onclick="location.href='@Url.Action("Index", "AlphaTraceHome")'">
        <img src="~/alpha_trace/logo.png" width="200" />
    </button>
    <button class="btn btn-default" onclick="location.href='@Url.Action("Login", "UserWMS")'">
        <img src="~/logo/wms-logo.jpg" width="210" />
    </button>
    <button class="btn btn-default" onclick="location.href='@Url.Action("Login", "UserReportApprove")'">
        <img src="~/logo/offer_approve.png" width="180" />
    </button>
</div>