﻿@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<style>
    .table-wrapper {
        width: 700px;
        margin: 30px auto;
        background: #fff;
        padding: 20px;
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
    }

    .table-title {
        padding-bottom: 10px;
        margin: 0 0 10px;
    }

        .table-title h2 {
            margin: 6px 0 0;
            font-size: 22px;
        }

        .table-title .add-new {
            float: right;
            height: 30px;
            font-weight: bold;
            font-size: 12px;
            text-shadow: none;
            min-width: 100px;
            border-radius: 50px;
            line-height: 13px;
        }

            .table-title .add-new i {
                margin-right: 4px;
            }

    table.table {
        table-layout: fixed;
    }

        table.table tr th, table.table tr td {
            border-color: #e9e9e9;
        }

        table.table th i {
            font-size: 13px;
            margin: 0 5px;
            cursor: pointer;
        }

        table.table th:last-child {
            width: 100px;
        }

        table.table td a {
            cursor: pointer;
            display: inline-block;
            margin: 0 5px;
            min-width: 24px;
        }

            table.table td a.add {
                color: #27C46B;
            }

            table.table td a.edit {
                color: #FFC107;
            }

            table.table td a.delete {
                color: #E34724;
            }

        table.table td i {
            font-size: 19px;
        }

        table.table td a.add i {
            font-size: 24px;
            margin-right: -1px;
            position: relative;
            top: 3px;
        }

        table.table .form-control {
            height: 32px;
            line-height: 32px;
            box-shadow: none;
            border-radius: 2px;
        }

            table.table .form-control.error {
                border-color: #f50000;
            }

        table.table td .add {
            display: none;
        }
</style>
@(Html.DevExtreme().Popup()
        .ID("popup-create-request-reimbursement")
        .Width("auto")
        .Height("600")
        .FullScreen(false)
        .Position(PositionAlignment.Center)
        .Container(".dx-viewport")
        .ShowTitle(true)
        .Title("Tạo đề xuất book grab")
        .DragEnabled(false)
        .CloseOnOutsideClick(false)
        .ShowCloseButton(false)
        .ContentTemplate(new TemplateName("popup-create-request-reimbursement-template"))
        .DeferRendering(true)
        .ToolbarItems(barItems => {
            barItems.Add()
                .Toolbar(Toolbar.Bottom)
                .Location(ToolbarItemLocation.After)
                .Widget(widget => widget.Button()
                    .Text("Thoát")
                    .Type(ButtonType.Danger)
                    .StylingMode(ButtonStylingMode.Outlined)
                    .OnClick(@<text>
                                function hideInfo(data) {
                                    const popup = $("#popup-create-request-reimbursement").dxPopup("instance");
                                    popup.hide();
                                }
                            </text>)
                );
            barItems.Add()
                .Toolbar(Toolbar.Bottom)
                .Location(ToolbarItemLocation.After)
                .Widget(widget => widget.Button()
                    .Text("Tạo đề xuất mới")
                    .Type(ButtonType.Success)
                    .StylingMode(ButtonStylingMode.Outlined)
                    .UseSubmitBehavior(false)
                    .OnClick("DevAV.requestReimbursements.createNewRequest")
                );
        })
    )


@using (Html.DevExtreme().NamedTemplate("popup-create-request-reimbursement-template"))
{
    @(Html.DevExtreme().ScrollView()
        .Width("100%")
        .Height("100%")
        .Content(@<text>

    @using (Html.BeginForm())
    {

        using (Html.DevExtreme().ValidationGroup())
        {

            @Html.AntiForgeryToken()

            @(Html.DevExtreme().Form()
            .ID("request-form")
            .ShowColonAfterLabel(true)
            .Height("auto")
            .ShowValidationSummary(false)
            .ScrollingEnabled(true)
            .Items(items => {


                items.AddGroup()
                        .Items(groupItems => {

                            groupItems.AddSimple().DataField("RequestTitle").Label(l => l.Text("Tiêu đề đề xuất"))
                                .Editor(e => e
                                    .TextBox()
                                    .ID("request-title")
                                    .Value("Đề nghị hoàn ứng")
                                );
                            groupItems.AddSimple().DataField("RequestType").Label(l => l.Text("Nhóm đề xuất"))
                                .Editor(e => e
                                    .SelectBox()
                                    .ID("request-type")
                                    .DataSource(new JS("request_type"))
                                    .ValueExpr("text")
                                    .DisplayExpr("text")
                                    .Value("Đề nghị hoàn ứng")
                                );
                            groupItems.AddSimple().DataField("CreateDate").Label(l => l.Text("Ngày trình"))
                             .Editor(e => e
                                 .DateBox()
                                 .ID("create-date")
                                 .Type(DateBoxType.Date)
                                 .DisplayFormat("yyyy/MM/dd")
                                 .Value(DateTime.Now)
                                 .ReadOnly(true)
                             );
                            groupItems.AddSimple().DataField("CreateName").Label(l => l.Text("Người trình"))
                                .Editor(e => e
                                    .TextBox()
                                    .ID("create-name")
                                    .Value(HttpContextAccessor.HttpContext.Session.GetString("Username"))
                                    .Visible(true)
                                    .ReadOnly(true)
                                );
                            groupItems.AddSimple().DataField("CreateEmail").Label(l => l.Text("Email"))
                              .Editor(e => e
                                  .TextBox()
                                  .ID("create-email")
                                  .Value(HttpContextAccessor.HttpContext.Session.GetString("Email"))
                                  .ReadOnly(true)
                              );

                            groupItems.AddSimple().DataField("CreateDepartment").Label(l => l.Text("Bộ phận"))
                             .Editor(e => e
                                 .TextBox()
                                 .ID("create-department")
                                 .Value(HttpContextAccessor.HttpContext.Session.GetString("Department"))
                                 .ReadOnly(true)
                             );
                            groupItems.AddSimple().DataField("Approvers").Label(l => l.Text("Người duyệt"))
                             .Editor(e => e
                                 .SelectBox()
                                 .ID("approvers")
                                 .DataSourceOptions(o => o.Group("Department"))
                                .Grouped(true)
                                 .DataSource(d => d
                                   .Mvc()
                                   .Controller("UserNewApi")
                                   .LoadAction("GetApprovers")
                                   .LoadMode(DataSourceLoadMode.Raw)
                                   .Key("UserID")
                               )
                               .DisplayExpr(new JS("displayExpr"))
                               .ValueExpr("UserName")
                               .SearchEnabled(true)
                             );
                            groupItems.AddSimple().DataField("Followers").Label(l => l.Text("Người theo dõi"))
                              .Editor(e => e
                                  .TagBox()
                                  .ShowMultiTagOnly(false)
                                  .ID("followers")
                                  .MaxLength(2)
                                  .DataSourceOptions(o => o.Group("Department"))
                                  .Grouped(true)
                                  .HideSelectedItems(true)
                                  .DataSource(d => d
                                    .Mvc()
                                    .Controller("UserNewApi")
                                    .LoadAction("GetFollowers")
                                    .LoadMode(DataSourceLoadMode.Raw)
                                    .Key("UserID")
                                )
                                .DisplayExpr(new JS("displayExpr"))
                                .ValueExpr("UserName")
                                .SearchEnabled(true)
                              );
                            groupItems.AddSimple().DataField("ProcessingTime").Label(l => l.Text("Thời hạn xử lý"))
                              .Editor(e => e
                                  .DateBox()
                                  .ID("processing-time")
                                  .Type(DateBoxType.DateTime)
                              );


                            groupItems.AddSimple().Template(new TemplateName("request-reimbursement-detail-template"));

                            groupItems.AddSimple().DataField("RequestNumber").Label(l => l.Text("Số đề nghị"))
                               .Editor(e => e
                                   .TextBox()
                                   .ID("request-number")
                               );

                            groupItems.AddSimple().DataField("AdvanceAmount").Label(l => l.Text("Số tiền tạm ứng"))
                              .Editor(e => e
                                  .TextBox()
                                  .ID("advance-amount")
                                  .Value("0")
                              );

                            groupItems.AddSimple().DataField("RemainingAmount").Label(l => l.Text("Số tiền còn lại"))
                              .Editor(e => e
                                  .TextBox()
                                  .ID("remaining-amount")
                                  .Value("0")
                                  
                              );

                            groupItems.AddSimple().DataField("TotalAmount").Label(l => l.Text("Tổng tiền"))
                             .Editor(e => e
                                 .TextBox()
                                 .ID("total-amount")
                                 .ReadOnly(true)
                             );


                            groupItems.AddSimple().DataField("Currency").Label(l => l.Text("Loại tiền tệ"))
                              .Editor(e => e
                                  .SelectBox()
                                  .ID("currency")
                                  .DataSource(new JS("currency"))
                                   .ValueExpr("text")
                                   .DisplayExpr("text")
                                   .Value("VND")
                              );

                            groupItems.AddSimple().DataField("Payment").Label(l => l.Text("Hình thức thanh toán"))
                              .Editor(e => e
                                  .SelectBox()
                                  .ID("payment")
                                  .DataSource(new JS("payment"))
                                   .ValueExpr("text")
                                   .DisplayExpr("text")
                                   .Value("Tiền mặt")
                              );

                            groupItems.AddSimple().DataField("TimeOfPayment").Label(l => l.Text("Thời hạn thanh toán"))
                            .Editor(e => e
                                .DateBox()
                                .ID("time-of-payment")
                                .Type(DateBoxType.DateTime)
                            );

                            groupItems.AddSimple().DataField("CustomerName").Label(l => l.Text("Nhà cung cấp"))
                               .Editor(e => e
                                   .TextBox()
                                   .ID("customer-name")
                               );
                            groupItems.AddSimple().DataField("Beneficiary").Label(l => l.Text("Người thụ hưởng"))
                               .Editor(e => e
                                   .TextBox()
                                   .ID("beneficiary")
                               );
                            groupItems.AddSimple().DataField("BeneficiaryAccount").Label(l => l.Text("Số tài khoản thụ hưởng"))
                              .Editor(e => e
                                  .TextBox()
                                  .ID("beneficiary-account")
                              );
                            groupItems.AddSimple().DataField("BankAt").Label(l => l.Text("Tại ngân hàng"))
                              .Editor(e => e
                                  .TextBox()
                                  .ID("bank-at")
                              );
                            groupItems.AddSimple().DataField("TradingDepartment").Label(l => l.Text("Bộ phận giao dịch"))
                             .Editor(e => e
                                 .TextBox()
                                 .ID("trading-department")
                                 .Value(HttpContextAccessor.HttpContext.Session.GetString("Department"))
                                 .ReadOnly(true)
                             );

                            groupItems.AddSimple().DataField("InspectionStaff").Label(l => l.Text("Nhân viên kiểm tra"))
                             .Editor(e => e
                                 .SelectBox()
                                 .ID("inspection-staff")
                                 .DataSourceOptions(o => o.Group("Department"))
                                .Grouped(true)
                                 .DataSource(d => d
                                   .Mvc()
                                   .Controller("UserNewApi")
                                   .LoadAction("GetStaffUnderDepartmentAndRanks")
                                   .LoadParams(new {department="null",rank="0"})
                                   .LoadMode(DataSourceLoadMode.Raw)
                                   .Key("UserID")
                               )
                               .DisplayExpr(new JS("displayExpr"))
                               .ValueExpr("UserName")
                               .SearchEnabled(true)
                             );

                            groupItems.AddSimple().DataField("AccountingPayment").Label(l => l.Text("Kế toán thanh toán"))
                             .Editor(e => e
                                 .SelectBox()
                                 .ID("accounting-payment")
                                 .DataSourceOptions(o => o.Group("Department"))
                                .Grouped(true)
                                 .DataSource(d => d
                                   .Mvc()
                                   .Controller("UserNewApi")
                                   .LoadAction("GetStaffUnderDepartmentAndRanks")
                                   .LoadParams(new { department = "KẾ TOÁN HÀ PHAN,KẾ TOÁN ĐỆ NHẤT", rank = "0" })
                                   .LoadMode(DataSourceLoadMode.Raw)
                                   .Key("UserID")
                               )
                               .DisplayExpr(new JS("displayExpr"))
                               .ValueExpr("UserName")
                               .SearchEnabled(true)
                             );

                            groupItems.AddSimple().DataField("ChiefAccountant").Label(l => l.Text("Kế toán trưởng"))
                             .Editor(e => e
                                 .SelectBox()
                                 .ID("chief-accountant")
                                 .DataSourceOptions(o => o.Group("Department"))
                                .Grouped(true)
                                 .DataSource(d => d
                                   .Mvc()
                                   .Controller("UserNewApi")
                                   .LoadAction("GetStaffUnderDepartmentAndRanks")
                                   .LoadParams(new { department = "KẾ TOÁN HÀ PHAN,KẾ TOÁN ĐỆ NHẤT", rank = "1" })
                                   .LoadMode(DataSourceLoadMode.Raw)
                                   .Key("UserID")
                               )
                               .DisplayExpr(new JS("displayExpr"))
                               .ValueExpr("UserName")
                               .SearchEnabled(true)
                             );

                            groupItems.AddSimple().DataField("LineManager").Label(l => l.Text("Quản lý chuyên môn"))
                             .Editor(e => e
                                 .SelectBox()
                                 .ID("line-manager")
                                 .DataSourceOptions(o => o.Group("Department"))
                                .Grouped(true)
                                 .DataSource(d => d
                                   .Mvc()
                                   .Controller("UserNewApi")
                                   .LoadAction("GetStaffUnderDepartmentAndRanks")
                                   .LoadParams(new { department = "BAN GIÁM ĐỐC- BAN KIỂM SOÁT", rank = "2" })
                                   .LoadMode(DataSourceLoadMode.Raw)
                                   .Key("UserID")
                               )
                               .DisplayExpr(new JS("displayExpr"))
                               .ValueExpr("UserName")
                               .SearchEnabled(true)
                             );

                        });
            })
        )
        }
    }

</text>)
    )

}

@using (Html.DevExtreme().NamedTemplate("request-reimbursement-detail-template"))
{
    <div class="col-md-12 mt-1 mb-2"><button type="button" id="add" class="btn btn-success">Add</button></div>
    <table id="reimbursement-table" class="display nowrap" style="width:100%">
        <thead>
            <tr>
                <th>Nội dung thanh toán</th>
                <th>Số tiền</th>
                <th>Số chứng từ</th>
                <th>Ghi chú</th>
                <th></th>
            </tr>
        </thead>
    </table>
}

<script>
    function displayExpr(item) {
        return item && item.FullName + '( ' + item.Position + ')';
    }

    $(document).ready(function () {
        
    });

</script>

<script src="~/js/reportapprove/request-type.js"></script>
<script src="~/js/reportapprove/currency.js"></script>
<script src="~/js/reportapprove/payment.js"></script>
<script src="~/js/reportapprove/request-reimbursement.js"></script>