﻿@model List<KeyValuePair<string, Byte[]>>
@{
    ViewData["Title"] = "Tra cứu sản phẩm";
    Layout = "~/Views/Shared/_LayoutAlphaTraceWeb.cshtml";
}
<script src="../js/html5-qrcode.min.js"></script>
<style>
    #accordion h2 {
        font-size: 25px;
        color: #ea2a2c;
        text-align: center;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #accordion h1 {
        font-size: 20px;
        color: #ea2a2c;
    }

    #accordion h1,
    #accordion p {
        margin: 0;
    }

    .dx-theme-material #accordion .dx-accordion-item-title {
        display: flex;
    }

    .dx-theme-material #accordion h1 {
        align-self: center;
    }

    /*banner check*/
    .banner-checkbow {
        position: relative;
        background-size: 100%;
        background-image: url('../alpha_trace/banner-checkbow.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 430px;
    }

    .checknow {
        position: relative;
        height: 500px;
        top: 50%;
        padding-top: 8.125rem;
        padding-left: 5rem;
        padding-right: 5rem;
    }

        .checknow h1 {
            font-size: 3rem;
            margin-bottom: 1.875rem;
            color: #ea2a2c;
            text-align: center;
        }

        .checknow .input-group {
            position: relative;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -ms-flex-align: stretch;
            align-items: stretch;
            width: 100%;
        }

    .form-control {
        height: 60px;
        border-color: #ea2a2c;
        padding-left: 12px;
        padding-right: 12px;
    }

    input, textarea, select, button, a {
        outline: none;
    }

    input, select {
        vertical-align: middle;
    }

    .input-group {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: stretch;
        align-items: stretch;
        width: 100%;
    }

    .input-group-append {
        margin-left: -1px;
    }

    .scan-mobile {
        text-align: center;
        margin-top: 1.25rem;
        position: absolute;
        right: 170px;
        top: -18px;
        display: none;
    }

        .scan-mobile img {
            width: 40px;
            height: 40px;
        }

    @@media screen and (min-width: 200px) and (max-width: 990px) {
        .scan-mobile {
            display: block;
        }
    }

    @@media screen and (min-width: 200px) and (max-width: 1024px) {
        .scan-mobile {
            display: block;
        }
    }

    @@media screen and (min-width: 200px) and (max-width: 520px) {
        .banner-checkbow .checknow .btn-checknow-main {
            background: #ea2a2c;
            color: #fff;
            height: 60px;
            width: 130px;
        }
    }

    .banner-checkbow .checknow .btn-checknow-main {
        background: #ea2a2c;
        color: #fff;
        height: 60px;
        width: 180px;
    }

    .btn:not(:disabled):not(.disabled) {
        cursor: pointer;
    }

    .btn {
        display: inline-block;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid transparent;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 0.25rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
</style>
<div id="accordion">
    <div class="banner-checkbow">
        <div class="container">
            <div class="checknow">
                <h1>
                    Tìm kiếm Sản phẩm
                </h1>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Nhập mã sản phẩm..." aria-label="" aria-describedby="basic-addon2" id="txtProductCode" name="txtProductCode">
                    <div class="input-group-append">
                        <button class="btn btn-checknow-main" type="button" id="btnSearchProduct" name="btnSearchProduct" onclick="getProductByID()">
                            Check Now
                        </button>
                    </div>
                    <div class="scan-mobile" wfd-invisible="true">
                        <a href="#!" class="btn" onclick="showPopupCamera()">
                            <img src="~/alpha_trace/qr-code.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="title-check" hidden>
        <h2>
            THÔNG TIN SẢN PHẨM
        </h2>
        <img id="productImage" width="100" height="100" class="center" style="margin-bottom:5px">
    </div>

    @(Html.DevExtreme().Accordion()
        .ID("accordion-container")
        .AnimationDuration(300)
        .Collapsible(true)
        .Multiple(true)
        .ActiveStateEnabled(true)
        .FocusStateEnabled(true)
        .NoDataText("Không có dữ liệu")
    )
</div>

@(Html.DevExtreme().Popup()
        .ID("popup-camera")
        .Width("600")
        .Height("400")
        .FullScreen(true)
        .Position(PositionAlignment.Center)

        .ShowTitle(true)
        .Title("Quét mã QR sản phẩm")
        .DragEnabled(false)
        .CloseOnOutsideClick(true)
        .ShowCloseButton(false)
        .ToolbarItems(barItems => {
            barItems.Add()
                .Toolbar(Toolbar.Top)
                .Location(ToolbarItemLocation.After)
                .Widget(widget => widget.Button()
                    .Icon("close")
                    .OnClick(@<text>
                                function hideInfo(data) {
                                const popup = $("#popup-camera").dxPopup("instance");
                                popup.hide();
                                }
                            </text>)
                );
        })
    )


@using (Html.DevExtreme().NamedTemplate("popup-read-qr-template"))
{
@*<table>
        <tbody>
            @foreach (KeyValuePair<string, Byte[]> k in Model)
                {
            <tr>
                <td>
                    <img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(k.Value))" width="80" height="80" />
                    <span>@Convert.ToBase64String(k.Value)</span>
                </td>
            </tr>
                }
        </tbody>
    </table>*@
}

@using (Html.DevExtreme().NamedTemplate("popup-camera-template"))
{
<!--<div class="container">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <canvas id="canvas" width=320 height=240 style="display:none"></canvas>
            <img class="img-responsive img-rounded" id="photo" alt="The screen capture will appear in this box." src="https://via.placeholder.com/320x240">
            <br />-->
 <!-- Trigger the modal as wll as VideoMedia with a button -->
<!--<button type="button" class="btn btn-primary center-block" data-toggle="modal" data-target="#myModal" data-backdrop="static" data-keyboard="false" onclick="startCapture()">Open Camera</button>
    </div>
</div>-->

 <!-- Modal -->
<!--<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">-->
 <!-- Modal content-->
<!--<div class="modal-content">
                <div class="modal-body">
                    <video id="player" style="width: 100%; height: auto; margin:0 auto; frameborder:0;" autoplay="autoplay"></video>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary center-block" id="capture" type="button" data-dismiss="modal">Take Photo</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
        //set the variable of id const
        const player = document.getElementById('player');
        const canvas = document.getElementById('canvas');
        const photo = document.getElementById('photo');
        const context = canvas.getContext('2d');
        const captureButton = document.getElementById('capture');

        captureButton.addEventListener('click', () => {
            //cheking if camera is on
            if (player.srcObject != null) {
                context.drawImage(player, 0, 0, canvas.width, canvas.height);
                var data = canvas.toDataURL('image/jpg');
                console.log(data);
                photo.setAttribute('src', data);
                // Stop all video streams.
                player.srcObject.getVideoTracks().forEach(track => track.stop());
                player.srcObject = null;
            }
            else {
                alert("Camera is off");
            }
        });

    function startCapture() {
        //this method get the browser video input field
        navigator.getUserMedia = navigator.getUserMedia ||
            navigator.webkitGetUserMedia ||
            navigator.mozGetUserMedia;
        //cheking the condition
        if (navigator.getUserMedia) {
            navigator.getUserMedia({ audio: false, video: {facingMode: { exact: "environment" } } },
                function (stream) {
                    player.srcObject = stream;
                    player.onloadedmetadata = function (e) {
                        player.play();
                    };
                },
                function (err) {
                    //console.log("The following error occurred: " + err.name);
                }
            );
        } else {
            console.log("getUserMedia not supported");
        }

    }
</script>-->

<div style="width: 300px" id="reader"></div>
@*<input type="file" id="qr-input-file" accept="image/*" capture>*@

@*<script>
    const html5QrCode = new Html5Qrcode(/* element id */ "reader");

    // File based scanning
    const fileinput = document.getElementById('qr-input-file');
    fileinput.addEventListener('change', e => {
        if (e.target.files.length == 0) {
            // No file selected, ignore 
            return;
        }

        // Use the first item in the list
        const imageFile = e.target.files[0];
        html5QrCode.scanFile(imageFile, /* showImage= */true)
            .then(qrCodeMessage => {
                // success, use qrCodeMessage
                console.log(qrCodeMessage);
                const popup = $("#popup-camera").dxPopup("instance");
                popup.hide();
                $("#txtProductCode").val(qrCodeMessage);
                getProductByID();
            })
            .catch(err => {
                // failure, handle it.
                console.log(`Error scanning file. Reason: ${err}`)
            });
    });*@
@*</script>*@
<script>
    var html5QrcodeScanner = new Html5QrcodeScanner(
        "reader", { fps: 10, qrbox: 250 });

    function onScanSuccess(decodedText, decodedResult) {
        // Handle on success condition with the decoded text or result.
        console.log(`Scan result: ${decodedText}`, decodedResult);
        // ...
        html5QrcodeScanner.clear();
        // ^ this will stop the scanner (video feed) and clear the scan area.
        const popup = $("#popup-camera").dxPopup("instance");
        popup.hide();
        $("#txtProductCode").val(decodedText);
        getProductByID();
    }

    html5QrcodeScanner.render(onScanSuccess);
</script>

}


<script>
    function getProductByID() {
        $.getJSON("GetByID?id=" + $("#txtProductCode").val(),
            function (data) {
                if (data != null) {
                    $(".title-check").attr("hidden", false);
                }

                if (data.Images != null || data.Images != "") {
                    $("#productImage").attr("src", "../alpha_trace/" + data.ProductID+"/"+ data.Images);
                } else {
                    $("#productImage").attr("src", "../alpha_trace/no_image.jpg");
                }

                var accordionData = [{
                    title: "Tên sản phẩm",
                    text: data.ProductName,
                }, {
                    title: "Xuất xứ",
                    text: data.Origin,
                }, {
                    title: "Công dụng",
                    text: data.Uses,
                }, {
                    title: "Hướng dẫn sử dụng",
                    text: data.UserManual,
                }, {
                    title: "Thông tin khác",
                    text: data.Infomation,
                }];

                $(function () {
                    $("#accordion-container").dxAccordion({
                        dataSource: accordionData,
                        itemTemplate: function (itemData, itemIndex, itemElement) {
                            itemElement.append("<p>" + itemData.text + "</p>");
                        },
                        itemTitleTemplate: function (itemData, itemIndex, itemElement) {
                            itemElement.append("<h1>" + itemData.title + "</h1>");
                        }
                    });
                });
            });
    }

    function showPopupCamera() {
        const popup = $("#popup-camera").dxPopup("instance");
        popup.option({
            contentTemplate: $("#popup-camera-template"),
        });
        popup.show();
    }
</script>

@*<script>
        if ('BarcodeDetector' in window) {
            console.log('Barcode Detector supported!');
        } else {
            console.log('Barcode Detector is not supported in this browser');
        }

        const barcodeDetector = new BarcodeDetector({
            formats: [
                'aztec',
                'code_128',
                'code_39',
                'code_93',
                'codabar',
                'data_matrix',
                'ean_13',
                'ean_8',
                'itf',
                'pdf417',
                'qr_code',
                'upc_a',
                'upc_e'
            ]
        });

        try {
            const barcodes = await barcodeDetector.detect(image);
            barcodes.forEach(barcode => console.log(barcode));
        } catch (e) {
            // if the imageElement is invalid, the DOMException will be thrown
            console.error('Barcode detection failed:', e);
        }


    </script>*@