﻿@using DevExpress.AspNetCore
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using DeliveryHaPhan.Models
@{
    ViewData["Title"] = "Dữ liệu nhập";
    Layout = "~/Views/Shared/_LayoutWMS.cshtml";
}
<script src="../js/qrcode.js"></script>
<link href="~/node_modules/devextreme/dist/css/dx.light.css" rel="stylesheet" />

<script src="~/node_modules/devexpress-aspnetcore-spreadsheet/dist/dx-aspnetcore-spreadsheet.js"></script>
<link href="~/node_modules/devexpress-aspnetcore-spreadsheet/dist/dx-aspnetcore-spreadsheet.css" rel="stylesheet" />
<style>

    .left {
        float: right;
    }

    #gridContainer {
        height: 440px;
    }

    .dx-datagrid-table .dx-row .dx-command-expand.dx-datagrid-group-space {
        padding-top: 0px !important;
    }

    .header-toolbar {
        background-color: #e7e9ed;
    }

    .red .dx-texteditor-input {
        background: #ff0000;
        color: #ffffff;
        font-size: 12px;
        font-family: Orbitron;
        letter-spacing: 2px;
        border: none;
    }

    .yellow .dx-texteditor-input {
        background: #beb732;
        color: #ffffff;
        font-size: 12px;
        font-family: Orbitron;
        letter-spacing: 2px;
        border: none;
    }

    .green .dx-texteditor-input {
        background: #4cff00;
        color: #ffffff;
        font-size: 12px;
        font-family: Orbitron;
        letter-spacing: 2px;
        border: none;
    }
</style>

<script>
    DevAV.receiptDatas = DevAV.receiptDatas || {};
</script>


@await Html.PartialAsync("~/Views/WMS/ReceiptData/_SearchWRDPopup.cshtml")

<div>
    @(Html.DevExtreme().Toolbar()
        .ElementAttr("class","header-toolbar")
        .Items(items => {

            items.Add()
                    .Widget(w => w
                    .Button()
                    .Icon("find")
                    .Text("Mở")
                    .UseSubmitBehavior(false)
                    .OnClick("DevAV.receiptDatas.openPopupSearchWRD")
                )
                .LocateInMenu(ToolbarItemLocateInMenuMode.Auto)
                .Location(ToolbarItemLocation.Before);

            items.Add()
                    .Widget(w => w
                    .Button()
                    .Icon("save")
                    .Text("Lưu")
                    .UseSubmitBehavior(false)
                    .OnClick("DevAV.receiptDatas.updateWRDataHeader")
                )
                .LocateInMenu(ToolbarItemLocateInMenuMode.Auto)
                .Location(ToolbarItemLocation.Before);

            items.Add()
                    .Widget(w => w
                    .Button()
                    .Icon("remove")
                    .Type(ButtonType.Danger)
                    .StylingMode(ButtonStylingMode.Contained)
                    .Text("Xóa")
                    .UseSubmitBehavior(false)
                    .OnClick("DevAV.receiptDatas.deleteWRDataHeader")
                )
                .LocateInMenu(ToolbarItemLocateInMenuMode.Auto)
                .Location(ToolbarItemLocation.Before);

            items.Add()
                    .Widget(w => w
                    .Button()
                    .ID("refresh")
                    .Icon("refresh")
                    .Text("Làm mới")
                )
                .LocateInMenu(ToolbarItemLocateInMenuMode.Auto)
                .Location(ToolbarItemLocation.Before);

            items.Add()
                    .Widget(w => w
                    .Button()
                    .Icon("export")
                    .Text("Xuất dữ liệu")
                )
                .LocateInMenu(ToolbarItemLocateInMenuMode.Auto)
                .Location(ToolbarItemLocation.Before);

            items.Add()
                    .Widget(w => w
                    .Button()
                    .Icon("print")
                    .Text("In")
                )
                .LocateInMenu(ToolbarItemLocateInMenuMode.Auto)
                .Location(ToolbarItemLocation.Before);
        })
    )
</div>

<div>
    <div class="row mt-1">
        <div class="col-sm-3">
            <div class="row">
                <div class="col-sm-12">
                    <div class="dx-field">
                        <div class="dx-field-label">Conveyance Number</div>
                        <div class="dx-field-value">
                            @(Html.DevExtreme().TextBox()
                            .ID("WRDNumber")
                            )
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="dx-field">
                        <div class="dx-field-label">Ngày yêu cầu</div>
                        <div class="dx-field-value">
                            @(Html.DevExtreme().DateBox()
                                .ID("WRDDate")
                                .Type(DateBoxType.Date)
                            )
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="dx-field">
                        <div class="dx-field-label">Trạng thái xử lý</div>
                        <div class="dx-field-value">
                            @(Html.DevExtreme().SelectBox()
                                .ID("HandlingStatus")
                                .DataSource(new JS("handlingstatus"))
                                .ValueExpr("id")
                                .DisplayExpr("text")
                                .Value(0)
                            )
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            @*<div class="qr-image" id="qr-image" style="width:80px;height:80px;background-image: url('../alpha_trace/qr-code.png');background-size: contain, cover;"></div>*@
            <div id="qrcode" style="width:80px;height:80px;"></div>
        </div>
        <div class="col-sm-3">
            <div class="row">
                <div class="col-sm-12">
                    <div class="dx-field">
                        <div class="dx-field-label">∑ SL yêu cầu</div>
                        <div class="dx-field-value">
                            @(Html.DevExtreme().TextBox()
                            .ID("TotalQuantityOrg")
                            )
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="dx-field">
                        <div class="dx-field-label">∑ SL thực nhận</div>
                        <div class="dx-field-value">
                            @(Html.DevExtreme().TextBox()
                            .ID("TotalQuantity")
                            )
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="row">
                <div class="col-sm-12">
                    <div class="dx-field">
                        <div class="dx-field-label">∑ Mã yêu cầu</div>
                        <div class="dx-field-value">
                            @(Html.DevExtreme().TextBox()
                            .ID("TotalGoodsOrg")
                            )
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="dx-field">
                        <div class="dx-field-label">∑ Mã thực nhận</div>
                        <div class="dx-field-value">
                            @(Html.DevExtreme().TextBox()
                            .ID("TotalGoods")
                            )
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
)


    <div class="grid row mt-1">
        @(Html.DevExtreme().DataGrid<WRDataGeneralModel>()
            .ID("gridContainer")
            .RepaintChangesOnly(true)
            .ShowBorders(true)
            .ShowRowLines(true)
            .OnRowPrepared(@<text>
                                function (e) {
                                    e.rowElement.css({ height:10});
                                }
                           </text>)
            .Scrolling(scrolling => scrolling.Mode(GridScrollingMode.Infinite))
            .RemoteOperations(true)
            .Sorting(sorting => sorting.Mode(GridSortingMode.None))
            .Columns(c => {
                c.Add().Caption("No.").CellTemplate(@<text>
                            <p><%- rowIndex+1 %></p>
                        </text>);
                c.AddFor(m => m.GoodsID).DataField("GoodsID").Caption("Part Number");
                c.AddFor(m => m.GoodsName).DataField("GoodsName").Caption("Part Name");
                c.AddFor(m => m.QuantityOrg).DataField("QuantityOrg").Caption("ASN QTY");
                c.AddFor(m => m.Quantity).DataField("Quantity").Caption("SL thực nhận");
                c.AddFor(m => m.QuantityByPack).DataField("QuantityByPack").Caption("ASN NBR CNT");
                c.AddFor(m => m.PackingQuantity).DataField("PackingQuantity").Caption("NBR CNT thực nhận").CalculateCellValue("DevAV.receiptDatas.setPackingQuantityValue");
                c.AddFor(m => m.ReceiptStatus).Caption("Whse");
                c.AddFor(m => m.SLPart).Caption("SL Part");

                c.AddFor(m => m.WRDNumber).DataField("WRDNumber").Caption("Conveyance Number").Visible(false);
                c.AddFor(m => m.Ordinal).DataField("Ordinal").Caption("Thứ tự").Visible(false);
                c.AddFor(m => m.IDCode).Caption("Mã định danh").Visible(false);
                c.AddFor(m => m.LocationID).Caption("Vị trí").Visible(false);
                c.AddFor(m => m.LocationIDOrg).Caption("Vị trí yêu cầu").Visible(false);
                c.AddFor(m => m.TotalQuantity).Caption("Tổng lượng").Visible(false);
                c.AddFor(m => m.TotalGoods).Caption("Tổng mã").Visible(false);
                c.AddFor(m => m.TotalQuantityOrg).Caption("Tổng lượng yêu cầu").Visible(false);
                c.AddFor(m => m.TotalGoodsOrg).Caption("Tổng mã yêu cầu").Visible(false);
                c.AddFor(m => m.CreatorID).Caption("Người tạo").Visible(false);
                c.AddFor(m => m.CreatedDateTime).Caption("Ngày tạo").Visible(false);
                c.AddFor(m => m.EditerID).Caption("Người sửa").Visible(false);
                c.AddFor(m => m.EditedDateTime).Caption("Ngày sửa").Visible(false);
                c.AddFor(m => m.Status).Caption("Trạng thái").Visible(false);
                c.AddFor(m => m.PackingVolume).DataField("PackingVolume").Caption("Vol Pack").Visible(true);
                c.AddFor(m => m.QuantityByItem).Caption("Số lượng hàng").Visible(false);
                c.AddFor(m => m.ASNNumber).Caption("ASN Number").Visible(false);
                c.AddFor(m => m.ScanOption).Caption("Tùy chọn quét").Visible(false);
                c.AddFor(m => m.Note).Caption("Ghi chú").Visible(false);
                c.AddFor(m => m.Status).Caption("Trạng thái").Visible(false);
                c.AddFor(m => m.SupplierCode).Caption("Supplier Code").Visible(false);
                c.AddFor(m => m.PackingSlip).Caption("Packing Slip").Visible(false);
            })
        .OnCellPrepared("DevAV.receiptDatas.onCellPreparedQuantity")
        .Summary(s => s
            .RecalculateWhileEditing(true)
            .TotalItems(items =>
            {
                items.AddFor(m => m.GoodsID)
                    .SummaryType(SummaryType.Count).DisplayFormat("Σ Mã hàng: {0}");

                items.AddFor(m => m.Quantity)
                    .SummaryType(SummaryType.Sum).DisplayFormat("Σ SL nhận: {0}");
            })
        )
        )
    </div>

    <div class="grid row mt-1">
        @(Html.DevExtreme().PieChart()
            .ID("chart")
            .Size(s => s.Width(500))
            .Palette(VizPalette.Bright)
            .Title("Receipt Charts")
            .Series(s =>
                 s.Add().ArgumentField("GoodsID").ValueField("Quantity").Name("Quantity")
                    .Label(l => l
                        .Visible(true)
                        .Connector(c => c
                            .Visible(true)
                            .Width(1)
                        )
                    )
            )
        )
    </div>
</div>

<script src="~/js/wms/handlingstatus.js"></script>
<script src="~/js/wms/branch.js"></script>
<script src="~/js/signalr/signalr-client.js"></script>
<script>
    @*var connection = new signalR.HubConnectionBuilder()
         .withUrl("@Url.Content("~/liveUpdateWRDHub")",{
            skipNegotiation: true,
            transport: signalR.HttpTransportType.WebSockets
        })
        .configureLogging(signalR.LogLevel.Information)
        .build();

    $(function () {
        connection.start()
            .then(function () {
                var store = new DevExpress.data.CustomStore({
                    load: function () {
                        return connection.invoke("getAllWRD");
                    },
                    key: "goodsID"
                });
                $("#gridContainer").dxDataGrid({
                    dataSource: store,
                    visible: true
                });

                connection.on("updateWRD", function (data) {
                    store.push([{ type: "update", key: data.goodsID, data: data }]);
                });
            });
    });*@
    //var updatesPerSecond = 100;
    //$("#refresh").dxButton("instance").option("onclick", function () {
    //    var store = $("#gridContainer").dxDataGrid("getDataSource").store();
    //    setInterval(function () {

    //        updateWRD(store);

    //    }, 50)
    //});
    //$(function () {
    //    var store = $("#gridContainer").dxDataGrid("getDataSource").store();
    //    setInterval(function () {
    //        for (var i = 0; i < updatesPerSecond / 20; i++) {
    //            updateWRD(store);
    //        }
    //    }, 50)
    //});

    //function updateWRD(wrdStore) {
    //    $.getJSON("api/WRDataGeneralApi/GetByID/M164-5",
    //        function (data) {
    //            data.forEach(function (element) {
    //                wrdStore.push([{
    //                    type: "update",
    //                    key: element.GoodsID,
    //                    data: element
    //                }]);

    //                console.log(element.Quantity);
    //            });
    //        })
    //}
</script>

