﻿@(Html.DevExtreme().Popup()
        .ID("popup-choose-approver")
        .Width("300")
        .Height("auto")
        .FullScreen(false)
        .Position(PositionAlignment.Center)
        .ShowTitle(true)
        .Title("Chọn người xét duyệt")
        .DragEnabled(false)
        .CloseOnOutsideClick(true)
        .ShowCloseButton(false)
        .ToolbarItems(barItems => {
            barItems.Add()
                .Toolbar(Toolbar.Bottom)
                .Location(ToolbarItemLocation.After)
                .Widget(widget => widget.Button()
                    .Text("Thoát")
                    .Type(ButtonType.Danger)
                    .OnClick(@<text>
                                function hideInfo(data) {
                                    const popup = $("#popup-choose-approver").dxPopup("instance");
                                    popup.hide();
                                }
                            </text>)
                );
            barItems.Add()
               .Toolbar(Toolbar.Bottom)
               .Location(ToolbarItemLocation.After)
               .Widget(widget => widget.Button()
                   .Text("Chuyển tiếp")
                   .Type(ButtonType.Success)
                   .UseSubmitBehavior(false)
                   .OnClick("DevAV.reportApproves.forward")
               );
        })
    )

@using (Html.DevExtreme().NamedTemplate("popup-choose-approver-template"))
{
    @(Html.DevExtreme().SelectBox()
                .ID("approver-fw")
                .DataSourceOptions(o => o.Group("Department"))
                .Grouped(true)
                    .DataSource(d => d
                    .Mvc()
                    .Controller("UserNewApi")
                    .LoadAction("GetApprovers")
                    .LoadMode(DataSourceLoadMode.Raw)
                    .Key("UserID")
                )
                .DisplayExpr(new JS("displayExpr"))
                .ValueExpr("UserName")
                .SearchEnabled(true)
    )
}

<script>
    function displayExpr(item) {
        return item && item.UserName + '(' + item.FullName + ')';
    }

</script>