﻿@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<style>
    .swal2-container {
        z-index: 20000 !important;
    }
</style>
@(Html.DevExtreme().Popup()
        .ID("popup-edit-request")
        .Width("auto")
        .Height("600")
        .FullScreen(false)
        .Position(PositionAlignment.Center)
        .Container(".dx-viewport")
        .ShowTitle(true)
        .Title("Đề xuất")
        .DragEnabled(false)
        .ShowCloseButton(false)
        .ContentTemplate(new TemplateName("popup-edit-request-template"))
        .DeferRendering(true)
        .ToolbarItems(barItems => {
            barItems.Add()
                .Toolbar(Toolbar.Bottom)
                .Location(ToolbarItemLocation.After)
                .Widget(widget => widget.Button()
                    .Text("Thoát")
                    .Type(ButtonType.Danger)
                    .StylingMode(ButtonStylingMode.Outlined)
                    .OnClick(@<text>
                                function hideInfo(data) {
                                    const popup = $("#popup-edit-request").dxPopup("instance");
                                    popup.hide();
                                }
                            </text>)
                );
            barItems.Add()
                .Toolbar(Toolbar.Bottom)
                .Location(ToolbarItemLocation.After)
                .Widget(widget => widget.Button()
                    .Text("Sửa")
                    .Type(ButtonType.Success)
                    .StylingMode(ButtonStylingMode.Outlined)
                    .UseSubmitBehavior(false)
                    .OnClick("DevAV.requestPayments.editRequest")
                );
        })
    )


@using (Html.DevExtreme().NamedTemplate("popup-edit-request-template"))
{
    @(Html.DevExtreme().ScrollView()
        .Width("100%")
        .Height("100%")
        .Content(@<text>

    @using (Html.BeginForm())
    {

        using (Html.DevExtreme().ValidationGroup())
        {

            @Html.AntiForgeryToken()

            @(Html.DevExtreme().Form()
            .ID("edit-request-form")
            .ShowColonAfterLabel(true)
            .Height("auto")
            .ShowValidationSummary(false)
            .ScrollingEnabled(true)
            .Items(items => {


                items.AddGroup()
                        .Items(groupItems => {

                            groupItems.AddSimple().DataField("RequestID").Label(l => l.Text("Mã đề xuất"))
                               .Editor(e => e
                                   .TextBox()
                                   .ID("request-id")
                                   .ReadOnly(true)
                               );

                            groupItems.AddSimple().DataField("RequestTitle").Label(l => l.Text("Tiêu đề đề xuất"))
                                .Editor(e => e
                                    .TextBox()
                                    .ID("request-title")
                                );
                            groupItems.AddSimple().DataField("RequestType").Label(l => l.Text("Nhóm đề xuất"))
                                .Editor(e => e
                                    .SelectBox()
                                    .ID("request-type")
                                    .DataSource(new JS("request_type"))
                                    .ValueExpr("text")
                                    .DisplayExpr("text")
                                    .Value("Đề nghị thanh toán")
                                );
                            groupItems.AddSimple().DataField("Status").Label(l => l.Text("Trạng thái"))
                              .Editor(e => e
                                  .TextBox()
                                  .ID("status")
                                  .ReadOnly(true)
                              );
                            groupItems.AddSimple().DataField("CreateDate").Label(l => l.Text("Ngày trình"))
                             .Editor(e => e
                                 .DateBox()
                                 .ID("create-date")
                                 .Type(DateBoxType.Date)
                                 .DisplayFormat("yyyy/MM/dd")
                                 .Value(DateTime.Now)
                                 .ReadOnly(true)
                             );
                            groupItems.AddSimple().DataField("CreateName").Label(l => l.Text("Người trình"))
                                .Editor(e => e
                                    .TextBox()
                                    .ID("create-name")
                                    .Value(HttpContextAccessor.HttpContext.Session.GetString("Username"))
                                    .Visible(true)
                                    .ReadOnly(true)
                                );
                            groupItems.AddSimple().DataField("CreateEmail").Label(l => l.Text("Email"))
                              .Editor(e => e
                                  .TextBox()
                                  .ID("create-email")
                                  .Value(HttpContextAccessor.HttpContext.Session.GetString("Email"))
                                  .ReadOnly(true)
                              );

                            groupItems.AddSimple().DataField("CreateDepartment").Label(l => l.Text("Bộ phận"))
                             .Editor(e => e
                                 .TextBox()
                                 .ID("create-department")
                                 .Value(HttpContextAccessor.HttpContext.Session.GetString("Department"))
                                 .ReadOnly(true)
                             );
                            groupItems.AddSimple().DataField("Approvers").Label(l => l.Text("Người duyệt"))
                             .Editor(e => e
                                 .SelectBox()
                                 .ID("approvers")
                                 .DataSourceOptions(o => o.Group("Department"))
                                .Grouped(true)
                                 .DataSource(d => d
                                   .Mvc()
                                   .Controller("UserNewApi")
                                   .LoadAction("GetApprovers")
                                   .LoadMode(DataSourceLoadMode.Raw)
                                   .Key("UserID")
                               )
                               .DisplayExpr(new JS("displayExpr"))
                               .ValueExpr("UserName")
                               .SearchEnabled(true)
                             );
                            groupItems.AddSimple().DataField("Followers").Label(l => l.Text("Người theo dõi"))
                              .Editor(e => e
                                  .TagBox()
                                  .ShowMultiTagOnly(false)
                                  .ID("followers")
                                  .DataSourceOptions(o => o.Group("Department"))
                                  .Grouped(true)
                                  .HideSelectedItems(true)
                                  .DataSource(d => d
                                    .Mvc()
                                    .Controller("UserNewApi")
                                    .LoadAction("GetFollowers")
                                    .LoadMode(DataSourceLoadMode.Raw)
                                    .Key("UserID")
                                )
                                .DisplayExpr(new JS("displayExpr"))
                                .ValueExpr("UserName")
                                .SearchEnabled(true)
                              );
                            groupItems.AddSimple().DataField("ProcessingTime").Label(l => l.Text("Thời hạn xử lý"))
                              .Editor(e => e
                                  .DateBox()
                                  .ID("processing-time")
                                  .Type(DateBoxType.DateTime)
                              );


                            //
                            groupItems.AddSimple().DataField("RequestNumber").Label(l => l.Text("Số đề nghị"))
                              .Editor(e => e
                                  .TextBox()
                                  .ID("request-number")
                                  .Name("RequestNumber")

                              ).Visible(false);
                            groupItems.AddSimple().DataField("Currency").Label(l => l.Text("Loại tiền tệ"))
                              .Editor(e => e
                                  .SelectBox()
                                  .ID("currency")
                                  .Name("Currency")
                                  .DataSource(new JS("currency"))
                                   .ValueExpr("text")
                                   .DisplayExpr("text")
                                   .Value("VND")
                              ).Visible(false);
                            groupItems.AddSimple().DataField("Payment").Label(l => l.Text("Hình thức thanh toán"))
                              .Editor(e => e
                                  .SelectBox()
                                  .ID("payment")
                                  .Name("Payment")
                                  .DataSource(new JS("payment"))
                                   .ValueExpr("text")
                                   .DisplayExpr("text")
                                   .Value("Tiền mặt")
                              ).Visible(false);
                            groupItems.AddSimple().DataField("TimeOfPayment").Label(l => l.Text("Thời hạn thanh toán"))
                             .Editor(e => e
                                 .DateBox()
                                 .ID("time-of-payment")
                                 .Name("TimeOfPayment")
                                 .Type(DateBoxType.DateTime)
                             ).Visible(false);
                            groupItems.AddSimple().DataField("CustomerName").Label(l => l.Text("Nhà cung cấp"))
                               .Editor(e => e
                                   .TextBox()
                                   .ID("customer-name")
                                   .Name("CustomerName")
                               ).Visible(false);
                            groupItems.AddSimple().DataField("BankAt").Label(l => l.Text("Tại ngân hàng"))
                              .Editor(e => e
                                  .TextBox()
                                  .ID("bank-at")
                                  .Name("BankAt")
                             ).Visible(false);
                            groupItems.AddSimple().DataField("TradingDepartment").Label(l => l.Text("Bộ phận giao dịch"))
                             .Editor(e => e
                                 .TextBox()
                                 .ID("trading-department")
                                 .Name("TradingDepartment")
                                 .Value(HttpContextAccessor.HttpContext.Session.GetString("Department"))
                                 .ReadOnly(true)
                             ).Visible(false);
                            groupItems.AddSimple().DataField("Reason").Label(l => l.Text("Lý do"))
                             .Editor(e => e
                                 .TextBox()
                                 .ID("reason")
                                 .Name("Reason")
                             ).Visible(false);
                            groupItems.AddSimple().DataField("TotalAmount").Label(l => l.Text("Tổng tiền"))
                           .Editor(e => e
                               .TextBox()
                               .ID("total-amount")
                               .Name("TotalAmount")
                               .ReadOnly(true)
                          ).Visible(false);
                            groupItems.AddSimple().DataField("Beneficiary").Label(l => l.Text("Người thụ hưởng"))
                               .Editor(e => e
                                   .TextBox()
                                   .ID("beneficiary")
                                   .Name("Beneficiary")
                               ).Visible(false);
                            groupItems.AddSimple().DataField("BeneficiaryAccount").Label(l => l.Text("Số tài khoản thụ hưởng"))
                              .Editor(e => e
                                  .TextBox()
                                  .ID("beneficiary-account")
                                  .Name("BeneficiaryAccount")
                             ).Visible(false);


                            //Đề nghị thanh toán
                            groupItems.AddSimple().Name("RequestPaymentTable").Template(new TemplateName("request-paymnet-detail-template")).Visible(false);




                            //Đề xuất vật tư
                            groupItems.AddSimple().Name("RequestSuppliesTable").Template(new TemplateName("request-supplies-detail-template")).Visible(false);
                            groupItems.AddSimple().DataField("RequestContent").Label(l => l.Text("Nội dung"))
                             .Editor(e => e
                                 .TextBox()
                                 .ID("request-content")
                                 .Name("RequestContent")
                             ).Visible(false);


                            //Đề xuất hoàn ứng
                            groupItems.AddSimple().Name("RequestReimbursementTable").Template(new TemplateName("request-reimbursement-detail-template")).Visible(false);

                            groupItems.AddSimple().DataField("AdvanceAmount").Label(l => l.Text("Số tiền tạm ứng"))
                              .Editor(e => e
                                  .TextBox()
                                  .ID("advance-amount")
                                  .Name("AdvanceAmount")
                              ).Visible(false);

                            groupItems.AddSimple().DataField("RemainingAmount").Label(l => l.Text("Số tiền còn lại"))
                              .Editor(e => e
                                  .TextBox()
                                  .ID("remaining-amount")
                                  .Name("RemainingAmount")
                              ).Visible(false);

                            groupItems.AddSimple().DataField("InspectionStaff").Label(l => l.Text("Nhân viên kiểm tra"))
                             .Editor(e => e
                                 .SelectBox()
                                 .ID("inspection-staff")
                                 .Name("InspectionStaff")
                                 .DataSourceOptions(o => o.Group("Department"))
                                .Grouped(true)
                                 .DataSource(d => d
                                   .Mvc()
                                   .Controller("UserNewApi")
                                   .LoadAction("GetStaffUnderDepartmentAndRanks")
                                   .LoadParams(new { department = "null", rank = "0" })
                                   .LoadMode(DataSourceLoadMode.Raw)
                                   .Key("UserID")
                               )
                               .DisplayExpr(new JS("displayExpr"))
                               .ValueExpr("UserName")
                               .SearchEnabled(true)
                             ).Visible(false);

                            groupItems.AddSimple().DataField("AccountingPayment").Label(l => l.Text("Kế toán thanh toán"))
                             .Editor(e => e
                                 .SelectBox()
                                 .ID("accounting-payment")
                                 .Name("AccountingPayment")
                                 .DataSourceOptions(o => o.Group("Department"))
                                .Grouped(true)
                                 .DataSource(d => d
                                   .Mvc()
                                   .Controller("UserNewApi")
                                   .LoadAction("GetStaffUnderDepartmentAndRanks")
                                   .LoadParams(new { department = "KẾ TOÁN HÀ PHAN,KẾ TOÁN ĐỆ NHẤT", rank = "0" })
                                   .LoadMode(DataSourceLoadMode.Raw)
                                   .Key("UserID")
                               )
                               .DisplayExpr(new JS("displayExpr"))
                               .ValueExpr("UserName")
                               .SearchEnabled(true)
                             ).Visible(false);

                            groupItems.AddSimple().DataField("ChiefAccountant").Label(l => l.Text("Kế toán trưởng"))
                             .Editor(e => e
                                 .SelectBox()
                                 .ID("chief-accountant")
                                 .Name("ChiefAccountant")
                                 .DataSourceOptions(o => o.Group("Department"))
                                .Grouped(true)
                                 .DataSource(d => d
                                   .Mvc()
                                   .Controller("UserNewApi")
                                   .LoadAction("GetStaffUnderDepartmentAndRanks")
                                   .LoadParams(new { department = "KẾ TOÁN HÀ PHAN,KẾ TOÁN ĐỆ NHẤT", rank = "1" })
                                   .LoadMode(DataSourceLoadMode.Raw)
                                   .Key("UserID")
                               )
                               .DisplayExpr(new JS("displayExpr"))
                               .ValueExpr("UserName")
                               .SearchEnabled(true)
                             ).Visible(false);

                            groupItems.AddSimple().DataField("LineManager").Label(l => l.Text("Quản lý chuyên môn"))
                             .Editor(e => e
                                 .SelectBox()
                                 .ID("line-manager")
                                 .Name("LineManager")
                                 .DataSourceOptions(o => o.Group("Department"))
                                .Grouped(true)
                                 .DataSource(d => d
                                   .Mvc()
                                   .Controller("UserNewApi")
                                   .LoadAction("GetStaffUnderDepartmentAndRanks")
                                   .LoadParams(new { department = "BAN GIÁM ĐỐC- BAN KIỂM SOÁT", rank = "2" })
                                   .LoadMode(DataSourceLoadMode.Raw)
                                   .Key("UserID")
                               )
                               .DisplayExpr(new JS("displayExpr"))
                               .ValueExpr("UserName")
                               .SearchEnabled(true)
                            ).Visible(false);


                            //Đê xuất mượn hàng demo
                            groupItems.AddSimple().Name("RequestLendGoodsDemoTable").Template(new TemplateName("request-lend-goods-demo-detail-template")).Visible(false);

                            groupItems.AddSimple().DataField("LendTime").Label(l => l.Text("Thời gian mượn"))
                             .Editor(e => e
                                 .DateBox()
                                 .ID("lend-time")
                                 .Name("LendTime")
                                 .Type(DateBoxType.DateTime)
                             ).Visible(false);



                            //Đề xuất book xe
                            groupItems.AddSimple().Name("RequestBookGrabTable").Template(new TemplateName("request-book-grab-detail-template")).Visible(false);

                            groupItems.AddSimple().DataField("BookType").Label(l => l.Text("Hình thức book xe"))
                             .Editor(e => e
                                    .SelectBox()
                                    .ID("book-type")
                                    .Name("BookType")
                                    .DataSource(new JS("booktype"))
                                    .ValueExpr("text")
                                    .DisplayExpr("text")
                                    .Value("Grab")
                                ).Visible(false);

                        });

            })
        )
        }
    }

</text>)
    )

}



@using (Html.DevExtreme().NamedTemplate("request-paymnet-detail-template"))
{
    <div class="col-md-12 mt-1 mb-2"><button type="button" id="add" class="btn btn-success">Add</button></div>
    <table id="payment-table" class="display nowrap" style="width:100%">
        <thead>
            <tr>
                <th>Nội dung thanh toán</th>
                <th>Số tiền</th>
                <th>Số chứng từ</th>
                <th>Ghi chú</th>
                <th></th>
            </tr>
        </thead>
    </table>
}

@using (Html.DevExtreme().NamedTemplate("request-reimbursement-detail-template"))
{
    <div class="col-md-12 mt-1 mb-2"><button type="button" id="add" class="btn btn-success">Thêm hàng hóa</button></div>
    <table id="reimbursement-table" class="display nowrap" style="width:100%">
        <thead>
            <tr>
                <th>Mã đề xuất</th>
                <th>Nội dung thanh toán</th>
                <th>Số tiền</th>
                <th>Số chứng từ</th>
                <th>Ghi chú</th>
                <th></th>
            </tr>
        </thead>
    </table>
}

@using (Html.DevExtreme().NamedTemplate("request-supplies-detail-template"))
{
    <div class="col-md-12 mt-1 mb-2"><button type="button" id="add" class="btn btn-success">Add</button></div>
    <table id="supplies-table" class="display nowrap" style="width:100%">
        <thead>
            <tr>
                <th>Hàng hóa</th>
                <th>Quy cách</th>
                <th>Số lượng</th>
                <th>Ghi chú</th>
                <th></th>
            </tr>
        </thead>
    </table>
}

@using (Html.DevExtreme().NamedTemplate("request-lend-goods-demo-detail-template"))
{
    <div class="col-md-12 mt-1 mb-2"><button type="button" id="add" class="btn btn-success">Thêm hàng hóa</button></div>
    <table id="lend-goods-demo-table" class="display nowrap" style="width:100%">
        <thead>
            <tr>
                <th>Mô tả</th>
                <th>Mã hàng hóa</th>
                <th>Số serial</th>
                <th>Số lượng</th>
                <th>Ghi chú</th>
                <th></th>
            </tr>
        </thead>
    </table>
}

@using (Html.DevExtreme().NamedTemplate("request-book-grab-detail-template"))
{
    <div class="col-md-12 mt-1 mb-2"><button type="button" id="add" class="btn btn-success">Thêm hàng hóa</button></div>
    <table id="book-grab-table" class="display nowrap" style="width:100%">
        <thead>
            <tr>
                <th>Nội dung đề xuất</th>
                <th>Địa chỉ đi</th>
                <th>Địa chỉ đến</th>
                <th>Thời gian thực hiện</th>
                <th>Số thẻ taxi/ Hình thức grab</th>
                <th></th>
            </tr>
        </thead>
    </table>
}


<script>
    function displayExpr(item) {
        return item && item.UserName + '(' + item.FullName + ')';
    }

</script>

<script src="~/js/reportapprove/request-type.js"></script>
<script src="~/js/reportapprove/currency.js"></script>
<script src="~/js/reportapprove/payment.js"></script>
<script src="~/js/reportapprove/book-type.js"></script>