﻿@using DevExpress.AspNetCore
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@*<link href="~/node_modules/devextreme/dist/css/dx.light.css" rel="stylesheet" />
    <script src="~/node_modules/devexpress-aspnetcore-spreadsheet/dist/dx-aspnetcore-spreadsheet.js"></script>
    <link href="~/node_modules/devexpress-aspnetcore-spreadsheet/dist/dx-aspnetcore-spreadsheet.css" rel="stylesheet" />*@

<link href="~/node_modules/devextreme/dist/css/dx.light.css" rel="stylesheet" />
<link href="~/node_modules/devexpress-richedit/dist/dx.richedit.css" rel="stylesheet" />
@* For v2020.1 and earlier, add the following code: *@
<link href="~/node_modules/devextreme/dist/css/dx.common.css" rel="stylesheet" />

<script src="~/node_modules/jszip/dist/jszip.min.js"></script>
@*<script src="~/node_modules/devextreme/dist/js/dx.all.js"></script>*@

@* If you localize the control, you should register localization resources before control script registration.*@
@*<script src="~/node_modules/devexpress-richedit/localization/dx-rich.de.js"></script>*@

@* If you export a document to PDF on the client side (the exportToPdf method) or enable client PDF printing mode,
    you should register the pdfkit library before control script registration.*@
@*<script src="~/node_modules/devexpress-richedit/dist/pdfkit.js"></script>*@

<script src="~/node_modules/devexpress-richedit/dist/dx.richedit.js"></script>

@(Html.DevExtreme().Popup()
        .ID("popup-preview")
        .Width("auto")
        .Height("auto")
        .FullScreen(true)
        .Position(PositionAlignment.Center)
        .ShowTitle(true)
        .Title("Print preview")
        .DragEnabled(false)
        .CloseOnOutsideClick(true)
        .ShowCloseButton(false)

        .ToolbarItems(barItems => {
            barItems.Add()
                .Toolbar(Toolbar.Top)
                .Location(ToolbarItemLocation.After)
                .Widget(widget => widget.Button()
                    .Text("Thoát")
                    .Type(ButtonType.Danger)
                    .OnClick(@<text>
                                function hideInfo(data) {
                                    const popup = $("#popup-preview").dxPopup("instance");
                                    popup.hide();
                                }
                            </text>)
                );
        })
    )

@using (Html.DevExtreme().NamedTemplate("popup-preview-request-payment-template"))
{
    @(Html.DevExpress().RichEdit("richEditRequestPayment")
            .Views(v => v.ViewType(DevExpress.AspNetCore.RichEdit.ViewType.PrintLayout))
            .ReadOnly(true)
            .Ribbon(ribbon => ribbon
                .Visible(true)
                .ActiveTabIndex(1)
                .Tabs(tabs =>
                {
                    tabs.Clear();
                    tabs.AddHomeTab()
                        .Title("Action")
                        .Items(items =>
                        {
                            items.Clear();
                            items.AddPrintDocumentItem().BeginGroup(true);
                            items.AddSimpleViewItem();
                            items.AddPrintLayoutViewItem();
                        });
                })
            )
            .Height(600)
            .ConfirmOnLosingChanges(c => c.Enabled(false))
            .Open("Documents/request_payment_fixed.docx")
            .MailMerge(m => m
                .ViewMergedData(true)
                .ActiveRecord(0)
            )
            .OnDocumentLoaded("function(s, e) { s.document.fields.updateAllFields(); }")

        )
}

@using (Html.DevExtreme().NamedTemplate("popup-preview-request-supplies-template"))
{

    @(Html.DevExpress().RichEdit("richEditRequestSupplies")
        .Views(v => v.ViewType(DevExpress.AspNetCore.RichEdit.ViewType.PrintLayout))
            .ReadOnly(true)
            .Ribbon(ribbon => ribbon
                .Visible(true)
                .ActiveTabIndex(1)
                .Tabs(tabs =>
                {
                    tabs.Clear();
                    tabs.AddHomeTab()
                        .Items(items =>
                        {
                            items.Clear();
                            items.AddPrintDocumentItem().BeginGroup(true);
                            items.AddSimpleViewItem();
                            items.AddPrintLayoutViewItem();
                        });
                })
            )
        .Height(600)
        .ConfirmOnLosingChanges(c => c.Enabled(false))
        .Open("Documents/request_supplies.docx")
        .MailMerge(m => m
            .ViewMergedData(true)
            .ActiveRecord(0)
        )
        .OnDocumentLoaded("function(s, e) { s.document.fields.updateAllFields(); }")

    )
}

@using (Html.DevExtreme().NamedTemplate("popup-preview-request-lend-goods-demo-template"))
{

    @(Html.DevExpress().RichEdit("richEditRequestLendGoodsDemo")
        .Views(v => v.ViewType(DevExpress.AspNetCore.RichEdit.ViewType.PrintLayout))
            .ReadOnly(true)
            .Ribbon(ribbon => ribbon
                .Visible(true)
                .ActiveTabIndex(1)
                .Tabs(tabs =>
                {
                    tabs.Clear();
                    tabs.AddHomeTab()
                        .Items(items =>
                        {
                            items.Clear();
                            items.AddPrintDocumentItem().BeginGroup(true);
                            items.AddSimpleViewItem();
                            items.AddPrintLayoutViewItem();
                        });
                })
            )
        .Height(600)
        .ConfirmOnLosingChanges(c => c.Enabled(false))
        .Open("Documents/request_supplies.docx")
        .MailMerge(m => m
            .ViewMergedData(true)
            .ActiveRecord(0)
        )
        .OnDocumentLoaded("function(s, e) { s.document.fields.updateAllFields(); }")

    )
}

@using (Html.DevExtreme().NamedTemplate("popup-preview-request-book-grab-template"))
{

    @(Html.DevExpress().RichEdit("richEditRequestBookGrab")
        .Views(v => v.ViewType(DevExpress.AspNetCore.RichEdit.ViewType.PrintLayout))
            .ReadOnly(true)
            .Ribbon(ribbon => ribbon
                .Visible(true)
                .ActiveTabIndex(1)
                .Tabs(tabs =>
                {
                    tabs.Clear();
                    tabs.AddHomeTab()
                        .Items(items =>
                        {
                            items.Clear();
                            items.AddPrintDocumentItem().BeginGroup(true);
                            items.AddSimpleViewItem();
                            items.AddPrintLayoutViewItem();
                        });
                })
            )
        .Height(600)
        .ConfirmOnLosingChanges(c => c.Enabled(false))
        .Open("Documents/request_book_grab.docx")
        .MailMerge(m => m
            .ViewMergedData(true)
            .ActiveRecord(0)
        )
        .OnDocumentLoaded("function(s, e) { s.document.fields.updateAllFields(); }")

    )

}


