﻿@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<style>
</style>

<div>
    <div class="row">
        <div class="col-sm-12">
            Hình thức: <span id="book-type">&nbsp;</span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            @(Html.DevExtreme().DataGrid()
                .ID("gridContainer-book-grab-detail")
                .RowAlternationEnabled(true)
                .WordWrapEnabled(true)
                .ShowBorders(true)
                .Columns(c => {
                    c.Add().Caption("Stt").CellTemplate(@<text>
                        <p><%- rowIndex+1 %></p>
                    </text>);
                    c.Add().DataField("RequestID").Visible(false);
                    c.Add().DataField("RequestContent").Caption("Nội dung");
                    c.Add().DataField("StartAdress").Caption("Địa chỉ đi");
                    c.Add().DataField("EndAdress").Caption("Địa chỉ đến");
                    c.Add().DataField("ExecutionDate").Caption("Thời gian thực hiện");
                    c.Add().DataField("VehiceType").Caption("Số thẻ taxi/ Hình thức grab");
                })
            )
        </div>
    </div>
</div>
<script src="~/js/reportapprove/request-book-grab.js"></script>