﻿@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<style>
</style>

<div>
    <div class="row">
        <div class="col-sm-12">
            Nội dung: <span id="request-content">&nbsp;</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            Lý do: <span id="reason">&nbsp;</span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            @(Html.DevExtreme().DataGrid()
                .ID("gridContainer-supplies-detail")
                .RowAlternationEnabled(true)
                .WordWrapEnabled(true)
                .ShowBorders(true)
                .Columns(c => {
                    c.Add().DataField("RequestID").Visible(false);
                    c.Add().DataField("Ordinal").Caption("Stt");
                    @*c.Add().Caption("Stt").CellTemplate(@<text>
                        <p><%- rowIndex+1 %></p>
                    </text>);*@
                    c.Add().DataField("Goods").Caption("Hàng hóa");
                    c.Add().DataField("Specification").Caption("Quy cách");
                    c.Add().DataField("Quantity").Caption("Số lượng");
                    c.Add().DataField("Note").Caption("Ghi chú");
                })
            )
        </div>
    </div>
</div>

<script src="~/js/reportapprove/request-payment.js"></script>