﻿@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<style>
</style>

<div>
    <div class="row">
        <div class="col-sm-12">
            Số đề nghị: <span id="request-number">&nbsp;</span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            @(Html.DevExtreme().DataGrid()
                .ID("gridContainer-reimbursement-detail")
                .RowAlternationEnabled(true)
                .WordWrapEnabled(true)
                .ShowBorders(true)
                .Columns(c => {
                    c.Add().Caption("Stt").CellTemplate(@<text>
                        <p><%- rowIndex+1 %></p>
                    </text>);
                    c.Add().DataField("RequestID").Visible(false);
                    
                    c.Add().DataField("PaymentContent").Caption("Nội dung thanh toán");
                    c.Add().DataField("Amount").Caption("Số tiền");
                    c.Add().DataField("DocumentsNumber").Caption("Số chứng từ");
                    c.Add().DataField("Note").Caption("Ghi chú");
                })
            )
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            Số tiền tạm ứng: <span id="advance-amount">&nbsp;</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            Số tiền còn lại: <span id="remaining-amount">&nbsp;</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            Số tiền thừa: <span id="excess-cash">&nbsp;</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            Tổng cộng: <span id="total-amount">&nbsp;</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            Loại tiền tệ: <span id="currency">&nbsp;</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            Hình thức thanh toán: <span id="payment">&nbsp;</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            Thời hạn thanh toán: <span id="time-of-payment">&nbsp;</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            Tên khách hàng: <span id="customer-name">&nbsp;</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            Người thụ hưởng: <span id="beneficiary">&nbsp;</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            Tài khoản thụ hưởng: <span id="beneficiary-account">&nbsp;</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            Tại ngân hàng: <span id="bank-at">&nbsp;</span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            Bộ phận đề nghị: <span id="trading-department">&nbsp;</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            Nhân viên kiểm tra: <span id="inspection-staff">&nbsp;</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            Kế toán thanh toán: <span id="accounting-payment">&nbsp;</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            Kế toán trưởng: <span id="chief-accountant">&nbsp;</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            Quản lý chuyên môn: <span id="line-manager">&nbsp;</span>
        </div>
    </div>
</div>
<script src="~/js/reportapprove/request-book-grab.js"></script>