﻿@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<style>
</style>

<div>
    <div class="row">
        <div class="col-sm-12">
            Thời gian mượn: <span id="lend-time">&nbsp;</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            Lý do: <span id="reason">&nbsp;</span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            @(Html.DevExtreme().DataGrid()
                .ID("gridContainer-goods-demo")
                .RowAlternationEnabled(true)
                .WordWrapEnabled(true)
                .ShowBorders(true)
                .Columns(c => {
                    c.Add().Caption("Stt").CellTemplate(@<text>
                        <p><%- rowIndex+1 %></p>
                    </text>);
                    c.Add().DataField("RequestID").Visible(false);
                   
                    c.Add().DataField("Description").Caption("Mô tả");
                    c.Add().DataField("GoodsID").Caption("Mã hàng hóa");
                    c.Add().DataField("Serial").Caption("Số serial");
                    c.Add().DataField("Quantity").Caption("Số lượng");
                    c.Add().DataField("Note").Caption("Ghi chú");
                })
            )
        </div>
    </div>
</div>
<script src="~/js/reportapprove/request-payment.js"></script>