﻿@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<style>
</style>

<div>
    <div class="row">
        <div class="col-sm-12">
            Số đề nghị: <span id="request-number">&nbsp;</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            Loại tiền tệ: <span id="currency">&nbsp;</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            Thanh toán: <span id="payment">&nbsp;</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            Số tiền: <span id="amount">&nbsp;</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            Hạn thanh toán: <span id="time-of-payment">&nbsp;</span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            @(Html.DevExtreme().DataGrid()
        .ID("gridContainer-payment-detail")
        .RowAlternationEnabled(true)
        .WordWrapEnabled(true)
        .ShowBorders(true)
        .Columns(c => {
            c.Add().Caption("Stt").CellTemplate(@<text>
                <p><%- rowIndex+1 %></p>
            </text>);
            c.Add().DataField("RequestID").Caption("Mã đề xuất").Visible(false);
           
            c.Add().DataField("PaymentContent").Caption("Nội dung thanh toán");
            c.Add().DataField("Amount").Caption("Số tiền");
            c.Add().DataField("DocumentsNumber").Caption("Số chứng từ");
            c.Add().DataField("Note").Caption("Ghi chú");
        })
    )
        </div>
    </div>

    <div class="request-payment">
        <div class="row">
            <div class="col-sm-12">
                Nhà cung cấp: <span id="customer-name">&nbsp;</span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                Đơn vị thụ hưởng: <span id="beneficiary">&nbsp;</span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                Số tài khoản: <span id="beneficiary-account">&nbsp;</span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                Tại ngân hàng: <span id="bank-at">&nbsp;</span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                Bộ phận giao dịch: <span id="trading-department">&nbsp;</span>
            </div>
        </div>
    </div>
</div>

<script src="~/js/reportapprove/request-payment.js"></script>