﻿@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model IEnumerable<RequestModel>
@{
    ViewData["Title"] = "Danh sách đề xuất";
    Layout = "~/Views/Shared/_LayoutReportApprove.cshtml";
}



<script>
    DevAV.reportApproves = DevAV.reportApproves || {};
</script>

<style>
    .swal2-container {
        z-index: 20000 !important;
    }

    .item-list {
        height: 40px;
    }

    .header-toolbar {
        background: #e7e9ed;
        border: 1px solid #f69f41;
        padding: 5px;
    }

    /*.dx-toolbar {
        width: 100%;*/
    /* background-color: #fff; */
    /*color: #333;
        padding: 0;
        overflow: visible;
    }*/

    .theme-background-color {
        background-color: #f6f6f6;
    }

    #gridContainer tr.main-row td:not(:first-child) {
        height: 21px;
    }

    #gridContainer tr.notes-row {
        white-space: normal;
        vertical-align: top;
    }

        #gridContainer tr.notes-row td {
            height: 70px;
            color: #999;
        }

    #gridContainer tbody.dx-state-hover {
        background-color: #EBEBEB;
    }

        #gridContainer tbody.dx-state-hover tr.main-row td {
            color: #000;
        }

        #gridContainer tbody.dx-state-hover tr.notes-row td {
            color: #888;
        }

    .forward-button {
        background-color: #0cbe7f;
    }

    #content-detail #request-title {
        color: #f69f41;
        font-size: 24px;
        display: inline-block;
    }

    .ct-detail span {
        color: #828282;
        line-height: 14px;
    }

    .cv-detail span {
        color: #828282;
        line-height: 14px;
    }

    #customer-name, #payment, #amount {
        color: #828282;
        line-height: 14px;
    }

    #request-id {
        color: #ed1818;
        line-height: 14px;
    }

    .block {
        background: #ffffff;
        box-sizing: border-box;
        border: 5px solid transparent;
        background-clip: padding-box;
    }

    .block2 {
        background: #ffffff;
        box-sizing: border-box;
        border: 5px solid transparent;
        background-clip: padding-box;
    }

    #content-detail {
        /*padding: 5px;*/
        height: 80vh;
    }

    .dr-content {
        height: 100vh;
        padding-top: 5px;
        padding-bottom:5px;
    }

        .dr-content .no-request {
            box-sizing: border-box;
            border: 5px solid transparent;
            background-clip: padding-box;
            background: #ffffff;
            height: 80vh;
        }

    .list-class {
        background: #ffffff;
    }
</style>

@await Html.PartialAsync("~/Views/ReportApprove/_CreateReportCTPopup.cshtml")
@await Html.PartialAsync("~/Views/ReportApprove/_CreateReportCVPopup.cshtml")
@await Html.PartialAsync("~/Views/ReportApprove/_ChooseApproverPopup.cshtml")
@await Html.PartialAsync("~/Views/ReportApprove/_PreviewPopup.cshtml")

<div>
    @(Html.DevExtreme().Toolbar()
        .ElementAttr("class", "header-toolbar")
        .Items(items => {

            items.Add()
                    .Widget(w => w
                    .Button()
                    .Icon("fas fa-angle-double-down")
                    .UseSubmitBehavior(false)
                    .Type(ButtonType.Default)
                    .OnClick("button_clickHandler2")
                )
                .LocateInMenu(ToolbarItemLocateInMenuMode.Auto)
                .Location(ToolbarItemLocation.Before);

            items.Add()
                   .Widget(w => w
                   .Button()
                   .Icon("add")
                   .StylingMode(ButtonStylingMode.Contained)
                   .Type(ButtonType.Success)
                   .UseSubmitBehavior(false)
                   .OnClick("DevAV.reportApproves.button_createNewRequest_clickHandle")
               )
               .LocateInMenu(ToolbarItemLocateInMenuMode.Auto)
               .Location(ToolbarItemLocation.Before);

            //items.Add()
            //      .Widget(w => w
            //      .Button()
            //      .Icon("fas fa-edit")
            //      .StylingMode(ButtonStylingMode.Contained)
            //      .Type(ButtonType.Default)
            //      .UseSubmitBehavior(false)
            //      //.OnClick("DevAV.reportApproves.button_editRequest_clickHandle")
            //  )
            //  .LocateInMenu(ToolbarItemLocateInMenuMode.Auto)
            //  .Location(ToolbarItemLocation.Before);

            //items.Add()
            //      .Widget(w => w
            //      .Button()
            //      .Icon("delete")
            //      .StylingMode(ButtonStylingMode.Contained)
            //      .Type(ButtonType.Danger)
            //      .UseSubmitBehavior(false)
            //      //.OnClick("DevAV.reportApproves.button_deleteRequest_clickHandle")
            //  )
            //  .LocateInMenu(ToolbarItemLocateInMenuMode.Auto)
            //  .Location(ToolbarItemLocation.Before);

        })
    )
</div>

<div class="drawer">
    @(Html.DevExtreme().Drawer()
        .ID("drawer2")
        .OpenedStateMode(DrawerOpenedStateMode.Shrink)
        .Opened(new JS("JSON.parse(sessionStorage.getItem('isDrawerOpen2'))"))
        .Position(DrawerPosition.Left)
        .Height("100vh")
        .RevealMode(DrawerRevealMode.Slide)
        .CloseOnOutsideClick(true)
        .Content(@<text>
            <div class="dr-content">
                <div class="no-request" hidden>
                    <img style="display: block; margin-left: auto; margin-right: auto;width: 100%;"src="~/image/no-data.png" alt="">
                   @* <p class="d-flex justify-content-center"><b>Không có đề xuất nào đang chờ duyệt</b></p>*@
                </div>

                <div id="content-detail" class="row" hidden>

                    <div class="col-sm-9 block">

                        <div class="row">
                            <div class="col-auto me-auto">
                                <br><span id="request-title">&nbsp;</span>
                            </div>
                             <div class="col-auto" id="overdue-image" hidden>
                                <img style="display: block;margin-top:auto;margin-bottom:auto;width:50px;height:50px;"src="~/image/overdue.png" alt="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                Thời hạn xử lý : <span id="processing-time">&nbsp;</span>
                            </div>
                            <div class="col-sm-3">
                                Còn lại : <span id="remaining-time">&nbsp;</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                Trạng thái : <span id="status">&nbsp;</span>
                            </div>
                        </div>

                        <hr/>

                        @*<div class="row justify-content-between">
                            <div class="col-auto me-auto">
                                @(Html.DevExtreme().Button()
                                                .ID("prev-button")
                                                .Icon("spinprev")
                                                .StylingMode(ButtonStylingMode.Contained)
                                                .Type(ButtonType.Normal)
                                                .OnClick("DevAV.reportApproves.prevItem")
                                            )
                            </div>
                            <div class="col-auto">
                                @(Html.DevExtreme().Button()
                                                .ID("next-button")
                                                .Icon("spinnext")
                                                .Type(ButtonType.Normal)
                                                .StylingMode(ButtonStylingMode.Contained)
                                                .OnClick("DevAV.reportApproves.nextItem")
                                            )
                            </div>
                        </div>

                        <hr/>*@


                        <div class="row justify-content-end">
                            <div class="col-auto me-auto">
                                @(Html.DevExtreme().Button()
                                                .ID("accept-button")
                                                .Icon("fas fa-check")
                                                .Width(150)
                                                .Text("Chấp nhận")
                                                .Type(ButtonType.Success)
                                                .OnClick("DevAV.reportApproves.approve")
                                            )
                            </div>
                            <div class="col-auto me-auto">
                                @(Html.DevExtreme().Button()
                                                .ID("fw-button")
                                                .Text("Chuyển tiếp")
                                                .Icon("fas fa-forward")
                                                .Width(150)
                                                .Type(ButtonType.Default)
                                                .OnClick("DevAV.reportApproves.openPopupForward")
                                            )
                            </div>
                            <div class="col-auto me-auto">
                                @(Html.DevExtreme().Button()
                                                .ID("refuse-button")
                                                .Icon("far fa-times-circle")
                                                .Text("Từ chối")
                                                .Width(150)
                                                .Type(ButtonType.Danger)
                                                .OnClick("DevAV.reportApproves.refuse")
                                            )
                            </div>
                            <div class="col-auto me-auto">
                                @(Html.DevExtreme().Button()
                                                .ID("preview")
                                                .Icon("fas fa-print")
                                                .Width(150)
                                                .Text("Print")
                                                .OnClick("DevAV.reportApproves.openPreviewPopup")
                                            )
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-auto me-auto">
                                <b>Thông tin đề xuất</b>
                            </div>
                            <div class="col-auto">
                                Mã đề xuất: <span id="request-id">&nbsp;</span>
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-sm-12">
                                Người trình: <span id="create-name">&nbsp;</span>
                                <span id="current-name" hidden>@HttpContextAccessor.HttpContext.Session.GetString("Username")</span>
                                <span id="create-email" hidden>&nbsp;</span>
                                 <span id="create-department" hidden>&nbsp;</span>
                                 <span id="printer" hidden>@HttpContextAccessor.HttpContext.Session.GetString("Email")</span>
                                <span id="amount-to-word" hidden></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                Nhóm đề xuất: <span id="request-type">&nbsp;</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                Ngày trình: <span id="create-date">&nbsp;</span>
                            </div>
                        </div>



                        <div>
                            <h6><b>Thông tin khác</b></h6>

                            <div class="row">
                                <div class="col-sm-12">
                                     Đơn vị/ Khách hàng: <span id="customer-name">&nbsp;</span>
                                </div>
                            </div>
                             <div class="row">
                                <div class="col-sm-12">
                                     Thanh toán: <span id="payment">&nbsp;</span>
                                </div>
                            </div>
                             <div class="row">
                                <div class="col-sm-12">
                                     Số tiền: <span id="amount">&nbsp;</span>
                                </div>
                            </div>

                            <div class="ct-detail" hidden>
                                <div class="row">
                                    <div class="col-sm-12">
                                         Mã khách hàng: <span id="customer-id">&nbsp;</span>
                                    </div>
                                </div>
                                 <div class="row">
                                    <div class="col-sm-12">
                                         Địa chỉ khách hàng: <span id="customer-adress">&nbsp;</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                         Ngày thực hiện: <span id="execution-date">&nbsp;</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                         Nhân viên kinh doanh: <span id="business-staff-id">&nbsp;</span>
                                    </div>
                                </div>
                                 <div class="row">
                                    <div class="col-sm-12">
                                         Phương tiện: <span id="vehice">&nbsp;</span>
                                    </div>
                                </div>
                                 <div class="row">
                                    <div class="col-sm-12">
                                         Chủ phương tiện: <span id="vehicle-owner">&nbsp;</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                         Mã đơn hàng: <span id="order-id">&nbsp;</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                         Trị giá đơn hàng: <span id="order-value">&nbsp;</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                         Công tác phí: <span id="business-fee">&nbsp;</span>
                                    </div>
                                </div>
                            </div>

                             <div class="cv-detail" hidden>
                                <div class="row">
                                    <div class="col-sm-12">
                                         Nội dung: <span id="request-content">&nbsp;</span>
                                    </div>
                                </div>
                                 <div class="row">
                                    <div class="col-sm-12">
                                         Chứng từ kèm: <span id="accompanying-documents">&nbsp;</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                         Nơi thanh toán: <span id="payment-place">&nbsp;</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                         Người thụ hưởng: <span id="beneficiary">&nbsp;</span>
                                    </div>
                                </div>
                                 <div class="row">
                                    <div class="col-sm-12">
                                         Tài khoản thụ hưởng: <span id="beneficiary-account">&nbsp;</span>
                                    </div>
                                </div>
                                 <div class="row">
                                    <div class="col-sm-12">
                                         Tại ngân hàng: <span id="bank-at">&nbsp;</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-3 block2">
                        <div class="row">
                            <div class="col-sm-12">
                                <b>Người xét duyệt</b>
                            </div>
                        </div>
                        <ul id="list-approvers" style="color:#0094ff"></ul>

                        <hr />

                        <div class="row">
                            <div class="col-sm-12">
                                <b>Người theo dõi</b>
                            </div>
                        </div>
                        <ul id="list-followers" style="color:#0094ff"></ul>
                    </div>
                </div>
            </div>
        </text>)
        .Template(@<text>
            <div style="width:300px">
                <h3 style="height:5vh;">Danh sách yêu cầu</h3>
                 @(Html.DevExtreme().TabPanel()
                        .ID("tab-panel")
                        .Height("auto")
                        .Width(300)
                        //.OnContentReady("DevAV.reportApproves.contentReady")
                        //.OnInitialized("DevAV.reportApproves.contentReady")
                        .RepaintChangesOnly(true)
                        .Items(i => {
                            i.Add()
                                .Title("Chờ phê duyệt")
                                .Template(new TemplateName("waiting-tab-template"));
                            //.Badge(new JS("DevAV.reportApproves.waitingBadge"));
                            i.Add()
                                .Title("Theo dõi")
                                .Template(new TemplateName("following-tab-template"));
                            i.Add()
                                .Title("Quá hạn")
                                .Template(new TemplateName("overdue-tab-template"));
                        })
                        .SelectedIndex(0)
                        .ShowNavButtons(true)
                        .Loop(true)
                        .AnimationEnabled(true)
                        .NoDataText("Không có đề xuất nào")
                        .SwipeEnabled(true)
                        .ItemTitleTemplate(new JS("DevAV.reportApproves.tabTitleTemplate"))
                        //.ItemTemplate("DevAV.reportApproves.tabPanelTemplate")
                        .DeferRendering(false)
                    )
            </div>
        </text>)
    )
</div>

@(Html.DevExtreme().Tooltip()
                                .ID("tooltip")
                                .ShowEvent("mouseenter")
                                .HideEvent("mouseleave")
                                .CloseOnOutsideClick(false)
                                .Position(Position.Right)
                            )
@*<div class="row">
        <div class="col-sm-3">
            <h3>Danh sách yêu cầu</h3>
            @(Html.DevExtreme().TabPanel()
                        .Height(330)
                        .Items(i => {
                            i.Add()
                                .Title("Đang chờ duyệt")
                                .Template(@<text>
                                     @(Html.DevExtreme().List()
                                        .ID("list")
                                        .BounceEnabled(true)
                                        .Height("100%")
                                        .ShowSelectionControls(true)
                                        .Visible(true)
                                        .SelectionMode(ListSelectionMode.All)
                                        .OnSelectionChanged("DevAV.reportApproves.selectRow")
                                        .DataSource(d => d.Mvc()
                                                            .Controller("ReportCTApi")
                                                            .LoadAction("Get")
                                                            .Key("ReportID")
                                                        )
                                        .ItemTemplate(new TemplateName("waiting-template"))
                                    )
                                </text>);
                            i.Add()
                                .Title("Đang theo dõi")
                                .Template(@<text>
                                    @(Html.DevExtreme().List()
                                        .ID("list2")
                                        .BounceEnabled(true)
                                        .Height("100%")
                                        .ShowSelectionControls(true)
                                        .Visible(true)
                                        .SelectionMode(ListSelectionMode.All)
                                        .OnSelectionChanged("DevAV.reportApproves.selectRow")
                                        .DataSource(d => d.Mvc()
                                                            .Controller("ReportCTApi")
                                                            .LoadAction("Get")
                                                            .Key("ReportID")
                                                        )
                                        .ItemTemplate(new TemplateName("waiting-template"))
                                    )
                                </text>);
                            i.Add()
                                .Title("Đề xuất của tôi")
                                .Template(@<text>
                                    @(Html.DevExtreme().List()
                                        .ID("list3")
                                        .BounceEnabled(true)
                                        .Height("100%")
                                        .ShowSelectionControls(true)
                                        .Visible(true)
                                        .SelectionMode(ListSelectionMode.All)
                                        .OnSelectionChanged("DevAV.reportApproves.selectRow")
                                        .DataSource(d => d.Mvc()
                                                            .Controller("ReportCTApi")
                                                            .LoadAction("Get")
                                                            .Key("ReportID")
                                                        )
                                        .ItemTemplate(new TemplateName("waiting-template"))
                                    )
                                </text>);
                        })
                        .SelectedIndex(0)
                        .Loop(false)
                        .AnimationEnabled(true)
                        .NoDataText("Không có đề xuất nào")
                        .SwipeEnabled(true)
                        .ItemTitleTemplate(@<text><span><%= title %></span></text>)

                    )


        </div>
        <div class="col-sm-7">

            <div class="row">
                <div class="col-sm-12">
                    <br><span id="report-name">&nbsp;</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    Trạng thái : <span id="status">&nbsp;</span>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-sm-4">
                    @(Html.DevExtreme().Button()
                                    .ID("accept-button")
                                    .Text("Chấp nhận")
                                    .Width(200)
                                    .Type(ButtonType.Success)
                                    .OnClick("DevAV.reportApproves.approve")
                                )
                </div>
                <div class="col-sm-4">
                    @(Html.DevExtreme().Button()
                                    .ID("fw-button")
                                    .Text("Chuyển tiếp")
                                    .Width(200)
                                    .Type(ButtonType.Default)
                                    .OnClick("DevAV.reportApproves.openPopupForward")
                                )
                </div>
                <div class="col-sm-4">
                    @(Html.DevExtreme().Button()
                                    .ID("refuse-button")
                                    .Text("Từ chối")
                                    .Width(200)
                                    .Type(ButtonType.Danger)
                                    .OnClick("DevAV.reportApproves.refuse")
                                )
                </div>
            </div>

            <div class="row">
                <div class="col-auto me-auto">
                    Thông tin đề xuất
                </div>
                <div class="col-auto">
                    Mã đề xuất: <span id="report-id">&nbsp;</span>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-sm-12">
                    Người tạo: <span id="create-name">&nbsp;</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    Nhóm đề xuất: <span id="report-type">&nbsp;</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    Thời gian tạo: <span id="create-date">&nbsp;</span>
                </div>
            </div>

        </div>

        <div class="col-sm-2">
            <div class="row">
                <div class="col-sm-12">
                    Người xét duyệt
                </div>
            </div>
            <hr />
            <ul id="list-approvers"></ul>

            <div class="row">
                <div class="col-sm-12">
                    Người theo dõi
                </div>
            </div>
            <hr />
            <ul id="list-followers"></ul>
        </div>
    </div>*@

@using (Html.DevExtreme().NamedTemplate("waiting-tab-template"))
{
    @(Html.DevExtreme().List()
        .ID("list")
        .ElementAttr("class","list-class")
        .PullRefreshEnabled(true)
        .RefreshingText("Refresh")
        .SearchEnabled(true)
        .Height("75vh")
        .Visible(true)
        //.SelectionMode(ListSelectionMode.All)
        //.ShowSelectionControls(true)
        //.OnSelectionChanged("DevAV.reportApproves.selectRow")
        .OnContentReady("DevAV.reportApproves.selectFirstRow")
        .OnItemClick("DevAV.reportApproves.itemClick")
        .DataSource(d => d.Mvc()
                            .Controller("RequestApi")
                            .LoadAction("GetByApprovers")
                            .LoadParams(new { approvers=HttpContextAccessor.HttpContext.Session.GetString("Username")})
                            .Key("RequestID")
                        )
        .ItemTemplate(new TemplateName("list-template"))

    )
}

@using (Html.DevExtreme().NamedTemplate("following-tab-template"))
{
    @(Html.DevExtreme().List()
        .ID("list2")
        .ElementAttr("class", "list-class")
        .SearchEnabled(true)
        .Height("75vh")
        //.ShowSelectionControls(true)
        .Visible(true)
        //.SelectionMode(ListSelectionMode.All)
        .OnSelectionChanged("DevAV.reportApproves.selectRow")
        //.OnContentReady("DevAV.reportApproves.selectFirstRow")
        .OnItemClick("DevAV.reportApproves.itemClick")
        .DataSource(d => d.Mvc()
                             .Controller("RequestApi")
                            .LoadAction("GetByFollowers")
                            .LoadParams(new { followers = HttpContextAccessor.HttpContext.Session.GetString("Username") })
                            .Key("RequestID")
                        )
        .ItemTemplate(new TemplateName("list-template"))
    )
}

@using (Html.DevExtreme().NamedTemplate("overdue-tab-template"))
{
    @(Html.DevExtreme().List()
        .ID("list3")
        .ElementAttr("class", "list-class")
        .SearchEnabled(true)
        .Height("75vh")
        //.ShowSelectionControls(true)
        .Visible(true)
        //.SelectionMode(ListSelectionMode.All)
        .OnSelectionChanged("DevAV.reportApproves.selectRow")
        //.OnContentReady("DevAV.reportApproves.selectFirstRow")
        .OnItemClick("DevAV.reportApproves.itemClick")
        .DataSource(d => d.Mvc()
                             .Controller("RequestApi")
                            .LoadAction("GetOverdueRequest")
                            .LoadParams(new { approvers = HttpContextAccessor.HttpContext.Session.GetString("Username") })
                            .Key("RequestID")
                        )
        .ItemTemplate(new TemplateName("list-template"))
    )
}

@*@using (Html.DevExtreme().NamedTemplate("my-report-tab-template"))
    {
        @(Html.DevExtreme().List()
            .ID("list3")
            .SearchEnabled(true)
            .Height("100%")
            .ShowSelectionControls(true)
            .Visible(true)
            .SelectionMode(ListSelectionMode.All)
            .OnSelectionChanged("DevAV.reportApproves.selectRow")
            .OnContentReady("DevAV.reportApproves.selectFirstRow")
            .OnItemClick("DevAV.reportApproves.itemClick")
            .DataSource(d => d.Mvc()
                                 .Controller("RequestApi")
                                .LoadAction("GetByCreateName")
                                .LoadParams(new { createname = HttpContextAccessor.HttpContext.Session.GetString("Username") })
                                .Key("RequestID")
                            )
            .ItemTemplate(new TemplateName("list-template"))
        )
    }*@

@using (Html.DevExtreme().NamedTemplate("tab-title-template"))
{
    <span><%= title %></span>
}

@using (Html.DevExtreme().NamedTemplate("list-template"))
{
    <div class="row">
        <div class="col-sm-8" style="overflow:hidden;color:#0cbe7f"><%- RequestTitle %></div>
        <div class="col-sm-4" style="color:#0094ff"><%- formatDate(new Date(CreateDate)) %></div>
    </div>
    <div class="row">
        <div class="col-sm-12">Người trình: <%- CreateName %></div>
    </div>
    <div class="row">
        <div class="col-sm-12" style="color:#f69f41"><%- Status %></div>
    </div>
}

@*@using (Html.DevExtreme().NamedTemplate("list-template"))
    {
        <tr class="main-row">

            <td><%- data.RequestID %></td>
            <td><%- formatDate(new Date(data.CreateDate)) %></td>
        </tr>
        <tr class="notes-row">
            <td colspan="6">
                <div><%- data.CustomerAdress %></div>
            </td>
        </tr>
    }*@

<script>
    var formatDate = new Intl.DateTimeFormat("en-US").format;

    function button_clickHandler2() {
        const drawer = $("#drawer2").dxDrawer("instance");
        drawer.toggle();
        sessionStorage.setItem("isDrawerOpen2", JSON.stringify(drawer.option("opened")));
    }
    function formatCurrency(value) {
        return "$" + new Intl.NumberFormat("en-US", { maximumFractionDigits: 0 }).format(value);
    }


    /* $("#amount-to-word").text("(" + VNnum2words(Number(1200000001)) + " VND)");*/


</script>

