﻿@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model IEnumerable<RequestModel>
@{
    ViewData["Title"] = "Danh sách đề xuất";
    Layout = "~/Views/Shared/_LayoutReportApprove.cshtml";
}




<script>
    DevAV.requests = DevAV.requests || {};
</script>

<style>
    .swal2-container {
        z-index: 20000 !important;
    }

    .item-list {
        height: 40px;
    }

    .theme-background-color {
        background-color: #f6f6f6;
    }

    #gridContainer tr.main-row td:not(:first-child) {
        height: 21px;
    }

    #gridContainer tr.notes-row {
        white-space: normal;
        vertical-align: top;
    }

        #gridContainer tr.notes-row td {
            height: 70px;
            color: #999;
        }

    #gridContainer tbody.dx-state-hover {
        background-color: #EBEBEB;
    }

        #gridContainer tbody.dx-state-hover tr.main-row td {
            color: #000;
        }

        #gridContainer tbody.dx-state-hover tr.notes-row td {
            color: #888;
        }

    .forward-button {
        background-color: #0cbe7f;
    }

    #content-detail #request-title {
        color: #f69f41;
        font-size: 24px;
        display: inline-block;
    }

    .ct-detail span {
        color: #828282;
        line-height: 14px;
    }

    .cv-detail span {
        color: #828282;
        line-height: 14px;
    }

    #customer-name, #payment, #amount {
        color: #828282;
        line-height: 14px;
    }

    #request-id {
        color: #ed1818;
        line-height: 14px;
    }

    .block {
        background: #ffffff;
        box-sizing: border-box;
        border: 5px solid transparent;
        background-clip: padding-box;
    }


    #content-detail {
        /*padding: 5px;*/
        height: 100vh;
    }

    .dr-content {
        height: 100vh;
        padding-top: 5px;
        padding-bottom: 5px;
    }

        .dr-content .no-request {
            box-sizing: border-box;
            border: 5px solid transparent;
            background-clip: padding-box;
            background: #ffffff;
            height: 80vh;
        }

    .list-class {
        background: #ffffff;
    }
</style>


@*@await Html.PartialAsync("~/Views/ReportApprove/_ChooseApproverPopup.cshtml")
    @await Html.PartialAsync("~/Views/ReportApprove/_PreviewPopup.cshtml")

    @await Html.PartialAsync("~/Views/ReportApprove/RequestPayment/_CreateRequestPaymentPopup.cshtml")
    @await Html.PartialAsync("~/Views/ReportApprove/RequestSupplies/_CreateRequestSuppliesPopup.cshtml")
    @await Html.PartialAsync("~/Views/ReportApprove/RequestLendGoodsDemo/_CreateRequestLendGoodsDemo.cshtml")
    @await Html.PartialAsync("~/Views/ReportApprove/RequestBookGrab/_CreateRequestBookGrabPopup.cshtml")
    @await Html.PartialAsync("~/Views/ReportApprove/RequestReimbursement/_CreateRequestReimbursementPopup.cshtml")*@

@await Html.PartialAsync("~/Views/ReportApprove/_EditRequestPopup.cshtml")

<div>
    @(Html.DevExtreme().Toolbar()
        .ElementAttr("class", "header-toolbar")
        .Items(items => {


            items.Add()
                    .Widget(w => w
                    .Button()
                    .Icon("fas fa-angle-double-down")
                    .Text("Danh sách đề xuất")
                    .UseSubmitBehavior(false)
                    .Type(ButtonType.Default)
                    .StylingMode(ButtonStylingMode.Outlined)
                    .OnClick("button_clickHandler2")
                )
                .LocateInMenu(ToolbarItemLocateInMenuMode.Always)
                .Location(ToolbarItemLocation.After);

            items.Add()
                   .Widget(w => w
                   .Button()
                   .Icon("add")
                   .Text("Thêm đề xuất")
                   .StylingMode(ButtonStylingMode.Outlined)
                   .Type(ButtonType.Success)
                   .UseSubmitBehavior(false)
                   .OnClick("DevAV.requests.button_createNewRequest_clickHandle")
               )
               .LocateInMenu(ToolbarItemLocateInMenuMode.Always)
               .Location(ToolbarItemLocation.After);



        })
    )

</div>


<div class="drawer">
    @(Html.DevExtreme().Drawer()
        .ID("drawer2")
        .OpenedStateMode(DrawerOpenedStateMode.Shrink)
        .Opened(new JS("JSON.parse(sessionStorage.getItem('isDrawerOpen2'))"))
        .Position(DrawerPosition.Right)
        .Height("100vh")
        .RevealMode(DrawerRevealMode.Expand)
        .CloseOnOutsideClick(true)
        .Content(@<text>
            <div class="dr-content">
                <div class="no-request" hidden>
                    <img style="display: block; margin-left: auto; margin-right: auto;width: 80%;"src="~/image/no-data.png" alt="">
                </div>

                <div id="content-detail" hidden>
                     <div class="row">
                        <div class="col-sm-8 block">

                            <div class="row">
                                <div class="col-auto me-auto">
                                    <br><span id="request-title">&nbsp;</span>
                                </div>
                                <div class="col-auto" id="overdue-image" hidden>
                                    <img style="display: block;margin-top:auto;margin-bottom:auto;width:50px;height:50px;" src="~/image/overdue.png" alt="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    Thời hạn xử lý : <span id="processing-time">&nbsp;</span>
                                </div>
                                <div class="col-sm-3">
                                    Còn lại : <span id="remaining-time">&nbsp;</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    Trạng thái : <span id="status">&nbsp;</span>
                                </div>
                            </div>

                            <hr />

                            <div class="row justify-content-end">
                                <div class="col-auto me-auto">
                                    @(Html.DevExtreme().Button()
                                                                .ID("accept-button")
                                                                .Icon("fas fa-check")
                                                                .Width(150)
                                                                .Text("Chấp nhận")
                                                                .Type(ButtonType.Success)
                                                                .OnClick("DevAV.reportApproves.approve")
                                                            )
                                </div>
                                <div class="col-auto me-auto">
                                    @(Html.DevExtreme().Button()
                                                                .ID("fw-button")
                                                                .Text("Chuyển tiếp")
                                                                .Icon("fas fa-forward")
                                                                .Width(150)
                                                                .Type(ButtonType.Default)
                                                                .OnClick("DevAV.reportApproves.openPopupForward")
                                                            )
                                </div>
                                <div class="col-auto me-auto">
                                    @(Html.DevExtreme().Button()
                                                                .ID("refuse-button")
                                                                .Icon("far fa-times-circle")
                                                                .Text("Từ chối")
                                                                .Width(150)
                                                                .Type(ButtonType.Danger)
                                                                .OnClick("DevAV.reportApproves.refuse")
                                                            )
                                </div>
                                <div class="col-auto me-auto">
                                    @(Html.DevExtreme().Button()
                                                                .ID("preview")
                                                                .Icon("fas fa-print")
                                                                .Width(150)
                                                                .Text("Print")
                                                                .OnClick("DevAV.reportApproves.openPreviewPopup")
                                                            )
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-auto me-auto">
                                    <b>Thông tin đề xuất</b>
                                </div>
                                <div class="col-auto">
                                    Mã đề xuất: <span id="request-id">&nbsp;</span>
                                </div>
                            </div>



                            <div class="row">
                                <div class="col-sm-12">
                                    Người trình: <span id="create-name">&nbsp;</span>
                                    <span id="current-name" hidden>@HttpContextAccessor.HttpContext.Session.GetString("Username")</span>
                                    <span id="create-email" hidden>&nbsp;</span>
                                    <span id="printer" hidden>@HttpContextAccessor.HttpContext.Session.GetString("Email")</span>
                                    <span id="amount-to-word" hidden></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    Nhóm đề xuất: <span id="request-type">&nbsp;</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    Ngày trình: <span id="create-date">&nbsp;</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    Địa chỉ: <span id="create-department">&nbsp;</span>
                                </div>
                            </div>



                            <div>
                                <h6><b>Thông tin khác</b></h6>
                                <div class="request-payment" hidden>
                                     @await Html.PartialAsync("~/Views/ReportApprove/_RequestPayment.cshtml")
                                </div>
                                <div class="request-supplies" hidden>
                                     @await Html.PartialAsync("~/Views/ReportApprove/_RequestSupplies.cshtml")
                                </div>
                                <div class="request-lend-goods-demo" hidden>
                                     @await Html.PartialAsync("~/Views/ReportApprove/_RequestLendGoodsDemo.cshtml")
                                </div>
                                <div class="request-book-grab" hidden>
                                     @await Html.PartialAsync("~/Views/ReportApprove/_RequestBookGrab.cshtml")
                                </div>
                                 <div class="request-reimbursement" hidden>
                                     @await Html.PartialAsync("~/Views/ReportApprove/_RequestReimbursement.cshtml")
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-2 block">
                            <div class="row">
                                <div class="col-sm-12">
                                    <b>Người xét duyệt</b>
                                </div>
                            </div>
                            <ul id="list-approvers" style="color:#0094ff"></ul>

                            <hr />

                            <div class="row">
                                <div class="col-sm-12">
                                    <b>Người theo dõi</b>
                                </div>
                            </div>
                            <ul id="list-followers" style="color:#0094ff"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </text>)
        .Template(@<text>
            <div style="width:300px">
                <h3 style="height:5vh;">Danh sách yêu cầu</h3>
                 @(Html.DevExtreme().TabPanel()
                        .ID("tab-panel")
                        .Height("auto")
                        .Width(300)
                        .RepaintChangesOnly(true)
                        .Items(i => {
                            i.Add()
                                .Title("Chờ phê duyệt")
                                .Template(new TemplateName("waiting-tab-template"));
                            i.Add()
                                .Title("Theo dõi")
                                .Template(new TemplateName("following-tab-template"));
                            i.Add()
                                .Title("Quá hạn")
                                .Template(new TemplateName("overdue-tab-template"));
                        })
                        .SelectedIndex(0)
                        .ShowNavButtons(true)
                        .Loop(true)
                        .AnimationEnabled(true)
                        .NoDataText("Không có đề xuất nào")
                        .SwipeEnabled(true)
                        .ItemTitleTemplate(new JS("DevAV.reportApproves.tabTitleTemplate"))
                        .DeferRendering(false)
                    )
            </div>
        </text>)
    )
</div>



@(Html.DevExtreme().Tooltip()
                                .ID("tooltip")
                                .ShowEvent("mouseenter")
                                .HideEvent("mouseleave")
                                .CloseOnOutsideClick(false)
                                .Position(Position.Right)
                            )

@using (Html.DevExtreme().NamedTemplate("waiting-tab-template"))
{
    @(Html.DevExtreme().List()
        .ID("list")
        .ElementAttr("class","list-class")
        .PullRefreshEnabled(true)
        .RefreshingText("Refresh")
        .SearchEnabled(true)
        .Height("75vh")
        .Visible(true)
        .ItemDeleteMode(ListItemDeleteMode.Toggle)
        .OnContentReady("DevAV.reportApproves.selectFirstRow")
        .OnItemClick("DevAV.reportApproves.itemClick")
        .DataSource(d => d.Mvc()
                            .Controller("RequestApi")
                            .LoadAction("GetByApprovers")
                            .LoadParams(new { approvers=HttpContextAccessor.HttpContext.Session.GetString("Username")})
                            .Key("RequestID")
                        )
        .ItemTemplate(new TemplateName("list-template"))

    )
}

@using (Html.DevExtreme().NamedTemplate("following-tab-template"))
{
    @(Html.DevExtreme().List()
        .ID("list2")
        .ElementAttr("class", "list-class")
        .SearchEnabled(true)
        .Height("75vh")
        .Visible(true)
        .AllowItemDeleting(true)
        .ItemDeleteMode(ListItemDeleteMode.Toggle)
        .OnSelectionChanged("DevAV.reportApproves.selectRow")
        .OnItemClick("DevAV.reportApproves.itemClick")
        .DataSource(d => d.Mvc()
                             .Controller("RequestApi")
                            .LoadAction("GetByFollowers")
                            .LoadParams(new { followers = HttpContextAccessor.HttpContext.Session.GetString("Username") })
                            .Key("RequestID")
                        )
        .ItemTemplate(new TemplateName("list-template"))
    )
}

@using (Html.DevExtreme().NamedTemplate("overdue-tab-template"))
{
    @(Html.DevExtreme().List()
        .ID("list3")
        .ElementAttr("class", "list-class")
        .SearchEnabled(true)
        .Height("75vh")
        .Visible(true)
        .AllowItemDeleting(true)
        .ItemDeleteMode(ListItemDeleteMode.Toggle)
        .OnSelectionChanged("DevAV.reportApproves.selectRow")
        .OnItemClick("DevAV.reportApproves.itemClick")
        .DataSource(d => d.Mvc()
                             .Controller("RequestApi")
                            .LoadAction("GetOverdueRequest")
                            .LoadParams(new { approvers = HttpContextAccessor.HttpContext.Session.GetString("Username") })
                            .Key("RequestID")
                        )
        .ItemTemplate(new TemplateName("list-template"))
    )
}

@using (Html.DevExtreme().NamedTemplate("tab-title-template"))
{
    <span><%= title %></span>
}

@using (Html.DevExtreme().NamedTemplate("list-template"))
{
    <div class="row">
        <div class="col-sm-8" style="overflow:hidden;color:#0cbe7f"><%- RequestType %></div>
        <div class="col-sm-4" style="color:#0094ff"><%- formatDate(new Date(CreateDate)) %></div>
    </div>
    <div class="row">
        <div class="col-sm-12">Người trình: <%- CreateName %></div>
    </div>
    <div class="row">
        <div class="col-sm-12" style="color:#f69f41"><%- CreateDepartment %></div>
    </div>
}

<script>
    var formatDate = new Intl.DateTimeFormat("en-US").format;

    function button_clickHandler2() {
        const drawer = $("#drawer2").dxDrawer("instance");
        drawer.toggle();
        sessionStorage.setItem("isDrawerOpen2", JSON.stringify(drawer.option("opened")));
    }
    function formatCurrency(value) {
        return "$" + new Intl.NumberFormat("en-US", { maximumFractionDigits: 0 }).format(value);
    }

</script>

<script src="~/js/reportapprove/request.js"></script>

