﻿<style>
    body {
        background-color: #eeeeee
    }

    .card {
        width: 400px;
        border: none
    }

    .btr {
        border-top-right-radius: 5px !important
    }

    .btl {
        border-top-left-radius: 5px !important
    }

    .btn-dark {
        color: #fff;
        background-color: #0d6efd;
        border-color: #0d6efd
    }

        .btn-dark:hover {
            color: #fff;
            background-color: #0d6efd;
            border-color: #0d6efd
        }

    .nav-pills {
        display: table !important;
        width: 100%
    }

        .nav-pills .nav-link {
            border-radius: 0px;
            border-bottom: 1px solid #0d6efd40
        }

    .nav-item {
        display: table-cell;
        background: #0d6efd2e
    }

    .form {
        padding: 10px;
        height: 300px
    }

        .form input {
            margin-bottom: 12px;
            border-radius: 3px
        }

            .form input:focus {
                box-shadow: none
            }

        .form button {
            margin-top: 20px
        }
</style>

<div class="d-flex justify-content-center align-items-center mt-5">
    <div class="card">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item text-center"> <a class="nav-link active btl" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Login</a> </li>
            <li class="nav-item text-center"> <a class="nav-link btr" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Signup</a> </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" style="padding:20px;">
                @using (Html.BeginForm("Login", "UserReportApprove", FormMethod.Post, new { id = "login" }))
                {


                    using (Html.DevExtreme().ValidationGroup())
                    {

                        @Html.AntiForgeryToken()

                        @(Html.DevExtreme().Form<LoginRequest>()
                            .MinColWidth(100)
                            .ShowValidationSummary(true)
                            .Items(items => {

                            items.AddGroup()
                                .CssClass("second-group")
                                .Items(groupItems => {
                                    groupItems.AddSimpleFor(m => m.Username).Label(l => l.Text("Tên tài khoản"))
                                     .Editor(e => e.TextBox().Placeholder("Tên tài khoản")).IsRequired(true);

                                    groupItems.AddSimpleFor(m => m.Password).Label(l => l.Text("Mật khẩu")).IsRequired(true)
                                        .Editor(e => e.TextBox().Mode(TextBoxMode.Password).Placeholder("Mật khẩu").ID("password")
                                        .Buttons(buttons =>
                                        {
                                            buttons.Add()
                                                .Name("password")
                                                .Location(TextEditorButtonLocation.After)
                                                .Widget(w => w.Button()
                                                    .Type(ButtonType.Default)
                                                    .ID("show-pw")
                                                    .Icon("far fa-eye-slash")
                                                    .OnClick("changePasswordMode"));
                                        })
                                        );

                                    groupItems.AddSimpleFor(m => m.RememberMe)
                                        .Editor(e => e.CheckBox().OnValueChanged("checkBox_valueChanged"));
                                });

                            items.AddSimple().Template(@<text>
                                                            <button id="login" class="btn btn-dark btn-block">Đăng nhập</button>
                                                         </text>);

                            })

                            .FormData(Model)
                        )

                        <span class="text-danger">@Html.ValidationMessage("CustomError")</span>
                    }

                }
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                @using (Html.BeginForm("Register", "UserReportApprove", FormMethod.Post, new { id = "register" }))
                {


                    using (Html.DevExtreme().ValidationGroup())
                    {

                        @Html.AntiForgeryToken()

                        @(Html.DevExtreme().Form<RegisterRequest>()
                            .MinColWidth(100)
                            .ShowValidationSummary(true)
                            .Items(items => {

                            items.AddGroup()
                                .CssClass("second-group")
                                .Items(groupItems => {
                                    groupItems.AddSimpleFor(m => m.Username).Label(l => l.Text("Tên tài khoản"))
                                     .Editor(e => e.TextBox().Placeholder("Tên tài khoản"));

                                    groupItems.AddSimpleFor(m => m.Email).Label(l => l.Text("Email"))
                                     .Editor(e => e.TextBox().Placeholder("Email")).IsRequired(true).ValidationRules(v=>v.AddEmail());

                                    groupItems.AddSimpleFor(m => m.Department).Label(l => l.Text("Bộ phận"))
                                     .Editor(e => e.SelectBox().DataSource(new JS("department"))
                                            .ValueExpr("text")
                                            .DisplayExpr("text")
                                            .Placeholder("Chọn bộ phận"));

                                    groupItems.AddSimpleFor(m => m.Password).Label(l => l.Text("Mật khẩu"))
                                        .Editor(e => e.TextBox().Mode(TextBoxMode.Password).Placeholder("Mật khẩu")
                                        .Buttons(buttons =>
                                        {
                                            buttons.Add()
                                                .Name("password")
                                                .Location(TextEditorButtonLocation.After)
                                                .Widget(w => w.Button()
                                                    .Type(ButtonType.Default)
                                                    .ID("show-pw")
                                                    .Icon("far fa-eye-slash")
                                                    .OnClick("changePasswordMode"));
                                        })
                                        );

                                    groupItems.AddSimpleFor(m => m.Password).Label(l => l.Text("Xác nhận mật khẩu"))
                                        .Editor(e => e.TextBox().Mode(TextBoxMode.Password).Placeholder("Xác nhận mật khẩu")
                                        .Buttons(buttons =>
                                        {
                                            buttons.Add()
                                                .Name("password")
                                                .Location(TextEditorButtonLocation.After)
                                                .Widget(w => w.Button()
                                                    .Type(ButtonType.Default)
                                                    .ID("show-pw")
                                                    .Icon("far fa-eye-slash")
                                                    .OnClick("changePasswordMode"));
                                        })
                                        );

                                });

                            items.AddSimple().Template(@<text>
                                                            <button id="register" class="btn btn-dark btn-block">Đăng ký</button>
                                                         </text>);

                            })

                            .FormData(Model)
                        )

                        <span class="text-danger">@Html.ValidationMessage("CustomError")</span>
                    }

                }
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center align-items-center h-100">
    <p id="result" style="color:red">@ViewBag.R</p>
</div>

<script>

    function checkBox_valueChanged(data) {
        /*$("#disabled").dxCheckBox("instance").option("value", data.value);*/

    }

    function changePasswordMode() {
        var passwordEditor = $("#password").dxTextBox("instance");
        passwordEditor.option("mode", passwordEditor.option("mode") === "text" ? "password" : "text");
        $("#show-pw").dxButton("instance").option("icon", passwordEditor.option("mode") === "text" ? "far fa-eye" : "far fa-eye-slash");
    }
</script>

<script src="~/js/reportapprove/department.js"></script>