﻿@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using DeliveryHaPhan.Models

@{
    ViewData["Title"] = "Đề xuất của tôi";
    Layout = "~/Views/Shared/_LayoutReportApprove.cshtml";
}

<script>
    DevAV.myReports = DevAV.myReports || {};
</script>
<style>
    #gridContainer tr.main-row td:not(:first-child) {
        height: 21px;
    }

    #gridContainer tr.notes-row {
        white-space: normal;
        vertical-align: top;
    }

        #gridContainer tr.notes-row td {
            height: 25px;
            color: #999;
        }

    #gridContainer tbody.dx-state-hover {
        background-color: #EBEBEB;
    }

        #gridContainer tbody.dx-state-hover tr.main-row td {
            color: #000;
        }

        #gridContainer tbody.dx-state-hover tr.notes-row td {
            color: #888;
        }

    .search-box {
        position: relative;
    }


        .search-box .icon-find {
            width: 19px;
            height: 20px;
            background-size: auto;
            background-image: url(../image/sprite.png);
            background-position: -42px -184px;
            background-repeat: no-repeat;
            position: absolute;
            right: 7px;
            top: 7px;
            z-index: 10;
        }

        .search-box .dx-texteditor-input {
            padding: 0 25px 0 10px;
        }
</style>


@await Html.PartialAsync("~/Views/ReportApprove/RequestPayment/_EditRequestPaymentPopup.cshtml")
@await Html.PartialAsync("~/Views/ReportApprove/RequestPayment/_RequestPaymentDetailPopup.cshtml")
@await Html.PartialAsync("~/Views/ReportApprove/RequestSupplies/_EditRequestSuppliesPopup.cshtml")
@await Html.PartialAsync("~/Views/ReportApprove/RequestSupplies/_RequestSuppliesDetailPopup.cshtml")
@await Html.PartialAsync("~/Views/ReportApprove/RequestLendGoodsDemo/_EditRequestLendGoodsDemoPopup.cshtml")
@await Html.PartialAsync("~/Views/ReportApprove/RequestLendGoodsDemo/_RequestLendGoodsDemoDetailPopup.cshtml")
@await Html.PartialAsync("~/Views/ReportApprove/RequestBookGrab/_EditRequestBookGrabPopup.cshtml")
@await Html.PartialAsync("~/Views/ReportApprove/RequestBookGrab/_RequestBookGrabDetailPopup.cshtml")
@await Html.PartialAsync("~/Views/ReportApprove/RequestReimbursement/_EditRequestReimbursementPopup.cshtml")
@await Html.PartialAsync("~/Views/ReportApprove/RequestReimbursement/_RequestReimbursementDetailPopup.cshtml")

<div>
    @{
        var requestTypes = new[] { "Tất cả", "Đề nghị thanh toán", "Đề xuất vật tư", "Đề xuất mượn hàng demo","Đề xuất book grab",
            "Đề nghị hoàn ứng"};
        var dates = new[] { "Tất cả", "Còn hạn", "Sắp hết hạn", "Quá hạn" };
    }
    @(Html.DevExtreme().Toolbar()
        .ElementAttr("class", "header-toolbar")
        .Items(items => {

            items.Add()
                    .Widget(w => w
                    .SelectBox()
                        .ID("select-box")
                        .Placeholder("Nhóm đề xuất")
                        .DataSource(requestTypes)
                        .Value(requestTypes[0])
                        .OnValueChanged("DevAV.myReports.selectBox_requestType_valueChanged")
                )
                .LocateInMenu(ToolbarItemLocateInMenuMode.Auto)
                .Location(ToolbarItemLocation.After);

            items.Add()
                   .Widget(w => w
                   .SelectBox()
                       .ID("select-box2")
                       .Placeholder("Thời gian xử lý")
                       .DataSource(dates)
                       .Value(dates[0])
                       .OnValueChanged("DevAV.myReports.selectBox_dates_valueChanged")
               )
               .LocateInMenu(ToolbarItemLocateInMenuMode.Auto)
               .Location(ToolbarItemLocation.After);

            items.Add().Template(@<text>
                        <div class="search-box">
                            @(Html.DevExtreme().TextBox()
                                .Value("")
                                .Placeholder("Type a key")
                                .Width(220)
                                .Height(30)
                                .ValueChangeEvent("keyup")
                                .OnValueChanged("DevAV.myReports.filterDataByText")
                            )
                            <div class="icon-find"></div>
                        </div>
                    </text>)
                   .LocateInMenu(ToolbarItemLocateInMenuMode.Never)
                   .Location(ToolbarItemLocation.After);
        })
    )
</div>

<div>
    <div class="data-grid-demo">
        @(Html.DevExtreme().DataGrid<RequestModel>()
    .ID("gridContainer")
    .Height(660)
    .WordWrapEnabled(true)
    .ColumnAutoWidth(true)
    .OnRowPrepared("DevAV.myReports.onRowPrepared")
    .RepaintChangesOnly(true)
    .HighlightChanges(true)
    .LoadPanel(p => p.Enabled(true))
    .HeaderFilter(h => h.Visible(true).AllowSearch(true))
    .ShowBorders(true)
    .Scrolling(scrolling => scrolling.RowRenderingMode(GridRowRenderingMode.Virtual))
    .ColumnAutoWidth(true)
    .Paging(p => p.Enabled(false))
    .Paging(paging => paging.PageSize(10))
    .Pager(pager => {
        pager.Visible(true);
        pager.ShowInfo(true);
        pager.ShowNavigationButtons(true);
    })
    .Editing(e => e
        //.AllowUpdating(true)
        .AllowDeleting(true)
        .UseIcons(true)
    )
    //.RowTemplate(new TemplateName("row-template"))
    .Columns(columns => {
        columns.AddFor(m => m.RequestID).Caption("Mã đề xuất");
        columns.AddFor(m => m.RequestTitle).Caption("Tên đề xuất");
        columns.AddFor(m => m.Status).Caption("Trạng thái");

        columns.AddFor(m => m.RequestType).Caption("Loại đề xuất").Visible(false);
        columns.AddFor(m => m.Approvers).Caption("Người duyệt").Visible(false);
        columns.AddFor(m => m.Followers).Caption("Người theo dõi").Visible(false);
        columns.AddFor(m => m.CreateDate).Caption("Ngày tạo").Visible(false);
        columns.AddFor(m => m.CreateName).Caption("Người tạo").Visible(false);
        columns.AddFor(m => m.CreateEmail).Caption("Email người tạo").Visible(false);
        columns.AddFor(m => m.CreateDepartment).Caption("Bộ phận người tạo").Visible(false);
        columns.AddFor(m => m.ProcessingTime).Caption("Thời hạn xử lý").Visible(false);

        columns.Add()
        .Type(GridCommandColumnType.Buttons)
        .Buttons(b =>
        {
            b.Add().Icon("edit")
                .OnClick("DevAV.myReports.openPopupEdit");
            b.Add().Icon("close")
                .OnClick("DevAV.myReports.deleteRequest");
            b.Add().Icon("trash")
                .OnClick("DevAV.myReports.recycleRequest");
            b.Add()
                .Icon("info")
                .OnClick("DevAV.requestDetails.openPopupDetail");
        });

    })
    .DataSource(d => d.Mvc()
    .Controller("RequestApi")
    .LoadAction("GetByCreateName")
    .LoadParams(new {createname=HttpContextAccessor.HttpContext.Session.GetString("Username")})
    )

    )
    </div>
</div>

<script src="~/js/reportapprove/request-type.js"></script>
<script src="~/js/reportapprove/vehice.js"></script>
<script src="~/js/reportapprove/payment.js"></script>
<script src="~/js/reportapprove/request-detail.js"></script>
<script src="~/js/reportapprove/request-payment.js"></script>
<script src="~/js/reportapprove/request-supplies.js"></script>
<script src="~/js/reportapprove/request-lend-goods-demo.js"></script>
<script src="~/js/reportapprove/request-book-grab.js"></script>
<script src="~/js/reportapprove/request-reimbursement.js"></script>




