﻿@using DevExpress.AspNetCore
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@*<link href="~/node_modules/devextreme/dist/css/dx.light.css" rel="stylesheet" />
    <script src="~/node_modules/devexpress-aspnetcore-spreadsheet/dist/dx-aspnetcore-spreadsheet.js"></script>
    <link href="~/node_modules/devexpress-aspnetcore-spreadsheet/dist/dx-aspnetcore-spreadsheet.css" rel="stylesheet" />*@

<link href="~/node_modules/devextreme/dist/css/dx.light.css" rel="stylesheet" />
<link href="~/node_modules/devexpress-richedit/dist/dx.richedit.css" rel="stylesheet" />
@* For v2020.1 and earlier, add the following code: *@
<link href="~/node_modules/devextreme/dist/css/dx.common.css" rel="stylesheet" />

<script src="~/node_modules/jszip/dist/jszip.min.js"></script>
@*<script src="~/node_modules/devextreme/dist/js/dx.all.js"></script>*@

@* If you localize the control, you should register localization resources before control script registration.*@
@*<script src="~/node_modules/devexpress-richedit/localization/dx-rich.de.js"></script>*@

@* If you export a document to PDF on the client side (the exportToPdf method) or enable client PDF printing mode,
    you should register the pdfkit library before control script registration.*@
@*<script src="~/node_modules/devexpress-richedit/dist/pdfkit.js"></script>*@

<script src="~/node_modules/devexpress-richedit/dist/dx.richedit.js"></script>

@(Html.DevExpress().RichEdit("richEdit")
    .Views(v => v.ViewType(DevExpress.AspNetCore.RichEdit.ViewType.Simple))
    .Ribbon(r => r.ActiveTabIndex(6))
    .Height(600)
    .ConfirmOnLosingChanges(c => c.Enabled(false))
    .Open("Documents/MailMergeTemplate.docx")
    .MailMerge(m => m
        //.DataSource()
        .ViewMergedData(true)
        .ActiveRecord(0)
    )
    .OnDocumentLoaded("function(s, e) { s.document.fields.updateAllFields(); }")
)

