﻿@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using DeliveryHaPhan.Models
@{
    ViewData["Title"] = "Quản lý người dùng";
    Layout = "~/Views/Shared/_LayoutReportApprove.cshtml";
}
<style>
    .left {
        float: right;
    }

    #gridContainer {
        height: 440px;
    }

    .header-toolbar {
        background-color: #e7e9ed;
    }
</style>

<script>
    DevAV.userManagers = DevAV.userManagers || {};
</script>

<div>
    @(Html.DevExtreme().Toolbar()
        .ElementAttr("class","header-toolbar")
        .Items(items => {

            items.Add()
                    .Widget(w => w
                    .Button()
                    .Icon("save")
                    .Text("Lưu")
                    .UseSubmitBehavior(false)
                    .OnClick("DevAV.userManagers.createUser")
                    
                )
                .LocateInMenu(ToolbarItemLocateInMenuMode.Auto)
                .Location(ToolbarItemLocation.Before);

            items.Add()
                    .Widget(w => w
                    .Button()
                    .Icon("upload")
                    .Text("Nhập dữ liệu")
                    .UseSubmitBehavior(false)
                    .OnClick("DevAV.userManagers.uploadFile")
                )
                .LocateInMenu(ToolbarItemLocateInMenuMode.Auto)
                .Location(ToolbarItemLocation.Before);
        })
    )
</div>

<div>
    <div class="grid row mt-1">
        @(Html.DevExtreme().DataGrid<UserNewModel>()
                .ID("gridContainer")
                .ShowBorders(true)
                .ShowRowLines(true)
                .Scrolling(scrolling => scrolling.Mode(GridScrollingMode.Infinite))
                .RemoteOperations(true)
                .Sorting(sorting => sorting.Mode(GridSortingMode.None))
                .Editing(e => e.Mode(GridEditMode.Popup)
                    .AllowAdding(true)
                    .AllowUpdating(true)
                    .AllowDeleting(true)
                )
                .Columns(c => {
                c.Add().Caption("No.").CellTemplate(@<text>
                                <p><%- rowIndex+1 %></p>
                            </text>);
                    c.AddFor(m => m.UserID).Caption("Mã người dùng");
                    c.AddFor(m => m.UserName).Caption("Tên đăng nhập");
                    c.AddFor(m => m.FullName).Caption("Họ tên");
                    c.AddFor(m => m.Position).Caption("Chức vụ");
                    c.AddFor(m => m.Email).Caption("Email");
                    c.AddFor(m => m.Rank).Caption("Cấp bậc");
                    c.AddFor(m => m.Department).Caption("Bộ phận");

                    c.AddFor(m => m.Adress).Caption("Địa chỉ").Visible(false);
                    c.AddFor(m => m.Phone).Caption("Số điện thoại").Visible(false);
                    c.AddFor(m => m.Password).Caption("Mật khẩu").Visible(false);
                    c.AddFor(m => m.PasswordSalt).Caption("Khóa mật khẩu").Visible(false);
                    c.AddFor(m => m.CreatedUserID).Caption("Người tạo").Visible(false);
                    c.AddFor(m => m.CreatedDate).Caption("Ngày tạo").Visible(false);
                    c.AddFor(m => m.UpdatedUserID).Caption("Người cập nhật").Visible(false);
                    c.AddFor(m => m.UpdatedDate).Caption("Ngày cập nhật").Visible(false);
                    c.AddFor(m => m.Active).Caption("Đã kích hoạt").Visible(false);
                    c.AddFor(m => m.Blocked).Caption("Đã khóa").Visible(false);
                    c.AddFor(m => m.Role).Caption("Phân quyền").Visible(false);
                    c.AddFor(m => m.Avatar).Caption("Ảnh đại diện").Visible(false);
                    c.AddFor(m => m.LastLogin).Caption("Lần đăng nhập cuối").Visible(false);
                })
                .DataSource(d => d.Mvc()
                .Controller("UserNewApi")
                .LoadAction("Get")
                .InsertAction("Post")
                .UpdateAction("Put")
                .DeleteAction("Delete")
                .Key("UserID")
                .OnUpdated(@<text>
                             function (e) {
                                DevExpress.ui.notify("Cập nhật người dùng thành công","success", 600);
                            }
                        </text>)
                .OnInserted(@<text>
                            function (e) {
                                DevExpress.ui.notify("Thêm người dùng thành công+","success", 600);
                            }
                        </text>)
                .OnRemoved(@<text>
                            function (e) {
                                DevExpress.ui.notify("Xóa người dùng thành công","success", 600);
                            }
                        </text>)
            )
        )
    </div>
</div>

<script>
    
</script>
