﻿@using DeliveryHaPhan.Models

<style>
    #gridContainerWRRHeader {
        height: 440px;
    }

    .header-toolbar {
        background-color: #e7e9ed;
    }

    .dx-toolbar.dx-popup-title {
        color: #009688;
        background-color: whitesmoke;
        border: none;
    }

    .dx-toolbar.dx-popup-bottom {
        background-color: whitesmoke;
    }

    .dx-overlay-modal .dx-selectbox .dx-texteditor-container {
        border: 1px solid #009688;
    }

    .dx-overlay-modal .dx-datebox .dx-texteditor-container {
        border: 1px solid #009688;
    }

    .dx-overlay-modal .btn {
        background-color: #009688;
        border-color: transparent;
        color: #fff;
        padding:0;
        border-radius: .25rem;
    }

    .dx-overlay-modal .btn .dx-icon {
        color: #fff;
    }

    .dx-field-label {
        color: #009688;
        cursor:default;
        padding: 8px 15px 9px 0;
    }
</style>

@(Html.DevExtreme().Popup()
    .ID("popup-search-wrr")
    .Width("1000")
    .Height("auto")
    .FullScreen(false)
    //.Position(PositionAlignment.Center)
    .ShowTitle(true)
    .Title("Tìm kiếm yêu cầu nhập hàng")
    .DragEnabled(false)
    .CloseOnOutsideClick(true)
    .ShowCloseButton(false)
    .ToolbarItems(barItems => {
    barItems.Add()
            .Toolbar(Toolbar.Top)
            .Location(ToolbarItemLocation.After)
            .Widget(widget => widget.Button()
                .Icon("close")
                .StylingMode(ButtonStylingMode.Text)
                .Type(ButtonType.Danger)
                .OnClick(@<text>
                                function hideInfo(data) {
                                const popup = $("#popup-search-wrr").dxPopup("instance");
                                popup.hide();
                                const dataGrid = $("#gridContainer").dxDataGrid("instance");
                                dataGrid.refresh();
                                }
                            </text>)
                );

            barItems.Add()
                .Toolbar(Toolbar.Top)
                .Location(ToolbarItemLocation.Before)
                .Widget(widget => widget.Button()
                    .ElementAttr("class", "btn")
                    .Icon("refresh")
                    .OnClick("DevAV.searchWRR.refreshGrid")
                );
        })
    )

@using (Html.DevExtreme().NamedTemplate("popup-search-wrr-template"))
{
<div>
    <div class="grid row mt-1">
        @(Html.DevExtreme().DataGrid<WRRHeaderModel>()
            .ID("gridContainerWRRHeader")
            .SearchPanel(s=>s.Visible(true))
            .ColumnAutoWidth(true)
            .ShowBorders(true)
            .ShowRowLines(true)
            .Scrolling(scrolling => scrolling.Mode(GridScrollingMode.Infinite).RowRenderingMode(GridRowRenderingMode.Standard))
            .RemoteOperations(true)
            .Sorting(sorting => sorting.Mode(GridSortingMode.None))
            .Columns(c => {
                c.Add().Width(50).Caption("No.").CellTemplate(@<text>
                                <p><%- rowIndex+1 %></p>
                            </text>);
                c.AddFor(m => m.WRRNumber).Width(100).Caption("Conveyance Number");
                c.AddFor(m => m.WRRDate).Width(100).Caption("Ngày yêu cầu").Format("dd-MM-yyyy");
                c.AddFor(m => m.HandlingStatusName).Width(100).Caption("Trạng thái xử lý");
            })
            .OnRowDblClick("DevAV.receiptRequisitions.selectedRow")
            .DataSource(d => d.Mvc()
            .Controller("WRRHeaderApi")
            .LoadAction("Get")
        )
        )
    </div>

    <div class="row mt-1">
        <div class="col-sm-4">
            <div class="dx-field">
                <div class="dx-field-label">Chi nhánh</div>
                <div class="dx-field-value">
                    @(Html.DevExtreme().SelectBox()
                        .ID("branch")
                        .DataSource(new JS("branch"))
                        .ValueExpr("id")
                        .DisplayExpr("text")
                        .Value(0)
                    )
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="dx-field">
                <div class="dx-field-label">Trạng thái xử lý</div>
                <div class="dx-field-value">
                    @(Html.DevExtreme().SelectBox()
                        .ID("handling-status")
                        .DataSource(new JS("handlingstatus"))
                        .ValueExpr("id")
                        .DisplayExpr("text")
                        .Value(0)
                    )
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            @(Html.DevExtreme().Button()
                    .Icon("check")
                    .Text("Lọc thông tin")
                    .ElementAttr("class","btn")
                    .OnClick("DevAV.searchWRR.filterWRR")
            )
        </div>
    </div>
    <div class="row mt-0">
        <div class="col-sm-4">
            <div class="dx-field">
                <div class="dx-field-label">Từ ngày</div>
                <div class="dx-field-value">
                    @(Html.DevExtreme().DateBox()
                        .ID("from-date")
                        .Value(DateTime.Now.AddDays(-1))
                        .DisplayFormat("dd-MM-yyyy")
                        .Type(DateBoxType.Date)
                    )
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="dx-field">
                <div class="dx-field-label">Đến ngày</div>
                <div class="dx-field-value">
                    @(Html.DevExtreme().DateBox()
                        .ID("to-date")
                        .Value(DateTime.Now)
                        .DisplayFormat("dd-MM-yyyy")
                        .Type(DateBoxType.Date)
                    )
                </div>
            </div>
        </div>
    </div>
</div>
}

<script src="~/js/wms/handlingstatus.js"></script>
<script src="~/js/wms/branch.js"></script>
<script src="~/js/wms/search-wrr-popup.js"></script>

