﻿@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using DeliveryHaPhan.Models
@{
    ViewData["Title"] = "Yêu cầu nhập";
    Layout = "~/Views/Shared/_LayoutWMS.cshtml";
}
<style>
    .header-buttons {
    }

    .left-side {
    }

    .right-side {
    }

    .grid {
    }

    .left {
        float: right;
    }

    #gridContainer {
        height: 440px;
    }

    .header-toolbar {
        background-color: #e7e9ed;
    }
</style>

<script>
    DevAV.receiptRequisitions = DevAV.receiptRequisitions || {};
</script>

@{
    var handlingStatus = new[] {
        new { id = 0, text = "<>" },
        new { id = 1, text = "Chưa duyệt" },
        new { id = 2, text = "Duyệt mức 1" },
        new { id = 3, text = "Duyệt mức 2" },
        new { id = 4, text = "Hủy" },
    };

    var branchs = new[] {
        new { id = 0, text = "<>" },
        new { id = 1, text = "CÔNG TY TNHH FORD VIỆT NAM" },
    };

}

@await Html.PartialAsync("~/Views/WMS/ReceiptRequisition/_SearchWRRPopup.cshtml")


@*<div class="header-buttons row justify-content-between mt-1">
        <div class="left-side col-auto me-auto">
            <form>
                <div class="row">
                    <div class="col-md-8">
                        <input class="form-control" type="file" name="file" id="myFile" />
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-primary" onclick="DevAV.receiptRequisitions.uploadFile()">Upload File</button>
                        @(Html.DevExtreme().Button()
                            .Text("Upload")
                            .Type(ButtonType.Success)
                            .UseSubmitBehavior(false)
                            .OnClick("DevAV.receiptRequisitions.uploadFile")
                        )
                    </div>
                </div>
            </form>
        </div>
        <div class="right-side col-auto">
            @(Html.DevExtreme().Button()
                    .Icon("save")
                    .Text("Lưu")
                    .Type(ButtonType.Success)
                    .OnClick("DevAV.receiptRequisitions.createWRRHeader")
                )
            @(Html.DevExtreme().Button()
                    .Icon("save")
                    .Text("Lưu")
                    .Type(ButtonType.Success)
                    .OnClick("DevAV.receiptRequisitions.createWRRHeader")
                )

        </div>
    </div>*@
<div>
    @(Html.DevExtreme().Toolbar()
        .ElementAttr("class","header-toolbar")
        .Items(items => {

            items.Add()
                    .Widget(w => w
                    .Button()
                    .Icon("find")
                    .Text("Mở")
                    .UseSubmitBehavior(false)
                    .OnClick("DevAV.receiptRequisitions.openPopupSearchWRR")
                )
                .LocateInMenu(ToolbarItemLocateInMenuMode.Auto)
                .Location(ToolbarItemLocation.Before);

            items.Add()
                    .Widget(w => w
                    .Button()
                    .Icon("add")
                    .Text("Thêm mới")
                )
                .LocateInMenu(ToolbarItemLocateInMenuMode.Auto)
                .Location(ToolbarItemLocation.Before);

            items.Add()
                    .Widget(w => w
                    .Button()
                    .Icon("save")
                    .Text("Lưu")
                    .UseSubmitBehavior(false)
                    .OnClick("DevAV.receiptRequisitions.createWRRHeader")
                )
                .LocateInMenu(ToolbarItemLocateInMenuMode.Auto)
                .Location(ToolbarItemLocation.Before);

            items.Add()
                    .Widget(w => w
                    .Button()
                    .Icon("remove")
                    .Type(ButtonType.Danger)
                    .StylingMode(ButtonStylingMode.Contained)
                    .Text("Xóa")
                    .UseSubmitBehavior(false)
                    .OnClick("DevAV.receiptRequisitions.deleteWRRHeader")
                )
                .LocateInMenu(ToolbarItemLocateInMenuMode.Auto)
                .Location(ToolbarItemLocation.Before);

            items.Add()
                    .Widget(w => w
                    .Button()
                    .Icon("refresh")
                    .Text("Làm mới")
                    .OnClick("DevAV.receiptRequisitions.deleteWRRHeader")
                )
                .LocateInMenu(ToolbarItemLocateInMenuMode.Auto) ;

            items.Add()
                    .Widget(w => w
                    .Button()
                    .Icon("upload")
                    .Text("Nhập dữ liệu")
                    .UseSubmitBehavior(false)
                    .OnClick("DevAV.receiptRequisitions.uploadFile")
                )
                .LocateInMenu(ToolbarItemLocateInMenuMode.Auto)
                .Location(ToolbarItemLocation.Before);

            items.Add()
                    .Widget(w => w
                    .Button()
                    .Icon("export")
                    .Text("Xuất dữ liệu")
                )
                .LocateInMenu(ToolbarItemLocateInMenuMode.Auto)
                .Location(ToolbarItemLocation.Before);

            items.Add()
                    .Widget(w => w
                    .Button()
                    .Icon("print")
                    .Text("In")
                )
                .LocateInMenu(ToolbarItemLocateInMenuMode.Auto)
                .Location(ToolbarItemLocation.Before);
        })
    )
</div>

<div>
    <div class="row mt-1">
        <div class="col-sm-4">
            <div class="dx-field">
                <div class="dx-field-label">Conveyance Number</div>
                <div class="dx-field-value">
                    @(Html.DevExtreme().TextBox()
                    .ID("WRRNumber")
                    )
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="dx-field">
                <div class="dx-field-label">Ngày yêu cầu</div>
                <div class="dx-field-value">
                    @(Html.DevExtreme().DateBox()
                    .ID("WRRDate")
                .Type(DateBoxType.Date)
            )
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="dx-field">
                <div class="dx-field-label">∑ SL yêu cầu</div>
                <div class="dx-field-value">
                    @(Html.DevExtreme().TextBox()
                    .ID("TotalQuantityByItem")
                    )
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-sm-4">
            <div class="dx-field">
                <div class="dx-field-label">Chi nhánh</div>
                <div class="dx-field-value">
                    @(Html.DevExtreme().SelectBox()
                    .ID("Branch")
                    .DataSource(branchs)
                    .ValueExpr("id")
                    .DisplayExpr("text")
                    .Value(0)
                )
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="dx-field">
                <div class="dx-field-label">Trạng thái xử lý</div>
                <div class="dx-field-value">
                    @(Html.DevExtreme().SelectBox()
                    .ID("HandlingStatus")
                    .DataSource(handlingStatus)
                    .ValueExpr("id")
                    .DisplayExpr("text")
                    .Value(0)
                )
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="dx-field">
                <div class="dx-field-label">∑ Mã yêu cầu</div>
                <div class="dx-field-value">
                    @(Html.DevExtreme().TextBox()
                    .ID("TotalQuantityByPack"))
                </div>
            </div>
        </div>
    </div>
    <div class="grid row mt-1">
        @(Html.DevExtreme().DataGrid<WRRDetailModel>()
            .ID("gridContainer")
            .ShowBorders(true)
            .ShowRowLines(true)
            .Scrolling(scrolling => scrolling.Mode(GridScrollingMode.Infinite))
            .RemoteOperations(true)
            .Sorting(sorting => sorting.Mode(GridSortingMode.None))
            //.OnContentReady("DevAV.receiptRequisitions.loadDataGrid")
            .OnInitialized("DevAV.receiptRequisitions.loadDataGrid")
            .Editing(e => e.Mode(GridEditMode.Popup)
                .AllowAdding(true)
                .AllowUpdating(true)
                .AllowDeleting(true)
            )
            .Columns(c => {
            c.Add().Caption("No.").CellTemplate(@<text>
                            <p><%- rowIndex+1 %></p>
                        </text>);
                c.AddFor(m => m.GoodsID).Caption("Part Number");
                c.AddFor(m => m.GoodsName).Caption("Part Name");
                c.AddFor(m => m.ASNNumber).Caption("ASN Number");
                c.AddFor(m => m.QuantityByItem).Caption("SL ASN");
                c.AddFor(m => m.QuantityByPack).Caption("#of Containers/Coils");
                c.AddFor(m => m.SLPart).Caption("SL Part");
                c.AddFor(m => m.ReceiptStatus).Caption("Whse");

                c.AddFor(m => m.WRRNumber).Caption("Conveyance Number").Visible(false);
                c.AddFor(m => m.Ordinal).Caption("Thứ tự").Visible(false);
                c.AddFor(m => m.OtherGoodsName).Caption("Tên khác hàng hóa").Visible(false);
                c.AddFor(m => m.PackingVolume).Caption("Vol Pack").Visible(false);
                c.AddFor(m => m.TotalQuantity).Caption("Tổng lượng").Visible(false);
                c.AddFor(m => m.QuantityReceived).Caption("SL Thực Nhận").Visible(false);
                c.AddFor(m => m.LocationID).Caption("Vị trí").Visible(false);
                c.AddFor(m => m.ScanOption).Caption("Tùy chọ quét").Visible(false);
                c.AddFor(m => m.Note).Caption("Ghi chú").Visible(false);
                c.AddFor(m => m.Status).Caption("Trạng thái").Visible(false);
                c.AddFor(m => m.SupplierCode).Caption("Supplier Code").Visible(false);
                c.AddFor(m => m.PackingSlip).Caption("Packing Slip").Visible(false);
            })
        )
    </div>
</div>

<script>
    //window.onbeforeunload = function () {
    //    return "Dude, are you sure you want to refresh? Think of the kittens!";
    //}
</script>
