﻿@using DeliveryHaPhan.Models
@using DeliveryHaPhan.Entites
@model ProductModel
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Quản lý sản phẩm";
    Layout = "~/Views/Shared/_LayoutAlphaTraceWeb.cshtml";
}

<style>
    #data-grid-demo {
        min-height: 700px;
        margin-top: 10px;
    }

    .right-side {
        float: right;
        margin-right: 10px;
        margin-top: 10px;
        z-index: 999;
    }
</style>
<div>
    <div class="right-side">
        @(Html.DevExtreme().Button()
                            .ID("btn-add")
                            .Icon("add")
                            .Type(ButtonType.Success)
                            .StylingMode(ButtonStylingMode.Outlined)
                            .OnClick("showPopupEditProduct")
                            )
    </div>


    <div id="data-grid-demo" class="container-fluid">

        @(Html.DevExtreme().DataGrid<ProductModel>()
        .ID("gridContainer")
        .ShowBorders(true)
        .Paging(paging => paging.Enabled(false))
        .Editing(editing => {
            editing.Mode(GridEditMode.Form);
            editing.AllowDeleting(true);
        })
        .Columns(columns => {
            columns.AddFor(m => m.Images)
                .Visible(false)
                    .EditCellTemplate(@<text>
                               <div class="image">
                                    <img id="Images" width="40" height="35" alt=""/>
                                </div>
                                @(Html.DevExtreme().FileUploader()
                                    .ID("file-uploader")
                                    .Name("Photo")
                                    .Multiple(false)
                                    .Accept("*")
                                    .AllowedFileExtensions(new[] { ".jpg", ".jpeg", ".gif", ".png" })
                                    .UploadMode(FileUploadMode.Instantly)
                                    .OnUploaded("fileUploader_uploaded")
                                )
                              </text>);

            columns.AddFor(m => m.ProductID)
                .Width(70);

            columns.AddFor(m => m.ProductName);

            columns.AddFor(m => m.Origin)
                .Visible(false)
                .FormItem(i => i
                    .Editor(e => e
                        .TextArea()
                        .Height(100))
                    .ColSpan(2)
                );

            columns.AddFor(m => m.Uses)
                .Visible(false)
                .FormItem(i => i
                    .Editor(e => e
                        .TextArea()
                        .Height(100))
                    .ColSpan(2)
                );

            columns.AddFor(m => m.UserManual)
                .Visible(false)
                .FormItem(i => i
                    .Editor(e => e
                        .TextArea()
                        .Height(100))
                    .ColSpan(2)
                );

            columns.AddFor(m => m.Infomation)
                .Visible(false)
                .FormItem(i => i
                    .Editor(e => e
                        .TextArea()
                        .Height(100))
                    .ColSpan(2)
                );

            columns.AddFor(m => m.Status).Visible(false);

            columns.Add()
                .Caption("Action").Alignment(HorizontalAlignment.Center)
               .Type(GridCommandColumnType.Buttons)
               .Buttons(b =>
               {
                   //b.Add().Name(GridColumnButtonName.Edit);
                   b.Add().Name(GridColumnButtonName.Delete).Icon("delete");
                   b.Add()
                    .Icon("edit")
                    .OnClick("showPopupEditProduct");

               });
        })
        .DataSource(d => d.Mvc()
            .Controller("AlphaTraceAdmin")
            .LoadAction("Get")
            .DeleteAction("Delete")
            .Key("ProductID")
            .OnUpdated(@<text>
                         function (e) {
                            DevExpress.ui.notify("Cập nhật sản phẩm thành công","success", 600);
                        }
                    </text>)
            .OnInserted(@<text>
                        function (e) {
                            DevExpress.ui.notify("Thêm sản phẩm thành công+","success", 600);
                        }
                    </text>)
            .OnRemoved(@<text>
                        function (e) {
                            DevExpress.ui.notify("Xóa sản phẩm thành công","success", 600);
                        }
                    </text>)
        )
    )
    </div>
</div>

@(Html.DevExtreme().Popup()
        .ID("popup-edit-product")
        .Width("auto")
        .Height("auto")
        .FullScreen(false)
        .Position(PositionAlignment.Center)

        .ShowTitle(true)
        .Title("Sửa sản phẩm")
        .DragEnabled(false)
        .CloseOnOutsideClick(true)
        .ShowCloseButton(false)
        .ToolbarItems(barItems => {
            barItems.Add()
                .Toolbar(Toolbar.Top)
                .Location(ToolbarItemLocation.After)
                .Widget(widget => widget.Button()
                    .Icon("close")
                    .OnClick(@<text>
                                function hideInfo(data) {
                                const popup = $("#popup-edit-product").dxPopup("instance");
                                popup.hide();
                                const dataGrid = $("#gridContainer").dxDataGrid("instance");
                                dataGrid.refresh();
                                }
                            </text>)
                );
        })
    )

@using (Html.DevExtreme().NamedTemplate("popup-edit-product-template"))
{
    <div class="image">
        <img id="images" width="40" height="35" alt="" />
    </div>

    @*@(Html.DevExtreme().Gallery()
                                .ID("gallery")
                                .DataSource(d => d.OData()
                                    .Url("https://js.devexpress.com/Demos/DevAV/odata/Product_Images?$expand=Product")
                                )
                                .DataSourceOptions(d => d.Filter(new string[] { "ProductID", "=", null }))
                                .Height(150)
                                .Loop(true)
                                .ShowIndicator(false)
                                .ShowNavButtons(true)
                                .InitialItemWidth(150)
                                .ItemTemplate(new TemplateName("Products"))
                            )*@

    @using (Html.BeginForm("Upload", "AlphaTraceAdmin", FormMethod.Post, new { id = "save", enctype = "multipart/form-data" }))
    {
        @(Html.DevExtreme().FileUploader()
                .ID("file-uploader2")
                .Name("Photo")
                .Multiple(true)
                .Accept("*")
                .AllowedFileExtensions(new[] { ".jpg", ".jpeg", ".gif", ".png" })
                .UploadMode(FileUploadMode.Instantly)
                .OnUploaded("fileUploader_uploaded2")
            )

        using (Html.DevExtreme().ValidationGroup())
        {

            @Html.AntiForgeryToken()

            @(Html.DevExtreme().Form<Product>()
                .ID("product-form")
                .ShowColonAfterLabel(true)
                .Height("auto")
                .ShowValidationSummary(false)
                .Items(items => {


                items.AddGroup()
                    .Items(groupItems => {

                        groupItems.AddSimpleFor(m => m.ProductID).Label(l => l.Text("Mã sản phẩm"))
                            .Editor(e => e
                                .TextBox()
                                .ID("product-id").ReadOnly(true)
                            );

                        groupItems.AddSimpleFor(m => m.ProductName).Label(l => l.Text("Tên sản phẩm"))
                            .Editor(e => e
                                .TextBox()
                                .ID("product-name")
                            );

                        groupItems.AddSimpleFor(m => m.Origin).Label(l => l.Text("Xuất xứ"))
                            .Editor(e => e
                                .TextBox()
                                .ID("origin")
                            );

                        groupItems.AddSimpleFor(m => m.Uses).Label(l => l.Text("Công dụng"))
                            .Editor(e => e
                                .TextBox()
                                .ID("uses")
                            );

                        groupItems.AddSimpleFor(m => m.UserManual).Label(l => l.Text("Hướng dẫn sử dụng"))
                            .Editor(e => e
                                .TextBox()
                                .ID("user-manual")
                            );

                        groupItems.AddSimpleFor(m => m.Infomation).Label(l => l.Text("Thông tin khác"))
                            .Editor(e => e
                                .TextBox()
                                .ID("infomation")
                            );

                        groupItems.AddSimpleFor(m => m.Status).Label(l => l.Text("Trạng thái"))
                            .Editor(e => e
                                .TextBox()
                                .ID("status")
                            );

                    });

                    items.AddButton()
                        .HorizontalAlignment(HorizontalAlignment.Center)
                        .ButtonOptions(b => b.Text("Save")
                            .ID("save")
                            .Type(ButtonType.Success)
                            .UseSubmitBehavior(true)
                            .OnClick("saveChange")
                    );

                })
            .FormData(Model)
        )
        }
    }

}

@*@using (Html.DevExtreme().NamedTemplate("Products"))
{
    <div class="gallery-image">
        <div style="background-image: url(data:image/png;base64,<%= ProductImage %>);" />
    </div>

}*@

<script>
    function showPopupEditProduct(e) {
        const popup = $("#popup-edit-product").dxPopup("instance");
        popup.option({
            contentTemplate: $("#popup-edit-product-template"),
        });
        popup.show();

        $("#product-id").dxTextBox("instance").option("value", e.row.data.ProductID);
        $("#product-name").dxTextBox("instance").option("value", e.row.data.ProductName);
        $("#origin").dxTextBox("instance").option("value", e.row.data.Origin);
        $("#uses").dxTextBox("instance").option("value", e.row.data.Uses);
        $("#user-manual").dxTextBox("instance").option("value", e.row.data.UserManual);
        $("#infomation").dxTextBox("instance").option("value", e.row.data.Infomation);
        $("#status").dxTextBox("instance").option("value", e.row.data.Status);
        $("#images")[0].src = "../alpha_trace/" + e.row.data.ProductID+"/"+ e.row.data.Images;

    }

    function saveChange() {
        //var productID = $("#product-id").dxTextBox("instance").option("value");
        //var productName = $("#product-name").dxTextBox("instance").option("value");
        //var origin = $("#origin").dxTextBox("instance").option("value");
        //var uses = $("#uses").dxTextBox("instance").option("value");
        //var userManual = $("#user-manual").dxTextBox("instance").option("value");
        //var infomation = $("#infomation").dxTextBox("instance").option("value");
        //var status = $("#status").dxTextBox("instance").option("value");

        //$.ajax({
        //    url: "AlphaTraceAdmin/Upload?productid=" + productID,
        //    type: 'POST',
        //    contentType: 'application/json; charset=utf-8',
        //    dataType: 'json',
        //    data: JSON.stringify({
        //        ProductID: productID, ProductName: productName, Origin: origin, Uses: uses,
        //        UserManual: userManual, Infomation: infomation, Status: status
        //    }),
        //    beforeSend: function (request) {
        //        request.setRequestHeader("RequestVerificationToken", $("[name='__RequestVerificationToken']").val());
        //    },
        //    success: function (data) {
        //        const popup = $("#popup-edit-product").dxPopup("instance");
        //        popup.hide();
        DevExpress.ui.notify('Thành công', 'success', 2000);
        //    },
        //    error: function (xhr) {
        //        DevExpress.ui.notify('Thất bại ' + xhr.status, 'error', 2000);
        //    }
        //});
    }

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            var fileName = input.files[0].name;
            reader.onload = function (e) {
                $("#images")[0].src = e.target.result;
                $("#images-txt").dxTextBox("instance").option("value", fileName);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

    function fileUploader_uploaded(e) {
        const file = e.file;
        const fileReader = new FileReader();
        fileReader.onload = function () {
            $("#Images")[0].src = fileReader.result;
        }
        fileReader.readAsDataURL(file);
    }

    function fileUploader_uploaded2(e) {
        const file = e.file;
        const fileReader = new FileReader();
        fileReader.onload = function () {
            $("#images")[0].src = fileReader.result;
        }
        fileReader.readAsDataURL(file);
    }
</script>

