﻿@*popup direction*@
@(Html.DevExtreme().Popup()
    .ID("direction-popup")
    .Width(300)
    .Height(300)
    .FullScreen(true)
    .Container(".dx-viewport")
    .ShowTitle(true)
    .Title("Đường đi")
    .DragEnabled(false)
    .CloseOnOutsideClick(true)
    .ShowCloseButton(false)
    .ToolbarItems(barItems => {
    barItems.Add()
            .Toolbar(Toolbar.Top)
            .Location(ToolbarItemLocation.After)
            .Widget(widget => widget.Button()
                .Icon("close")
                .OnClick(@<text>
                        function hideInfo(data) {
                            const popup = $("#direction-popup").dxPopup("instance");
                            popup.hide();
                        }
                    </text>)
                );
    })
    )
@*temple popup direction*@
@using (Html.DevExtreme().NamedTemplate("popup-direction-template"))
{
    <div class="widget-container">
        @(Html.DevExtreme().List()
            .ID("simpleList")
            .Height(400)
            .DataSource(d => d.Mvc()
                .Controller("Map")
                .LoadAction("GetDirections")
                .LoadParams(new JS("DevAV.orderMapUser.popupDirectionParams()"))
            )
            //.DataSource(d => d
            //        .StaticJson()
            //        .Url(Url.Action("GetDirections","Map",new {startpoint=new JS(),endpoint=new JS(),vehice=new JS}))


            //    )
            .ItemTemplate(@<text>
                            <div style="height: 40px">
                                <div style="float:left"><%- Id %>.</div>
                                <div style="float:left"><%- Html_instructions %></div>
                                <div style="float:right"><%- Distance %> </div>
                                <div style="float:right"><%- Duration %> -</div>
                            </div>
                        </text>)
    )
    </div>
}

<script src="~/js/order-map-popup-user.js"></script>