﻿@*popup cancel order*@
<style>
    .popup-container-cancel{
        padding:10px;
    }
</style>
@(Html.DevExtreme().Popup()
    .ID("order-cancel-popup")
    .Width("auto")
    .Height("auto")
    .Position(PositionAlignment.Center)
    .ShowTitle(true)
    .Title("Hủy đơn hàng")
    .DragEnabled(false)
    .CloseOnOutsideClick(true)
    .ShowCloseButton(false)
    //.Animation(animation => animation
    //            .Show(show=>show
    //                .Type(AnimationType.FadeIn)
    //                .Direction(Direction.Right)
    //            )

    //)
    .ToolbarItems(barItems => {
    barItems.Add()
            .Toolbar(Toolbar.Top)
            .Location(ToolbarItemLocation.After)
            .Widget(widget => widget.Button()
                .Icon("close")
                .OnClick(@<text>
                        function hideInfo(data) {
                            const popup = $("#order-cancel-popup").dxPopup("instance");
                            popup.hide();
                        }
                    </text>)
                );
        barItems.Add()
                .Toolbar(Toolbar.Bottom)
                .Location(ToolbarItemLocation.Center)
                .Widget(widget => widget.Button()
                    .ID("submit-cancel-button")
                    .Icon("fas fa-paper-plane")
                    .Type(ButtonType.Danger)
                    .Text("Submit")
                    .Visible(true)
                    .OnClick("DevAV.orderMapUser.cancelOrder")
                );
    })
    )
@*temple popup cancle*@
@using (Html.DevExtreme().NamedTemplate("popup-order-cancel-template"))
{
    <div class="popup-container-cancel">
        <div class="dx-field">
            <div class="dx-field-value">
                @(Html.DevExtreme().TextBox()
                    .ID("cancel-order-id")
                    .ReadOnly(true)
                )
            </div>
        </div>
        <div class="dx-field">
            <div class="dx-field-label">Chọn lý do</div>
            <div class="dx-field-value">
                @(Html.DevExtreme().SelectBox()
                    .ID("reason-select")
                    .DataSource(new[] {
                                        "Hàng lỗi",
                                        "Khách hẹn",
                                        "Sai thông tin",
                                        "Lý do khác"
                                    })
                    .OnValueChanged("DevAV.orderMapUser.selectBox_valueChanged")
                    .Value("Hàng lỗi")
                )
            </div>
        </div>
        <div class="dx-field">
            <div class="dx-field-value">
                @(Html.DevExtreme().TextBox()
                    .ID("reason-cancel")
                    .Value("Hàng lỗi")
                    .ShowClearButton(true)
                    .Placeholder("Nhập lý do...")
                    .Visible(false)
                )
            </div>
        </div>
    </div>
}