﻿@using DeliveryHaPhan.Models
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@model OrderModel
@{
    ViewData["Title"] = "Danh sách đơn hàng";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
<script src="https://cdn.jsdelivr.net/npm/@@goongmaps/goong-js@1.0.9/dist/goong-js.js"></script>
<link href="https://cdn.jsdelivr.net/npm/@@goongmaps/goong-js@1.0.9/dist/goong-js.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/@@mapbox/polyline/src/polyline.js"></script>
<script src="https://unpkg.com/@@goongmaps/goong-sdk/umd/goong-sdk.min.js"></script>
<!-- Load the `goong-geocoder` plugin. -->
<script src="https://cdn.jsdelivr.net/npm/@@goongmaps/goong-geocoder@1.1.1/dist/goong-geocoder.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/@@goongmaps/goong-geocoder@1.1.1/dist/goong-geocoder.css"
      rel="stylesheet"
      type="text/css" />
<!-- Promise polyfill script is required -->
<!-- to use Goong Geocoder in IE 11. -->
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.3.2/dist/sweetalert2.all.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.3.2/dist/sweetalert2.min.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

<script>
    DevAV.userOrders = DevAV.userOrders || {};
</script>

<style>
    #gridContainer {
        max-height: 800px;
    }

    /*.data-grid-demo{
        *//*background:#fff;*/
    }
    /* @@media only screen and (max-width: 250px) {
        * {
            font-size: 12px !important;
            font-family: serif
        }

        #map {
            position: absolute;
            top: 0;
            bottom: 200px;
            width: 100%;
        }

        #map-order-detail {
            height: 30%;
        }

        .container-fluid {
            padding: 0;
        }
    }

    @@media only screen and (min-width: 1000px) {
        #map {
            position: absolute;
            top: 0;
            bottom: 200px;
            width: 100%;
        }

        #map-order-detail {
            height: 80%;
        }
    }*/
   /* .container-fluid {
        
    }*/



    .dx-popup-content p {
        margin-bottom: 10px;
        margin-top: 0;
        padding: 10px;
    }

    .dx-popup-content {
        padding: 0px;
    }

    /* .my-swal {
        z-index: 300000;
    }*/

   

    .left-side {
        /* position: absolute;
        top: -5px;
        left: 0;
        right: 45px;
        z-index: 1;*/
    }

    /*.right-side {     
        position: absolute;
        right: 1px;    
    }*/

    .logo {
        line-height: 48px;
    }

        .logo img {
            vertical-align: middle;
            margin: 0 1px;
        }

    .dx-row.dx-data-row .order-id {
        color: #bf4e6a;
        font-weight: bold;
    }


    .Continue {
        color: #1fd18a;
    }

    .Approved {
        color: #e07a19;
    }

    .New {
        color: #deeb30;
    }

    .Started {
        color: #1cba2e;
    }

    .Pause {
        color: #bd1717
    }

    .Cancel {
        color: #ff2929;
    }

    .Ended {
        color: #2f1da7;
    }

    .orderid-col{
        font-family:'Franklin Gothic';
        font-optical-sizing:auto;
    }

</style>


@*<div class="left-side">
    <div class="logo">
        <img src="~/image/orders-icon.png" />
        <img src="~/image/delivery.png" />
        <img src="~/image/orders.png" />
    </div>
</div>*@

<div>

    @await Html.PartialAsync("~/Views/UserOrder/_OrderMapPopup.cshtml")

    @*datagrid*@
    <div id="data-grid-demo">

        @(Html.DevExtreme().DataGrid<OrderModel>()
            .ID("gridContainer")
            .ShowBorders(true)
            .Scrolling(scrolling => scrolling.RowRenderingMode(GridRowRenderingMode.Virtual).ShowScrollbar(ShowScrollbarMode.OnScroll))
            .HighlightChanges(true)
            .WordWrapEnabled(true)
            .RepaintChangesOnly(true)
            .AllowColumnResizing(true)
            .RowAlternationEnabled(true)
            .AutoNavigateToFocusedRow(true)
            .ShowRowLines(true)
            .FilterPanel(f => f.Visible(true))
            .HeaderFilter(h => h.Visible(true))
            .ColumnAutoWidth(true)
            .Paging(p => p.Enabled(false))
            .Paging(paging => paging.PageSize(5))
            .Pager(pager =>
            {
                pager.Visible(true);
                pager.ShowInfo(true);
                pager.ShowNavigationButtons(true);
            })
            .Editing(e => e.Mode(GridEditMode.Popup)
                .AllowUpdating(true)
                .AllowDeleting(true)
                .UseIcons(true)
                .Popup(p => p
                    .Title("Order")
                    .ShowTitle(false)
                    .Width(700)
                    .Height(525)
                    .FullScreen(true)
                )

                .Form(f => f.LabelMode(FormLabelMode.Floating).Items(items => {
                    items.AddGroup()
                        .ColCount(2)
                        .ColSpan(2)
                        .Items(groupItems => {
                            groupItems.AddSimpleFor(m => m.OrderID).Editor(e => e.TextBox().ID("OrderID"));
                            groupItems.AddSimpleFor(m => m.EndPoint).Editor(e => e.TextBox().ID("EndPoint"));
                            groupItems.AddSimpleFor(m => m.ShippingType).Name("Loại vận chuyển");
                            groupItems.AddSimpleFor(m => m.Employee1);
                            groupItems.AddSimpleFor(m => m.Employee2);
                            groupItems.AddSimpleFor(m => m.RequiredDate);
                            groupItems.AddSimpleFor(m => m.ShippedDate);


                            groupItems.AddSimpleFor(m => m.Note)
                                .ColSpan(2)
                                .Editor(editor => editor.TextArea().Height(100));

                        });

                    items.AddGroup()
                        .Caption("Customer")
                        .ColCount(2)
                        .ColSpan(2)
                        .Items(groupItems => {
                            groupItems.AddSimpleFor(m => m.CustomerName);
                            groupItems.AddSimpleFor(m => m.EndPoint);
                        });

                }))
            )
            .Columns(columns => {
                columns.AddFor(m => m.OrderID).Caption("Mã đơn hàng").CssClass("orderid-col");

                columns.AddFor(m => m.Status).Caption("Trạng thái").CellTemplate(@<text>
                        <div>
                            <p style="font-family:fantasy;font-size:xx-small" class="<%- value %>"><%- value %></p>
                        </div>
                </text>);

                columns.AddFor(m => m.EndAdress).Caption("Chành xe");
                columns.AddFor(m => m.Result).Caption("Kết quả").HidingPriority(0);

                columns.AddFor(m => m.ShippingType).Caption("Loại vận chuyển").HidingPriority(1);
                columns.AddFor(m => m.Vehice).Caption("Phương tiện").HidingPriority(2);
                columns.AddFor(m => m.Employee1).Caption("Nhân viên phụ trách").HidingPriority(3);
                columns.AddFor(m => m.Employee2).Caption("Nhân viên phụ xe").HidingPriority(4);
                columns.AddFor(m => m.OrderFee).Caption("Thu phí").HidingPriority(5);

                columns.AddFor(m => m.RequiredDate).Caption("Ngày phát sinh VĐ").HidingPriority(6);
                columns.AddFor(m => m.ShippedDate).Caption("Ngày vận chuyển").HidingPriority(7);

                columns.AddFor(m => m.StartTime).Caption("Thời gian bắt đầu").HidingPriority(8);
                columns.AddFor(m => m.StopTime).Caption("Thời gian kết thúc").HidingPriority(9);
                columns.AddFor(m => m.OrderValue).Caption("Trị giá đơn hàng").HidingPriority(10);
                columns.AddFor(m => m.Mass).Caption("Khối lượng").HidingPriority(11);
                columns.AddFor(m => m.KilometersOrg).Caption("Số km dự tính").HidingPriority(12);
                columns.AddFor(m => m.Kilometers).Caption("Số km đã đi").HidingPriority(13);
                columns.AddFor(m => m.CustomerAdress).Caption("Điểm kết thúc");
                columns.AddFor(m => m.StartAdress).Caption("Điểm bắt đầu").HidingPriority(24);
                columns.AddFor(m => m.Reason).Caption("Lý do").Visible(false);
                columns.AddFor(m => m.StartPoint).Visible(false);
                columns.AddFor(m => m.EndPoint).Visible(false);
                columns.AddFor(m => m.EndPointUpdate).Visible(false);
                columns.AddFor(m => m.CurrentPoint).Visible(false);

                columns.Add().Caption("Kho xuất").Columns(a =>
                {
                    a.AddFor(m => m.ShippingMethod).Caption("Hình thức").HidingPriority(14);
                    a.AddFor(m => m.WarehouseID).Caption("Mã kho").HidingPriority(15);
                    a.AddFor(m => m.ExportAdress).Caption("Địa chỉ xuất").HidingPriority(16);
                });




                columns.Add().Caption("Khách hàng").Columns(a =>
                {
                    a.AddFor(m => m.BussinesStaffID).Caption("NVKD quản lý").HidingPriority(17);
                    a.AddFor(m => m.CustomerName).Caption("Tên khách hàng");

                    a.AddFor(m => m.CustomerAdressUpdate).Caption("Đ/c đến cập nhật").HidingPriority(20);
                    a.AddFor(m => m.CustomerPhone).Caption("Số điện thoại").HidingPriority(21);
                    a.AddFor(m => m.CustomerContact).Caption("Liên hệ").HidingPriority(22);
                    a.AddFor(m => m.Note).Caption("Ghi chú").HidingPriority(23);
                });
                columns.Add()
                  .Type(GridCommandColumnType.Buttons).Fixed(true).FixedPosition(HorizontalEdge.Right)
                  .Buttons(b =>
                  {
                      b.Add()
                              .Icon("airplane")
                              .OnClick("DevAV.orderMapUser.popupMap");
                      b.Add()
                             .Icon("fas fa-balance-scale")
                             .OnClick("DevAV.userOrders.popupEditMass");

                  });

            })
            .DataSource(d => d.Mvc()
                .Controller("UserOrder")
                .LoadAction("GetByEmployee")
                .LoadParams(new {employee= @HttpContextAccessor.HttpContext.Session.GetString("Fullname")})
            )
            .Toolbar(toolbar => {
        toolbar.Items(items => {

            items.Add()
                .Location(ToolbarItemLocation.Before)
                .LocateInMenu(ToolbarItemLocateInMenuMode.Auto)
                .Widget(w =>
                    w.SelectBox()
                        
                        .WrapItemText(true)
                        .DataSource(new[] {
                            new { value = "Approved", text = "Đã duyệt" },
                            new { value = "Started", text = "Đã bắt đầu" },
                            new { value = "Pause", text = "Đã tạm dừng" },
                            new { value = "Continue", text = "Đã tiếp tục" },
                        })
                        .DisplayExpr("text")
                        .ValueExpr("value")
                        .Value("Approved")
                        .OnValueChanged(@<text>
                                            function(data) {
                                                var dataGrid = $("#gridContainer").dxDataGrid("instance");
                                                dataGrid.filter(["Status", "=", data.value]);
                                            }
                                        </text>)
                );

            items.Add()
                .Location(ToolbarItemLocation.After)
                .Widget(w =>
                    w.Button()
                        .Icon("refresh")
                        .OnClick("refreshButtonClicked")
                );

        });
    })
        )
    </div>
</div>

<script>
    var dataGrid;


    function refreshButtonClicked(e) {
        dataGrid.refresh();
    }

    $(function () {
        dataGrid = $("#gridContainer").dxDataGrid("instance");
    });

</script>

<script>
    $(document).ready(function () {
        $("#title-img").attr("src", "image/orders-manager.png");
    })
</script>

<script src="~/js/order-map-popup-user.js"></script>









@*<script>
        function popupEditMass(e) {
            Swal.fire({
                title: 'Nhập khối lượng đơn hàng(kg)',
                input: 'text',
                inputAttributes: {
                    autocapitalize: 'off'
                },
                showCancelButton: true,
                confirmButtonText: 'OK',
                showLoaderOnConfirm: true,
                preConfirm: (inp) => {
                    if (!inp) {
                        Swal.showValidationMessage(
                            '<i class="fa fa-info-circle"></i> Không được để trống!!!'
                        )
                    }
                    if (isNaN(inp)) {
                        Swal.showValidationMessage(
                            '<i class="fa fa-info-circle"></i> Không phải là số!!!'
                        )
                    }
                    return { mass: inp, }
                },
                allowOutsideClick: () => !Swal.isLoading()
            }).then((result) => {
                $.ajax({
                    url: "UserOrder/UpdateMass/" + e.row.data.OrderID + "?mass=" + result.value.mass,
                    type: 'PUT',
                    data: {},
                    success: function (data) {
                        Swal.fire({ title: 'Thành công', text: 'Cập nhật thành công khối lượng ' + result.value.mass, icon: 'success', timer: 1500 })
                    },
                    error: function (error) {
                        Swal.fire({title: 'Thất bại', text: 'Có lỗi không thể cập nhật', icon: 'error', timer: 1500})
                    }
                });
            });
        }
    </script>*@

@*<script>
        function getLoadPanelInstance() {
            return $("#loadPanel").dxLoadPanel("instance");
        }

        function loadPanel_shown(e) {
            setTimeout(function () {
                e.component.hide();
            },1000);
        }

        function loadPanel_hidden() {

        }
    </script>*@




@*<script>
        async function sleep(msec) {
            return new Promise(resolve => setTimeout(resolve, msec));
        }
    </script>*@

<script>
        //var map;
        //var geocoder;
        //var c;
        //var orderID
        //var startPoint, currentPoint, prePoint, endPoint;
        //var startAdress, currentAdress, preAdress, endAdress;
        //var startPointArr, currentPointArr, prePointArr, endPointArr;
        //var vehice, kilometers, kilometersOrg;

        //window.onbeforeunload = function () {
        //    if ($("#status").dxTextBox("instance").option("value") == "Continue") {
        //        return "Data will be lost if you leave the page, are you sure?";
        //    }
        //};

        //window.onclose = function () {
        //    if ($("#status").dxTextBox("instance").option("value") == "Continue") {
        //        return "Data will be lost if you leave the page, are you sure?";
        //    }
        //};

        //function popupdirection() {
        //    //popup
        //    const popup = $("#demo3-popup").dxPopup("instance");
        //    popup.option({
        //        contentTemplate: $("#popup-template3-"),
        //    });
        //    popup.show();
        //}

        //function popupDirectionParams() {
        //    var param = {};
        //    param["startpoint"] = $("#start-point").dxTextBox("instance").option("value");
        //    param["endpoint"] = $("#end-point").dxTextBox("instance").option("value");
        //    param["vehice"] = $("#vehice").dxTextBox("instance").option("value");
        //    return param;
        //}

        //function getStartPoint() {
        //    return $("#start-point-direction").dxTextBox("instance").option("value");
        //}
        //function getEndPoint() {
        //    return $("#end-point-direction").dxTextBox("instance").option("value");
        //}
        //function getVehice () {
        //    return $("#vehice").dxTextBox("instance").option("value");
        //}






        //function popupdetail(e) {
        //    if (e.row.data.Status == "Ended") {
        //        Swal.fire({
        //            icon: 'error',
        //            title: 'Oops...',
        //            text: 'Đơn hàng đã hoàn thành!',
        //        })
        //    } else if (e.row.data.Status == "Cancel") {
        //        Swal.fire({
        //            icon: 'error',
        //            title: 'Oops...',
        //            text: 'Đơn hàng đã bị hủy!',
        //            timer: 2000,
        //        })
        //    } else {
        //        //popup
        //        const popup = $("#demo-popup").dxPopup("instance");
        //        popup.option({
        //            contentTemplate: $("#popup-template-"),
        //        });
        //        popup.show();

        //    }


        //    $("#order-id").dxTextBox("instance").option("value", e.row.data.OrderID);
        //    $("#order-value").dxTextBox("instance").option("value",e.row.data.OrderValue);
        //    $("#mass").dxTextBox("instance").option("value", e.row.data.Mass);
        //    $("#order-fee").dxTextBox("instance").option("value", e.row.data.OrderFee+" thu phí");
        //    fetchData($("#order-id").dxTextBox("instance").option("value"));

        //    //getLocation();


        //    ////lấy vị trí và cập nhật vị trí người dùng mỗi 2 giây
        //    //setInterval(function () {
        //    //    getLocation();
        //    //    var orderID =$("#order-id").dxTextBox("instance").option("value");
        //    //    var currentPoint = $("#current-point").dxTextBox("instance").option("value");
        //    //    var currentPointArr = currentPoint.trim().split(',').reverse();
        //    //    displayCurrentPoint(currentPointArr);
        //    //    //$.ajax({
        //    //    //    url: "UserOrder/UpdateCurrentPoint/" + orderID + "?currentpoint=" + currentPoint,
        //    //    //    method: 'PUT',
        //    //    //    data: {},
        //    //    //    success: function (data) {
        //    //    //        DevExpress.ui.notify("Vị trí của người dùng là " + currentPoint, "success",500);
        //    //    //    }
        //    //    //});
        //    //}, 2000);
        //}

        //function fetchData(orderID) {


        //    getLocation();

        //    $.getJSON("Order/GetByID/" + orderID,
        //        function (data) {
        //            $("#status").dxTextBox("instance").option("value", data.Status);
        //            $("#employee1").dxTextBox("instance").option("value", data.Employee1);
        //            $("#employee2").dxTextBox("instance").option("value", data.Employee2);
        //            $("#start-point").dxTextBox("instance").option("value", data.StartPoint);
        //            $("#start-adress").dxTextBox("instance").option("value", data.StartAdress);
        //            $("#pre-point").dxTextBox("instance").option("value", data.CurrentPoint);
        //            if (data.EndPoint.includes("wrong")) {
        //                $("#end-point").dxTextBox("instance").option("value", data.EndPointUpdate);
        //                $("#end-adress").dxTextBox("instance").option("value", data.CustomerAdressUpdate);
        //            } else {
        //                $("#end-point").dxTextBox("instance").option("value", data.EndPoint);
        //                $("#end-adress").dxTextBox("instance").option("value", data.CustomerAdress);
        //            }

        //            var status = $("#status").dxTextBox("instance").option("value");
        //            if (status === "Pause" || status==="Approved") {
        //                $("#start_button").dxButton({
        //                    visible: true,
        //                });
        //                $("#pause_button").dxButton({
        //                    visible: false,
        //                });

        //            } else {
        //                $("#pause_button").dxButton({
        //                    visible: true,
        //                });
        //                $("#start_button").dxButton({
        //                    visible: false,
        //                });
        //            }



        //            $("#vehice").dxTextBox("instance").option("value", data.Vehice);
        //            $("#result").dxTextBox("instance").option("value", data.Result);
        //            $("#reason").dxTextBox("instance").option("value", data.Reason);
        //            $("#start-time").dxTextBox("instance").option("value", data.StartTime);
        //            $("#stop-time").dxTextBox("instance").option("value", data.StopTime);
        //            $("#stop-time").dxTextBox("instance").option("value", data.StopTime);
        //            $("#kilometers-org").dxTextBox("instance").option("value", data.KilometersOrg);
        //            $("#kilometers").dxTextBox("instance").option("value", data.Kilometers);

        //            var endPoint = $("#end-point").dxTextBox("instance").option("value");
        //            var endPointArr = $("#end-point").dxTextBox("instance").option("value").trim().split(',').reverse();
        //            var startPoint = $("#start-point").dxTextBox("instance").option("value");
        //            var currentPoint = $("#current-point").dxTextBox("instance").option("value");
        //            var startAdress = $("#start-adress").dxTextBox("instance").option("value");
        //            var endAdress = $("#end-adress").dxTextBox("instance").option("value");
        //            var vehice = $("#vehice").dxTextBox("instance").option("value");


        //            if (!!startPoint || !startPoint === "") {
        //                var startPointArr = startPoint.trim().split(',').reverse();
        //                var currentPointArr = currentPoint.trim().split(',').reverse();
        //                loadmap(currentPointArr);
        //                displayStartPoint(startPointArr, startAdress);
        //                displayEndPoint(endPointArr, endAdress);
        //                displayCurrentPoint(currentPointArr);
        //                fly(currentPointArr);
        //            } else {
        //                loadmap(endPointArr);
        //                displayEndPoint(endPointArr, endAdress);
        //                fly(endPointArr);
        //            }

        //            if (!!startPoint || startPoint != "") {
        //                drawRouter(startPoint, endPoint, vehice);
        //            }

        //            currentLocation();



        //        })
        //}

        //function popupcancel() {
        //    //popup
        //    const popup = $("#demo2-popup").dxPopup("instance");
        //    popup.option({
        //        contentTemplate: $("#popup-template2-"),
        //    });
        //    popup.show();
        //    $("#cancel-order-id").dxTextBox("instance").option("value", $("#order-id").dxTextBox("instance").option("value"));
        //}


        //async function startbutton_onClick(e) {
        //    getLocation();

        //    var endPoint = $("#end-point").dxTextBox("instance").option("value");
        //    var vehice = $("#vehice").dxTextBox("instance").option("value");
        //    var orderID = $("#order-id").dxTextBox("instance").option("value");
        //    var currentPoint = $("#current-point").dxTextBox("instance").option("value");
        //    var status = $("#status").dxTextBox("instance").option("value");

        //    if (currentPoint != "") {
        //        var currentPointArr = currentPoint.trim().split(',').reverse();
        //        if (status === "Approved") {
        //            var result = confirm("Bắt đầu vận chuyển đơn hàng" + "[" + orderID + "] ");
        //            if (result) {
        //                $.getJSON("Map/GetAdress/" + currentPoint,
        //                    function (data) {
        //                        $("#current-adress").dxTextBox("instance").option("value", data);
        //                        $("#start-adress").dxTextBox("instance").option("value", data);
        //                    });

        //                $.getJSON("Map/GetKilometers/" + currentPoint + "/" + endPoint + "/" + vehice,
        //                    function (data) {
        //                        $("#kilometers-org").dxTextBox("instance").option("value", data);
        //                    });

        //                await sleep(1000);

        //                var currentAdress = $("#current-adress").dxTextBox("instance").option("value");
        //                var kilometersOrg = $("#kilometers-org").dxTextBox("instance").option("value");
        //                if (currentAdress != "" && kilometersOrg != "") {
        //                    $.ajax({
        //                        url: "UserOrder/Start/" + orderID + "?point=" + currentPoint + "&&adress=" + currentAdress + "&&kilometersOrg=" + kilometersOrg,
        //                        method: 'PUT',
        //                        data: {},
        //                        success: function (data) {
        //                            map.remove();
        //                            map = new goongjs.Map({
        //                                container: 'map-order-detail',
        //                                style: 'https://tiles.goong.io/assets/goong_map_web.json',
        //                                center: currentPointArr,
        //                                zoom: 15
        //                            });
        //                            getLoadPanelInstance().show();
        //                            fetchData(orderID);
        //                            ////1.ẩn start button
        //                            //e.component.option("visible", false);
        //                            ////2.hiện pause button
        //                            //$("#pause_button").dxButton({
        //                            //    visible: true,
        //                            //});
        //                            $("#status").dxTextBox("instance").option("value", "Started");
        //                            DevExpress.ui.notify("Đơn hàng " + orderID + " bắt đầu vận chuyển", "success", "top right", 500);
        //                        }
        //                    });
        //                } else {
        //                    DevExpress.ui.notify("Có lỗi, vui lòng thử lại", "error", 500);
        //                }
        //            }
        //        }
        //        else {
        //            var result = confirm("Tiếp tục vận chuyển đơn hàng" + "[" + orderID + "]");
        //            if (result) {
        //                $.ajax({
        //                    url: "UserOrder/Continue/" + orderID + "?point=" + currentPoint,
        //                    method: 'PUT',
        //                    data: {},
        //                    success: function (data) {
        //                        map.remove();
        //                        map = new goongjs.Map({
        //                            container: 'map-order-detail',
        //                            style: 'https://tiles.goong.io/assets/goong_map_web.json',
        //                            center: currentPointArr,
        //                            zoom: 15
        //                        });
        //                        getLoadPanelInstance().show();
        //                        fetchData(orderID);
        //                        ////1.ẩn start button
        //                        //e.component.option("visible", false);
        //                        ////2.hiện pause button
        //                        //$("#pause_button").dxButton({
        //                        //    visible: true,
        //                        //});
        //                        DevExpress.ui.notify("Đơn hàng " + orderID + " tiếp tục vận chuyển", "success", 500);
        //                    }
        //                });
        //            }
        //        }
        //    } else {
        //        DevExpress.ui.notify("Không lấy được vị trí hiện tại,vui lòng thử lại", "error", 500);
        //    }
        //}
        //async function pausebutton_onClick(e) {
        //    getLocation();

        //    var orderID = $("#order-id").dxTextBox("instance").option("value");
        //    var currentPoint = $("#current-point").dxTextBox("instance").option("value");
        //    var vehice = $("#vehice").dxTextBox("instance").option("value");

        //    if (currentPoint != "") {
        //        $.getJSON("UserOrder/GetCurrentPoint/" + orderID,
        //            function (data) {
        //                $("#pre-point").dxTextBox("instance").option("value", data);
        //            })

        //        await sleep(1000);
        //        prePoint = $("#pre-point").dxTextBox("instance").option("value");
        //        $.getJSON("Map/GetKilometers/" + prePoint + "/" + currentPoint + "/" + vehice,
        //            function (data) {
        //                var result = confirm("Tạm dừng vận chuyển đơn hàng" + "[" + orderID + "] ");
        //                if (result) {
        //                    $.ajax({
        //                        url: "UserOrder/Pause/" + orderID + "?point=" + currentPoint + "&&kilometers=" + data,
        //                        method: 'PUT',
        //                        data: {},
        //                        success: function (data1) {
        //                            fetchData(orderID);
        //                            //e.component.option("visible", false);
        //                            //$("#start_button").dxButton({
        //                            //    visible: true,
        //                            //});
        //                            $("#status").dxTextBox("instance").option("value", "Pause");
        //                            DevExpress.ui.notify("Đơn hàng " + orderID + " tạm dừng, đã đi được " + data + " kms", "success", 500);
        //                        }
        //                    });
        //                }
        //            })
        //    } else {
        //        DevExpress.ui.notify("Không lấy được vị trí hiện tại,vui lòng thử lại", "error", 500);
        //    }
        //}

        //async function endbutton_onClick(e) {
        //    getLocation();

        //    var orderID = $("#order-id").dxTextBox("instance").option("value");
        //    var currentPoint = $("#current-point").dxTextBox("instance").option("value");
        //    var endPoint = $("#end-point").dxTextBox("instance").option("value");
        //    var vehice = $("#vehice").dxTextBox("instance").option("value");
        //    if (currentPoint != "") {
        //        $.getJSON("UserOrder/GetCurrentPoint/" + orderID,
        //            function (data) {
        //                $("#pre-point").dxTextBox("instance").option("value", data);
        //            })

        //        await sleep(500);
        //        prePoint = $("#pre-point").dxTextBox("instance").option("value");
        //        $.getJSON("Map/GetKilometers/" + prePoint + "/" + currentPoint + "/" + vehice,
        //            function (data) {
        //                $.getJSON("Map/GetKilometers/" + currentPoint + "/" + endPoint + "/" + vehice,
        //                    function (dataCompare) {
        //                        if (dataCompare < 1000) {
        //                            var result = confirm("Hoàn thành đơn hàng " + "[" + orderID + "]" + "?");
        //                            if (result) {
        //                                $.ajax({
        //                                    url: "UserOrder/End/" + orderID + "?kilometers=" + data,
        //                                    method: 'PUT',
        //                                    data: {},
        //                                    success: function (data) {
        //                                        fetchData(orderID);
        //                                        var kilometers = $("#kilometers").dxTextBox("instance").option("value");
        //                                        DevExpress.ui.notify("Đơn hàng " + orderID + " đã hoàn thành, số kms cuối cùng là " + kilometers, "success", 500);
        //                                        const popup = $("#demo2-popup").dxPopup("instance");
        //                                        popup.hide();
        //                                    }
        //                                });
        //                            }
        //                        } else {
        //                            var result = confirm("Khoảng cách đến địa điểm đến còn hơn 1000m, bạn muốn hoàn thành đơn hàng" + "[" + orderID + "]" + "?");
        //                            if (result) {
        //                                $.ajax({
        //                                    url: "UserOrder/End/" + orderID + "?kilometers=" + data,
        //                                    method: 'PUT',
        //                                    data: {},
        //                                    success: function (data) {
        //                                        DevExpress.ui.notify("Đơn hàng " + orderID + " đã hoàn thành", "success", 500);
        //                                        const popup = $("#demo2-popup").dxPopup("instance");
        //                                        popup.hide();
        //                                    }
        //                                });
        //                            }
        //                        }
        //                    })
        //            })
        //    } else {
        //        DevExpress.ui.notify("Không lấy được vị trí hiện tại,vui lòng thử lại", "error", 500);
        //    }
        //}

        //function loadmap(pointArr) {
        //    goongjs.accessToken = 'SYASj2SLYfUvY5BtsZgDJgzGydMsDKZnBAgsQXP1';
        //    if (map == null) {
        //        map = new goongjs.Map({
        //            container: 'map-order-detail',
        //            style: 'https://tiles.goong.io/assets/goong_map_web.json',
        //            center: pointArr,
        //            zoom: 11.5
        //        });

        //        map.addControl(new goongjs.FullscreenControl());
        //    }
        //    else {
        //        map.remove();
        //        map = new goongjs.Map({
        //            container: 'map-order-detail',
        //            style: 'https://tiles.goong.io/assets/goong_map_web.json',
        //            center: pointArr,
        //            zoom: 11.5
        //        });

        //        map.addControl(new goongjs.FullscreenControl());
        //    }
        //}

        //function drawRouter(startPoint, endPoint, vehice) {
        //    map.on('load', function () {
        //        var layers = map.getStyle().layers;
        //        // Find the index of the first symbol layer in the map style
        //        var firstSymbolId;
        //        for (var i = 0; i < layers.length; i++) {
        //            if (layers[i].type === 'symbol') {
        //                firstSymbolId = layers[i].id;
        //                break;
        //            }
        //        }
        //        // Initialize goongClient with an API KEY
        //        var goongClient = goongSdk({
        //            accessToken: 'R0YBSqv8kl3JvbSFvQwkvWlGkbnTKjhDm3YRlcBS'
        //        });
        //        // Get Directions
        //        goongClient.directions
        //            .getDirections({
        //                origin: startPoint,
        //                destination: endPoint,
        //                vehicle: vehice
        //            })
        //            .send()
        //            .then(function (response) {
        //                var directions = response.body;
        //                var route = directions.routes[0];

        //                var geometry_string = route.overview_polyline.points;
        //                var geoJSON = polyline.toGeoJSON(geometry_string);
        //                map.addSource('route', {
        //                    'type': 'geojson',
        //                    'data': geoJSON
        //                });
        //                // Add route layer below symbol layers
        //                map.addLayer(
        //                    {
        //                        'id': 'route',
        //                        'type': 'line',
        //                        'source': 'route',
        //                        'layout': {
        //                            'line-join': 'round',
        //                            'line-cap': 'round'
        //                        },
        //                        'paint': {
        //                            'line-color': '#1e88e5',
        //                            'line-width': 8
        //                        }
        //                    },
        //                    firstSymbolId
        //                );
        //            });
        //    });
        //}

        //function currentLocation() {

        //    if (c == null) {
        //        c = new goongjs.GeolocateControl({
        //            positionOptions: { enableHighAccuracy: true, timeout: 20000 },
        //            trackUserLocation: false,
        //            showUserLocation: true
        //        });
        //        // Add geolocate control to the map.
        //        map.addControl(
        //            c
        //        );
        //        c.on('geolocate', showPosition);
        //    }

        //}

        //function getLocation() {
        //    if (navigator.geolocation) {
        //        navigator.geolocation.watchPosition(showPosition, showError);
        //    } else {
        //        document.getElementById("map-status").value = "Geolocation is not supported by this browser.";
        //    }
        //}

        //function showError(error) {
        //    switch (error.code) {
        //        case error.PERMISSION_DENIED:
        //            document.getElementById("map-status").value = "User denied the request for Geolocation.";
        //            break;
        //        case error.POSITION_UNAVAILABLE:
        //            document.getElementById("map-status").value = "Location information is unavailable.";
        //            break;
        //        case error.TIMEOUT:
        //            document.getElementById("map-status").value = "The request to get user location timed out.";
        //            break;
        //        case error.UNKNOWN_ERROR:
        //            document.getElementById("map-status").value = "An unknown error occurred.";
        //            break;
        //    }
        //}

        //function showPosition(position) {
        //    var lng = position.coords.longitude;
        //    var lat = position.coords.latitude;
        //    var coordinateString = lat + "," + lng;

        //    $("#current-point").dxTextBox("instance").option("value", coordinateString);


        //    //var latlngArr = coordinateString.split(',').reverse();

        //    //var el = document.createElement('div');
        //    //el.className = 'markercppp';
        //    //el.style.backgroundImage =
        //    //    "url('../image/currentpoint24.png')";
        //    //el.style.width = '24px';
        //    //el.style.height = '24px';

        //    ////popup
        //    //var popup = new goongjs.Popup({
        //    //    closeButton: false,
        //    //    closeOnClick: false
        //    //});

        //    ////mouse over
        //    //el.addEventListener('mouseover', function () {
        //    //    el.style.backgroundImage =
        //    //        "url('../image/currentpoint24.png')";
        //    //    el.style.width = '24px';
        //    //    el.style.height = '24px';
        //    //    map.getCanvas().style.cursor = 'pointer'
        //    //    popup.setLngLat(endPointArr).setHTML(endAdress).addTo(map);
        //    //});

        //    ////mouse leave
        //    //el.addEventListener('mouseleave', function () {
        //    //    el.style.backgroundImage =
        //    //        "url('../image/currentpoint16.png')";
        //    //    el.style.width = '16px';
        //    //    el.style.height = '16px';
        //    //    map.getCanvas().style.cursor = '';
        //    //    popup.remove();
        //    //});

        //    //marker = new goongjs.Marker(el)
        //    //    .setLngLat(latlngArr)
        //    //    .addTo(map);

        //}





        //function cancelOrder() {
        //    var orderID = $("#cancel-order-id").dxTextBox("instance").option("value");
        //    var reason = $("#reason-cancel").dxTextBox("instance").option("value");
        //    var result = confirm("Bạn muốn hủy đơn hàng " + "[" + orderID + "]" + " với lý do " + "[" + reason + "]");
        //    if (result) {
        //        $.ajax({
        //            url: "UserOrder/Cancel/" + orderID + "?Reason=" + reason,
        //            method: 'PUT',
        //            data: {},
        //            success: function (data) {
        //                DevExpress.ui.notify("Đơn hàng " + orderID + " đã bị hủy", "success", 2000);
        //                const popupcancel = $("#demo2-popup").dxPopup("instance");
        //                popupcancel.hide();
        //                const popupdetail = $("#demo-popup").dxPopup("instance");
        //                popupdetail.hide();
        //                const dataGrid = $("#gridContainer").dxDataGrid("instance");
        //                dataGrid.getDataSource().reload();
        //            }
        //        });
        //    }
        //}


        //function selectBox_valueChanged(data) {
        //    if (data.value == "Lý do khác") {
        //        $("#reason-cancel").dxTextBox("instance").option("visible", true);
        //        $("#reason-cancel").dxTextBox("instance").option("value", "");
        //    }
        //    else {
        //        $("#reason-cancel").dxTextBox("instance").option("visible", false);
        //        $("#reason-cancel").dxTextBox("instance").option("value", data.value);
        //    }
        //}

        //function editEndPoint(e) {
        //    e.component.option("visible", false);
        //    $("#confirm-end-point").dxButton({
        //        visible: true,
        //    });

        //    //$("#end-adress").dxTextBox("instance").option("visible", false);
        //    document.getElementById("geocoder").hidden = false;
        //    autocompleteEndPoint();
        //}

        //function confirmEndPoint(e) {
        //    e.component.option("visible", false);
        //    $("#edit-end-point").dxButton({
        //        visible: true,
        //    });
        //    document.getElementById("geocoder").hidden = true;


        //    var orderID = $("#order-id").dxTextBox("instance").option("value");
        //    var endPoint = $("#end-point").dxTextBox("instance").option("value");
        //    var endPointArr = endPoint.trim().split(',').reverse();
        //    var endAdress = $("#end-adress").dxTextBox("instance").option("value");
        //    $.ajax({
        //        url: "UserOrder/UpdateEndPoint/" + orderID + " ?endpoint=" + endPoint + "&&adress=" + endAdress,
        //        method: 'PUT',
        //        data: {},
        //        success: function (data) {
        //            map.remove();
        //            map = new goongjs.Map({
        //                container: 'map-order-detail',
        //                style: 'https://tiles.goong.io/assets/goong_map_web.json',
        //                center: endPointArr,
        //                zoom: 15
        //            });
        //            fetchData(orderID);
        //            DevExpress.ui.notify("Cập nhật thành công điểm đến", "success", 500);
        //        }
        //    });
        //}

        //function autocompleteEndPoint() {
        //    var data;
        //    var latlng;
        //    var latlngArr;
        //    if (geocoder == null) {

        //        geocoder = new GoongGeocoder({
        //            accessToken: 'R0YBSqv8kl3JvbSFvQwkvWlGkbnTKjhDm3YRlcBS'
        //        });

        //        geocoder.addTo('#geocoder');

        //        // Add geocoder result to container.
        //        geocoder.on('result', function (e) {
        //            data = JSON.parse(JSON.stringify(e.result, null, 2));
        //            var lat = data.result.geometry.location.lat;
        //            var lng = data.result.geometry.location.lng;
        //            latlng = lat + "," + lng;
        //            latlngArr = latlng.split(',').reverse();

        //            $("#end-point").dxTextBox("instance").option("value", latlng);
        //            //lấy địa chỉ điểm đến
        //            $.getJSON("Map/GetAdress/" + latlng,
        //                function (data) {
        //                    $("#end-adress").dxTextBox("instance").option("value", data);
        //                })


        //            var el = document.createElement('div');
        //            el.className = 'markercppp';
        //            el.style.backgroundImage =
        //                "url('../image/startpoint24.png')";
        //            el.style.width = '24px';
        //            el.style.height = '24px';

        //            var marker = new goongjs.Marker(el)
        //                .setLngLat(latlngArr)
        //                .addTo(map);

        //            map.flyTo({
        //                center: latlngArr,
        //                zoom: 15,
        //                essential: true
        //            });
        //        });

        //        // Clear results container when search is cleared.
        //        geocoder.on('clear', function () {
        //            results.innerText = '';
        //        });

        //    }
        //}

        //function fly(pointArr) {
        //    map.flyTo({
        //        center: pointArr,
        //        zoom: 15,
        //        essential: true
        //    });
        //}

        //function displayCurrentPoint(pointArr) {
        //    var size = 200;
        //    var canvas;
        //    //popup
        //    var popup = new goongjs.Popup({
        //        closeButton: false,
        //        closeOnClick: false
        //    });

        //    // implementation of CustomLayerInterface to draw a pulsing dot icon on the map
        //    // see https://docs.goong.io/javascript/properties/#customlayerinterface for more info
        //    var pulsingDot = {
        //        width: size,
        //        height: size,
        //        data: new Uint8Array(size * size * 4),

        //        // get rendering context for the map canvas when layer is added to the map
        //        onAdd: function () {
        //            canvas = document.createElement('canvas');
        //            canvas.width = this.width;
        //            canvas.height = this.height;
        //            this.context = canvas.getContext('2d');
        //        },

        //        // called once before every frame where the icon will be used
        //        render: function () {
        //            var duration = 1000;
        //            var t = (performance.now() % duration) / duration;

        //            var radius = (size / 2) * 0.3;
        //            var outerRadius = (size / 2) * 0.7 * t + radius;
        //            var context = this.context;

        //            // draw outer circle
        //            context.clearRect(0, 0, this.width, this.height);
        //            context.beginPath();
        //            context.arc(
        //                this.width / 2,
        //                this.height / 2,
        //                outerRadius,
        //                0,
        //                Math.PI * 2
        //            );
        //            context.fillStyle = 'rgba(255, 200, 200,' + (1 - t) + ')';
        //            context.fill();

        //            // draw inner circle
        //            context.beginPath();
        //            context.arc(
        //                this.width / 2,
        //                this.height / 2,
        //                radius,
        //                0,
        //                Math.PI * 2
        //            );
        //            context.fillStyle = 'rgba(255, 100, 100, 1)';
        //            context.strokeStyle = 'white';
        //            context.lineWidth = 2 + 4 * (1 - t);
        //            context.fill();
        //            context.stroke();

        //            // update this image's data with data from the canvas
        //            this.data = context.getImageData(
        //                0,
        //                0,
        //                this.width,
        //                this.height
        //            ).data;

        //            // continuously repaint the map, resulting in the smooth animation of the dot
        //            map.triggerRepaint();

        //            // return `true` to let the map know that the image was updated
        //            return true;
        //        }
        //    };

        //    map.on('load', function () {
        //        map.addImage('pulsing-dot', pulsingDot, { pixelRatio: 2 });

        //        map.addSource('points', {
        //            'type': 'geojson',
        //            'data': {
        //                'type': 'FeatureCollection',
        //                'features': [
        //                    {
        //                        'type': 'Feature',
        //                        'geometry': {
        //                            'type': 'Point',
        //                            'coordinates': pointArr
        //                        }
        //                    }
        //                ]
        //            }
        //        });
        //        map.addLayer({
        //            'id': 'points',
        //            'type': 'symbol',
        //            'source': 'points',
        //            'layout': {
        //                'icon-image': 'pulsing-dot'
        //            }
        //        });
        //    });
        //}

        //function displayStartPoint(pointArr, adress) {
        //    var el = document.createElement('div');
        //    el.className = 'markersp';
        //    el.style.backgroundImage =
        //        "url('../image/startpoint16.png')";
        //    el.style.width = '16px';
        //    el.style.height = '16px';

        //    //popup
        //    var popup = new goongjs.Popup({
        //        closeButton: false,
        //        closeOnClick: false
        //    });

        //    //mouse over
        //    el.addEventListener('mouseover', function () {
        //        el.style.backgroundImage =
        //            "url('../image/startpoint24.png')";
        //        el.style.width = '24px';
        //        el.style.height = '24px';
        //        map.getCanvas().style.cursor = 'pointer'
        //        popup.setLngLat(pointArr).setHTML(adress).addTo(map);
        //    });

        //    //mouse leave
        //    el.addEventListener('mouseleave', function () {
        //        el.style.backgroundImage =
        //            "url('../image/startpoint16.png')";
        //        el.style.width = '16px';
        //        el.style.height = '16px';
        //        map.getCanvas().style.cursor = '';
        //        popup.remove();
        //    });
        //    // add marker to map
        //    new goongjs.Marker(el)
        //        .setLngLat(pointArr)
        //        .addTo(map);
        //}

        //function displayEndPoint(pointArr, adress) {
        //    var el = document.createElement('div');
        //    el.className = 'markerep';
        //    el.style.backgroundImage =
        //        "url('../image/endpoint16.png')";
        //    el.style.width = '16px';
        //    el.style.height = '16px';

        //    //popup
        //    var popup = new goongjs.Popup({
        //        closeButton: false,
        //        closeOnClick: false
        //    });

        //    //mouse over
        //    el.addEventListener('mouseover', function () {
        //        el.style.backgroundImage =
        //            "url('../image/endpoint24.png')";
        //        el.style.width = '24px';
        //        el.style.height = '24px';
        //        map.getCanvas().style.cursor = 'pointer'
        //        popup.setLngLat(pointArr).setHTML(adress).addTo(map);
        //    });

        //    //mouse leave
        //    el.addEventListener('mouseleave', function () {
        //        el.style.backgroundImage =
        //            "url('../image/endpoint16.png')";
        //        el.style.width = '16px';
        //        el.style.height = '16px';
        //        map.getCanvas().style.cursor = '';
        //        popup.remove();
        //    });
        //    // add marker to map
        //    var marker = new goongjs.Marker(
        //        {
        //            element: el,
        //            draggable: true
        //        }
        //    )
        //        .setLngLat(pointArr)
        //        .addTo(map);

        //    function onDragEnd() {
        //        var coordinates = document.getElementById('coordinates');
        //        var lngLat = marker.getLngLat();
        //        coordinates.style.display = 'block';
        //        coordinates.innerHTML =
        //            'Longitude: ' + lngLat.lng + '<br />Latitude: ' + lngLat.lat;
        //    }

        //    marker.on('dragend', onDragEnd);
        //}
</script>
