﻿@model DeliveryHaPhan.Models.LoginRequest

<style>
    /* form {
        min-width: 300px;
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2.5rem
    }

    @@media (max-width: 300px) {
        form {
            min-width: 90%;
        }
    }*/
    .container-fluid {
        /*background: #fff;*/
        padding: 10px;
        
    }
</style>
<div class="container-fluid h-100">
    <div class="row justify-content-center align-items-center h-100">

        @using (Html.BeginForm("Login", "UserReportApprove", FormMethod.Post, new { id = "login" }))
        {


            using (Html.DevExtreme().ValidationGroup())
            {

                @Html.AntiForgeryToken()

                @(Html.DevExtreme().Form<LoginRequest>()
                .MinColWidth(100)
                .ShowValidationSummary(true)
                .Items(items => {

                items.AddGroup()
                    .Caption("Đăng nhập")
                    .CssClass("second-group")
                    .Items(groupItems => {
                        groupItems.AddSimpleFor(m => m.Username).Label(l => l.Text("Tên tài khoản"))
                         .Editor(e => e.TextBox().Placeholder("Tên tài khoản"));

                        groupItems.AddSimpleFor(m => m.Password).Label(l => l.Text("Mật khẩu"))
                            .Editor(e => e.TextBox().Mode(TextBoxMode.Password).Placeholder("Mật khẩu").ID("password")
                            .Buttons(buttons =>
                            {
                                buttons.Add()
                                    .Name("password")
                                    .Location(TextEditorButtonLocation.After)
                                    .Widget(w => w.Button()
                                        .Type(ButtonType.Default)
                                        .ID("show-pw")
                                        .Icon("far fa-eye-slash")
                                        //.Icon(Url.Content("~/imageeye.png"))
                                        .OnClick("changePasswordMode"));
                            })
                            );

                        groupItems.AddSimpleFor(m => m.RememberMe)
                            .Editor(e => e.CheckBox().OnValueChanged("checkBox_valueChanged"));
                    });

                items.AddButton()
                    .HorizontalAlignment(HorizontalAlignment.Center)
                    .ButtonOptions(b => b.Text("Đăng nhập")
                        .Type(ButtonType.Success)
                        .UseSubmitBehavior(true)
                        .ID("login")
                            @*.OnClick(@<text>
                                function(e) {
                                    window.location = '@Url.Action("Login", "User")';
                                }
                            </text>)*@

                    );

                })
                .FormData(Model)
            )

                <span class="text-danger">@Html.ValidationMessage("CustomError")</span>
            }

        }
    </div>
    <div class="row justify-content-center align-items-center h-100">
        <p id="result" style="color:red">@ViewBag.R</p>
    </div>
</div>



<script>

    function checkBox_valueChanged(data) {
        /*$("#disabled").dxCheckBox("instance").option("value", data.value);*/

    }

    function changePasswordMode() {
        var passwordEditor = $("#password").dxTextBox("instance");
        passwordEditor.option("mode", passwordEditor.option("mode") === "text" ? "password" : "text");
        $("#show-pw").dxButton("instance").option("icon", passwordEditor.option("mode")==="text" ? "far fa-eye" : "far fa-eye-slash");
    }
</script>
