﻿@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
    
    <style>
        .swal2-container {
            z-index: 20000 !important;
        }
    </style>
    @(Html.DevExtreme().Popup()
        .ID("popup-edit-request-payment")
        .Width("auto")
        .Height("600")
        .FullScreen(false)
        .Position(PositionAlignment.Center)
        .Container(".dx-viewport")
        .ShowTitle(true)
        .Title("Sửa đề xuất")
        .DragEnabled(false)
        .ShowCloseButton(false)
        .ContentTemplate(new TemplateName("popup-edit-request-payment-template"))
        .DeferRendering(true)
        .ToolbarItems(barItems => {
            barItems.Add()
                .Toolbar(Toolbar.Bottom)
                .Location(ToolbarItemLocation.After)
                .Widget(widget => widget.Button()
                    .Text("Thoát")
                    .Type(ButtonType.Danger)
                    .StylingMode(ButtonStylingMode.Outlined)
                    .OnClick(@<text>
                                function hideInfo(data) {
                                    const popup = $("#popup-edit-request-payment").dxPopup("instance");
                                    popup.hide();
                                }
                            </text>)
                );
            barItems.Add()
                .Toolbar(Toolbar.Bottom)
                .Location(ToolbarItemLocation.After)
                .Widget(widget => widget.Button()
                    .Text("Sửa")
                    .Type(ButtonType.Success)
                    .StylingMode(ButtonStylingMode.Outlined)
                    .UseSubmitBehavior(false)
                    .OnClick("DevAV.requestPayments.editRequest")
                );
        })
    )


    @using (Html.DevExtreme().NamedTemplate("popup-edit-request-payment-template"))
    {
        @(Html.DevExtreme().ScrollView()
        .Width("100%")
        .Height("100%")
        .Content(@<text>

    @using (Html.BeginForm())
    {

        using (Html.DevExtreme().ValidationGroup())
        {

            @Html.AntiForgeryToken()

            @(Html.DevExtreme().Form()
            .ID("request-payment-form")
            .ShowColonAfterLabel(true)
            .Height("auto")
            .ShowValidationSummary(false)
            .ScrollingEnabled(true)
            .Items(items => {


                items.AddGroup()
                        .Items(groupItems => {

                            groupItems.AddSimple().DataField("RequestID").Label(l => l.Text("Mã đề xuất"))
                               .Editor(e => e
                                   .TextBox()
                                   .ID("request-id")
                                   .ReadOnly(true)
                               );

                            groupItems.AddSimple().DataField("RequestTitle").Label(l => l.Text("Tiêu đề đề xuất"))
                                .Editor(e => e
                                    .TextBox()
                                    .ID("request-title")
                                );
                            groupItems.AddSimple().DataField("RequestType").Label(l => l.Text("Nhóm đề xuất"))
                                .Editor(e => e
                                    .SelectBox()
                                    .ID("request-type")
                                    .DataSource(new JS("request_type"))
                                    .ValueExpr("text")
                                    .DisplayExpr("text")
                                    .Value("Đề nghị thanh toán")
                                );
                            groupItems.AddSimple().DataField("Status").Label(l => l.Text("Trạng thái"))
                              .Editor(e => e
                                  .TextBox()
                                  .ID("status")
                                  .ReadOnly(true)
                              );
                            groupItems.AddSimple().DataField("CreateDate").Label(l => l.Text("Ngày trình"))
                             .Editor(e => e
                                 .DateBox()
                                 .ID("create-date")
                                 .Type(DateBoxType.Date)
                                 .DisplayFormat("yyyy/MM/dd")
                                 .Value(DateTime.Now)
                                 .ReadOnly(true)
                             );
                            groupItems.AddSimple().DataField("CreateName").Label(l => l.Text("Người trình"))
                                .Editor(e => e
                                    .TextBox()
                                    .ID("create-name")
                                    .Value(HttpContextAccessor.HttpContext.Session.GetString("Username"))
                                    .Visible(true)
                                    .ReadOnly(true)
                                );
                            groupItems.AddSimple().DataField("CreateEmail").Label(l => l.Text("Email"))
                              .Editor(e => e
                                  .TextBox()
                                  .ID("create-email")
                                  .Value(HttpContextAccessor.HttpContext.Session.GetString("Email"))
                                  .ReadOnly(true)
                              );

                            groupItems.AddSimple().DataField("CreateDepartment").Label(l => l.Text("Bộ phận"))
                             .Editor(e => e
                                 .TextBox()
                                 .ID("create-department")
                                 .Value(HttpContextAccessor.HttpContext.Session.GetString("Department"))
                                 .ReadOnly(true)
                             );
                            groupItems.AddSimple().DataField("Approvers").Label(l => l.Text("Người duyệt"))
                             .Editor(e => e
                                 .SelectBox()
                                 .ID("approvers")
                                 .DataSourceOptions(o => o.Group("Department"))
                                .Grouped(true)
                                 .DataSource(d => d
                                   .Mvc()
                                   .Controller("UserNewApi")
                                   .LoadAction("GetApprovers")
                                   .LoadMode(DataSourceLoadMode.Raw)
                                   .Key("UserID")
                               )
                               .DisplayExpr(new JS("displayExpr"))
                               .ValueExpr("UserName")
                               .SearchEnabled(true)
                             );
                            groupItems.AddSimple().DataField("Followers").Label(l => l.Text("Người theo dõi"))
                              .Editor(e => e
                                  .TagBox()
                                  .ShowMultiTagOnly(false)
                                  .ID("followers")
                                  .DataSourceOptions(o => o.Group("Department"))
                                  .Grouped(true)
                                  .HideSelectedItems(true)
                                  .DataSource(d => d
                                    .Mvc()
                                    .Controller("UserNewApi")
                                    .LoadAction("GetFollowers")
                                    .LoadMode(DataSourceLoadMode.Raw)
                                    .Key("UserID")
                                )
                                .DisplayExpr(new JS("displayExpr"))
                                .ValueExpr("UserName")
                                .SearchEnabled(true)
                              );
                            groupItems.AddSimple().DataField("ProcessingTime").Label(l => l.Text("Thời hạn xử lý"))
                              .Editor(e => e
                                  .DateBox()
                                  .ID("processing-time")
                                  .Type(DateBoxType.DateTime)
                              );


                            groupItems.AddSimple().Template(new TemplateName("request-paymnet-detail-template"));



                            groupItems.AddSimple().DataField("RequestNumber").Label(l => l.Text("Số đề nghị"))
                              .Editor(e => e
                                  .TextBox()
                                  .ID("request-number")
                              );
                            groupItems.AddSimple().DataField("Currency").Label(l => l.Text("Loại tiền tệ"))
                               .Editor(e => e
                                   .SelectBox()
                                   .ID("currency")
                                   .DataSource(new JS("currency"))
                                    .ValueExpr("text")
                                    .DisplayExpr("text")
                                    .Value("VND")
                               );
                            groupItems.AddSimple().DataField("TotalAmount").Label(l => l.Text("Tổng tiền"))
                            .Editor(e => e
                                .TextBox()
                                .ID("total-amount")
                                .ReadOnly(true)
                            );
                            groupItems.AddSimple().DataField("Payment").Label(l => l.Text("Hình thức thanh toán"))
                               .Editor(e => e
                                   .SelectBox()
                                   .ID("payment")
                                   .DataSource(new JS("payment"))
                                    .ValueExpr("text")
                                    .DisplayExpr("text")
                                    .Value("Tiền mặt")
                               );
                            groupItems.AddSimple().DataField("TimeOfPayment").Label(l => l.Text("Thời hạn thanh toán"))
                             .Editor(e => e
                                 .DateBox()
                                 .ID("time-of-payment")
                                 .Type(DateBoxType.DateTime)
                             );
                            groupItems.AddSimple().DataField("CustomerName").Label(l => l.Text("Nhà cung cấp"))
                               .Editor(e => e
                                   .TextBox()
                                   .ID("customer-name")
                               );
                            groupItems.AddSimple().DataField("Beneficiary").Label(l => l.Text("Người thụ hưởng"))
                               .Editor(e => e
                                   .TextBox()
                                   .ID("beneficiary")
                               );
                            groupItems.AddSimple().DataField("BeneficiaryAccount").Label(l => l.Text("Số tài khoản thụ hưởng"))
                              .Editor(e => e
                                  .TextBox()
                                  .ID("beneficiary-account")
                              );
                            groupItems.AddSimple().DataField("BankAt").Label(l => l.Text("Tại ngân hàng"))
                              .Editor(e => e
                                  .TextBox()
                                  .ID("bank-at")
                              );
                            groupItems.AddSimple().DataField("TradingDepartment").Label(l => l.Text("Bộ phận giao dịch"))
                             .Editor(e => e
                                 .TextBox()
                                 .ID("trading-department")
                                 .Value(HttpContextAccessor.HttpContext.Session.GetString("Department"))
                                 .ReadOnly(true)
                             );


                        });

            })
        )
        }
    }

</text>)
    )

    }

    @using (Html.DevExtreme().NamedTemplate("request-paymnet-detail-template"))
    {
        <div class="col-md-12 mt-1 mb-2"><button type="button" id="add" class="btn btn-success">Add</button></div>
        <table id="payment-table" class="display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Nội dung thanh toán</th>
                    <th>Số tiền</th>
                    <th>Số chứng từ</th>
                    <th>Ghi chú</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    }

    <script>
        $(document).ready(function () {

            //var table=$('#example').DataTable();

            //$('#example tbody').on("click", ".edit", function () {
            //    console.log("fire");
            //    var row = $(this).closest('tr');

            //    var data = table.row(row).data().PaymentContent;
            //    console.log(data);
            //});


            //$('#example tbody').on("click", ".delete", function () {
            //    console.log("fire");
            //    var row = $(this).closest('tr');

            //    var data = table.row(row).data().Amount;
            //    console.log(data);
            //});
        });
    </script>

    <script>
        function displayExpr(item) {
            return item && item.UserName + '(' + item.FullName + ')';
        }

    </script>

    <script src="~/js/reportapprove/request-type.js"></script>
    <script src="~/js/reportapprove/currency.js"></script>
    <script src="~/js/reportapprove/payment.js"></script>
    <script src="~/js/reportapprove/request-payment.js"></script>