﻿@using DeliveryHaPhan.Models
@{
    ViewData["Title"] = "Dữ liệu hàng hóa";
    Layout = "~/Views/Shared/_LayoutWMS.cshtml";
}
<style>
    #gridContainer {
        height: 440px;
    }

    .header-toolbar {
        background-color: #e7e9ed;
    }
</style>

<script>
    DevAV.goodsDatas = DevAV.goodsDatas || {};
</script>

<div>
    @(Html.DevExtreme().Toolbar()
        .ElementAttr("class","header-toolbar")
        .Items(items => {

            items.Add()
                    .Widget(w => w
                    .Button()
                    .Icon("save")
                    .Text("Lưu")

                    .UseSubmitBehavior(false)
                    .OnClick("DevAV.goodsDatas.createGoodsData")
                )
                .LocateInMenu(ToolbarItemLocateInMenuMode.Auto)
                .Location(ToolbarItemLocation.Before);

            items.Add()
                    .Widget(w => w
                    .Button()
                    .Icon("remove")
                    .Type(ButtonType.Danger)
                    .StylingMode(ButtonStylingMode.Contained)
                    .Text("Xóa")
                    .UseSubmitBehavior(false)
                )
                .LocateInMenu(ToolbarItemLocateInMenuMode.Auto)
                .Location(ToolbarItemLocation.Before);

            items.Add()
                    .Widget(w => w
                    .Button()
                    .Icon("refresh")
                    .Text("Làm mới")
                )
                .LocateInMenu(ToolbarItemLocateInMenuMode.Auto) ;

            items.Add()
                    .Widget(w => w
                    .Button()
                    .Icon("upload")
                    .Text("Nhập dữ liệu")
                    .UseSubmitBehavior(false)
                    .OnClick("DevAV.goodsDatas.uploadFile")
                )
                .LocateInMenu(ToolbarItemLocateInMenuMode.Auto)
                .Location(ToolbarItemLocation.Before);

            items.Add()
                    .Widget(w => w
                    .Button()
                    .Icon("export")
                    .Text("Xuất dữ liệu")
                )
                .LocateInMenu(ToolbarItemLocateInMenuMode.Auto)
                .Location(ToolbarItemLocation.Before);

            items.Add()
                    .Widget(w => w
                    .Button()
                    .Icon("print")
                    .Text("In")
                )
                .LocateInMenu(ToolbarItemLocateInMenuMode.Auto)
                .Location(ToolbarItemLocation.Before);
        })
    )
</div>

<div> 
    <div class="row mt-1">
        <div class="col-sm-3">
            <div class="dx-field">
                <div class="dx-field-label">Mã hàng đang check</div>
                <div class="dx-field-value">
                    @(Html.DevExtreme().TextBox()
                            .ID("GoodsIDCheck")
                    )
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="dx-field">
                <div class="dx-field-label">Kết quả</div>
                <div class="dx-field-value">
                    @(Html.DevExtreme().TextBox()
                            .ID("CheckResult")
                    )
                </div>
            </div>
        </div>
    </div>
    <div class="grid row mt-1">
        @(Html.DevExtreme().DataGrid<GoodsDataModel>()
            .ID("gridContainer")
            .ShowBorders(true)
            .ShowRowLines(true)
            .Scrolling(scrolling => scrolling.Mode(GridScrollingMode.Virtual))
            //.RemoteOperations(true)
            .Sorting(sorting => sorting.Mode(GridSortingMode.None))
            .Paging(paging => paging.PageSize(10))
            .Pager(pager =>
            {
                pager.Visible(true);
                pager.ShowPageSizeSelector(true);
                pager.AllowedPageSizes(new JS("[5, 10, 'all']"));
                pager.ShowInfo(true);
                pager.ShowNavigationButtons(true);
            })
            .Editing(e => e.Mode(GridEditMode.Popup)
                .AllowAdding(true)
                .AllowUpdating(true)
                .AllowDeleting(true)
            )
            .Columns(c => {
            c.Add().Caption("No.").CellTemplate(@<text>
                                                        <p><%- rowIndex+1 %></p>
                                                    </text>);
                c.AddFor(m => m.GoodsID).Caption("Part Number");
                c.AddFor(m => m.GoodsName).Caption("Part Name");
                c.AddFor(m => m.ECNPart).Caption("ECN Part");
                c.AddFor(m => m.SLPart).Caption("SL Part");
                c.AddFor(m => m.Status).Caption("Trạng thái");

                c.AddFor(m => m.GoodsNameEN).Caption("Goods Name EN").Visible(false);
                c.AddFor(m => m.Description).Caption("Mô tả").Visible(false);
                c.AddFor(m => m.CreatedUserID).Caption("Người tạo").Visible(false);
                c.AddFor(m => m.CreatedDate).Caption("Ngày tạo").Visible(false);
                c.AddFor(m => m.UpdatedUserID).Caption("Người cập nhật").Visible(false);
                c.AddFor(m => m.UpdatedDate).Caption("Ngày cập nhật").Visible(false);
            })
             .DataSource(d => d.Mvc()
                .Controller("GoodsData")
                .LoadAction("Get")
                .InsertAction("Post")
                .UpdateAction("Put")
                .DeleteAction("Delete")
                .Key("GoodsID")
                .OnUpdated(@<text>
                        function (e) {
                        DevExpress.ui.notify("Update Success","success", 600);
                        }
                    </text>)
                .OnInserted(@<text>
                        function (e) {
                        DevExpress.ui.notify("Insert Success","success", 600);
                        }
                    </text>)
                .OnRemoved(@<text>
                        function (e) {
                        DevExpress.ui.notify("Delete Success","success", 600);
                        }
                    </text>)
            )
        )
    </div>
</div>