﻿@{
    ViewData["Title"] = "User Dashboard";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<script src="~/js/palette.js"></script>


<style>
    .container-fluid{
        
    }

    .active-grid {
        
        background: #fff;
        box-sizing: border-box;
        border: 10px solid transparent;
        background-clip: padding-box;

    }

        .active-grid #gridContainerActive{
            background:none;
        }

    .approved-grid {
        
        background: #fff;
        box-sizing: border-box;
        border: 10px solid transparent;
        background-clip: padding-box;
    }

        .approved-grid #gridContainerActive {
            background: none;
        }

    .curent-year-kilometers-grid-chart {
        background: #fff;
        box-sizing: border-box;
        border: 10px solid transparent;
        background-clip: padding-box;
    }

    .curent-year-kilometers-grid {
        background: #fff;
        box-sizing: border-box;
        border: 10px solid transparent;
        background-clip: padding-box;
    }


    
</style>

<div class="container-fluid">
    <div class="row block1">
        <div class="col-md-6 active-grid">
            <h6>Đơn hàng đang vận chuyển hôm nay</h6>
            @(Html.DevExtreme().DataGrid<OrderModel>()
            .ID("gridContainerActive")
            .Scrolling(scrolling => scrolling.RowRenderingMode(GridRowRenderingMode.Virtual).ShowScrollbar(ShowScrollbarMode.OnScroll))
             .ColumnAutoWidth(true)
            .AllowColumnResizing(true)
            .ShowBorders(true)
            .DataSource(d => d.Mvc()
                    .Controller("UserHome")
                    .LoadAction("GetActiveOrders")
                    .LoadParams(new { status = "Started,Continue,Pause"}))
            .Columns(c => {
                c.AddFor(m => m.OrderID).Caption("Mã đơn hàng");
                c.AddFor(m => m.RequiredDate).Caption("Ngày phát sinh vận đơn");
                c.AddFor(m => m.ShippedDate).Caption("Ngày vận chuyển");
                c.AddFor(m => m.Kilometers).Caption("Số km đã đi");
                c.AddFor(m => m.Status).Caption("Trạng thái")
                        .CellTemplate(@<text>
                                        <div style="text-align: center;display: inline-flex;">
                                            <p style="color:forestgreen;"><%- value %></p>
                                        </div>
                                    </text>);
            })
        )
        </div>
        <div class="col-md-6 approved-grid">
            <h6>Đơn hàng mới hôm nay</h6>
            @(Html.DevExtreme().DataGrid<OrderModel>()
        .ID("gridContainerApproved")
         .ColumnAutoWidth(true)
        .AllowColumnResizing(true)
        .Scrolling(scrolling => scrolling.RowRenderingMode(GridRowRenderingMode.Virtual).ShowScrollbar(ShowScrollbarMode.OnScroll))
        .Paging(p => p.Enabled(false))
        .Paging(paging => paging.PageSize(5))
        .Pager(pager =>
        {
            pager.Visible(true);
            pager.ShowInfo(true);
            pager.ShowNavigationButtons(true);
        })
        .ShowBorders(true)
        .DataSource(d => d.Mvc()
                .Controller("UserHome")
                .LoadAction("GetActiveOrders")
                .LoadParams(new { status = "Approved" }))
        .Columns(c => {
        c.AddFor(m => m.OrderID).Caption("Mã đơn hàng");
        c.AddFor(m => m.RequiredDate).Caption("Ngày phát sinh vận đơn").HidingPriority(0);
        c.AddFor(m => m.ShippedDate).Caption("Ngày vận chuyển").HidingPriority(1);
        c.AddFor(m => m.Kilometers).Caption("Số km đã đi").HidingPriority(2);
        c.AddFor(m => m.Status).Caption("Trạng thái")
                    .CellTemplate(@<text>
                                        <div>
                                            <img src="../image/<%- value %>.jpg" width="40" height="35" alt=""/>
                                        </div>
                                    </text>);
            })
        )
        </div>
    </div>


    <div class="row block2 curent-year-kilometers-grid">
        <div class="col-md-6 ">
            <h6>Thống kê số km đi trong tháng</h6>
            <div class="action">
                <div class="monthlabel">Chọn tháng:</div>

                @(Html.DevExtreme().SelectBox()
                    .ID("selectbox2")
                    .Width(150)
                    .DataSource(d=>d.Mvc().Controller("AdminHome").LoadAction("GetMonthsData"))
                    .Value(1)
                    .ValueExpr("Id")
                    .DisplayExpr("Name")
                    .OnValueChanged(@<text>
                        function(data) {
                            var dataSource = $("#chart2").dxChart("getDataSource");
                            dataSource.filter(["Month", "=", data.value]);
                            dataSource.load();

                            var dataGrid = $("#gridContainer2").dxDataGrid("instance");
                            dataGrid.filter(["Month", "=", data.value]);
                        }
                    </text>)
                )
            </div>
            @(Html.DevExtreme().DataGrid()
            .ID("gridContainer2")
            .ColumnAutoWidth(true)
            .AllowColumnResizing(true)
            .Scrolling(scrolling => scrolling.RowRenderingMode(GridRowRenderingMode.Virtual).ShowScrollbar(ShowScrollbarMode.OnScroll))
            .RowAlternationEnabled(true)
            .ShowBorders(true)
            .DataSource(d => d
                    .StaticJson()
                    .Url(Url.Action("GetCurrentYearKilometersOfEmployee"))

                )
            .Columns(c => {
                c.Add().DataField("Year").Caption("Năm");
                c.Add().DataField("Month").Caption("Tháng");
                c.Add().DataField("Day").Caption("Ngày");
                c.Add().DataField("KilometersOrg").Caption("Số km dự tính");
                c.Add().DataField("Kilometers").Caption("Số km");
            })
            .Summary(s => s.TotalItems(items => {
                items.Add().Name("Day").ShowInColumn("Year").DisplayFormat("Σ Ngày: {0}")
                    .SummaryType(SummaryType.Count);
                items.Add().Name("Kilometers").ShowInColumn("Day").Column("Kilometers").DisplayFormat("Σ Kilometers: {0}")
                     .SummaryType(SummaryType.Sum);
            })
            )
        )
        </div>
        <div class="col-md-6 curent-year-kilometers-grid-chart">
            @(Html.DevExtreme().Chart()
                .ID("chart2")
                .DataSource(d => d
                    .StaticJson()
                    .Url(Url.Action("GetCurrentYearKilometersOfEmployee"))

                )
                .DataSourceOptions(dso => dso.Filter("['Month', '=',1]"))
                .Series(s => {
                    s.Add()
                      .ArgumentField("Day")
                      .ValueField("Kilometers")
                      .Type(SeriesType.Bar);
                })
                .CustomizePoint(@<text>
                    function() {
                        var color = palette[paletteIndex];
                        paletteIndex = paletteIndex === 2 ? 0 : paletteIndex + 1;
                        return {
                            color: color
                        };
                    }
                </text>)
                .Tooltip(t => t
                    .Enabled(true)
                    .CustomizeTooltip(@<text>
                            function(arg) {
                                return {
                                    text: arg.valueText + "km"
                                };
                            }
                    </text>)
                )
                .ValueAxis(a => a
                    .Add()
                    .Label(l => l
                        .CustomizeText(@<text>
                            function() {
                                return this.valueText + "km";
                            }
                        </text>)
                    )
                )
                .ArgumentAxis(a => a.ArgumentType(ChartDataType.String))
                .Size(s => s.Height(420))
                .Legend(l => l.Visible(false))
                .LoadingIndicator(l => l.Enabled(true))
            )
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#title-img").attr("src", "image/dashboard-user.png");
    })
</script>

