﻿
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Demo - Page</title>
    <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=cqwZ5TCgQ3pfLe9NUly-UwmrEu0ZQG3sFEJPv9Rcovla68qrPmU0yCXWAtyhsBvF9YryrYNLtjZ0IkA_P3yMGaYSvhBGxiPsSfGll6czy62miSvBKcOsABYZTy519Ku2Pyi8xbBFTSDoyXgVyXcIhg" charset="UTF-8"></script>
    <style>
body {
    margin: 0;
    padding: 0;
}
.demo_header {
    border-top: 4px #7F00FF solid;
    width: 100%;
    border-bottom: 1px solid #f56993;
    margin-bottom: 1%;
}
.demo_header_left {
    float: left;
    margin: 1%;
}
.demo_header_right {
    float: right;
    margin: 1%;
    color: #2D9703;
    font-size: 1em;
    text-transform: uppercase;
}
.demo_header_right a {
    color: #2D9703;
    font-size: 1em;
    text-transform: uppercase;
    text-decoration: none;
}
.demo_header_right a:hover {
    color: #28CA04;
    text-decoration: none;
}
.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #ededed;
}
.loader {
    max-width: 15rem;
    width: 100%;
    height: auto;
    stroke-linecap: round;
}
circle {
    fill: none;
    stroke-width: 3.5;
    -webkit-animation-name: preloader;
    animation-name: preloader;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-transform-origin: 170px 170px;
    transform-origin: 170px 170px;
    will-change: transform;
}
circle:nth-of-type(1) {
    stroke-dasharray: 550;
}
circle:nth-of-type(2) {
    stroke-dasharray: 500;
}
circle:nth-of-type(3) {
    stroke-dasharray: 450;
}
circle:nth-of-type(4) {
    stroke-dasharray: 300;
}
circle:nth-of-type(1) {
    -webkit-animation-delay: -0.15s;
    animation-delay: -0.15s;
}
circle:nth-of-type(2) {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}
circle:nth-of-type(3) {
    -webkit-animation-delay: -0.45s;
    animation-delay: -0.45s;
}
circle:nth-of-type(4) {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}
 @@-webkit-keyframes preloader {
 50% {
 -webkit-transform: rotate(360deg);
 transform: rotate(360deg);
}
}
 @@keyframes preloader {
 50% {
 -webkit-transform: rotate(360deg);
 transform: rotate(360deg);
}
}
    </style>
</head>

<body>
    <div>
        <div class="container">
            <svg class="loader" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 340 340">
                <circle cx="170" cy="170" r="160" stroke="#E2007C" />
                <circle cx="170" cy="170" r="135" stroke="#404041" />
                <circle cx="170" cy="170" r="110" stroke="#E2007C" />
                <circle cx="170" cy="170" r="85" stroke="#404041" />
            </svg>
        </div>
    </div>
</body>
</html>
