﻿@using DeliveryHaPhan.Models
@model OrderModel
@{
    ViewData["Title"] = "Map";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://cdn.jsdelivr.net/npm/@@goongmaps/goong-js@1.0.9/dist/goong-js.js"></script>
<link href="https://cdn.jsdelivr.net/npm/@@goongmaps/goong-js@1.0.9/dist/goong-js.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/@@mapbox/polyline/src/polyline.js"></script>
<script src="https://unpkg.com/@@goongmaps/goong-sdk/umd/goong-sdk.min.js"></script>
<style>


    #map {
        height: 600;
        width: 100%;
    }

    .marker {
        display: block;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        padding: 0;
    }

    .button-info {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .dx-popup-content p {
        margin-bottom: 10px;
        margin-top: 0;
    }
</style>
<div id="map"></div>

@(Html.DevExtreme().Popup()
        .ID("demo-popup")
        .Width(300)
        .Height(280)
        .Container(".dx-viewport")
        .ShowTitle(true)
        .Title("Information")
        .DragEnabled(false)
        .CloseOnOutsideClick(true)
        .ShowCloseButton(false)
        .ToolbarItems(barItems => {
            barItems.Add()
                .Toolbar(Toolbar.Bottom)
                .Location(ToolbarItemLocation.Before)
                .Widget(widget => widget.Button()
                    .Icon("email")
                    .Text("Send")
                    .OnClick(@<text>
                        function showInfo(data) {
                            const startpoint = $('#StartPoint').dxTextBox('instance').option('value');
                            $.ajax({
                                url:"UpdateCurrentLocation/" +'@Model.OrderID'+ "/" + startpoint,
                                method: 'PUT',
                                data: {},
                                success: function (data) {
                                    if(data==true){
                                        const message = `Email is sent to ${currentEmployee.StartPoint} ${currentEmployee.EndPoint}`;
                                        DevExpress.ui.notify({
                                            message: message,
                                            position: {
                                                my: "center top",
                                                at: "center top"
                                            }
                                        }, "success", 3000);
                                    }else{
                                        const message = `Email is sent to ${currentEmployee.StartPoint} ${currentEmployee.EndPoint}`;
                                        DevExpress.ui.notify({
                                            message: message,
                                            position: {
                                                my: "center top",
                                                at: "center top"
                                            }
                                        }, "error", 3000);
                                    }
                                }
                            });
                        }
                    </text>)
                );
            barItems.Add()
                .Toolbar(Toolbar.Bottom)
                .Location(ToolbarItemLocation.After)
                .Widget(widget => widget.Button()
                    .Text("Close")
                    .OnClick(@<text>
                        function hideInfo(data) {
                            const popup = $("#demo-popup").dxPopup("instance");
                            popup.hide();
                        }
                    </text>)
                );
        })
    )
@(Html.DevExtreme().Button()
                    .ElementAttr("class", "button-info")
                    .Text("Details")
                    .ID("Details")
                    .OnClick(@<text>
                        function showInfo(data) {
                            const popup = $("#demo-popup").dxPopup("instance");
                            currentEmployee = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
                            popup.option({
                                contentTemplate: $("#popup-template-"),
                                "position.of": `#Details`,
                            });
                            popup.show();
                        }
                    </text>)
                )

@using (Html.DevExtreme().NamedTemplate("popup-template-"))
{
    <span>
        <p>
            Full Name:
            <span>@Model.OrderID</span>
            <span>@Model.CustomerName</span>
        </p>
        @*<p>
                Birth Date:
                <span>@Model.RequiredDate.Value.ToString("yyyy/MM/dd")</span>
            </p>*@
        <p>
            Address:
            <span>@Model.StartPoint</span>
        </p>
        @*<p>
                Hire Date:
                <span>@Model.ShippedDate.Value.ToString("yyyy/MM/dd")</span>
            </p>*@
        <p>
            Position:
            <span>@Model.EndPoint</span>
        </p>
    </span>
}

<script>
    let currentEmployee = null;
</script>

<div id="form">
    @(Html.DevExtreme().Form<OrderModel>()
        .ID("form")
        .Items(items => {
            items.AddGroup()
                .CssClass("first-group")
                .ColCount(4)
                .Items(groupItems => {
                    groupItems.AddGroup().ColSpan(2).Items(secondGroupItems =>
                    {
                        secondGroupItems.AddSimpleFor(m => m.OrderID);
                        secondGroupItems.AddSimpleFor(m => m.Employee1);
                        secondGroupItems.AddSimpleFor(m => m.RequiredDate)
                            .Editor(e => e
                                .DateBox()
                                .Width("100%")
                            )
                            .IsRequired(false);
                    });
                    groupItems.AddGroup().ColSpan(2).Items(secondGroupItems => {
                        secondGroupItems.AddSimpleFor(m => m.BussinesStaffID);
                        secondGroupItems.AddSimpleFor(m => m.CustomerName);
                    });
                });


            items.AddGroup()
                .CssClass("second-group")
                .ColCount(2)
                .Items(groupItems => {
                    groupItems.AddGroup().Items(secondGroupItems => {
                        secondGroupItems.AddSimpleFor(m => m.StartPoint).Editor(e=>e.TextBox().ID("StartPoint"));
                        secondGroupItems.AddSimple().Editor(e => e.TextBox().ID("Adress").Value("OK"));
                        secondGroupItems.AddButton().ButtonOptions(e => e.ID("btn-location").Icon("map").OnClick("getLocation"));
                        secondGroupItems.AddSimpleFor(m => m.EndPoint).Editor(e => e.TextBox().ID("EndPoint"));
                        secondGroupItems.AddSimpleFor(m => m.CurrentPoint).Editor(e => e.TextBox().ID("CurrentPoint"));
                        secondGroupItems.AddSimpleFor(m => m.Kilometers).Editor(e=>e.TextBox().ID("Kilometers"));
                        secondGroupItems.AddSimpleFor(m => m.ShippingType)
                            .Editor(e => e
                                .SelectBox()
                                .ID("ShippingType")
                                .DataSource(new[] {
                                        "car",
                                        "bike"
                                    }
                                )
                                .OnValueChanged("selectBox_valueChanged")
                                .Value("car")
                            );
                    });
                    groupItems.AddGroup().Items(secondGroupItems => {
                        secondGroupItems.AddSimpleFor(m => m.StartTime);
                        secondGroupItems.AddSimpleFor(m => m.StopTime);
                        secondGroupItems.AddSimpleFor(m => m.Status)
                            .Editor(e => e
                                .SelectBox()
                                .DataSource(new[] {
                                        "New", "Start","End","Pause","Cancel"
                                    }
                                )
                            );
                        secondGroupItems.AddSimpleFor(m => m.Result)
                            .Editor(e => e
                                .SelectBox()
                                .DataSource(new[] {
                                        "Success", "Fail"
                                    }
                                )
                            );
                        secondGroupItems.AddSimpleFor(m => m.CustomerPhone)
                            .Editor(e => e
                                .TextBox()
                                .Mask("+1 (000) 000-0000")
                            );
                    });

                    groupItems.AddSimpleFor(m => m.Note)
                        .ColSpan(2)
                        .Editor(e => e
                            .TextArea()
                            .Height(140)
                        );
                });
        })
        .FormData(Model)
    )
</div>
<div class="current-value">
    Selected product is <span>HD Video Player</span>
</div>



<script>


    goongjs.accessToken = '9IOlUggYUhs9DM8hgiw1Z4LhoGu8YRkLUc54xVxD';
    var map = new goongjs.Map({
        container: 'map',
        style: 'https://tiles.goong.io/assets/goong_map_web.json',
        center: '@Model.StartPoint'.split(',').reverse(),
        zoom: 11.5
    });

    map.on('load', function () {
        var layers = map.getStyle().layers;
        // Find the index of the first symbol layer in the map style
        var firstSymbolId;
        for (var i = 0; i < layers.length; i++) {
            if (layers[i].type === 'symbol') {
                firstSymbolId = layers[i].id;
                break;
            }
        }
        // Initialize goongClient with an API KEY
        var goongClient = goongSdk({
            accessToken: 'rDCEpOhGmuPf78dMFbiLh7jNEzeHaJEAj2qVM9ns'
        });
        // Get Directions
        goongClient.directions
            .getDirections({
                origin: $('#StartPoint').dxTextBox('instance').option('value'),
                destination: $('#EndPoint').dxTextBox('instance').option('value'),
                vehicle: $('#ShippingType').dxSelectBox('instance').option('value')
            })
            .send()
            .then(function (response) {
                var directions = response.body;
                var route = directions.routes[0];

                var geometry_string = route.overview_polyline.points;
                var geoJSON = polyline.toGeoJSON(geometry_string);
                map.addSource('route', {
                    'type': 'geojson',
                    'data': geoJSON
                });
                // Add route layer below symbol layers
                map.addLayer(
                    {
                        'id': 'route',
                        'type': 'line',
                        'source': 'route',
                        'layout': {
                            'line-join': 'round',
                            'line-cap': 'round'
                        },
                        'paint': {
                            'line-color': '#1e88e5',
                            'line-width': 8
                        }
                    },
                    firstSymbolId
                );
            });

    });

    var popup = new goongjs.Popup({
        closeButton: true,
        closeOnClick: true
    });
    var currentpoint = '@Model.CurrentPoint';
    var endpoint1 = '@Model.EndPoint';
    var cp = currentpoint.split(',');
    cp.reverse();
    var en = endpoint1.split(',');
    en.reverse();


    //var timer = window.setInterval(function () {
    //    getLocation();
    //    var geojson = {
    //        'type': 'FeatureCollection',
    //        'features': [
    //            {
    //                'type': 'Feature',
    //                'properties': {
    //                    'message': 'Foo',
    //                    'iconSize': [60, 60]
    //                },
    //                'geometry': {
    //                    'type': 'Point',
    //                    'coordinates': cp
    //                }
    //            },
    //            {
    //                'type': 'Feature',
    //                'properties': {
    //                    'message': 'Bar',
    //                    'iconSize': [50, 50]
    //                },
    //                'geometry': {
    //                    'type': 'Point',
    //                    'coordinates': en
    //                }
    //            }
    //        ]
    //    };



    //// add markers to map
    //geojson.features.forEach(function (marker) {
    //    // create a DOM element for the marker
    //    var el = document.createElement('div');
    //    el.className = 'marker';
    //    el.style.backgroundImage =
    //        'url(https://placekitten.com/g/' +
    //        marker.properties.iconSize.join('/') +
    //        '/)';
    //    el.style.width = marker.properties.iconSize[0] + 'px';
    //    el.style.height = marker.properties.iconSize[1] + 'px';

    //    el.addEventListener('click', function () {
    //        window.alert(marker.properties.message);
    //        popup.setLngLat(st).setHTML(marker.properties.message).addTo(map);
    //    });

    //    // add marker to map
    //    new goongjs.Marker(el)
    //        .setLngLat(marker.geometry.coordinates)
    //        .addTo(map);
    //});

    //}, 2000);




    function selectBox_valueChanged(data) {
        $(".current-value > span").text(data.value);
    }

    var lng = "";
    var lat = "";

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }



    function showPosition(position) {
        lng = position.coords.longitude;
        lat = position.coords.latitude;

        //$.getJSON("/Map/GetAdress/?coordinate=" + lat + ","lng,null, function (data) {
        //    $.each(data, function (index, adress) {
        //        $("#Adress").dxTextBox("instance").option("value", adress);
        //    });
        //});


        var coordinateString = lat + "," + lng;
        $.getJSON("GetAdress/" + coordinateString,
            function (data) {
                $("#Adress").dxTextBox("instance").option("value", data);
            })

        $("#StartPoint").dxTextBox("instance").option("value", lat + "," + lng);
        //var orderID = $('#OrderID').dxTextBox('instance').option('value');
        var startpoint = $('#StartPoint').dxTextBox('instance').option('value');
        var endpoint = $('#EndPoint').dxTextBox('instance').option('value');
        var shippingtype = $('#ShippingType').dxSelectBox('instance').option('value');
        $.getJSON("GetKilometers/" + startpoint + "/" + endpoint + "/" + shippingtype,
            function (data) {
                $("#Kilometers").dxTextBox("instance").option("value", data);
            })


        $.ajax({
            url:"UpdateCurrentLocation/" +'@Model.OrderID'+ "/" + startpoint,
            method: 'PUT',
            data: {},
            success: function (data) {
                window.alert(data);
            }
        });






        //$("#Adress").dxTextBox("instance").option("value", lat ModeSplitl StarReversetPointtartPoint"," + lng);
        //window.alert("Latitude: " + lat +
        //    "<br>Longitude: " + lng);
    }
</script>