﻿@model DeliveryHaPhan.Models.OrderModel

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
<style>
    #icon-back, #icon-disabled-back {
        margin-left: 4px;
    }

    .dx-viewport:not(.dx-theme-ios7) .dx-fieldset {
        width: 520px;
        margin: 30px auto;
    }

        .dx-viewport:not(.dx-theme-ios7) .dx-fieldset:first-of-type {
            margin-top: 120px;
        }

    .dx-viewport:not(.dx-theme-ios7) .dx-fieldset-header {
        font-size: 16px;
    }

    .dx-viewport:not(.dx-theme-ios7) .dx-field {
        display: inline-block;
        margin-right: 20px;
    }

    .dx-viewport:not(.dx-theme-ios7) .dx-field-value:not(.dx-widget) > .dx-button {
        float: none;
    }

    .dx-viewport:not(.dx-theme-ios7) .dx-field-value:not(.dx-switch):not(.dx-checkbox):not(.dx-button),
    .dx-viewport:not(.dx-theme-ios7) .dx-field-label {
        float: none;
        width: 100%;
    }

    .dx-viewport:not(.dx-theme-ios7) .dx-field-label {
        padding-left: 0;
    }

    .send .dx-button-content .dx-icon {
        font-size: 18px;
    }

    .fields-container {
        display: flex;
        align-items: baseline;
    }

    .dx-field-value {
        display: flex;
    }
</style>

<div class="dx-fieldset">
    <div class="fields-container">
        <div class="dx-field">
            <div class="dx-field-label">Built-in icon</div>
            <div class="dx-field-value">
                @(Html.DevExtreme().Button()
                    .Icon("check")
                    .Text("Done")
                    .Type(ButtonType.Success)
                    .OnClick("notifylatlng")
                )
            </div>
        </div>
        <div class="dx-field">
            <div class="dx-field-label">Image icon</div>
            <div class="dx-field-value">
                @(Html.DevExtreme().Button()
                    .Icon(Url.Content("~/images/button/weather.png"))
                    .Text("Weather")
                    .OnClick("notify")
                )
            </div>
        </div>
        <div class="dx-field">
            <div class="dx-field-label">External icon</div>
            <div class="dx-field-value">
                @(Html.DevExtreme().Button()
                    .Icon("fa fa-envelope-o")
                    .Text("Send")
                    .ElementAttr("class", "send")
                    .OnClick("notify")
                )
            </div>
        </div>
        <div class="dx-field">
            <div class="dx-field-label">Icon only</div>
            <div class="dx-field-value">
                @(Html.DevExtreme().Button()
                    .Icon("plus")
                    .OnClick("notify")
                )
                @(Html.DevExtreme().Button()
                    .ID("icon-back")
                    .Icon("back")
                    .OnClick("notify")
                )
            </div>
        </div>
    </div>
</div>
<script>
    function notify(data) {
        var buttonText = data.component.option("text");

        DevExpress.ui.notify("The " + buttonText + " button was clicked");

    }
    function notifylatlng() {
        DevExpress.ui.notify('@ViewBag.EndPoint');
    }

    var lng = "";
    var lat = "";

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }

    function showPosition(position) {
        lng = position.coords.longitude;
        lat = position.coords.latitude;
        window.alert("Latitude: " + lat +
            "<br>Longitude: " + lng);
    }
</script>
