﻿<style>

    .container-fluid {
        height: 100%;
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .left {
        height: 600px;
        padding: 20px;
        background: rgba(191, 191, 191, 0.15);
    }

    .right {
        overflow: hidden;
    }

    #map {
        height: 600px;
    }

    .widget-container {
        height:600px;
    }

    .item-list {
        height: 40px;
    }

    .list-order {
        height: 500px;
    }


    @@media (max-width: 700px) {
        #map {
            height: 200px;
        }

        .widget-container{
            height:200px;
        }

        .list-order {
            height:100px;
            
        }

        .item-list {
            height: 10px;
        }

        
    }

    .task-actions .dx-button {
        background-image: none;
        background-color: #5E6D9D;
        width: 50px;
        height: 23px;
        text-align: center;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        border-radius: 2px;
        border: 0;
    }

    .search-box {
        /*position: absolute;
        top: -40px;
        right: 0;*/
    }

        .search-box .icon-find {
            width: 19px;
            height: 20px;
            background-size: auto;
            background-image: url(../image/sprite.png);
            background-position: -42px -184px;
            background-repeat: no-repeat;
            position: absolute;
            left: 200px;
            top: 8px;
            z-index: 10;
        }

        .search-box .dx-texteditor-input {
            padding: 0 25px 0 10px;
        }
</style>

@{
    var distanceFilter = new[] {
        new { id =0, text = "Đơn hàng mới"},
        new { id = 1, text = "Đơn hàng đã duyệt" },
        new { id = 2, text = "Đơn hàng đã bắt đầu" },
        new { id = 3, text = "Đơn hàng đã tạm dừng" },
        new { id = 4, text = "Đơn hàng đã tiếp tục" },
        new { id = 5, text = "Tất cả đơn hàng" },
    };

}

@(Html.DevExtreme().Popup()
        .ID("popup-all-order-map")
        .FullScreen(true)
        .Container(".dx-viewport")
        .ShowTitle(true)
        .Title("Danh sách đơn hàng")
        .DragEnabled(false)
        .CloseOnOutsideClick(true)
        .ShowCloseButton(false)
        .ToolbarItems(barItems => {

            barItems.Add()
                .Toolbar(Toolbar.Top)
                .Location(ToolbarItemLocation.After)
                .Widget(widget => widget.Button()
                    .Text("Close")
                    .OnClick(@<text>
                                function hideInfo(data) {
                                const popup = $("#popup-all-order-map").dxPopup("instance");
                                popup.hide();
                                const dataGrid = $("#gridContainer").dxDataGrid("instance");
                                dataGrid.getDataSource().reload();
                                }
                            </text>)
                );
        })
    )

@using (Html.DevExtreme().NamedTemplate("popup-all-order-map-template"))
{
    @(Html.DevExtreme().ScrollView()
        .Width("100%")
        .Height("100%")
        .Content(@<text>
    <div class="container-fluid">

        <div class="row">
            <div class="widget-container col-xl-3 p-1 left">
                @(Html.DevExtreme().SelectBox()
                        .DataSource(distanceFilter)
                        .DisplayExpr("text")
                        .ValueExpr("id")
                        .Value(5)
                        .NoDataText("Không có đơn hàng nào")
                        .OnValueChanged("DevAV.allOrderMap.selectBox_valueChanged")
                    )

                @*<div class="search-box">
                    @(Html.DevExtreme().TextBox()
                        .Value("")
                        .Width(220)
                        .Height(30)
                        .Placeholder("Tìm đơn hàng")
                        .ValueChangeEvent("keyup")
                        .OnValueChanged("DevAV.allOrderMap.filterDataByText")
                    )
                    <div class="icon-find"></div>
                </div>*@
                <p id="countOrder" style="font-weight:bold"></p>
                @(Html.DevExtreme().List()
                            .ID("list")
                            .ElementAttr("class","list-order")
                            .ScrollingEnabled(true)
                            .ScrollByContent(true)
                            //.SearchEnabled(true)
                            //.SearchExpr(new string[] { "OrderID","Employee1"})
                            //.SearchMode(CollectionSearchMode.Contains)
                            .SelectionMode(ListSelectionMode.Single)
                            //.MenuMode(ListMenuMode.Slide)
                            //.MenuItems(m => {
                            //    m.Add().Text("OK").Option("visible",true);
                            //    m.Add().Text("OK");
                            //    m.Add().Text("OK");
                            //    m.Add().Text("OK");
                            //})
                            .DataSource(d => d.Mvc()
                                .Controller("AdminHome")
                                .LoadAction("GetActiveOrders")
                                .LoadParams(new { status = "New,Approved,Started,Pause,Continue" })
                                .Key("OrderID")
                            )
                            .ItemTemplate(new TemplateName("list-template"))
                            .OnSelectionChanged("DevAV.allOrderMap.selectionChanged")
                    )
            </div>
            <div class="col-xl-9 p-1 right">
                <div id="map"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6">
                @(Html.DevExtreme().DataGrid()
                    .ID("grid-filter")
                    .Height(300)
                    .ShowBorders(true)
                    .FilterPanel(f => f.Visible(true))
                    .HeaderFilter(h => h.Visible(true))
                    .Scrolling(scrolling => scrolling.Mode(GridScrollingMode.Standard))
                    .Columns(c => {
                        c.Add().DataField("point1").Caption("Điểm đến 1");
                        c.Add().DataField("point2").Caption("Điểm đến 2");
                        c.Add().DataField("value").Caption("Khoảng cách")
                            .Format(Format.Decimal)
                            .HeaderFilter(filter => filter.DataSource(new[] {
                                new {
                                    text = "Nhỏ hơn 1 kilomet",
                                    value = new object[] { "value", "<", 1 }
                                },
                                new {
                                    text = "Nhỏ hơn 5 kilomet",
                                    value = new object[] { "value", "<", 5 }
                                },
                                 new {
                                    text = "Nhỏ hơn 10 kilomet",
                                    value = new object[] { "value", "<", 10 }
                                },
                                 new {
                                    text = "Nhỏ hơn 50 kilomet",
                                    value = new object[] { "value", "<", 50 }
                                },
                                 new {
                                    text = "Nhỏ hơn 100 kilomet",
                                    value = new object[] { "value", "<", 100 }
                                }
                            }));
                    })
                    .OnCellClick("DevAV.allOrderMap.cellClick")
                //.Selection(s=>s.Mode(SelectionMode.Single))
                //.OnSelectionChanged("DevAV.allOrderMap.selectionChangedEndPoint")
                )

            </div>
            <div class="col-xl-6">
                @(Html.DevExtreme().DataGrid()
                    .ID("grid-filter-user")
                    .Height(300)
                    .ShowBorders(true)
                    .Scrolling(scrolling => scrolling.Mode(GridScrollingMode.Standard))
                    .Columns(c => {
                        c.Add().DataField("point1").Caption("Nhân viên lái xe 1");
                        c.Add().DataField("point2").Caption("Nhân viên lái xe 2");
                        c.Add().DataField("value").Caption("Khoảng cách");
                    })
                    .OnRowPrepared("DevAV.allOrderMap.onRowPreparedGridFilterUser")
                //.Selection(s => s.Mode(SelectionMode.Single))
                //.OnSelectionChanged("DevAV.allOrderMap.selectionChangedCurrentPoint")
                )

            </div>
        </div>
    </div>
</text>)
    )
}

@using (Html.DevExtreme().NamedTemplate("list-template"))
{

    <div class="row">
        <div class="col-sm-8" style="overflow:hidden"><%- OrderID %></div>
        <div class="col-sm-4" style="color:#0094ff"><%- Status %></div>
    </div>
    <div class="row">
        <div class="col-sm-12">Phụ trách: <%- Employee1 %></div>
    </div>
    <div class="row">
        <div class="col-sm-12">Phương tiện: <%- Vehice %></div>
    </div>

}


<script src="~/js/all-order-map-popup.js"></script>
@*<script>
        $(window).on("scroll", function (e) {
            if (e.cancelable) {
                e.preventDefault();
                e.stopPropagation();
            }
        });
    </script>*@
