﻿
<style>
    .custom-item {
        position: relative;
        min-height: 30px;
    }

        .custom-item .product-name2 {
            display: inline-block;
            padding-left: 50px;
            text-indent: 0;
            line-height: 30px;
            font-size: 15px;
            width: 100%;
        }

        .custom-item .product-name1 {
            left: 1px;
            position: absolute;
            top: 50%;
            font-size: 15px;
            margin-top: -15px;
        }
</style>
@(Html.DevExtreme().Popup()
        .ID("popup-assign")
        .Width("auto")
        .Height("auto")
        .FullScreen(false)
        .Position(PositionAlignment.Center)

        .ShowTitle(true)
        .Title("Phân công")
        .DragEnabled(false)
        .CloseOnOutsideClick(true)
        .ShowCloseButton(false)
        .ToolbarItems(barItems => {
            barItems.Add()
                .Toolbar(Toolbar.Top)
                .Location(ToolbarItemLocation.After)
                .Widget(widget => widget.Button()
                    .Icon("close")
                    .OnClick(@<text>
                                function hideInfo(data) {
                                const popup = $("#popup-assign").dxPopup("instance");
                                popup.hide();
                                const dataGrid = $("#gridContainer").dxDataGrid("instance");
                                dataGrid.refresh();
                                }
                            </text>)
                );
        })
    )
@*popup assign temple*@
@using (Html.DevExtreme().NamedTemplate("popup-assign-template"))
{
    @(Html.DevExtreme().TextBox()
                .ID("order-id-assign")
                .Visible(false)
                )

    @using (Html.BeginForm())
    {

        using (Html.DevExtreme().ValidationGroup())
        {

            @Html.AntiForgeryToken()

            @(Html.DevExtreme().Form<AssignOrder>()
            .ID("assign-form")
            .ShowColonAfterLabel(true)
            .Height("auto")
            .ShowValidationSummary(false)
            .Items(items => {


            items.AddGroup()
                    .Items(groupItems => {
                        groupItems.AddSimpleFor(m => m.Employee1).Label(l=>l.Text("Nhân viên phụ trách"))
                            .Editor(e => e
                                .SelectBox()
                                .ID("employee1-assign")
                                .DataSource(d => d
                                    .Mvc()
                                    .LoadAction("GetUsers")
                                    .LoadMode(DataSourceLoadMode.Raw)
                                    .Key("UserID")
                                )
                                .DisplayExpr(new JS("employeeDisplayExpr"))
                                .ValueExpr(new JS("employeeValueExpr"))
                                @*.FieldTemplate(@<text>
                                                    <div class="custom-item">
                                                        @(Html.DevExtreme().TextBox()
                                                            .Value(new JS("typeof UserName !== 'undefined' && UserName"))
                                                            .ElementAttr("class", "product-name1")
                                                            .ReadOnly(true)
                                                        )
                                                         @(Html.DevExtreme().TextBox()
                                                            .Value(new JS("typeof LicensePlates !== 'undefined' && LicensePlates"))
                                                            .ElementAttr("class", "product-name2")
                                                            .ReadOnly(true)
                                                        )
                                                    </div>
                                                </text>)
                                .ItemTemplate(@<text>
                                                    <div class="custom-item">
                                                        <p class="product-name1"><%- UserName %> </p>
                                                        <p class="product-name2"><%- LicensePlates %></p>
                                                    </div>

                                                </text>)*@
                                .SearchEnabled(true)

                                );
                        groupItems.AddSimpleFor(m => m.Employee2).Label(l => l.Text("Nhân viên phụ xe"))
                            .Editor(e => e
                                .SelectBox()
                                .ID("employee2-assign")
                                .DataSource(d => d
                                    .Mvc()
                                    .LoadAction("GetUsers")
                                    .LoadMode(DataSourceLoadMode.Raw)
                                    .Key("UserID")
                                )
                                .DisplayExpr("FullName")
                                .ValueExpr("FullName")
                                .SearchEnabled(true)

                            );
                        groupItems.AddSimpleFor(m => m.ShippingType).Label(l => l.Text("Loại vận chuyển"))
                            .Editor(e => e
                                .SelectBox()
                                .ID("shipping-type-assign")
                                .DataSource(new[] {
                                "Giao khách",
                                "Luân chuyển NB",})
                            );
                        groupItems.AddSimpleFor(m => m.OrderFee).Label(l => l.Text("Thu phí"))
                            .Editor(e => e
                                .SelectBox()
                                .ID("order-fee-assign")
                                .DataSource(new[] {
                                "Có",
                                "Không",})
                            );
                        groupItems.AddSimpleFor(m => m.Vehice).Label(l => l.Text("Phương tiện"))
                            .Editor(e => e
                                .SelectBox()
                                .ID("vehice-assign")
                                .DataSource(d => d
                                    .Mvc()
                                    .LoadAction("GetUsers")
                                    .LoadMode(DataSourceLoadMode.Raw)
                                    .Key("UserID")
                                )
                                .DisplayExpr("UserName")
                                .ValueExpr("UserName")
                            );
                    });

                items.AddButton()
                    .HorizontalAlignment(HorizontalAlignment.Center)
                    .ButtonOptions(b => b.Text("OK")
                        .Type(ButtonType.Success)
                        .UseSubmitBehavior(false)
                        .OnClick("DevAV.orderAssigns.assignedTo")
                );

            })
            .FormData(Model)
        )
        }
    }

}

<script src="~/js/order-assign-popup.js"></script>

<script>
    function employeeDisplayExpr(item) {
        return item && item.FullName;
    }

    function employeeValueExpr(item) {
        return item && item.FullName;
    }

    function vehiceDisplayExpr(item) {

        return item && item.UserName;

    }

    function vehiceValueExpr(item) {
        return item && item.UserName;
    }
</script>
