﻿@using DeliveryHaPhan.Models;
@model OrderModel
<style>

    .dx-overlay-modal .edit-label {
        width: 100%;
        margin-bottom: 30px;
        font-size: 16px;
        color: #bf4e6a;
    }

    .edit-actions {
        width: 100%;
        margin-top: 20px;
        text-align: right;
    }

        edit-actions .dx-button {
            margin-left: 10px;
            background-image: none;
            background-color: #FAFAFA;
        }

           .edit-actions .dx-button .dx-button-content {
                padding: 3px 16px;
            }

    .dx-overlay-modal:not(.dx-dialog) .dx-popup-content {
        padding: 30px;
    }

    .dx-overlay-modal .dx-overlay-content.dx-popup-normal {
        background-color: #fafafa;
        border: 1px solid #4d4d4d;
        -moz-box-shadow: 0 32px 32px 0 rgba(0, 0, 0, 0.15);
        -webkit-box-shadow: 0 32px 32px 0 rgba(0, 0, 0, 0.15);
        box-shadow: 0 32px 32px 0 rgba(0, 0, 0, 0.15);
    }
</style>

@(Html.DevExtreme().Popup()
    .ID("order-popup")
    .ElementAttr("class", "popup")
    .Width("auto")
    .Height("auto")
    .Position(PositionAlignment.Center)
    .ShowTitle(false)
    .ShowCloseButton(false)
    .Visible(false)
    .DragEnabled(false)
    .CloseOnOutsideClick(true)
    .OnShowing("DevAV.orderPopup.onPopupShowing")

    .ContentTemplate(@<text>
        <div class="edit-label">
            <span id="order-edit-label"></span>
            <span id="order-edit-assigned-employee"></span>
        </div>

        @(Html.DevExtreme().Form<OrderModel>()
            .ID("order-form")
            .ColCount(3)
            .ScrollingEnabled(true)
            .LabelLocation(FormLabelLocation.Top)
            .ReadOnly(false)
            .ShowColonAfterLabel(true)
            .ShowValidationSummary(true)
            .LabelLocation(FormLabelLocation.Left)
            .Height(500)
            .ScreenByWidth("DevAV.screenByWidth")
            .Items(items => {

                items.AddGroup()
                    .Items(groupItems => {
                        groupItems.AddSimpleFor(m => m.OrderID)
                           .Editor(e => e
                               .TextBox()
                               .ID("OrderID")
                               .Height(30)
                               .Value("")
                           )
                           .Label(l => l.Text("Mã đơn hàng"));

                        groupItems.AddSimpleFor(m => m.Employee1).IsRequired(true)
                            .Editor(e => e
                                .SelectBox()
                                .DataSource(d => d
                                    .Mvc()
                                    .Controller("Order")
                                    .LoadAction("GetUsers")
                                    .LoadMode(DataSourceLoadMode.Raw)
                                    .Key("UserID")
                                )
                                .ValueExpr("UserName")
                                .DisplayExpr("UserName")
                                .Height(30)
                                .OnSelectionChanged("DevAV.orderPopup.selectAssignedEmployee")
                            )
                            .Label(l => l.Text("Nhân viên phụ trách"));

                        groupItems.AddSimpleFor(m => m.Employee2)
                            .Editor(e => e
                                .SelectBox()
                                .ID("assigned-employee")
                                .DataSource(d => d
                                    .Mvc()
                                    .Controller("Order")
                                    .LoadAction("GetUsers")
                                    .LoadMode(DataSourceLoadMode.Raw)
                                    .Key("UserID")
                                )
                                .ValueExpr("UserName")
                                .DisplayExpr("UserName")
                                .Height(30)
                            )
                            .Label(l => l.Text("Nhân viên phụ xe"));

                        groupItems.AddEmpty();

                        groupItems.AddSimpleFor(m => m.Vehice).IsRequired(true)
                            .Editor(e => e
                                .SelectBox()
                                    .DataSource(d => d
                                    .Mvc()
                                    .LoadAction("GetUsers")
                                    .LoadMode(DataSourceLoadMode.Raw)
                                    .Key("UserID")
                                )
                                .DisplayExpr(new JS("vehiceDisplayExpr"))
                                .ValueExpr(new JS("vehiceValueExpr"))
                                .Height(30)
                            )
                            .Label(l => l.Text("Phương tiện"));

                        groupItems.AddSimpleFor(m => m.ShippingType)
                            .Editor(e => e
                                .SelectBox()
                                    .DataSource(new[] {
                                            "Giao khách",
                                            "Luân chuyển NB",
                                                })
                                    .Height(30)
                            )
                            .Label(l => l.Text("Hình thức"));

                        groupItems.AddSimpleFor(m => m.OrderFee)
                            .Editor(e => e
                                .SelectBox()
                                    .DataSource(new[] {
                                            "Có",
                                            "Không",
                                                })
                                    .Height(30)
                            )
                            .Label(l => l.Text("Thu phí"));

                        groupItems.AddSimpleFor(m => m.RequiredDate)
                            .Label(l => l.Text("Ngày phát sinh vận đơn"))
                            .Editor(e => e
                                .DateBox()
                                .Width("100%")
                                .Height(30)
                            );

                        groupItems.AddSimpleFor(m => m.ShippedDate)
                        .Label(l => l.Text("Ngày vận chuyển"))
                            .Editor(e => e
                                .DateBox()
                                .Width("100%")
                                .Height(30)
                            );

                        groupItems.AddEmpty();

                        groupItems.AddSimpleFor(m => m.Status)
                            .Editor(e => e
                                .SelectBox()
                                .DataSource(new[] {
                                    "New",
                                    "Approved",
                                    "Started",
                                    "Ended",
                                    "Pause",
                                    "Cancel",
                                })
                                .Height(30)
                            )
                            .Label(l => l.Text("Trạng thái"));

                    });

                items.AddGroup()
                    .Items(groupItems => {
                        groupItems.AddSimpleFor(m => m.WarehouseID)
                            .Editor(e => e
                                .TextBox()
                                .Height(30)
                                .Value("")
                            )
                            .Label(l => l.Text("Mã kho xuất"));

                        groupItems.AddSimpleFor(m => m.ShippingMethod)
                            .Editor(e => e
                                .TextBox()
                                .Height(30)
                                .Value("")
                            )
                            .Label(l => l.Text("Hình thức xuất"));

                        groupItems.AddSimpleFor(m => m.ExportAdress)
                           .Editor(e => e
                               .TextBox()
                               .Height(30)
                               .Value("")
                           )
                           .Label(l => l.Text("Địa chỉ xuất"));

                        groupItems.AddSimpleFor(m => m.BussinesStaffID)
                           .Editor(e => e
                               .TextBox()
                               .Height(30)
                               .Value("")
                           )
                           .Label(l => l.Text("Nhân viên kinh doanh"));

                        groupItems.AddSimpleFor(m => m.CustomerName)
                           .Editor(e => e
                               .TextBox()
                               .Height(30)
                               .Value("")
                           )
                           .Label(l => l.Text("Tên khách hàng/ Công ty"));

                        groupItems.AddSimpleFor(m => m.CustomerAdress)
                           .Editor(e => e
                               .TextBox()
                               .Height(30)
                               .Value("")
                           )
                           .Label(l => l.Text("Địa chỉ khách hàng"));

                        groupItems.AddSimpleFor(m => m.CustomerPhone)
                          .Editor(e => e
                              .TextBox()
                              .Height(30)
                              .Value("")
                          )
                          .Label(l => l.Text("Số điện thoại khách hàng"));

                        groupItems.AddSimpleFor(m => m.CustomerContact)
                          .Editor(e => e
                              .TextBox()
                              .Height(30)
                              .Value("")
                          )
                          .Label(l => l.Text("Người liên hệ"));

                    });

                items.AddGroup()
                   .Items(groupItems =>
                   {
                       groupItems.AddSimpleFor(m => m.OrderValue)
                           .Editor(e => e
                               .TextBox()
                               .Height(30)
                               .Value("")
                           )
                           .Label(l => l.Text("Trị giá đơn hàng"));

                       groupItems.AddSimpleFor(m => m.Mass)
                           .Editor(e => e
                               .TextBox()
                               .Height(30)
                               .Value("")
                           )
                           .Label(l => l.Text("Khối lượng"));

                       groupItems.AddSimpleFor(m => m.KilometersOrg)
                          .Editor(e => e
                              .TextBox()
                              .Height(30)
                              .Value("")
                          )
                          .Label(l => l.Text("Số km dự tính"));

                       groupItems.AddSimpleFor(m => m.Kilometers)
                          .Editor(e => e
                              .TextBox()
                              .Height(30)
                              .Value("")
                          )
                          .Label(l => l.Text("Số km đã đi"));

                       groupItems.AddSimpleFor(m => m.StartAdress)
                          .Editor(e => e
                              .TextBox()
                              .Height(30)
                              .Value("")
                          )
                          .Label(l => l.Text("Điểm đi"));

                       groupItems.AddSimpleFor(m => m.StartTime)
                          .Editor(e => e
                              .TextBox()
                              .Height(30)
                              .Value("")
                          )
                          .Label(l => l.Text("Thời gian bắt đầu"));

                       groupItems.AddSimpleFor(m => m.StopTime)
                         .Editor(e => e
                             .TextBox()
                             .Height(30)
                             .Value("")
                         )
                         .Label(l => l.Text("Thời gian kết thúc"));

                       groupItems.AddSimpleFor(m => m.Result)
                          .Editor(e => e
                              .TextBox()
                              .Height(30)
                              .Value("")
                          )
                          .Label(l => l.Text("Kết quả"));

                       groupItems.AddSimpleFor(m => m.Reason)
                          .Editor(e => e
                              .TextBox()
                              .Height(30)
                              .Value("")
                          )
                          .Label(l => l.Text("Lý do"));

                       groupItems.AddSimpleFor(m => m.Note).ColSpan(3)
                            .Editor(e => e
                                .TextArea()
                                .Height(110)
                                .Value("")
                            )
                            .Label(l => l.Text("Ghi chú"));

                   });

                items.AddGroup()
                  .Visible(false)
                  .Items(groupItems =>
                  {
                      groupItems.AddSimpleFor(m => m.StartPoint)
                          .Editor(e => e
                              .TextBox()
                              .Height(30)
                              .Value("")
                          )
                          .Label(l => l.Text("Vị trí bắt đầu"));

                      groupItems.AddSimpleFor(m => m.EndPoint)
                          .Editor(e => e
                              .TextBox()
                              .Height(30)
                              .Value("")
                          )
                          .Label(l => l.Text("Vị trí kết thúc"));

                      groupItems.AddSimpleFor(m => m.EndPointUpdate)
                          .Editor(e => e
                              .TextBox()
                              .Height(30)
                              .Value("")
                          )
                          .Label(l => l.Text("Vị trí kết thúc cập nhật"));

                      groupItems.AddSimpleFor(m => m.CurrentPoint)
                         .Editor(e => e
                             .TextBox()
                             .Height(30)
                             .Value("")
                         )
                         .Label(l => l.Text("Vị trí hiện tại"));

                  });
            })
            
        )

    <div class="edit-actions">
        @(Html.DevExtreme().Button()
            .Width(90)
            .Text("Lưu")
            .OnClick("DevAV.orderPopup.saveChanges")
        )
        @(Html.DevExtreme().Button()
            .Width(90)
            .Text("Thoát")
            .OnClick("DevAV.orderPopup.cancelChanges")
        )
    </div>
    </text>)
)

<script src="~/js/order-popup.js"></script>

