﻿
<style>

    @@media only screen and (max-width: 2000px) and (min-width: 1140px) {
        .map-load-panel {
            height: 70vh;
            overflow: hidden;
        }
       
    }

    @@media only screen and (max-width: 1140px) and (min-width: 960px) {
        .map-load-panel {
            height: 70vh;
            overflow: hidden;
        }
       
    }

    @@media only screen and (max-width: 960px) and (min-width: 720px) {
        .map-load-panel {
            height: 30vh;
            overflow: hidden;
        }
       
    }

    @@media only screen and (max-width: 720px) and (min-width:540px) {
        .map-load-panel {
            height: 30vh;
            overflow: hidden;
        }
       
    }


    @@media only screen and (max-width: 540px) {
        .map-load-panel {
            height: 30vh;
            overflow: hidden;
        }
       
    }

    .map-order-detail {
        height: 100vh;
    }

    .status .dx-texteditor-input {
        color: #e1711c;
        border: hidden;
        font-size: small;
    }

    .time .dx-texteditor-input {
        background:#000000;
        color: #0eb1b1;
        font-size: 12px;
        font-family: Orbitron;
        letter-spacing: 2px;
        border: none;
    }


    .spend-time .dx-texteditor-input {
        background: #000000;
        color: #e64e14;
        font-size: 12px;
        font-family: Orbitron;
        letter-spacing: 2px;
        border: none;
    }

    .approved .dx-texteditor-input {
        color: white;
        border: none;
        background-color: #e1711c;
        text-align: center;
    }

    .started .dx-texteditor-input {
        color: white;
        border: none;
        background-color: #1ea114;
        text-align: center;
    }

    .pause .dx-texteditor-input {
        color: white;
        border: none;
        background-color: #db2222;
        text-align: center;
    }

    .continue .dx-texteditor-input {
        color: white;
        border: none;
        background-color: #0eb1b1;
        text-align: center;
    }
</style>
@(Html.DevExtreme().Popup()
    .ID("popup-order-detail")
    .FullScreen(true)
    .Container(".dx-viewport")
    .ShowTitle(true)
    .DragEnabled(false)
    .CloseOnOutsideClick(false)
    .MinHeight(280)
    .MinWidth(300)
    .DragEnabled(false)
    .ShowCloseButton(false)
    .ToolbarItems(barItems => {

        barItems.Add()
            .Toolbar(Toolbar.Bottom)
            .Location(ToolbarItemLocation.Center)
            .Widget(widget => widget.Button()
                .Icon("refresh")
                .Type(ButtonType.Success)
                .OnClick("DevAV.orderMapAdmin.dataRefresh")
            );
        barItems.Add()
                .Toolbar(Toolbar.Top)
                .Location(ToolbarItemLocation.After)
                .Widget(widget => widget.Button()
                    .Icon("close")
                    .Type(ButtonType.Danger)
                    .OnClick(@<text>
                                    function hideInfo(data) {
                                    const popup = $("#popup-order-detail").dxPopup("instance");
                                    popup.hide();
                                    const dataGrid = $("#gridContainer").dxDataGrid("instance");
                                    dataGrid.getDataSource().reload();
                                    }
                                </text>)
                    );
        })
    )

@using (Html.DevExtreme().NamedTemplate("popup-order-detail-template"))
{
    @(Html.DevExtreme().ScrollView()
        .Width("100%")
        .Height("100%")
        .Content(@<text>
    <div class="container-fluid">
        <div class="row" style="background-color: #e7e9eb">

            <div class="col-xl-6 p-1 map-load-panel" style="background-color:white">
                <div id="map-order-detail" class="map-order-detail">
                    <div class="row" id="point-button">
                        <div class="col-sm-4">
                            @(Html.DevExtreme().Button()
                                .ID("show-start-point")
                                .Icon("fas fa-plane-departure")
                                .Type(ButtonType.Success)
                                .OnClick("DevAV.orderMapAdmin.showStartPoint")
                            )
                        </div>
                        <div class="col-sm-4">
                            @(Html.DevExtreme().Button()
                                .ID("show-current-point")
                                .Icon("fas fa-street-view")
                                .Type(ButtonType.Danger)
                                .OnClick("DevAV.orderMapAdmin.showCurrentPoint")
                            )
                        </div>
                        <div class="col-sm-4">
                            @(Html.DevExtreme().Button()
                                .ID("show-end-point")
                                .Icon("fas fa-plane-arrival")
                                .Type(ButtonType.Normal)
                                .OnClick("DevAV.orderMapAdmin.showEndPoint")
                            )
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-xl-6 p-3" style="background-color:white">

                <div class="row">
                    <div id="geocoder" class="col-sm-12"></div>
                </div>
                <div class="row">
                     <div class="dx-field col-sm-12">
                        @(Html.DevExtreme().TextBox()
                                .ID("order-id")
                                .Label("Mã đơn hàng").LabelMode(EditorLabelMode.Floating)
                                .ReadOnly(true)
                                .Visible(true)
                            )
                    </div>
                </div>
                <div class="row">
                    <div class="dx-field col-sm-12">
                        @(Html.DevExtreme().TextBox()
                                .ElementAttr("class", "status")
                                .ID("status").Label("Trạng thái").LabelMode(EditorLabelMode.Floating)
                                .ReadOnly(true)
                                .Visible(true)
                            )
                    </div>
                </div>
                <div class="row">
                    <div class="dx-field col-sm-12">
                       @(Html.DevExtreme().TextBox()
                        .ID("vehice")
                        .Label("Phương tiện").LabelMode(EditorLabelMode.Floating)
                        .ReadOnly(true)
                        .Visible(true)
                        )
                    </div>
                </div>
                <div class="row">
                    <div class="dx-field col-sm-12">
                         @(Html.DevExtreme().TextBox()
                        .ID("employee1")
                        .Label("Nhân viên lái xe").LabelMode(EditorLabelMode.Floating)
                        .ReadOnly(true)
                        .Visible(true)
                        )
                    </div>
                </div>
                <div class="row">
                    <div class="dx-field col-sm-12">
                          @(Html.DevExtreme().TextBox()
                        .ID("employee2")
                        .Label("Nhân viên phụ xe").LabelMode(EditorLabelMode.Floating)
                        .ReadOnly(true)
                        .Visible(true)
                        )
                    </div>
                </div>
                <div class="row">
                    <div class="dx-field col-sm-12">
                                  @(Html.DevExtreme().TextBox()
                            .ID("start-adress")
                            .Label("Điểm đi").LabelMode(EditorLabelMode.Floating)
                            .ReadOnly(true)
                            .Visible(true)
                            )

                                @(Html.DevExtreme().TextBox()
                            .ID("start-point")
                            .Visible(false)
                            )
                                @(Html.DevExtreme().TextBox()
                            .ID("current-point")
                            .Visible(false)
                            )

                    </div>
                </div>

                <div class="row">
                    <div class="dx-field col-sm-12">

                            @(Html.DevExtreme().TextBox()
                        .ID("end-adress")
                        .Label("Điểm đến").LabelMode(EditorLabelMode.Floating)
                        .ReadOnly(true)
                        .Visible(true)
                        )
                            @(Html.DevExtreme().TextBox()
                        .ID("end-point")
                        .Visible(false)
                        )

                    </div>
                </div>
                <div class="row">
                    <div class="dx-field col-sm-12">
                        @(Html.DevExtreme().TextBox()
                        .ID("start-time")
                        .ElementAttr("class", "time")
                        .Label("Thời gian bắt đầu").LabelMode(EditorLabelMode.Static)
                        .ReadOnly(true)
                        .Visible(true)
                        )
                    </div>
                </div>
                <div class="row">
                    <div class="dx-field col-sm-12">
                            @(Html.DevExtreme().TextBox()
                        .ID("stop-time")
                        .ElementAttr("class", "time")
                        .Label("Thời gian kết thúc").LabelMode(EditorLabelMode.Static)
                        .ReadOnly(true)
                        .Visible(true)
                        )
                    </div>
                </div>
                <div class="row">
                    <div class="dx-field col-sm-12">
                        @(Html.DevExtreme().TextBox()
                        .ID("spent-time")
                        .ElementAttr("class", "spend-time")
                        .Label("Thời gian đã đi").LabelMode(EditorLabelMode.Static)
                        .ReadOnly(true)
                        .Visible(true)
                        )
                    </div>
                </div>
                <div class="row">
                    <div class="dx-field col-sm-12">
                        @(Html.DevExtreme().TextBox()
                        .ID("kilometers")
                        .Label("Số km đã đi").LabelMode(EditorLabelMode.Floating)
                        .ReadOnly(true)
                        .Visible(true)
                        )
                    </div>
                </div>
                <div class="row">
                    <div class="dx-field col-sm-12">
                           @(Html.DevExtreme().TextBox()
                        .ID("result")
                        .Label("Kết quả").LabelMode(EditorLabelMode.Floating)
                        .ReadOnly(true)
                        .Visible(true)
                        )
                    </div>
                </div>
                <div class="row">
                    <div class="dx-field col-sm-12">
                         @(Html.DevExtreme().TextBox()
                        .ID("reason")
                        .Label("Lý do").LabelMode(EditorLabelMode.Floating)
                        .ReadOnly(true)
                        .Visible(true)
                        )
                    </div>
                </div>
            </div>
        </div>
    </div>
</text>)
    )
}

<script src="~/js/order-map-popup-admin.js"></script>