﻿@using DeliveryHaPhan.Models
@model OrderModel
@{
    ViewData["Title"] = "Danh sách đơn hàng";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="https://cdn.jsdelivr.net/npm/@@goongmaps/goong-js@1.0.9/dist/goong-js.js"></script>
<link href="https://cdn.jsdelivr.net/npm/@@goongmaps/goong-js@1.0.9/dist/goong-js.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/@@mapbox/polyline/src/polyline.js"></script>
<script src="https://unpkg.com/@@goongmaps/goong-sdk/umd/goong-sdk.min.js"></script>
<!-- Load the `goong-geocoder` plugin. -->
<script src="https://cdn.jsdelivr.net/npm/@@goongmaps/goong-geocoder@1.1.1/dist/goong-geocoder.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/@@goongmaps/goong-geocoder@1.1.1/dist/goong-geocoder.css"
      rel="stylesheet"
      type="text/css" />
<!-- Promise polyfill script is required -->
<!-- to use Goong Geocoder in IE 11. -->
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.3.2/dist/sweetalert2.all.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.3.2/dist/sweetalert2.min.css">



<script>
    DevAV.orderr = DevAV.orderr || {};

</script>
<style>
    /*  @@media only screen and (max-width: 2000px) and (min-width: 1140px) {

        .container-fluid * {
            font-size: medium;
        }

        .dx-datagrid {
            font: medium verdana;
        }
    }

    @@media only screen and (max-width: 1140px) and (min-width: 960px) {


        .container-fluid * {
            font-size: medium;
        }

        .dx-datagrid {
            font: medium verdana;
        }
    }

    @@media only screen and (max-width: 960px) and (min-width: 720px) {


        .container-fluid * {
            font-size: medium;
        }

        .dx-datagrid {
            font: medium verdana;
        }
    }

    @@media only screen and (max-width: 720px) and (min-width:540px) {


        .container-fluid * {
            font-size: small;
        }

        .dx-datagrid {
            font: small;
        }
    }


    @@media only screen and (max-width: 540px) {


        .container-fluid * {
            font-size: x-small;
        }

        .dx-datagrid {
            font: x-small verdana;
        }


    }*/

    .dx-command-edit-with-icons .dx-icon {
        height: 10px;
        width: 10px;
    }

    .cmdButton .dx-button-has-icon .dx-button-content {
        padding: 0px;
    }

    #popup-map-container {
    }

    #gridContainer {
    }

    .dx-popup-content p {
        margin-bottom: 10px;
        margin-top: 0;
        padding: 10px;
    }

    .dx-popup-content {
        padding: 0px;
    }

    #exportContainer {
        text-align: left;
    }

    .right-side {
        position: absolute;
        right: 300px;
        top: 40px;
        z-index: 999;
    }

    .left-side {
    }

    #gridContainer {
    }

    /*.rounded-rect {
                    background: white;
                    border-radius: 10px;
                    box-shadow: 0 0 50px -25px black;
                }

                .flex-center {
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                    .flex-center.left {
                        left: 0px;
                    }

                    .flex-center.right {
                        right: 0px;
                    }

                .sidebar-content {
                    position: absolute;
                    width: 95%;
                    height: 95%;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 32px;
                    color: gray;
                }

                .sidebar-toggle {
                    position: absolute;
                    width: 1.3em;
                    height: 1.3em;
                    overflow: visible;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                    .sidebar-toggle.left {
                        right: -1.5em;
                    }

                    .sidebar-toggle.right {
                        left: -1.5em;
                    }

                    .sidebar-toggle:hover {
                        color: #0aa1cf;
                        cursor: pointer;
                    }

                .sidebar {
                    transition: transform 1s;
                    z-index: 1;
                    width: 300px;
                    height: 100%;
                }*/

    /*
                The sidebar styling has them "expanded" by default, we use CSS transforms to push them offscreen
                The toggleSidebar() function removes this class from the element in order to expand it.
                */
    /*.left.collapsed {
                    transform: translateX(-295px);
                }

                .right.collapsed {
                    transform: translateX(295px);
                }*/

    #geocoder {
        z-index: 1;
        margin: 20px;
    }

    .goongjs-ctrl-geocoder {
        min-width: 100%;
    }

    #point-button {
        position: absolute;
        /*display: block;*/
        /*position: relative;*/
        /*margin: 5px auto;*/
        /*width: 50%;
            height: 40px;*/
        padding: 10px;
        /*border: none;*/
        /*border-radius: 3px;*/
        /*font-size: 12px;
            text-align: center;*/
        /*color: #fff;*/
        /*background: #ee8a65;*/
    }

    #order-id {
        border: none;
    }

    form {
        margin: 10px;
    }

    .Continue {
        color: #1fd18a;
    }

    .Approved {
        color: #e07a19;
    }

    .New {
        color: #deeb30;
    }

    .Started {
        color: #1cba2e;
    }

    .Pause {
        color: #bd1717
    }

    .Cancel {
        color: #ff2929;
    }

    .Ended {
        color: #2f1da7;
    }

    .view-content .header-buttons {
        position: absolute;
        top: -40px;
        left: 0;
        height: 30px;
    }

    .logo {
        line-height: 48px;
    }

        .logo img {
            vertical-align: middle;
            margin: 0 1px;
        }

    .data-grid-demo {
        background: #fff;
        padding: 10px;
    }

    .header-toolbar {
        background-color: #e7e9ed;
    }

    .dx-toolbar .dx-toolbar-items-container {
        height: 45px;
        overflow: visible;
    }

    .form-edit {
        padding: 15px;
    }

    .dx-toolbar.dx-popup-title {
        color: #009688;
        background-color: whitesmoke;
        border: none;
    }

    /*.dx-field-label {
        color: #009688;
        cursor: default;
        padding: 8px 15px 9px 0;
    }

    .dx-toolbar.dx-popup-bottom {
        background-color: whitesmoke;
    }

    .dx-overlay-modal .dx-selectbox .dx-texteditor-container {
        border: 1px solid #009688;
    }

    .dx-overlay-modal .dx-textbox .dx-texteditor-container {
        border: 1px solid #009688;
    }


    .dx-overlay-modal .dx-datebox .dx-texteditor-container {
        border: 1px solid #009688;
    }

    .dx-overlay-modal .btn {
        background-color: #009688;
        border-color: transparent;
        color: #fff;
        padding: 0;
        border-radius: .25rem;
    }

        .dx-overlay-modal .btn .dx-icon {
            color: #fff;
        }*/

    /*.dx-texteditor-input {
        color: red;
    }

    .dx-texteditor-label {
        color: red;
    }*/
</style>

@{
    var orderFees = new[] {
        "Có",
        "Không"
    };

    var shippingTypes = new[] {
        "Giao khách",
        "Luân chuyển NB"
    };
}


@*<div id="exportContainer">
    <form asp-controller="Order" asp-action="UploadFile" method="post"
    enctype="multipart/form-data">

    <input type="file" name="file" />
    <button type="submit">Upload File</button>
    </form>

    @(Html.DevExtreme().Button()
    .Text("Import xlsx")
    .Icon("xlsxfile")
    .OnClick("importFile"))
    @(Html.DevExtreme().Button()
    .Text("Export grids")
    .Icon("xlsxfile"))

    </div>*@

@(Html.DevExtreme().LoadPanel()
        .ID("loadPanel2")
        .ShadingColor("rgba(0,0,0,0.4)")
        .Position(PositionAlignment.Center)
        .Visible(false)
        .ShowIndicator(true)
        .Message("Đang tải file lên. Xin chờ xíu nha")
        .ShowPane(true)
        .CloseOnOutsideClick(false)
    //.OnShown("DevAV.orderr.loadPanel_shown2")
    //.OnHidden("DevAV.orderr.loadPanel_hidden2")
    )
<!--<script>
    $(document).ready(function () {

        if ('@ViewBag.Upload' =="Yes") {
            const dataGrid = $("#gridContainer").dxDataGrid("instance");
            dataGrid.getDataSource().reload();
        }-->
@*else if ('@ViewBag.Upload' ==="No"||'@ViewBag.Upload' === "Done"){
    $("#loadPanel2").dxLoadPanel("instance").hide();
    }*@
<!--})
</script>-->

<div class="container-fluid">
    <p id="selectedItemsContainer" hidden>Selected Records:</p>
    @(Html.DevExtreme().Toolbar()
        .ElementAttr("class","header-toolbar")
        .Items(items => {

            items.Add()
                    .Widget(w => w
                    .Button()
                    .Icon("upload")
                    .Text("Nhập dữ liệu")
                    .UseSubmitBehavior(false)
                    .OnClick("DevAV.orderr.uploadFile")
                )
                .LocateInMenu(ToolbarItemLocateInMenuMode.Auto)
                .Location(ToolbarItemLocation.Before);

            items.Add()
                   .Widget(w => w
                   .Button()
                   .Icon("fas fa-map-marked-alt")
                   .Text("Bản đồ định vị đơn hàng")
                   .UseSubmitBehavior(false)
                   .OnClick("DevAV.allOrderMap.popupAllOrderMap")
               )
               .LocateInMenu(ToolbarItemLocateInMenuMode.Auto)
               .Location(ToolbarItemLocation.Before);

            items.Add()
                    .Widget(w => w
                    .Button()
                    .ID("btn-delete-multi")
                    .Icon("remove")
                    .Type(ButtonType.Danger)
                    .StylingMode(ButtonStylingMode.Contained)
                    .Text("Xóa đơn hàng đã chọn")
                    .OnClick("DevAV.orderr.deleteSelectedRow")
                    .Disabled(true)
                )
                .LocateInMenu(ToolbarItemLocateInMenuMode.Auto)
                .Location(ToolbarItemLocation.After);

            items.Add()
                    .Widget(w => w
                    .Button()
                    .ID("btn-refresh-grid")
                    .Icon("refresh")
                    .Text("Làm mới")
                    .OnClick("DevAV.orderr.refreshGrid")
                )
                .LocateInMenu(ToolbarItemLocateInMenuMode.Auto)
                .Location(ToolbarItemLocation.After);

        })
    )
</div>



<div class="container-fluid">

    @await Html.PartialAsync("~/Views/Order/_OrderMapPopup.cshtml")
    @await Html.PartialAsync("~/Views/Order/_OrderAssignPopup.cshtml")
    @await Html.PartialAsync("~/Views/Order/_AllOrderMapPopup.cshtml")

    <div class="data-grid-demo">
        @*grid order*@
        @(Html.DevExtreme().DataGrid<OrderModel>()
    .ID("gridContainer")
    .WordWrapEnabled(true)
    .RepaintChangesOnly(true)
    .Selection(s => s.Mode(SelectionMode.Multiple))
    .OnSelectionChanged("DevAV.orderr.selectionChanged")
    .RowAlternationEnabled(true)
    .AutoNavigateToFocusedRow(true)
    .HighlightChanges(true)
    .ShowRowLines(true)
    .Export(e => e.Enabled(true).AllowExportSelectedData(true))
    .OnExporting("DevAV.orderr.exporting")

    .SearchPanel(searchPanel => searchPanel
            .Visible(true)
            .Width(240)
            .Placeholder("Search...")
        )
    .FilterPanel(f => f.Visible(true))
    .LoadPanel(p => p.Enabled(true))
    .HeaderFilter(h => h.Visible(true).AllowSearch(true))
    //.FilterBuilderPopup(p => p.Position(pos =>
    //     pos.At(HorizontalAlignment.Center, VerticalAlignment.Top)
    //         .My(HorizontalAlignment.Center, VerticalAlignment.Top)
    //         .Offset(0, 10)
    //    )
    //)
    //.FilterRow(f => f.Visible(true))
    .FilterBuilder(fb=>fb.Fields(fields=>{
        fields.AddFor(m => m.OrderFee)
            .Lookup(l => l.DataSource(orderFees));
        fields.AddFor(m => m.ShippingType)
            .Lookup(l => l.DataSource(shippingTypes));
    })
        .CustomOperations(o=>
        {
            o.Add().Name("=").Caption("Equal").Icon("equal");
            o.Add().Name("<>").Caption("Not Equal").Icon("notequal");
            o.Add().Name("anyof").Caption("Is any of").Icon("check");
        })
    )
    .ShowBorders(true)
    .Scrolling(scrolling => scrolling.RowRenderingMode(GridRowRenderingMode.Virtual).ShowScrollbar(ShowScrollbarMode.OnScroll))
    .ColumnAutoWidth(true)
    .AllowColumnResizing(true)
    .Paging(p => p.Enabled(false))
    .Paging(paging => paging.PageSize(5))
    .Pager(pager => {
        pager.Visible(true);
        pager.ShowInfo(true);
        pager.ShowNavigationButtons(true);
    })
    .Editing(e => e.Mode(GridEditMode.Popup)

        .AllowUpdating(true)
        .AllowAdding(true)
        .AllowDeleting(true)
        .UseIcons(true)
        .Popup(p => p
        .Title("Đơn hàng")
        .ShowTitle(true)
        .Width(700)
        .Height("auto")
        .FullScreen(true).OnContentReady("DevAV.orderr.autocompleteEndPoint")
    )
    .Form(f => f.LabelMode(FormLabelMode.Floating).Items(items => {
        items.AddGroup()
        .CssClass("form-edit")
        .ColCount(2)
        .ColSpan(2)

        .Items(groupItems =>
        {
            groupItems.AddSimpleFor(m => m.OrderID).Label(l => l.Text("Mã đơn hàng")).Editor(e => e.TextBox().ID("OrderID").ReadOnly(true));
            groupItems.AddSimpleFor(m => m.RequiredDate).Label(l => l.Text("Ngày phát sinh VĐ")).Editor(e => e.DateBox().ID("RequiredDate").Type(DateBoxType.Date)).IsRequired(true);
            groupItems.AddSimpleFor(m => m.ShippedDate).Label(l => l.Text("Ngày vận chuyển")).Editor(e => e.DateBox().ID("ShippedDate").Type(DateBoxType.Date));
            groupItems.AddSimpleFor(m => m.Mass).Label(l => l.Text("Khối lượng")).Editor(e => e.TextBox().ID("Mass"));
            groupItems.AddSimpleFor(m => m.OrderValue).Label(l => l.Text("Trị giá đơn hàng")).Editor(e => e.TextBox().ID("OrderValue"));
            groupItems.AddSimpleFor(m => m.Surcharge).Label(l => l.Text("Phụ phí")).Editor(e => e.TextBox().ID("Surcharge"));
        });
        items.AddGroup()
        .CssClass("form-edit")
        .Caption("Kho xuất")
        .ColCount(2)
        .ColSpan(2)
        .Items(groupItems =>
        {
            groupItems.AddSimpleFor(m => m.ShippingMethod).Label(l => l.Text("Hình thức")).Editor(e => e.TextBox().ID("ShippingMethod"));
            groupItems.AddSimpleFor(m => m.WarehouseID).Label(l => l.Text("Mã kho")).Editor(e => e.TextBox().ID("WarehouseID"));
            groupItems.AddSimpleFor(m => m.ExportAdress).Label(l => l.Text("Địa chỉ xuất")).Editor(e => e.TextBox().ID("ExportAdress"));
        });

        items.AddGroup()
        .CssClass("form-edit")
        .Caption("Trạng thái đơn hàng")
        .ColCount(2)
        .ColSpan(2)
        .Items(groupItems =>
        {
            groupItems.AddSimpleFor(m => m.Status).Label(l => l.Text("Trạng thái đơn hàng")).Editor(e => e.SelectBox().ID("Status").DataSource(new[] {
    "New",
    "Approved",
    "Started",
    "Ended",
    "Pause",
    "Cancel",
        }).Value("New"));
            groupItems.AddSimpleFor(m => m.Result).Label(l => l.Text("Kết quả")).Editor(e => e.SelectBox().ID("Result").DataSource(new[] {
    "Success",
    "Failure",
        }));
            groupItems.AddSimpleFor(m => m.Reason).Label(l => l.Text("Lý do")).Editor(e => e.TextBox().ID("Reason")).ColSpan(2);
            groupItems.AddSimpleFor(m => m.StartTime).Label(l => l.Text("Thời gian bắt đầu")).Editor(e => e.TextBox().ID("StartTime").ReadOnly(true));
            groupItems.AddSimpleFor(m => m.StopTime).Label(l => l.Text("Thời gian kết thúc")).Editor(e => e.TextBox().ID("StopTime").ReadOnly(true));
            groupItems.AddSimpleFor(m => m.KilometersOrg).Label(l => l.Text("Số km dự tính")).Editor(e => e.TextBox().ID("KilometersOrg").ReadOnly(true));
            groupItems.AddSimpleFor(m => m.Kilometers).Label(l => l.Text("Số km đã đi")).Editor(e => e.TextBox().ID("Kilometers").Value("0.0").ReadOnly(true));
            groupItems.AddSimpleFor(m => m.StartAdress).Label(l => l.Text("Điểm bắt đầu")).Editor(e => e.TextBox().ID("StartAdress").ReadOnly(true));
            groupItems.AddSimpleFor(m => m.StartPoint).Editor(e => e.TextBox().ID("StartPoint")).Visible(false);
            groupItems.AddSimpleFor(m => m.EndPoint).Editor(e => e.TextBox().ID("EndPoint")).Visible(false);

            groupItems.AddSimpleFor(m => m.CurrentPoint).Editor(e => e.TextBox().ID("CurrentPoint")).Visible(false);
        });

        items.AddGroup()
        .CssClass("form-edit")
        .Caption("Trưởng giao nhận chọn")
        .ColCount(2)
        .ColSpan(2)
        .Items(groupItems =>
        {
            groupItems.AddSimpleFor(m => m.ShippingType).Label(l => l.Text("Loại vận chuyển")).Editor(e => e.SelectBox().ID("ShippingType").DataSource(new[] {
    "Giao khách",
    "Luân chuyển NB",
        })).IsRequired(true);
            groupItems.AddSimpleFor(m => m.Employee1).Label(l => l.Text("Nhân viên phụ trách")).Editor(e => e.SelectBox().ID("Employee1").DataSource(d => d
        .Mvc()
        .LoadAction("GetUsers")
        .LoadMode(DataSourceLoadMode.Raw)
        .Key("UserID")
        )
        .DisplayExpr(new JS("employeeDisplayExpr"))
        .ValueExpr(new JS("employeeValueExpr"))
        .SearchEnabled(true)).IsRequired(true);
            groupItems.AddSimpleFor(m => m.Employee2).Label(l => l.Text("Nhân viên phụ xe")).Editor(e => e.SelectBox().ID("Employee2").DataSource(d => d
        .Mvc()
        .LoadAction("GetUsers")
        .LoadMode(DataSourceLoadMode.Raw)
        .Key("UserID")
        )
        .DisplayExpr("FullName")
        .ValueExpr("FullName")
        .SearchEnabled(true)).IsRequired(true);
            groupItems.AddSimpleFor(m => m.Vehice).Label(l => l.Text("Phương tiện")).Editor(e => e.SelectBox().ID("Vehice").DataSource(d => d
                                    .Mvc()
                                    .LoadAction("GetUsers")
                                    .LoadMode(DataSourceLoadMode.Raw)
                                    .Key("UserID")
                                )
                                .DisplayExpr(new JS("vehiceDisplayExpr"))
                                .ValueExpr(new JS("vehiceValueExpr"))).IsRequired(true);

            groupItems.AddSimpleFor(m => m.OrderFee).Label(l => l.Text("Thu phí")).Editor(e => e.SelectBox().ID("OrderFee").DataSource(new[] {
    "Có",
    "Không",
        })).IsRequired(true);
            groupItems.AddSimpleFor(m => m.EndAdress).Label(l => l.Text("Chành xe")).Editor(e => e.TextBox().ID("EndAdress"));
            groupItems.AddSimpleFor(m => m.EndPointUpdate).Name("EndPointUpdate").Label(l => l.Text("End Point Updated")).Editor(e => e.TextBox().ID("EndPointUpdate")).Visible(false);
            groupItems.AddSimple()
                    .Template(@<text>
                                    <span>Tìm Chành xe:</span>
                                    <span id="FindEndAdress"></span>
                                </text>);

        });


        items.AddGroup()
        .CssClass("form-edit")
        .Caption("Khách hàng")
        .ColCount(2)
        .ColSpan(2)
        .Items(groupItems => {
            groupItems.AddSimpleFor(m => m.BussinesStaffID).Label(l => l.Text("NVKD quản lý")).Editor(e => e.TextBox().ID("BussinesStaffID"));
            groupItems.AddSimpleFor(m => m.CustomerName).Label(l => l.Text("Tên khách hàng")).Editor(e => e.TextBox().ID("CustomerName"));
            groupItems.AddSimpleFor(m => m.CustomerAdress).Label(l => l.Text("Địa chỉ đến")).Editor(e => e.TextBox().ID("CustomerAdress"));
            groupItems.AddSimpleFor(m => m.CustomerAdressUpdate).Label(l => l.Text("Địa chỉ đến cập nhật")).Editor(e => e.TextBox().ID("CustomerAdressUpdate")).Visible(false);
            groupItems.AddSimpleFor(m => m.CustomerPhone).Label(l => l.Text("Số điện thoại")).Editor(e => e.TextBox().ID("CustomerPhone"));
            groupItems.AddSimpleFor(m => m.CustomerContact).Label(l => l.Text("Liên hệ")).Editor(e => e.TextBox().ID("CustomerContact"));
            groupItems.AddSimpleFor(m => m.Note).Label(l => l.Text("Ghi chú"))
        .ColSpan(2)
        .Editor(editor => editor.TextArea().Height(100));
        });

    }))
    )
    .Columns(columns => {
        columns.AddFor(m => m.OrderID).Caption("Mã Đ/H").CellTemplate(@<text>
                        <div>
                            <p style="font-family:Franklin Gothic;font-optical-sizing:auto"><%- value %></p>
                        </div>
                </text>);
        columns.AddFor(m => m.Status).Caption("Trạng thái Đ/H").CellTemplate(@<text>
                        <div>
                            <p style="font-family:fantasy;font-size:xx-small" class="<%- value %>"><%- value %></p>
                        </div>
                </text>);

        columns.Add().Caption("Phân công").Alignment(HorizontalAlignment.Center).Columns(a =>
        {
            a.AddFor(m => m.ShippingType).Caption("Loại vận chuyển").HidingPriority(1);
            a.AddFor(m => m.Vehice).Caption("Phương tiện").HidingPriority(2);
            a.AddFor(m => m.Employee1).Caption("NV phụ trách").HidingPriority(3);
            a.AddFor(m => m.Employee2).Caption("NV phụ xe").HidingPriority(4);
            a.AddFor(m => m.OrderFee).Caption("Thu phí").HidingPriority(5);
            a.AddFor(m => m.EndAdress).Caption("Chành xe").HidingPriority(5);
            a.AddFor(m => m.EndPointUpdate).Caption("EndPointUpdate").HidingPriority(5);
        });

        columns.Add().Caption("Đơn hàng").Columns(a =>
        {
            a.AddFor(m => m.OrderValue).Caption("Trị giá Đ/H").HidingPriority(10);
            a.AddFor(m => m.Mass).Caption("Khối lượng").HidingPriority(11);
            a.AddFor(m => m.Surcharge).Caption("Phụ phí").HidingPriority(24);
            a.AddFor(m => m.Note).Caption("Ghi chú").HidingPriority(23);
        });



        columns.Add().Caption("Vận đơn").Columns(a =>
        {
            a.AddFor(m => m.RequiredDate).Caption("NPS vận đơn").HidingPriority(6);
            a.AddFor(m => m.ShippedDate).Caption("Ngày vận chuyển").HidingPriority(7);
            a.AddFor(m => m.StartTime).Caption("Thời gian bắt đầu").HidingPriority(8);
            a.AddFor(m => m.StopTime).Caption("Thời gian kết thúc").HidingPriority(9);
            a.AddFor(m => m.StartAdress).Caption("Điểm bắt đầu").HidingPriority(25);
            a.AddFor(m => m.KilometersOrg).Caption("Số km dự tính").HidingPriority(12);
        });

        columns.Add().Caption("Kết quả").Columns(a =>
        {
            a.AddFor(m => m.Result).Caption("Kết quả").HidingPriority(0);
            a.AddFor(m => m.Kilometers).Caption("Số km đã đi").HidingPriority(13);
            columns.AddFor(m => m.Reason).Caption("Lý do");
        });

        columns.Add().Caption("Kho xuất").Columns(a =>
        {
            a.AddFor(m => m.ShippingMethod).Caption("Hình thức").HidingPriority(14);
            a.AddFor(m => m.WarehouseID).Caption("Mã kho").HidingPriority(15);
            a.AddFor(m => m.ExportAdress).Caption("Địa chỉ xuất").HidingPriority(16);
        });

        columns.Add().Caption("Khách hàng").Columns(a =>
        {
            a.AddFor(m => m.BussinesStaffID).Caption("NVKD quản lý").HidingPriority(17);
            a.AddFor(m => m.CustomerName).Caption("Tên K/H").HidingPriority(18);
            a.AddFor(m => m.CustomerAdress).Caption("Địa chỉ K/H").HidingPriority(19);
            a.AddFor(m => m.CustomerAdressUpdate).Caption("Địa chỉ mới K/H").HidingPriority(20);
            a.AddFor(m => m.CustomerPhone).Caption("SDT").HidingPriority(21);
            a.AddFor(m => m.CustomerContact).Caption("Liên hệ").HidingPriority(22);
        });


        columns.Add().Type(GridCommandColumnType.Buttons).Alignment(HorizontalAlignment.Center)
        .Buttons(b =>
         {
             b.Add().Name(GridColumnButtonName.Edit);
             b.Add().Name(GridColumnButtonName.Delete);
             b.Add()
                 .Icon("car")
                 .OnClick("DevAV.orderMapAdmin.popupOrderDetail");
             b.Add()
                .Icon("fas fa-user-plus")
                .OnClick("DevAV.orderAssigns.popupAssign");
             b.Add()
                .Icon("fas fa-comment-dollar")
                .OnClick("DevAV.orderr.popupAddSurcharge");
         });
    })
    .DataSource(d => d.Mvc()
    .Controller("Order")
    .LoadAction("Get")
    .InsertAction("Post")
    .UpdateAction("Put")
    .DeleteAction("Delete")
    .Key("OrderID")
    .OnUpdated(@<text>
            function (e) {
            DevExpress.ui.notify("Update Success","success", 600);
            }
        </text>)
    .OnInserted(@<text>
            function (e) {
            DevExpress.ui.notify("Insert Success","success", 600);
            }
        </text>)
    .OnRemoved(@<text>
            function (e) {
            DevExpress.ui.notify("Delete Success","success", 600);
            }
        </text>)
    )



    )
    </div>
</div>


<script>
    $(document).ready(function () {
        $("#title-img").attr("src", "image/orders-manager.png");

        //var geocoder = new GoongGeocoder({
        //    accessToken: 'R0YBSqv8kl3JvbSFvQwkvWlGkbnTKjhDm3YRlcBS'
        //});
        //geocoder.addTo('#EndAdress');

        //// Get the geocoder results container.
        //var results = document.getElementById('EndPointUpdate');

        //// Add geocoder result to container.
        //geocoder.on('result', function (e) {
        //    results.innerText = JSON.stringify(e.result, null, 2);
        //});

        //// Clear results container when search is cleared.
        //geocoder.on('clear', function () {
        //    results.innerText = '';
        //});


    })


</script>

<script>
    function employeeDisplayExpr(item) {
        return item && item.FullName;
    }

    function employeeValueExpr(item) {
        return item && item.FullName;
    }

    function vehiceDisplayExpr(item) {

        return item && item.UserName;

    }

    function vehiceValueExpr(item) {
        return item && item.UserName;
    }
</script>








