﻿@{
    ViewData["Title"] = "Nhật ký vận chuyển";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.3.2/dist/sweetalert2.all.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.3.2/dist/sweetalert2.min.css">
<style>
    .list-container {
        min-height: 440px;
        height: auto;
        overflow: scroll;
    }

    .log {
        height: 65px;
    }

        .log > img {
            height: 100%;
            width: 95px;
            float: left;
        }

        .log > div {
            padding-left: 10px;
            vertical-align: top;
            line-height: 65px;
            font-size: 15px;
            float: left;
        }

            .log > div.action-name {
                float: right;
            }
</style>

<div class="row">
    <div class="dx-field col-sm-6">
        <div class="dx-field-label">Nhãn</div>
        <div class="dx-field-value">
            @(Html.DevExtreme().SelectBox()
                    .ID("selectbox")
                    .DataSource(new[] {
                                        "all",
                                        "đơn hàng",
                                        "người dùng"
                                    })
                    .OnValueChanged("selectBox_valueChanged")
                    .Value("all")
                )
        </div>
    </div>
    <div class="dx-field col-sm-6">
        <div class="dx-field-label">Ngày</div>
        <div class="dx-field-value">
            @(Html.DevExtreme().DateBox()
                .ID("datebox")
                .DateSerializationFormat("yyyy-MM-dd")
                .Value(DateTime.Now)
                .OnValueChanged("dateBox_valueChanged")
            )
        </div>
    </div>
</div>


@(Html.DevExtreme().TextArea()
                    .ID("log")
                    .ReadOnly(true)
                    .Height(500)
                )
@*<div class="list-container">
        @(Html.DevExtreme().List()
            .Height("100%")
            .DataSource(d => d.Mvc().Controller("Order").LoadAction("GetLog2").Key("id"))

            .ItemTemplate(@<text>
                <div class="log">
                    <img src="<%- ImageSrc %>">
                    <div><%-logDate %></div>
                    <div class="action-name"><%- actionName %></div>
                </div>
            </text>)
        )
    </div>*@

<script>
    
    window.onload = function () {
        setInterval(function () {
            $.getJSON("GetLog?date=" + $("#datebox").dxDateBox("instance").option("value").toUTCString() + "&&filterString=" + $("#selectbox").dxSelectBox("instance").option("value"),
                function (data) {
                    if (data == null) {
                        $("#log").dxTextArea("instance").option("value", "Không tìm thấy nhật ký");
                    }
                    else {
                        $("#log").dxTextArea("instance").option("value", data);
                    }
                });
        }, 1000);
    }

    function selectBox_valueChanged(data) {
        $.getJSON("GetLog?date=" + $("#datebox").dxDateBox("instance").option("value")+ "&&filterString=" + data.value,
            function (data) {
                if (data == null) {
                    $("#log").dxTextArea("instance").option("value", "Không tìm thấy nhật ký");
                }
                else {
                    $("#log").dxTextArea("instance").option("value", data);
                }
            });
    }

    function dateBox_valueChanged(data) {
        $("#log").dxTextArea("instance").option("value", "Không tìm thấy nhật ký");
        $.getJSON("GetLog?date=" + data.value + "&&filterString="+$("#selectbox").dxSelectBox("instance").option("value"),
            function (data) {
                if (data == null) {
                    $("#log").dxTextArea("instance").option("value", "Không tìm thấy nhật ký");
                }
                else {
                    $("#log").dxTextArea("instance").option("value", data);
                }
            });
    }


</script>
