﻿@model DeliveryHaPhan.Models.OrderModel
<script src="https://cdn.jsdelivr.net/npm/@@goongmaps/goong-js@1.0.9/dist/goong-js.js"></script>
<link href="https://cdn.jsdelivr.net/npm/@@goongmaps/goong-js@1.0.9/dist/goong-js.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/@@mapbox/polyline/src/polyline.js"></script>
<script src="https://unpkg.com/@@goongmaps/goong-sdk/umd/goong-sdk.min.js"></script>
<!-- Load the `goong-geocoder` plugin. -->
<script src="https://cdn.jsdelivr.net/npm/@@goongmaps/goong-geocoder@1.1.1/dist/goong-geocoder.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/@@goongmaps/goong-geocoder@1.1.1/dist/goong-geocoder.css"
      rel="stylesheet"
      type="text/css" />
<!-- Promise polyfill script is required -->
<!-- to use Goong Geocoder in IE 11. -->
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/geojson/0.5.0/geojson.min.js"></script>
<style>

    @@media only screen and (max-width: 250px) {
        #map {
            position: absolute;
            right: 0;
            left: 0;
            height: 300px;
            width: 100%;
            margin-top: 100px;
        }
    }

    @@media only screen and (min-width: 1000px) {
        #map {
            position: absolute;
            right: 0;
            left: 0;
            height: 500px;
            width: 100%;
            margin-top: 100px;
        }
    }

    .coordinates {
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        position: absolute;
        bottom: 40px;
        left: 10px;
        padding: 5px 10px;
        margin: 0;
        font-size: 11px;
        line-height: 18px;
        border-radius: 3px;
        display: none;
    }

    .toolbar-label,
    .toolbar-label > b {
        font-size: 16px;
    }

    #toolbar {
        position:absolute;
        top:50;
    }

    #container{
        position:relative;
    }
</style>

<div id="container">

    @(Html.DevExtreme().Toolbar().ID("toolbar")
    .Items(items => {
        items.Add()
            .Widget(w => w
            .Button()
            .Type(ButtonType.Back)
            .OnClick("backButton_click")
    )
    .Location(ToolbarItemLocation.Before);

    items.Add()
        .Widget(w => w
        .Button()
        .Icon("refresh")
        .OnClick("refreshButton_click")
    )
    .LocateInMenu(ToolbarItemLocateInMenuMode.Auto)
    .Location(ToolbarItemLocation.Before);

    items.Add()
        .Widget(w => w
            .SelectBox()
            .Width(140)
            .Value(1)
            .DataSource(new[] {
                new { id = 1, text = "All" },
                new { id = 2, text = "Video Players" },
                new { id = 3, text = "Televisions" },
                new { id = 4, text = "Monitors" },
                new { id = 5, text = "Projectors" }
            })
            .ValueExpr("id")
            .DisplayExpr("text")
    )
    .LocateInMenu(ToolbarItemLocateInMenuMode.Auto)
    .Location(ToolbarItemLocation.After);

    items.Add()
        .Widget(w => w
            .Button()
            .Icon("plus")
            .OnClick("addButton_click")
    )
    .LocateInMenu(ToolbarItemLocateInMenuMode.Auto)
    .Location(ToolbarItemLocation.After);

    items.Add()
        .Widget(w => w
            .Button()
            .Text("Save")
            .OnClick("saveButton_click")
    )
    .LocateInMenu(ToolbarItemLocateInMenuMode.Always);

    items.Add()
        .Widget(w => w
            .Button()
            .Text("Print")
            .OnClick("printButton_click")
    )
    .LocateInMenu(ToolbarItemLocateInMenuMode.Always);

    items.Add()
        .Widget(w => w
            .Button()
            .Text("Setting")
            .OnClick("settingsButton_click")
    )
    .LocateInMenu(ToolbarItemLocateInMenuMode.Always);

    items.Add()
        .Template(@<text><div class="toolbar-label"><b>Tom's Club</b> Products</div></text>)
            .LocateInMenu(ToolbarItemLocateInMenuMode.Never)
            .Location(ToolbarItemLocation.Center);
    })
)


    <div id="map"></div>
    <pre id="coordinates" class="coordinates"></pre>
</div>

<script>

    function backButton_click() {
        DevExpress.ui.notify("Back button has been clicked!");
    }

    function refreshButton_click() {
        DevExpress.ui.notify("Refresh button has been clicked!");
    }


    function addButton_click() {
        DevExpress.ui.notify("Add button has been clicked!");
    }

    function saveButton_click() {
        DevExpress.ui.notify("Save option has been clicked!");
    }

    function printButton_click() {
        DevExpress.ui.notify("Print option has been clicked!");
    }

    function settingsButton_click() {
        DevExpress.ui.notify("Settings option has been clicked!");
    }

</script>


<script>
    function loadmap() {
        goongjs.accessToken = '9IOlUggYUhs9DM8hgiw1Z4LhoGu8YRkLUc54xVxD';
        var map = new goongjs.Map({
            container: 'map',
            style: 'https://tiles.goong.io/assets/goong_map_web.json',
            center: [106.633337642997, 10.8310595329999],
            zoom: 11.5
        });

        // Add zoom and rotation controls to the map.
        map.addControl(new goongjs.NavigationControl());

        //autocomplete
        map.addControl(
            new GoongGeocoder({
                accessToken: 'rDCEpOhGmuPf78dMFbiLh7jNEzeHaJEAj2qVM9ns',
                goongjs: goongjs
            }), 'top-right'
        );

        getEndPoint(map);
        realtime(map);
        dragMaker(map);


        // //geosjson
        // var geojson = {
        //     'type': 'FeatureCollection',
        //     'features': [
        //         {
        //             'type': 'Feature',
        //             'properties': {
        //                 'message': 'Foo',
        //                 'iconSize': [50, 50]
        //             },
        //             'geometry': {
        //                 'type': 'Point',
        //                 'coordinates':[106.633337642997,10.8310595329999]
        //             }
        //         }
        //     ]
        // };


        //// add markers to map
        // geojson.features.forEach(function (marker) {
        //     // create a DOM element for the marker
        //     var el = document.createElement('div');
        //     el.className = 'marker';
        //     el.style.backgroundImage =
        //         "url('../avatar/kim.jpg')";
        //     el.style.width = marker.properties.iconSize[0] + 'px';
        //     el.style.height = marker.properties.iconSize[1] + 'px';

        //     el.addEventListener('click', function () {
        //         window.alert(marker.properties.message);
        //     });

        //     // add marker to map
        //     new goongjs.Marker(el)
        //         .setLngLat(marker.geometry.coordinates)
        //         .addTo(map);
        // });
    }

    function realtime(map) {
        var url = 'http://localhost:61292/Order/GetByID/0000000004';

        map.on('load', function () {
            var request = new XMLHttpRequest();
            window.setInterval(function () {
                // make a GET request to parse the GeoJSON at the url
                request.open('GET', url, true);
                request.onload = function () {
                    if (this.status >= 200 && this.status < 400) {
                        // retrieve the JSON from the response
                        var json = JSON.parse(this.response);
                        var outGeoJson = {}
                        outGeoJson['properties'] = json
                        outGeoJson['type'] = "Feature"
                        outGeoJson['geometry'] = {
                            "type": "Point", "coordinates": json['EndPoint'].split(',')
                        }

                        //window.alert(outGeoJson.geometry.coordinates);

                        // update the drone symbol's location on the map
                        map.getSource('drone').setData(outGeoJson);

                        // fly the map to the drone's current location
                        map.flyTo({
                            center: outGeoJson.geometry.coordinates,
                            speed: 0.5
                        });
                    }
                };
                request.send();
            }, 2000);

            map.addSource('drone', { type: 'geojson', data: url });
            map.addLayer({
                'id': 'drone',
                'type': 'symbol',
                'source': 'drone',
                'layout': {
                    'icon-image': 'rocket-15'
                }
            });

        });
    }

    function dragMaker(map) {
        var coordinates = document.getElementById('coordinates');
        var marker = new goongjs.Marker({
            draggable: true
        })
            .setLngLat([105.8344898123422, 21.03677130693113])
            .addTo(map);

        function onDragEnd() {
            var lngLat = marker.getLngLat();
            coordinates.style.display = 'block';
            coordinates.innerHTML =
                'Longitude: ' + lngLat.lng + '<br />Latitude: ' + lngLat.lat;
        }

        marker.on('dragend', onDragEnd);
    }


    function getEndPoint(map) {
        $.ajax({
            url: "Get2",
            dataType: "json",
            type: "GET",
            contentType: 'application/json; charset=utf-8',
            data: {},
            async: true,
            processData: false,
            cache: false,
            success: function (data) {
                window.alert(data.length);
                $.each(data, function (index, dataitem) {
                    var end = dataitem.EndPoint.split(',');
                    var cusname = dataitem.CustomerName;
                    var el = document.createElement('div');
                    el.className = 'marker' + index;
                    el.style.backgroundImage =
                        "url('../avatar/buildings.png')";
                    el.style.width = '24px';
                    el.style.height = '24px';

                    //popup
                    var popup = new goongjs.Popup({
                        closeButton: false,
                        closeOnClick: false
                    });

                    //mouse over
                    el.addEventListener('mouseover', function () {
                        el.style.backgroundImage =
                            "url('../avatar/buildings-over.png')";
                        el.style.width = '32px';
                        el.style.height = '32px';
                        popup.setLngLat(end).setHTML(cusname).addTo(map);
                    });

                    //mouse leave
                    el.addEventListener('mouseleave', function () {
                        el.style.backgroundImage =
                            "url('../avatar/buildings.png')";
                        el.style.width = '24px';
                        el.style.height = '24px';
                        map.getCanvas().style.cursor = '';
                        popup.remove();
                    });
                    // add marker to map
                    new goongjs.Marker(el)
                        .setLngLat(end)
                        .addTo(map);
                });
            },
            error: function (xhr) {
                alert('error');
            }
        });
    }

    loadmap();

</script>